Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(mcp): make list-item truncation cap configurable in get_dashboard_info (#41698)
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/constants.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/middleware.py
  superset/mcp_service/utils/token_utils.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/test_middleware.py
  tests/unit_tests/mcp_service/utils/test_token_utils.py
Due: ruff-format, ruff, pylint

fix: apply per-layer datasource access checks in deck_multi charts
  superset/viz.py
  tests/unit_tests/test_viz_get_df_payload.py
Due: ruff-format, ruff, pylint

test: annotate col_region/col_sales mocks per mypy type-hint policy
  tests/unit_tests/common/test_query_actions.py
Due: ruff-format, ruff

feat(explore): add CSV/XLS download to drill-to-detail modal (#37109)
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.tsx
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
  superset-frontend/src/components/Chart/DrillDetail/DownloadDropdown.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DownloadDropdown.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailTableControls.stories.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailTableControls.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailTableControls.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/DataTableControls.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset/views/base.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: match SQL Server uniqueidentifier as a UUID native type for LIKE casts
  superset/models/helpers.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint

fix(drill-detail): add missing setFilters prop to story args
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailTableControls.stories.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(submenu_export): lowercase 'png' in export labels for consistency with 'jpeg'
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(drill): cover download failure and reload paths
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(migration): strip metricSqlExpressions from ag_grid_table params (#41591)
  superset/migrations/versions/2026-06-30_00-00_d24e6b0a9c7f_strip_metricsqlexpressions_from_ag_grid_params.py
  tests/unit_tests/migrations/test_strip_metricsqlexpressions_from_ag_grid_params.py
Due: ruff-format, ruff

fix(databricks): classify insufficient-permissions errors as 4xx (#41945)
  superset/db_engine_specs/databricks.py
  superset/sqllab/sql_json_executer.py
  tests/unit_tests/db_engine_specs/test_databricks.py
  tests/unit_tests/sqllab/test_sql_json_executer.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(submenu_export): respect png format in ag-grid table export path
  superset-frontend/src/utils/downloadAsImage.test.ts
  superset-frontend/src/utils/downloadAsImage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feature: add ColorPickerControlControl to formatting
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-core/src/color/utils.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/explore/components/controls/ColorPickerControl.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/constants.ts
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): block dependent filter from fetching until defaultToFirstItem parent selects
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): add FilterValue tests for defaultToFirstItem parent guard
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(dashboard): narrow defaultToFirstItem selector to avoid spurious rerenders
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): flatten FilterValue tests to flat test() style
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(app-root): scan the AST, not raw text, for sanctioned-caller check
  tests/integration_tests/views/test_explore_redirect.py
Due: ruff-format, ruff

fix(reports): drop dead Slack loading flag, add picker tests
  superset-frontend/src/features/alerts/components/NotificationMethod.test.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  tests/unit_tests/reports/api_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix(reports): paginate Slack recipient picker for large workspaces
  superset-frontend/src/features/alerts/components/NotificationMethod.test.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset/config.py
  superset/reports/api.py
  superset/reports/schemas.py
  tests/unit_tests/reports/api_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix: add t to lable and pivot-table type result
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: typos
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/constants.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): render time comparison without a time grain
  superset/models/helpers.py
  superset/utils/date_parser.py
  tests/unit_tests/common/test_time_shifts.py
  tests/unit_tests/utils/date_parser_tests.py
Due: ruff-format, ruff, pylint

test(e2e): harden slow page loads
  superset-frontend/playwright/tests/dashboard/export.spec.ts
  superset-frontend/playwright/tests/dashboard/gauge-interval-colors.spec.ts
  superset-frontend/playwright/tests/dataset/dataset-list.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ci): make pre-commit fail closed instead of silently passing on an empty file list (#42044)
  .github/workflows/pre-commit.yml
  .gitmodules
Due: none

feat(sqllab,extensions): contribution surfaces for tab/pane extensions
  superset-frontend/packages/superset-core/src/sqlLab/index.ts
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/SqlLab/contributions.ts
  superset-frontend/src/extensions/ExtensionsStartup.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab,extensions): address review feedback on northPane keys, tab a11y, extension load errors
  superset-frontend/packages/superset-core/src/sqlLab/index.ts
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/extensions/ExtensionsLoader.test.ts
  superset-frontend/src/extensions/ExtensionsLoader.ts
  superset-frontend/src/extensions/ExtensionsStartup.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab,extensions): populate Tab.backendId and guard northPane storage
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/core/sqlLab/index.ts
  superset-frontend/src/core/sqlLab/models.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab,extensions): replace any casts with concrete types
  superset-frontend/src/core/sqlLab/sqlLab.test.ts
  superset-frontend/src/extensions/ExtensionsStartup.test.tsx
  superset-frontend/src/extensions/ExtensionsStartup.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab,extensions): assert toast via store state; fix northPane key type
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
  superset-frontend/src/extensions/ExtensionsStartup.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab): cover Tab backendId mapping from editor tabViewId
  superset-frontend/src/core/sqlLab/sqlLab.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab): cover northPane view rendering in SqlEditor
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): centralize add-tab timing marker and use antd Flex for northPane wrapper
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): skip new-tab menu items whose command isn't registered
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab,extensions): bridge store state cast through unknown for tsc
  superset-frontend/src/extensions/ExtensionsStartup.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): intercept new-tab activation on antd's add button for keyboard parity
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab): cover NewTabButton dropdown, direct-add, and skip paths
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab): cover PENDING_NORTH_PANE_VIEW_KEY consume-and-persist flow
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): address review bot feedback on extension surfaces
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/core/sqlLab/sqlLab.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): seed default active tab path at hydration
  superset-frontend/src/dashboard/actions/hydrate.test.ts
  superset-frontend/src/dashboard/actions/hydrate.ts
  superset-frontend/src/dashboard/components/nativeFilters/state.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
  superset-frontend/src/dashboard/reducers/dashboardState.test.ts
  superset-frontend/src/dashboard/util/getDefaultActiveTabs.test.ts
  superset-frontend/src/dashboard/util/getDefaultActiveTabs.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(plugin-chart-echarts): use echarts 5.6.0 i18n export path for locale import
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
