Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

test(frontend): await userEvent calls missed by the user-event v14 migration
  superset-frontend/packages/superset-ui-chart-controls/test/shared-controls/components/RadioButtonControl.test.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/test/ColorSchemeControl.test.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/QueryLimitSelect.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/SaveDatasetActionButton.test.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/ShareSqlLabQuery.test.tsx
  superset-frontend/src/SqlLab/components/SouthPane/SouthPane.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/SqlEditorTabHeader.test.tsx
  superset-frontend/src/chartCustomizations/components/DynamicGroupBy/DynamicGroupByPlugin.test.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.test.tsx
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.test.ts
  superset-frontend/src/components/Chart/useDrillDetailMenuItems/useDrillDetailMenuItems.test.tsx
  superset-frontend/src/components/CopyToClipboard/CopyToClipboard.test.tsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
  superset-frontend/src/components/RowCountLabel/RowCountLabel.test.tsx
  superset-frontend/src/dashboard/components/AddSliceCard/AddSliceCard.test.tsx
  superset-frontend/src/dashboard/components/URLShortLinkButton/URLShortLinkButton.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder/ChartHolder.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Markdown/Markdown.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControlShared.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.test.tsx
  superset-frontend/src/explore/components/DataTableControl/CopyToClipboardButton.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTableControls.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/useResultsPane.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.subdirectory.test.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/ColorSchemeControl.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricDefinitionOption.test.tsx
  superset-frontend/src/features/alerts/components/AlertStatusIcon.test.tsx
  superset-frontend/src/features/datasets/AddDataset/Footer/Footer.test.tsx
  superset-frontend/src/features/home/ChartTable.test.tsx
  superset-frontend/src/features/home/LanguagePicker.test.tsx
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/versionHistory/RelatedUpdateRow.test.tsx
  superset-frontend/src/pages/Home/Home.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(build): remove `ts-jest` usage for TS7 preparation (#44210)
  .github/dependabot.yml
  superset-frontend/jest.config.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(explore): await the Customize tab click in ControlPanelsContainer test
  superset-frontend/src/explore/components/ControlPanelsContainer.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-data): keep non-numeric columns out of contribution post-processing
  superset/utils/pandas_postprocessing/contribution.py
  tests/unit_tests/pandas_postprocessing/test_contribution.py
Due: ruff-format, ruff, pylint

test(chart-data): pin Decimal contribution columns that carry nulls
  tests/unit_tests/pandas_postprocessing/test_contribution.py
Due: ruff-format, ruff

fix: review suggestions
  superset-frontend/src/dashboard/components/gridComponents/FilterHolder/FilterHolder.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/FilterHolder/FilterHolder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.tsx
  superset-frontend/src/dashboard/util/newEntitiesFromDrop.test.ts
  superset-frontend/src/dashboard/util/shouldWrapChildInRow.test.ts
  superset-frontend/src/dashboard/util/shouldWrapChildInRow.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): resolve MSSQL catalog from connection config
  superset/db_engine_specs/mssql.py
  tests/unit_tests/db_engine_specs/test_mssql.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test: add coverage for mapping additions, updates, and deletions
  superset-frontend/src/dashboard/components/PropertiesModal/sections/LabelColorMapping.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: remove unused React import and apply oxfmt formatting
  superset-frontend/src/dashboard/components/PropertiesModal/sections/LabelColorMapping.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): resolve migration head conflict and avoid privilege broadening
  UPDATING.md
  superset/migrations/versions/2026-09-10_00-00_1f5f4fb8bfc1_delete_deprecated_permissions_33272.py
  superset/migrations/versions/2026-09-10_00-01_3ce9a4572f8a_rename_deprecated_permissions_33272.py
  superset/migrations/versions/2026-09-16_00-00_aa5aa836f85c_merge_deprecated_permissions_with_purge_audit_and_username_index.py
  tests/unit_tests/migrations/test_deprecated_permissions_33272.py
Due: ruff-format, ruff

chore: fix typo in apache license header
  superset-frontend/src/dashboard/components/PropertiesModal/sections/LabelColorMapping.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): align capture validation and alert retry safeguards
  UPDATING.md
  docs/admin_docs/configuration/alerts-reports.mdx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/commands/report/execute.py
  superset/commands/report/execution_claim.py
  superset/commands/report/update.py
  superset/migrations/versions/2026-09-16_00-00_93d1b4a76c02_add_report_execution_ownership.py
  superset/reports/models.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack_mixin.py
  superset/reports/schemas.py
  superset/tasks/scheduler.py
  superset/utils/report_execution.py
  superset/utils/screenshot_utils.py
  superset/utils/webdriver.py
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/commands/report/execution_claim_test.py
  tests/unit_tests/commands/report/execution_ownership_migration_test.py
  tests/unit_tests/commands/report/update_test.py
  tests/unit_tests/reports/schemas_test.py
  tests/unit_tests/utils/test_report_execution.py
  tests/unit_tests/utils/test_screenshot_utils.py
  tests/unit_tests/utils/webdriver_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(dashboard): await menu interactions in AgGrid full CSV/Excel tests
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(issues):resolved all the issues mentioned in the comments
  superset-frontend/src/dashboard/containers/DashboardPage.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: FAB 5.2.3rc1
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset-core/pyproject.toml
Due: none

fix(plugin-chart-echarts): render quarter time grain as YYYY-Qq Use the d3 quarter format on SMART_DATE axes and tooltips so quarter labels stay explicit instead of collapsing to a month or year.
  superset-frontend/plugins/plugin-chart-echarts/src/utils/formatters.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/formatters.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix test
  tests/integration_tests/sqllab_tests.py
Due: ruff-format, ruff

fix(mcp): advertise typed tool outputs (#43828)
  UPDATING.md
  docs/admin_docs/configuration/mcp-server.mdx
  superset/core/mcp/core_mcp_injection.py
  superset/mcp_service/CLAUDE.md
  superset/mcp_service/PRODUCTION.md
  superset/mcp_service/__main__.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/middleware.py
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_info.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/dashboard/tool/test_update_dashboard.py
  tests/unit_tests/mcp_service/database/tool/test_database_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/query/tool/test_query_tools.py
  tests/unit_tests/mcp_service/saved_query/tool/test_saved_query_tools.py
  tests/unit_tests/mcp_service/test_main_entrypoint.py
  tests/unit_tests/mcp_service/test_mcp_config.py
  tests/unit_tests/mcp_service/test_mcp_e2e_smoke.py
  tests/unit_tests/mcp_service/test_mcp_server.py
  tests/unit_tests/mcp_service/test_mcp_tool_registration.py
  tests/unit_tests/mcp_service/test_middleware.py
  tests/unit_tests/mcp_service/test_middleware_logging.py
Due: ruff-format, ruff, pylint

feat(mcp): add typed Gantt chart support (#43737)
  .github/actions/setup-backend/action.yml
  .github/actions/setup-docker/action.yml
  .github/workflows/superset-python-unittest.yml
  docs/docs/using-superset/using-ai-with-superset.mdx
  superset/mcp_service/app.py
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/__init__.py
  superset/mcp_service/chart/plugins/gantt.py
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/resources/chart_configs.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/pipeline.py
  tests/unit_tests/mcp_service/chart/test_chart_examples.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_compile.py
  tests/unit_tests/mcp_service/chart/test_gantt_chart.py
  tests/unit_tests/mcp_service/chart/test_preview_utils.py
  tests/unit_tests/mcp_service/chart/test_query_result.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
  tests/unit_tests/migrations/test_single_migration_head.py
Due: ruff-format, ruff, pylint

fix(dashboard): don't register an active tab for childless TABS components
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-controls): keep axis sort available for columns with unknown type
  superset-frontend/packages/superset-ui-chart-controls/src/utils/isSortable.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/isSortable.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart): keep dataset_uuid in exports when the dataset is deleted
  superset/commands/chart/export.py
  superset/commands/export/models.py
  tests/unit_tests/commands/chart/export_test.py
Due: ruff-format, ruff, pylint

fix(ci): match migration conflicts on filename, not contents_url (#44318)
  .github/workflows/check-db-migration-confict.yml
Due: none

fix(thumbnails): backward-compatible skew tolerance, validate retained images, preserve image across chart retry
  docs/admin_docs/configuration/cache.mdx
  superset/charts/api.py
  superset/utils/screenshots.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
Due: ruff-format, ruff, pylint

fix(mcp): scope inherited filter mask and single-select values
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/dashboard/tool/apply_dashboard_filters.py
  tests/unit_tests/mcp_service/dashboard/tool/test_apply_dashboard_filters.py
Due: ruff-format, ruff, pylint

test(mcp): register apply_dashboard_filters in the tool inventory
  tests/unit_tests/mcp_service/test_mcp_tool_registration.py
Due: ruff-format, ruff

fix(dashboard): activate the first tab added to an empty TABS container
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

perf(deletion-retention): compute purge-audit repeat predicate once per entity set
  superset/commands/deletion_retention/prune_audit.py
  tests/integration_tests/deletion_retention/prune_audit_tests.py
  tests/unit_tests/commands/deletion_retention/test_prune_audit.py
Due: ruff-format, ruff, pylint

perf(deletion-retention): collapse the purge-audit repeat window to one pass
  superset/commands/deletion_retention/prune_audit.py
Due: ruff-format, ruff, pylint

docs(deletion-retention): clarify purge-audit window clause naming
  superset/commands/deletion_retention/prune_audit.py
Due: ruff-format, ruff, pylint

test(theme): cover revert to workspace default and a refreshed baseline in the setThemeConfig override check
  superset-frontend/src/theme/tests/ThemeController.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: use eslint-compat `create` semantic for custom lint rule `theme-colors`
  superset-frontend/custom-lint-rules/theme-colors/index.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(semantic-layers): fix mypy call_args error on values endpoint test (#44187)
  tests/unit_tests/semantic_layers/values_endpoint_test.py
Due: ruff-format, ruff

chore: remove obsolete eslint.sh and turn off built-in oxlint rules
  scripts/eslint.sh
  superset-frontend/oxlint.custom-lint-rules.mts
Due: none

test(deletion-retention): pin single-pass purge-audit window shape
  superset/commands/deletion_retention/prune_audit.py
  tests/unit_tests/commands/deletion_retention/test_prune_audit.py
Due: ruff-format, ruff, pylint

fix(theme): do not suppress a dashboard theme when the forwarded config equals the workspace default (#44173)
  superset-frontend/src/theme/ThemeController.ts
  superset-frontend/src/theme/tests/ThemeController.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tags): rename TagDAO.get_by_name to get_or_create_by_name
  superset/commands/tag/create.py
  superset/daos/tag.py
  tests/integration_tests/tags/dao_tests.py
  tests/unit_tests/dao/tag_test.py
Due: ruff-format, ruff, pylint

fix(dashboards): close CSS validation gaps in dashboard import and edits
  superset/commands/dashboard/update.py
  superset/dashboards/schemas.py
  tests/unit_tests/commands/dashboard/update_test.py
  tests/unit_tests/dashboards/schema_tests.py
Due: ruff-format, ruff, pylint

fix(dashboards): preserve css-keyed error on update validation
  superset/commands/dashboard/update.py
  tests/unit_tests/commands/dashboard/update_test.py
Due: ruff-format, ruff, pylint

test(dashboard): migrate native filter URL key E2E to Playwright (#41435)
  superset-frontend/playwright/helpers/api/dashboard.ts
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/dashboard-native-filter-url-key.spec.ts
  superset-frontend/playwright/tests/dashboard/dashboard-test-helpers.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
