Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

Renames for consistency with other methods.
  superset/utils/core.py
Due: ruff-format, ruff, pylint

feat(explore): add support for column display labels in data table results
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset/common/query_actions.py
  superset/utils/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

i18n for popover text
  superset-frontend/src/explore/components/DataTableControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Removed debug comment and added collabels state reset handling
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset/common/query_actions.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Added/fixed tests
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Added missing type annotations for collabels.
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
  superset/charts/schemas.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Removed unused imports
  superset/common/query_actions.py
Due: ruff-format, ruff, pylint

Optimized a number of react issue as dependencies for memo/callbacks/effects were missing.
  superset-frontend/src/explore/components/DataTableControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Removed extensive displayLabel drilling in favor for columLabels variable.
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Added small test for the extract_display_labels function.
  tests/integration_tests/utils_tests.py
Due: ruff-format, ruff

Added entry to UPDATING.md file.
  UPDATING.md
Due: none

ruff format fix
  superset/extensions/__init__.py
Due: ruff-format, ruff, pylint

* Add support for NULL / IS NOT NULL operator * Override execute for removing ARRAY * Add support for epoch milli conversion
  superset/db_engine_specs/kusto.py
  tests/unit_tests/db_engine_specs/test_kusto.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(FilterBar.test): removed third argument now not valid for fetch-mock v12. Option was removed and type no longer include it.
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(FiltersBadge): world map wont show filter icon after refresh page (#37260)
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

refactor(tests): destructure choices from stack control config in Bar control panel tests
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(localization): rename DeferredInput to TranslationInput and remove debounce
  superset-frontend/src/components/DeferredInput/DeferredInput.test.tsx
  superset-frontend/src/components/DeferredInput/DeferredInput.tsx
  superset-frontend/src/components/TranslationInput/TranslationInput.test.tsx
  superset-frontend/src/components/TranslationInput/TranslationInput.tsx
  superset-frontend/src/components/TranslationInput/index.ts
  superset-frontend/src/dashboard/components/PropertiesModal/sections/BasicInfoSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopoverTitle.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(tests): apply consistent spacing in stack control config destructuring in Bar control panel tests
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: Conditional formatting painting empty cells
  superset-frontend/packages/superset-core/src/utils/isBlank.test.ts
  superset-frontend/packages/superset-core/src/utils/isBlank.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(dashboard): add version history and restore
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/HistoryModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): improve version restore UX and add integration tests
  dashboard_version.py
  docs/adr/0001-dashboard-version-history.md
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/HistoryModal/index.tsx
  superset/commands/dashboard/exceptions.py
  superset/commands/dashboard/restore_version.py
  superset/commands/dashboard/update.py
  superset/daos/dashboard_version.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/migrations/versions/2026_02_02_add_dashboard_version_comment.py
  superset/migrations/versions/2026_02_02_add_dashboard_versions.py
  superset/models/dashboard_version.py
  tests/integration_tests/dashboards/test_versioning.py
  tests/unit_tests/dashboards/commands/test_dashboard_version.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(dashboard): restore version slice sync, cascade delete, and error handling
  superset/commands/dashboard/restore_version.py
  superset/dashboards/api.py
  superset/models/dashboard_version.py
  tests/integration_tests/dashboards/test_versioning.py
Due: ruff-format, ruff, pylint

feat(dashboard): version description editing and test fixes
  superset-frontend/src/dashboard/components/HistoryModal/index.tsx
  superset/daos/dashboard_version.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/static/service-worker.js
  tests/integration_tests/dashboards/test_versioning.py
  tests/unit_tests/dashboards/commands/test_dashboard_version.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(dashboard): add version history with one-click restore
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/HistoryModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(dashboard): version history restore without full page reload
  superset-frontend/src/dashboard/components/Header/DashboardRestore.integration.test.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/HistoryModal/HistoryModal.test.tsx
  superset-frontend/src/dashboard/components/HistoryModal/index.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/contexts/DashboardRestoreContext.tsx
  superset-frontend/src/hooks/apiResources/dashboards.ts
  superset-frontend/src/hooks/useModalState.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): fixes build issue
  superset-frontend/src/dashboard/components/HistoryModal/HistoryModal.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.hydration.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/hooks/apiResources/dashboards.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(dashboard): adds license to dashboards_version.py and remove adr from repository
  dashboard_version.py
  docs/adr/0001-dashboard-version-history.md
Due: ruff-format, ruff, pylint

chore(dashboard): remove refactor leftover
  dashboard_version.py
Due: ruff-format, ruff, pylint

fix(tests): use usefixtures for dashboard version permissions in API tests
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff

test(dashboards): consolidate dashboard version tests and add DAO unit tests
  superset/constants.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/test_dashboard_version_commands.py
  tests/unit_tests/dashboards/dao_tests.py
  tests/unit_tests/dashboards/test_dashboard_version.py
Due: ruff-format, ruff, pylint

fix(dashboard): create version permissions at app init so _info returns them
  superset/migrations/shared/security_converge.py
  superset/migrations/versions/2026_02_06_add_dashboard_version_permissions.py
  superset/security/manager.py
Due: ruff-format, ruff, pylint

chore(dashboard): rename comment to description to keep the data consistent
  superset-frontend/src/dashboard/components/Header/DashboardRestore.integration.test.tsx
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/HistoryModal/HistoryModal.test.tsx
  superset-frontend/src/dashboard/components/HistoryModal/index.tsx
  superset/commands/dashboard/update.py
  superset/daos/dashboard_version.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/migrations/versions/2026_02_05_rename_dashboard_version_comment_to_description.py
  superset/models/dashboard_version.py
  superset/static/service-worker.js
  tests/integration_tests/dashboards/test_versioning.py
  tests/unit_tests/dashboards/commands/test_dashboard_version.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(security): add dashboard version permissions and migration helpers
  superset/migrations/shared/security_converge.py
  superset/migrations/versions/2026_02_06_add_dashboard_version_permissions.py
Due: ruff-format, ruff

test(dashboard): add version permissions to info security dashboard test
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff

test(dashboard): adds missing test scenarios
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/dashboards/commands/test_dashboard_version.py
Due: ruff-format, ruff

chore(static): revert uneeded changes
  superset/static/service-worker.js
Due: none

fix(dashboard): address PR feedback for version history
  docs/static/feature-flags.json
  superset/commands/dashboard/update.py
  superset/config.py
  superset/constants.py
  superset/daos/dashboard_version.py
  superset/dashboards/api.py
  superset/migrations/versions/2026_02_02_add_dashboard_version_comment.py
  superset/migrations/versions/2026_02_05_add_dashboard_versions_unique_constraint.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix: Join Database table once outside the loop in apply_column_operators
  superset/daos/dataset.py
Due: ruff-format, ruff, pylint

fix: Normalize dict-based operators in DatasetDAO.apply_column_operators
  superset/daos/dataset.py
Due: ruff-format, ruff, pylint

fix(mcp): Add database_name as valid filter column for list_datasets
  superset/daos/dataset.py
  superset/mcp_service/dataset/schemas.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: ruff-format, ruff, pylint
