Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(deckgl): hide legend when Legend Position is None (#42402)
  superset-frontend/plugins/preset-chart-deckgl/src/components/Legend.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/components/Legend.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Polygon/Polygon.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/utilities/Shared_DeckGL.tsx
  superset-frontend/src/explore/components/controls/SelectControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(core): let UnsavedChangesModal use Ant Design's automatic z-index stacking
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/UnsavedChangesModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: check .ant-modal-wrap for z-index in stacking regression test
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/UnsavedChangesModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: destroy UnsavedChangesModal's portal on hide so DOM order tracks true open-recency
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.stories.tsx
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/UnsavedChangesModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: dedupe modal accessible-name lookup in UnsavedChangesModal z-index test
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/UnsavedChangesModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: note UnsavedChangesModal zIndex prop removal in UPDATING.md
  UPDATING.md
Due: none

fix: give UnsavedChangesModal an explicit token-derived zIndex
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/UnsavedChangesModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(datasets): add regression for stale temporal main_dttm_col (#30510)
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff

fix(sqla): annotate main_dttm_column local in dttm_cols
  superset/connectors/sqla/models.py
Due: ruff-format, ruff, pylint

fix(datasets): exclude stale non-temporal main_dttm_col from dttm_cols
  superset/connectors/sqla/models.py
Due: ruff-format, ruff, pylint

fix: widen append_charts type hint to Collection[Slice]
  superset/commands/dashboard/export.py
Due: ruff-format, ruff, pylint

fix(dashboard): expand chart description on load (fix #40373)
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): handle unavailable ResizeObserver in chart description
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): add regression tests for chart description ResizeObserver and revert lodash refactor
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(auth): gate legacy FAB password reset routes behind config flag
  superset/config.py
  superset/security/manager.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(auth): guard unregister_blueprint for Flask version compatibility
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix: ruff line length and conditional ResetPasswordView test
  superset/security/manager.py
  tests/integration_tests/core_tests.py
Due: ruff-format, ruff, pylint

refactor(auth): use same loop to remove FAB security and password views
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(auth): skip legacy FAB password view registration
  superset/security/manager.py
  tests/integration_tests/core_tests.py
Due: ruff-format, ruff, pylint

fix(auth): preserve forced password change reset route
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

annotation fixes
  superset/config.py
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(auth): preserve forced password change reset route
  superset/config.py
  superset/security/manager.py
  tests/integration_tests/core_tests.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(deckgl): remove visibility condition in deckgl fill color (#42712)
  superset-frontend/plugins/preset-chart-deckgl/src/utilities/Shared_DeckGL.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/utilities/Shared_DeckGL.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: use sanitized empty string for slug in redirect fallback test
  superset-frontend/src/dashboard/actions/dashboardState.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(rls): validate datasource access before name uniqueness, guard against concurrent duplicate names
  superset/commands/security/create.py
  superset/commands/security/update.py
  tests/unit_tests/commands/security/rls_test.py
Due: ruff-format, ruff, pylint

fix(calendar): clean up d3-tip tooltips (#41589)
  superset-frontend/jest.config.js
  superset-frontend/packages/superset-ui-core/src/chart/components/reactify.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/reactify.test.tsx
  superset-frontend/plugins/plugin-chart-calendar/src/Calendar.ts
  superset-frontend/plugins/plugin-chart-calendar/src/ReactCalendar.tsx
  superset-frontend/plugins/plugin-chart-calendar/src/tooltip.ts
  superset-frontend/plugins/plugin-chart-calendar/src/vendor/cal-heatmap.ts
  superset-frontend/plugins/plugin-chart-calendar/test/ReactCalendar.test.tsx
  superset-frontend/plugins/plugin-chart-calendar/test/tooltip.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql): resolve schema/catalog-qualified table references in CTE detection (#42717)
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

feat(formatting): add network throughput number formats for bits/s and bytes/s (#42437)
  superset-frontend/packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  superset-frontend/packages/superset-ui-core/src/number-format/factories/createThroughputFormatter.ts
  superset-frontend/packages/superset-ui-core/src/number-format/index.ts
  superset-frontend/packages/superset-ui-core/test/number-format/factories/createThroughputFormatter.test.ts
  superset-frontend/src/setup/setupFormatters.test.ts
  superset-frontend/src/setup/setupFormatters.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(lru-cache): don't evict another entry when overwriting an existing key (#42409)
  superset-frontend/packages/superset-ui-core/src/utils/lruCache.ts
  superset-frontend/packages/superset-ui-core/test/utils/lruCache.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(schema): improve validation for query_context metadata by simplifying missing fields check
  superset/utils/schema.py
Due: ruff-format, ruff, pylint

fix(schema): updated the union syntax using the repo standard
  superset/utils/schema.py
Due: ruff-format, ruff, pylint

fix(schema): improve error messages in JSON and query context validation
  superset/utils/schema.py
  tests/unit_tests/utils/test_schema.py
Due: ruff-format, ruff, pylint

feat(schema): add validation for query_context metadata in ChartPostSchema and ChartPutSchema
  superset/charts/schemas.py
  superset/utils/schema.py
  tests/unit_tests/charts/test_schemas.py
  tests/unit_tests/utils/test_schema.py
Due: ruff-format, ruff, pylint

fix(schema): streamline JSON validation in query_context metadata validation
  superset/utils/schema.py
Due: ruff-format, ruff, pylint

changed the comparision from strings to parsed JSON structure
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff

Update tests/unit_tests/utils/test_schema.py
  tests/unit_tests/utils/test_schema.py
Due: ruff-format, ruff

added testcase for none and expanded all the testcases from chartpostschema to chartputschema
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff

fix(tags): address review feedback - mypy override error, parent contract, formatting
  superset/commands/tag/export.py
Due: ruff-format, ruff, pylint

refactor(tags): align ExportTagsCommand with ExportModelsCommand
  superset/commands/chart/export.py
  superset/commands/dashboard/export.py
  superset/commands/export/assets.py
  superset/commands/tag/export.py
  tests/unit_tests/commands/export_test.py
Due: ruff-format, ruff, pylint

fix(tags): use model_ids in run() and remove dead export() method
  superset/commands/tag/export.py
Due: ruff-format, ruff, pylint
