Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

feat: CRUD for adding/deleting semantic views
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset/commands/semantic_layer/create.py
  superset/commands/semantic_layer/delete.py
  superset/commands/semantic_layer/exceptions.py
  superset/semantic_layers/api.py
  superset/semantic_layers/schemas.py
  tests/unit_tests/commands/semantic_layer/create_test.py
  tests/unit_tests/commands/semantic_layer/delete_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Fix imports
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: API for semantic layers
  pyproject.toml
  superset/commands/semantic_layer/create.py
  superset/commands/semantic_layer/delete.py
  superset/commands/semantic_layer/exceptions.py
  superset/commands/semantic_layer/update.py
  superset/daos/semantic_layer.py
  superset/initialization/__init__.py
  superset/semantic_layers/api.py
  superset/semantic_layers/schemas.py
  tests/unit_tests/commands/semantic_layer/create_test.py
  tests/unit_tests/commands/semantic_layer/delete_test.py
  tests/unit_tests/commands/semantic_layer/exceptions_test.py
  tests/unit_tests/commands/semantic_layer/update_test.py
  tests/unit_tests/semantic_layers/api_test.py
  tests/unit_tests/semantic_layers/schemas_test.py
Due: ruff-format, ruff, pylint

Improve design
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: rename database/database when using semantic layers
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/utils/semanticLayerLabels.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

More fixes
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/Datasource/ChangeDatasourceModal/index.tsx
  superset-frontend/src/components/Datasource/DatasourceModal/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/ErrorMessage/DatasetNotFoundErrorMessage.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/dashboard/components/AddSliceCard/AddSliceCard.tsx
  superset-frontend/src/dashboard/components/SliceAdder.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndAdhocFilterOption.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModalFooter.tsx
  superset-frontend/src/explore/controls.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix header name
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset/initialization/__init__.py
  superset/utils/semantic_layer_labels.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Small fixes
  docker/pythonpath_dev/superset_config.py
  superset-frontend/package-lock.json
  superset/commands/datasource/list.py
  superset/daos/semantic_layer.py
  superset/semantic_layers/api.py
  superset/semantic_layers/mapper.py
  tests/unit_tests/semantic_layers/api_test.py
Due: prettier-frontend, ruff-format, ruff, pylint

Fix lint
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix data connection name
  superset-frontend/packages/superset-ui-core/src/query/types/Datasource.ts
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/explore/types.ts
  superset/connectors/sqla/models.py
  superset/semantic_layers/models.py
  superset/superset_typing.py
  tests/unit_tests/semantic_layers/models_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Revert some aggressive renames
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Datasource/DatasourceModal/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModalFooter.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Working on filters
  superset-frontend/src/pages/DatasetList/index.tsx
  superset/commands/datasource/list.py
  superset/daos/datasource.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Fix filters
  superset-core/src/superset_core/semantic_layers/view.py
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Fix edit dataset
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
  superset-frontend/src/features/semanticViews/SemanticViewEditModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Explorable protocol
  superset/connectors/sqla/models.py
  superset/datasource/api.py
  superset/explorables/base.py
  superset/semantic_layers/models.py
Due: ruff-format, ruff, pylint

Small fixes
  superset-core/src/superset_core/semantic_layers/view.py
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Disable adhoc SQL
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix lint
  superset-frontend/src/components/ListView/ListView.tsx
  superset/daos/semantic_layer.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Working on filters
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Small fix
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Dynamic columns/metrics
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelDragOption/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset/datasource/api.py
  superset/semantic_layers/models.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat: dynamic columns
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Sort metrics/columns
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Small fixes
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Disable adhoc
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): tighten metadata privacy follow-ups
  superset/mcp_service/database/tool/list_databases.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/server.py
  superset/mcp_service/system/tool/get_schema.py
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
  tests/unit_tests/mcp_service/database/tool/test_database_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/system/tool/test_get_current_user.py
  tests/unit_tests/mcp_service/test_tool_search_transform.py
Due: ruff-format, ruff, pylint

Address semantic layer review nits
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.test.tsx
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset/semantic_layers/api.py
  tests/unit_tests/semantic_layers/api_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Small fixes
  superset-frontend/src/pages/DatasetList/index.tsx
  superset/commands/semantic_layer/delete.py
  superset/semantic_layers/api.py
  tests/unit_tests/commands/semantic_layer/delete_test.py
  tests/unit_tests/semantic_layers/api_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Bulk delete
  superset-frontend/src/pages/DatasetList/index.tsx
  superset/commands/semantic_layer/delete.py
  superset/semantic_layers/api.py
  tests/unit_tests/commands/semantic_layer/delete_test.py
  tests/unit_tests/semantic_layers/api_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Address comments
  superset-frontend/src/pages/DatasetList/index.tsx
  superset/semantic_layers/api.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Fix lint/tests
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  tests/unit_tests/semantic_layers/api_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
