Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

feat(charts): add time range selection feature for timeseries charts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(charts): add tests for time range selection feature
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

working relative day formatter no time
  superset-frontend/packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/relativeDayFormatterNoTime.ts
  superset-frontend/packages/superset-ui-core/src/time-format/index.ts
  superset-frontend/packages/superset-ui-core/test/time-format/formatters/relativeDayFormatterNoTime.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/formatters.ts
  superset-frontend/src/setup/setupFormatters.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

removing licensing
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/relativeDayFormatter.ts
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/relativeDayFormatterNoTime.ts
  superset-frontend/packages/superset-ui-core/test/time-format/formatters/relativeDayFormatter.test.ts
  superset-frontend/packages/superset-ui-core/test/time-format/formatters/relativeDayFormatterNoTime.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(datasource-connector): fix test selectors, timer leak, and exception handling
  superset-frontend/src/pages/DatasourceConnector/DatasourceConnector.test.tsx
  superset-frontend/src/pages/DatasourceConnector/components/ReviewSchemaPanel.tsx
  superset/datasource_analyzer/commands/initiate.py
  superset/migrations/versions/2025-12-17_11-07_d391443e911a_.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(datasource-connector): fix CSS selector, schema validation, API response, and button state
  superset-frontend/src/pages/DatasourceConnector/components/DataSourcePanel.tsx
  superset-frontend/src/pages/DatasourceConnector/components/DatabaseSchemaPicker.tsx
  superset/datasource_analyzer/api.py
  superset/datasource_analyzer/commands/initiate.py
  superset/datasource_analyzer/schemas.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore: remove migrations
  superset/migrations/versions/2025-12-17_11-07_d391443e911a_.py
Due: ruff-format, ruff

test(datasource-analyzer): add unit tests for API, command, schemas, and exceptions
  tests/integration_tests/datasource_analyzer/api_tests.py
  tests/unit_tests/datasource_analyzer/__init__.py
  tests/unit_tests/datasource_analyzer/api_test.py
  tests/unit_tests/datasource_analyzer/exceptions_test.py
  tests/unit_tests/datasource_analyzer/initiate_test.py
  tests/unit_tests/datasource_analyzer/schemas_test.py
Due: ruff-format, ruff

Ag grid issues fixes (#31)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTable/components/CustomHeader.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTable/index.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/consts.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/stateConversion.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/agGridFilterConverter.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getInitialFilterModel.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset/models/helpers.py
  superset/utils/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: Explore page
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

backend for filters
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

fix(database-analyzer): fix API to inherit from BaseApi and add response helper methods
  superset/databases/analyzer_api.py
  superset/models/database_analyzer.py
  superset/tasks/database_analyzer.py
Due: ruff-format, ruff, pylint

feat: Add AI info box
  superset-frontend/packages/superset-ui-core/src/components/AIInfoBanner/AIInfoBanner.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/AIInfoBanner/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/AIInfoBanner/types.ts
  superset-frontend/packages/superset-ui-core/src/components/index.ts
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/dashboard/components/TemplatePreviewHeader/index.tsx
  superset-frontend/src/pages/DashboardTemplates/DashboardTemplateGallery.tsx
  superset-frontend/src/pages/DatasourceConnector/components/ConnectorLayout.tsx
  superset-frontend/src/pages/DatasourceConnector/components/DataSourcePanel.tsx
  superset-frontend/src/pages/DatasourceConnector/index.tsx
  superset/views/datasource_connector.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(datasource-connector): add multi-step wizard for connecting datasources (#36678)
  superset-frontend/packages/superset-ui-core/src/components/AIInfoBanner/AIInfoBanner.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/AIInfoBanner/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/AIInfoBanner/types.ts
  superset-frontend/packages/superset-ui-core/src/components/index.ts
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/dashboard/components/TemplatePreviewHeader/index.tsx
  superset-frontend/src/pages/DashboardTemplates/DashboardTemplateGallery.tsx
  superset-frontend/src/pages/DatasourceConnector/DatasourceConnector.test.tsx
  superset-frontend/src/pages/DatasourceConnector/components/ConnectorLayout.tsx
  superset-frontend/src/pages/DatasourceConnector/components/DataSourcePanel.tsx
  superset-frontend/src/pages/DatasourceConnector/components/DatabaseSchemaPicker.tsx
  superset-frontend/src/pages/DatasourceConnector/components/ReviewSchemaPanel.tsx
  superset-frontend/src/pages/DatasourceConnector/hooks/useDatabaseListRefresh.ts
  superset-frontend/src/pages/DatasourceConnector/index.tsx
  superset-frontend/src/pages/DatasourceConnector/types.ts
  superset-frontend/src/views/routes.tsx
  superset/datasource_analyzer/__init__.py
  superset/datasource_analyzer/api.py
  superset/datasource_analyzer/commands/__init__.py
  superset/datasource_analyzer/commands/initiate.py
  superset/datasource_analyzer/exceptions.py
  superset/datasource_analyzer/schemas.py
  superset/initialization/__init__.py
  superset/views/datasource_connector.py
  tests/integration_tests/datasource_analyzer/__init__.py
  tests/integration_tests/datasource_analyzer/api_tests.py
  tests/unit_tests/datasource_analyzer/__init__.py
  tests/unit_tests/datasource_analyzer/api_test.py
  tests/unit_tests/datasource_analyzer/exceptions_test.py
  tests/unit_tests/datasource_analyzer/initiate_test.py
  tests/unit_tests/datasource_analyzer/schemas_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(database-analyzer): fix mypy, pylint, and ruff linting errors
  superset/commands/database_analyzer/analyze.py
  superset/commands/database_analyzer/llm_service.py
  superset/tasks/database_analyzer.py
Due: ruff-format, ruff, pylint

chore: resolve trailing whitespace
  .github/workflows/docker.yml
Due: none

build(dev-deps): remove stub type definition packages
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/plugins/plugin-chart-ag-grid-table/package.json
  superset-frontend/plugins/plugin-chart-table/package.json
Due: prettier-frontend

feat: migrations
  superset/migrations/versions/2025-12-17_07-54_c95466b0_add_database_analyzer_models.py
Due: ruff-format, ruff

chore: Bump core packages
  superset-core/pyproject.toml
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-core/package.json
Due: prettier-frontend

chore: restore `math-expression-evaluator` v2 to latest
  superset-frontend/package-lock.json
Due: prettier-frontend

fix: use actual openrouter
  superset/commands/database_analyzer/llm_service.py
Due: ruff-format, ruff, pylint

refactor: consolidate api endpoints
  superset/databases/analyzer_api.py
  superset/datasource_analyzer/__init__.py
  superset/datasource_analyzer/api.py
  superset/datasource_analyzer/commands/__init__.py
  superset/datasource_analyzer/commands/initiate.py
  superset/datasource_analyzer/exceptions.py
  superset/datasource_analyzer/schemas.py
  superset/initialization/__init__.py
  tests/integration_tests/datasource_analyzer/__init__.py
  tests/integration_tests/datasource_analyzer/api_tests.py
  tests/unit_tests/datasource_analyzer/__init__.py
  tests/unit_tests/datasource_analyzer/api_test.py
  tests/unit_tests/datasource_analyzer/exceptions_test.py
  tests/unit_tests/datasource_analyzer/initiate_test.py
  tests/unit_tests/datasource_analyzer/schemas_test.py
Due: ruff-format, ruff, pylint

fix(database-analyzer): handle empty tables in AI augmentation
  superset/commands/database_analyzer/analyze.py
Due: ruff-format, ruff, pylint

fix: migrations
  superset/migrations/versions/2025-12-17_18-01_4a032c8dbc11_merge_database_analyzer_and_main_.py
Due: ruff-format, ruff

chore: resolve trailing whitespace with valid pre-commit
  .github/workflows/docker.yml
Due: none

chore: temporarily lax condition to test container image sec scan
  .github/workflows/docker.yml
Due: none

Initial rules
  superset/config.py
  superset/data_access_rules/__init__.py
  superset/data_access_rules/api.py
  superset/data_access_rules/models.py
  superset/data_access_rules/schemas.py
  superset/data_access_rules/utils.py
  superset/initialization/__init__.py
  superset/migrations/versions/2025-12-17_10-00_a352d7609189_add_data_access_rules_table.py
  tests/unit_tests/data_access_rules/__init__.py
  tests/unit_tests/data_access_rules/schemas_test.py
  tests/unit_tests/data_access_rules/utils_test.py
Due: ruff-format, ruff, pylint

Integrate apply_data_access_rules() into SQL Lab query execution
  superset/sql_lab.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff, pylint

Integrate into chart/explore query execution
  superset/models/helpers.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint

Fix with tests
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Chart/chartActions.test.js
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/components/Chart/chartReducers.test.js
  superset-frontend/src/explore/exploreUtils/fetchChartFormData.test.ts
  superset-frontend/src/explore/exploreUtils/index.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: e2e test fixes
  superset/commands/database_analyzer/analyze.py
  superset/commands/database_analyzer/llm_service.py
  superset/models/database_analyzer.py
Due: ruff-format, ruff, pylint

Filter hidden columns
  superset/connectors/sqla/models.py
  superset/data_access_rules/utils.py
  superset/databases/utils.py
  tests/unit_tests/data_access_rules/utils_test.py
Due: ruff-format, ruff, pylint

chore: Bump core packages (0.0.1rc3, 0.0.1-rc6) (#36707)
  superset-core/pyproject.toml
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-core/package.json
Due: prettier-frontend

Initial UI
  docker/pythonpath_dev/superset_config.py
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/features/dataAccessRules/DataAccessRuleModal.tsx
  superset-frontend/src/features/dataAccessRules/types.ts
  superset-frontend/src/pages/DataAccessRulesList/index.tsx
  superset-frontend/src/views/routes.tsx
  superset/data_access_rules/api.py
  superset/initialization/__init__.py
  superset/views/sqla.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(SearchFilter): prevent unintended autocomplete on search input (#36209)
  superset-frontend/src/components/ListView/Filters/Search.test.tsx
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/Filters/index.test.tsx
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AnnotationLayerList/index.tsx
  superset-frontend/src/pages/GroupsList/index.tsx
  superset-frontend/src/pages/RolesList/index.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(docs): In the Wild page with YAML data and AntD components (#36386)
  .rat-excludes
  README.md
  RESOURCES/INTHEWILD.yaml
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/pages/inTheWild.tsx
  docs/src/pages/index.tsx
  docs/src/types/yaml.d.ts
  docs/src/webpack.extend.ts
  docs/static/img/logos/preset.svg
  docs/yarn.lock
Due: eslint-docs

feat(i18n): add Romanian (ro) translations
  superset/translations/ro/LC_MESSAGES/messages.po
Due: none

feat(frontend): migrate easy JS/JSX files to TypeScript
  superset-frontend/src/dashboard/components/gridComponents/Chart/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Column/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Divider/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Markdown/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Tab/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Tabs/index.ts
  superset-frontend/src/dashboard/components/gridComponents/index.ts
  superset-frontend/src/dashboard/components/gridComponents/new/NewColumn.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewDivider.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewHeader.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewMarkdown.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewTabs.tsx
  superset-frontend/src/dashboard/util/getChartAndLabelComponentIdFromPath.js
  superset-frontend/src/dashboard/util/getChartAndLabelComponentIdFromPath.ts
  superset-frontend/src/dashboard/util/getFilterScopeParentNodes.ts
  superset-frontend/src/dashboard/util/serializeActiveFilterValues.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style: fix prettier formatting
  superset-frontend/src/dashboard/util/getFilterScopeParentNodes.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
