Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

feat(deps): significant `npm audit fix` to trim off inadvertently runtime dep from upstream libraries (#37220)
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/webpack.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(alerts): show friendly filter names in report edit modal
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): fix tables not loading after database and schema selection
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/useDatabaseSelector.ts
  superset-frontend/src/hooks/apiResources/tables.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: group storybook Dependabot PRs into 1 unified PR
  .github/dependabot.yml
Due: none

fix: Fix SupersetClient.postForm calls
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClient.ts
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/src/connection/types.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClient.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/ExploreCtasResultsButton.test.tsx
  superset-frontend/src/components/Chart/chartAction.ts
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModalFooter.tsx
  superset-frontend/src/explore/exploreUtils/index.ts
  superset-frontend/src/pages/Login/Login.test.tsx
  superset-frontend/src/pages/Login/index.tsx
  superset-frontend/src/pages/Register/Register.test.tsx
  superset-frontend/src/pages/Register/index.tsx
  superset/views/utils.py
  tests/integration_tests/test_subdirectory_deployments.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

build: allow building Storybook components without React16 shim
  superset-frontend/.storybook/main.js
  superset-frontend/webpack.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix review issues
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/src/components/Chart/chartAction.ts
  superset-frontend/src/pages/Login/Login.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix tests
  superset-frontend/src/explore/exploreUtils/exportChart.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): add LIKE, ILIKE, IN, NOT IN filter operators to MCP chart tools
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): handle more chart types in get_chart_data fallback query construction (#37969)
  superset/mcp_service/chart/tool/get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

fix(mcp): use last data-bearing statement in execute_sql response (#37968)
  superset/mcp_service/sql_lab/sql_lab_utils.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
Due: ruff-format, ruff, pylint

feat(mcp): expose current user identity in get_instance_info and add created_by_fk filter (#37967)
  superset/mcp_service/app.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/system/schemas.py
  superset/mcp_service/system/tool/get_instance_info.py
  superset/mcp_service/utils/schema_utils.py
  tests/unit_tests/mcp_service/system/tool/test_get_current_user.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
  tests/unit_tests/mcp_service/utils/test_schema_utils.py
Due: ruff-format, ruff, pylint

fix(charts): Force refresh uses async mode when GAQ is enabled (#37845)
  superset/charts/data/api.py
  tests/integration_tests/charts/data/api_tests.py
Due: ruff-format, ruff, pylint

fix(native-filters): align refresh icon with default value field (#37802)
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): Don't show unsaved changes modal on new charts (#37714)
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql): fix sql suggestions (#37699)
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: Prevent table rows from overlapping pagination in table view (#37174)
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.test.ts
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(scatter): Fix ad-hoc metric for pointsize (#37669)
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/buildQuery.test.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/buildQuery.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/buildQueryUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(alerts): add race-condition overwrite assertion for seeded filter options
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(alerts): use deferred tabs, targeted mocks, and RTL queries in overwrite test
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(alerts): use afterEach for route cleanup instead of manual teardown
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: linting
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(thumbnails): stabilize digest by sorting datasources and charts
  superset/thumbnails/digest.py
  tests/unit_tests/thumbnails/test_digest.py
Due: ruff-format, ruff, pylint

fix codeant-ai review
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/utilities.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix lint + test
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/utilities.ts
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix types
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/utilities.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): validate database field on PUT report schedule
  superset/commands/report/exceptions.py
  superset/commands/report/update.py
  superset/reports/schemas.py
  tests/integration_tests/reports/api_tests.py
Due: ruff-format, ruff, pylint

test(reports): add database validation edge case tests
  tests/integration_tests/reports/api_tests.py
  tests/unit_tests/commands/report/update_test.py
Due: ruff-format, ruff

fix(crud): reorder table actions + improve react memoization + improve hooks
  superset-frontend/.eslintrc.js
  superset-frontend/.eslintrc.minimal.js
  superset-frontend/src/pages/ChartList/ChartList.listview.test.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/views/CRUD/hooks.test.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): add missing __init__.py to prevent module name collision
  tests/unit_tests/commands/report/__init__.py
Due: ruff-format, ruff

fix(crud): missing table actions reorder
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/ThemeList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(build): remove redundant type-checking in Webpack build
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/webpack.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: revamp comments regarding removal of fork-ts-checker-webpack-plugin
  superset-frontend/webpack.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix prettier errors not picked up by pre-commit
  superset-frontend/src/explore/exploreUtils/exportChart.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(GAQ): Don't use async queries when cache timeout is -1
  superset/charts/data/api.py
Due: ruff-format, ruff, pylint

fix(alert-modal): show the add filter button on firefox
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(localization): add inline title localization for dashboards and Explore
  superset-frontend/src/components/TranslationEditor/index.ts
  superset-frontend/src/components/TranslationEditor/useAvailableLocales.test.ts
  superset-frontend/src/components/TranslationEditor/useAvailableLocales.ts
  superset-frontend/src/components/TranslationEditor/useTranslatableTitle.test.tsx
  superset-frontend/src/components/TranslationEditor/useTranslatableTitle.ts
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder/ChartHolder.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tab/Tab.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tab/Tab.tsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/reducers/exploreReducer.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): fix chart export url when using legacy api
  superset-frontend/src/explore/exploreUtils/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(localization): include translations in Slice.data and allow LocaleSwitcher without existing translations
  UPDATING.md
  docs/docs/configuration/content-localization.mdx
  docs/static/feature-flags.json
  superset-frontend/src/components/TranslationEditor/useTranslatableTitle.test.tsx
  superset-frontend/src/components/TranslationEditor/useTranslatableTitle.ts
  superset/models/slice.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
