Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/

get data
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdownList.jsx
  superset-frontend/src/dashboard/components/gridComponents/index.js
  superset-frontend/src/dashboard/components/gridComponents/new/components/NewDynamicMarkdownList.jsx
  superset-frontend/src/dashboard/util/componentTypes.ts
  superset-frontend/src/dashboard/util/isValidChild.ts
  superset-frontend/src/dashboard/util/newComponentFactory.js
  superset-frontend/src/dashboard/util/shouldWrapChildInRow.js
Due: prettier, eslint-frontend, type-checking-frontend

pass prop
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdownList.jsx
  superset-frontend/src/dashboard/components/gridComponents/new/components/NewDynamicMarkdownList.jsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: Persist catalog change during dataset update + validation fixes
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/features/datasets/types.ts
  superset/commands/dataset/exceptions.py
  superset/commands/dataset/update.py
  tests/integration_tests/datasets/api_tests.py
  tests/unit_tests/commands/dataset/update_test.py
Due: prettier, eslint-frontend, type-checking-frontend

Fixing unit tests + removing unused exception
  superset/commands/dataset/exceptions.py
  tests/unit_tests/commands/dataset/update_test.py
Due: none

cleanup
  superset-frontend/packages/superset-ui-chart-controls/src/constants.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/sharedControls.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/components/GlobalFilter.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Due: prettier, eslint-frontend, type-checking-frontend

Resolved comments
  superset/common/query_object_factory.py
  superset/utils/core.py
Due: none

function signature
  tests/unit_tests/common/test_query_object_factory.py
Due: none

refactor(Submenu): Use ant design icons in submenu
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/types/bootstrapTypes.ts
Due: prettier, eslint-frontend, type-checking-frontend

clean up
  superset-frontend/plugins/plugin-chart-table/src/DataTable/components/SelectPageSize.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Due: prettier, eslint-frontend, type-checking-frontend

chore(FiltersConfigModal): sticky buttons for add filter/divider
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitlePane.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: input box background
  superset-frontend/src/explore/components/EmbedCodeContent.jsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(Explore): Caret paddings
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/ConditionalFormattingControl.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

clean up
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/table.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix CI test
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/table.test.ts
Due: prettier, eslint-frontend

style(pagination): replace border color
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
Due: prettier, eslint-frontend, type-checking-frontend

licenses added to new files
  superset-frontend/src/database/actions.ts
  superset-frontend/src/database/reducers.ts
  superset-frontend/src/database/types.ts
Due: prettier, eslint-frontend, type-checking-frontend

changed rows displayed from 1000 to 25
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Due: prettier, eslint-frontend, type-checking-frontend

Correcting typo
  superset/config.py
Due: none

Trying to fix test
  tests/integration_tests/datasets/api_tests.py
Due: none

fix RTL test
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: remove type for now
  superset-embedded-sdk/src/index.ts
Due: none

Skip test for sqlite
  tests/integration_tests/datasets/api_tests.py
Due: none

Fixing logic
  tests/integration_tests/datasets/api_tests.py
Due: none

fix: Persist catalog change during dataset update + validation fixes (#33384)
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/features/datasets/types.ts
  superset/commands/dataset/exceptions.py
  superset/commands/dataset/update.py
  tests/integration_tests/datasets/api_tests.py
  tests/unit_tests/commands/dataset/update_test.py
Due: prettier, eslint-frontend, type-checking-frontend

Evaluating init.extraContainers templates
  helm/superset/templates/init-job.yaml
Due: none

Added template evaluation to other deployments
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
Due: none

Missed a couple deployments that need extraContainers rendered
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
Due: none

refactor: Class attributes are now lower case
  superset/migrations/shared/migrate_viz/query_functions.py
Due: none

refactor: flter null query context
  superset/cli/generate_query_context.py
Due: none

feat: parse query_context
  superset/migrations/shared/migrate_viz/base.py
Due: none

fix category icon in VizPicker
  superset-frontend/src/assets/images/icons/category.svg
Due: none

do not allow filter_range type
  superset/daos/dashboard.py
Due: none

fix DnD options caret and separator
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/Option.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

removing unneccessary changes to embedded index.tsx
  superset-frontend/src/embedded/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

trash size
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix select
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix linting
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: remove variant
  superset-frontend/src/pages/Login/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend
