Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

feat: add tests for theme direction
  superset-frontend/packages/superset-core/src/theme/Theme.test.tsx
  superset-frontend/src/features/home/LanguagePicker.test.tsx
  superset-frontend/src/theme/tests/ThemeController.test.ts
  superset-frontend/src/utils/localeUtils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor: tighten explore view access-check comment
  superset/views/core.py
Due: ruff-format, ruff, pylint

fix: test each rtlLanguages in localeUtils
  superset-frontend/src/utils/localeUtils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(Snowflake): fix OAuth2 session
  superset/db_engine_specs/snowflake.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(reports): harden Slack v2 fallback and retries
  UPDATING.md
  docs/static/feature-flags.json
  superset/config.py
  superset/reports/notifications/slackv2.py
  superset/utils/slack.py
  tests/unit_tests/reports/notifications/slack_tests.py
  tests/unit_tests/utils/slack_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

chore(i18n): update Turkish translations messages.po (#39064)
  superset/translations/tr/LC_MESSAGES/messages.po
Due: none

feat(mcp): list_charts accepts `dashboards` filter (#40397)
  superset/daos/base.py
  superset/daos/chart.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/daos/test_base_relationship_filters.py
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
Due: ruff-format, ruff, pylint

fix(sqllab): replace native prompt with modal for tab rename (#41329)
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/SqlEditorTabHeader.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

ci: schedule a weekly Docker image rebuild against the latest release (#40426)
  .github/workflows/scheduled-docker-image-refresh.yml
  .github/workflows/tag-release.yml
Due: none

fix(config): gate /version endpoint, coalesce redacted SHA, add gate tests
  UPDATING.md
  superset-frontend/src/features/home/RightMenu.tsx
  superset/views/health.py
  tests/unit_tests/views/test_base.py
  tests/unit_tests/views/test_health.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(snowflake): add optional code_verifier parameter to OAuth URI method
  superset/db_engine_specs/snowflake.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test: assert specific parser rejection messages in expression validation
  superset/models/helpers.py
  tests/unit_tests/models/test_validate_expression.py
Due: ruff-format, ruff, pylint

fix(i18n): refresh locale translations after source string changes
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

test: add type hints and parametrize expression-rejection tests
  tests/unit_tests/models/test_validate_expression.py
Due: ruff-format, ruff

feat(reports): trigger alerts (#41336)
  superset-frontend/src/features/alerts/hooks/useExecuteReportSchedule.test.ts
  superset-frontend/src/features/alerts/hooks/useExecuteReportSchedule.ts
  superset-frontend/src/pages/AlertReportList/AlertReportList.test.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset/commands/report/exceptions.py
  superset/commands/report/execute_now.py
  superset/reports/api.py
  superset/reports/schemas.py
  tests/integration_tests/reports/api_tests.py
  tests/unit_tests/commands/report/test_execute_now.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: Filter null child names in treeBuilder utility (#31477)
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/treeBuilder.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sunburst): make "Show Null Values" non-breaking and cover all layers
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Sunburst/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/treeBuilder.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: V-001 security vulnerability
  superset/db_engine_specs/impala.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix: the impala engine spec's cancel_query method co... in impala.py
  tests/test_invariant_impala.py
Due: ruff-format, ruff

fix: test run build fixes
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: rtl test coverage + cleanup
  superset-frontend/src/features/home/LanguagePicker.tsx
  superset-frontend/src/theme/ThemeProvider.tsx
  superset-frontend/src/theme/tests/ThemeController.test.ts
  superset-frontend/src/utils/localeUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sunburst): drop zero-value parents and type test helpers
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Sunburst/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/treeBuilder.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deckgl): render legend swatch as a coloured box, not an emoji glyph (#40784)
  superset-frontend/plugins/preset-chart-deckgl/src/components/Legend.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): assert exact default stagger value
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(dashboard): clarify manual refresh stagger fallback wording
  docs/docs/faq.mdx
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.ts
  superset/config.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

docs: document SUPERSET_DASHBOARD_MANUAL_REFRESH_STAGGER_MS
  docs/docs/faq.mdx
Due: none

fix(dashboard): stagger manual refresh to prevent worker saturation
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.test.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.ts
  superset/config.py
  superset/views/base.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(dashboard): default manual refresh stagger to 0 (opt-in)
  docs/docs/faq.mdx
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.test.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.ts
  superset/config.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix: hardcoded api url
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): not filterable column now not emitting cross-filters in table charts
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): restore semantic_view edit modal branch in DatasourceControl
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: chart description not showing
  superset-frontend/src/dashboard/actions/hydrate.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(sunburst): simplify empty-parent filter to optional chaining
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): restore cache_timeout on ExtendedDatasource
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(explore): type SupersetClient.get mock as JsonResponse instead of any
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): restore behaviors dropped during FC conversion
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/SpatialControl.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(tests): apply ruff-format to test_screenshot_cache_fix.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
Due: ruff-format, ruff

fix(tests): fix ruff-format, add docstrings and type hints for new fixtures
  tests/unit_tests/tasks/test_thumbnails.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
Due: ruff-format, ruff

fix(thumbnails): compute DashboardScreenshot digest inside override_user
  superset/tasks/thumbnails.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
