Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

feat(i18n): backfill Chinese (Traditional) (zh_TW) translations (AI-generated, needs review) (#42102)
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Romanian (ro) translations (AI-generated, needs review) (#42100)
  superset/translations/ro/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill missing translations across 24 catalogs (AI-generated, needs review) (#42099)
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
Due: none

chore(a11y): enable jsx-a11y/no-static-element-interactions as error (#42096)
  superset-frontend/oxlint.json
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/ModalTrigger.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/SqlEditorTabHeader.test.tsx
  superset-frontend/src/SqlLab/components/TableExploreTree/TreeNodeRenderer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(mcp): document all 7 generate_chart chart_type values
  superset/mcp_service/chart/tool/generate_chart.py
Due: ruff-format, ruff, pylint

docs(mcp): fix stale include_schemas default comment
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

docs(mcp): clarify mixed timeseries chart type
  superset/mcp_service/chart/tool/generate_chart.py
Due: ruff-format, ruff, pylint

fix: update user type to UserWithPermissionsAndRoles across various components and tests
  superset-frontend/src/dashboard/components/IconButton.test.tsx
  superset-frontend/src/dashboard/components/IconButton.tsx
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/pages/ChartList/ChartList.permissions.test.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-data): preserve cache-only execution
  superset/common/query_context_processor.py
  superset/common/utils/query_cache_manager.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint

test(chart-data): cover drill-detail filter acquisition
  tests/unit_tests/common/test_query_actions.py
Due: ruff-format, ruff

refactor(chart-data): declare execution-path types
  superset/commands/chart/data/streaming_export_command.py
  superset/common/chart_data_timing.py
  superset/common/query_actions.py
  superset/common/utils/query_cache_manager.py
  superset/connectors/sqla/models.py
Due: ruff-format, ruff, pylint

Revert "chore(tests): annotate remaining time-offset test fixture param"
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff

fix: add explicit type hints to elapsed_seconds/dttm locals
  superset/commands/report/execute.py
  superset/utils/cache.py
Due: ruff-format, ruff, pylint

fix(plugin-chart-ag-grid-table): render Show summary totals row on ag-grid 36
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/styles/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: add JSDoc and modified description
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix name test
  superset-frontend/plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): address bot review feedback on dashboard owner/role/cert tools
  superset/mcp_service/dashboard/schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
Due: ruff-format, ruff, pylint

Potential fix for pull request finding
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

feat(mcp): add dashboard owner, role, and certification management tools
  superset/mcp_service/app.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/__init__.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

refactor(mcp): drop redundant permissions clearing in manage_dashboard_roles
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

fix(mcp): update stale DASHBOARD_RBAC reference in tool listing text
  superset/mcp_service/app.py
Due: ruff-format, ruff, pylint

fix(mcp): address human review round on dashboard governance tools
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/governance_utils.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  superset/subjects/utils.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
  tests/unit_tests/subjects/test_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): port dashboard owner/role tools to Subject-based editors/viewers
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

fix(mcp): address latest bito/codeant review round on dashboard owner/role/cert tools
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  tests/unit_tests/mcp_service/dashboard/tool/conftest.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

fix(mcp): address remaining review feedback on dashboard owner/role/cert tools
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

style(mcp): use ruff-pinned pytest.mark.asyncio style (no parens)
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
Due: ruff-format, ruff

fix(mcp): catch DashboardAccessDeniedError in dashboard owner/role/cert tools
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

fix(mcp): close remaining bot-review gaps on dashboard owner/role/cert tools
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
Due: ruff-format, ruff, pylint

fix(mcp): waterfall show_legend default to False to match the frontend
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

fix test
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/controlPanel.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sql): cover metric normalization branches
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/sql/metric_normalization_tests.py
Due: ruff-format, ruff

fix(semantic-layers): guard unsupported raw-row actions
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/Chart/useDrillDetailMenuItems/index.tsx
  superset-frontend/src/components/Chart/useDrillDetailMenuItems/useDrillDetailMenuItems.test.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/SamplesPane.test.tsx
  superset-frontend/src/explore/types.ts
  superset/common/query_actions.py
  superset/connectors/sqla/models.py
  superset/semantic_layers/models.py
  superset/superset_typing.py
  superset/views/datasource/views.py
  tests/integration_tests/charts/data/api_tests.py
  tests/integration_tests/datasource_tests.py
  tests/unit_tests/common/test_query_actions_drill_detail.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/semantic_layers/models_test.py
  tests/unit_tests/views/datasource/views_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(sql): cover postgres normalization fallback
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/sql/metric_normalization_tests.py
Due: ruff-format, ruff

fix(reports): positive per-tile chart readiness check for tiled screenshots
  superset/utils/screenshot_utils.py
  tests/unit_tests/utils/test_screenshot_utils.py
Due: ruff-format, ruff, pylint

fix(frontend): fix edit/delete permissions for charts, dashboards, and datasets (#18870) (#32981) (#32995)
  superset-frontend/spec/helpers/mockBootstrapData.ts
  superset-frontend/src/dashboard/components/IconButton.test.tsx
  superset-frontend/src/dashboard/components/IconButton.tsx
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/features/home/ChartTable.test.tsx
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/features/home/DashboardTable.test.tsx
  superset-frontend/src/features/home/DashboardTable.tsx
  superset-frontend/src/pages/ChartList/ChartList.cardview.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.listview.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.permissions.test.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.behavior.test.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.test.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(alerts): show typed text in email recipients selector (#42091)
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/alerts/components/NotificationMethodEmailRecipients.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): register /health HTTP endpoint (#41755)
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_mcp_server.py
Due: ruff-format, ruff, pylint

fix(reports): warn (not error) on chart readiness timeout, add execution id and diagnostics
  superset/commands/report/execute.py
  superset/utils/screenshot_utils.py
  superset/utils/screenshots.py
  superset/utils/webdriver.py
  tests/unit_tests/utils/test_screenshot_utils.py
  tests/unit_tests/utils/webdriver_test.py
Due: ruff-format, ruff, pylint

chore(lint): display import/no-duplicates lint rule violation as error (#42042)
  superset-frontend/oxlint.json
  superset-frontend/packages/superset-ui-core/src/chart/components/Matrixify/MatrixifyGridRenderer.test.tsx
  superset-frontend/packages/superset-ui-core/src/chart/stories/ChartDataProvider.stories.tsx
  superset-frontend/packages/superset-ui-core/src/components/Button/Button.test.tsx
  superset-frontend/packages/superset-ui-core/test/query/types/PostProcessing.test.ts
  superset-frontend/playwright/generators/docs/docs-screenshots.spec.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controls/ColorSchemeControl.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controls/RotationControl.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Arc/stories/Arc.stories.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Geojson/transformProps.ts
  superset-frontend/src/SqlLab/actions/sqlLab.test.ts
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/ParameterErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/TimeoutErrorMessage.tsx
  superset-frontend/src/components/PanelToolbar/index.tsx
  superset-frontend/src/dashboard/components/Dashboard.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/useExploreMetadataBar.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/views/menu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(screenshots): validate cached screenshot image bytes on read and write
  superset/utils/screenshots.py
  tests/unit_tests/utils/screenshot_test.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
Due: ruff-format, ruff, pylint
