Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

test(extensions): cover host colors.ts registry wiring
  superset-frontend/src/core/theme/colors.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(metadb): also flag multi-table statements executed via a raw DBAPI cursor
  superset/extensions/metadb.py
  tests/unit_tests/extensions/test_sqlalchemy.py
Due: ruff-format, ruff, pylint

fix(coordination): close pub/sub connection even if unsubscribe fails
  superset/coordination/base.py
  superset/coordination/utils.py
Due: ruff-format, ruff, pylint

test(coordination): update wait_for_signal tests for pre-subscribe check
  tests/unit_tests/coordination/test_service.py
  tests/unit_tests/tasks/test_manager.py
Due: ruff-format, ruff

docs(gaq): correct cancel-registry comment to match actual behavior
  superset/async_events/async_query_manager.py
Due: ruff-format, ruff, pylint

fix(security): honor extra_editors in dashboard/chart list responses
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/dashboard/util/permissionUtils.ts
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/types/Chart.ts
  superset-frontend/src/views/CRUD/types.ts
  superset/charts/api.py
  superset/dashboards/api.py
  superset/security/manager.py
  tests/integration_tests/dashboards/api_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(gaq): gate is_job_cancelled on its own backend; clarify service docstring
  superset/async_events/async_query_manager.py
  superset/coordination/base.py
Due: ruff-format, ruff, pylint

test(mcp): cover lookup_dashboard_reference resolution paths
  tests/unit_tests/mcp_service/dashboard/test_permalink.py
Due: ruff-format, ruff

fix(import): update v0-export tests to expect rejection via HTTP import
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/datasets/api_tests.py
Due: ruff-format, ruff

fix(explore): escape existing backslashes before pipe-escaping in CSV formula guard
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/useExploreAdditionalActionsMenu.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): omit unsupported pivot time comparison
  docs/docs/using-superset/using-ai-with-superset.mdx
  superset/mcp_service/chart/plugins/interactive_pivot.py
  superset/mcp_service/chart/resources/chart_configs.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  superset/mcp_service/chart/validation/schema_validator.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/test_interactive_pivot_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_type_schema.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve fallback validation diagnostics
  superset/mcp_service/chart/tool/get_chart_sql.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
Due: ruff-format, ruff, pylint

fix(tests): correct report_schedule authorship and stale fixtures broken by tighter EDITOR resolution
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/reports/alert_tests.py
  tests/integration_tests/reports/utils.py
Due: ruff-format, ruff

docs(mcp): trim explanatory comments to plain rationale
  superset/mcp_service/caching.py
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(tags): call self.logout() between user switches in delete-tags test
  superset/commands/tag/delete.py
  tests/integration_tests/tags/commands_tests.py
Due: ruff-format, ruff, pylint

docs(charts): trim explanatory comments to plain rationale
  superset-frontend/packages/superset-ui-chart-controls/src/components/MetricOption.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/components/MetricOption.test.tsx
  superset-frontend/plugins/plugin-chart-calendar/src/utils.ts
  superset-frontend/plugins/plugin-chart-calendar/src/vendor/cal-heatmap.ts
  superset-frontend/plugins/plugin-chart-calendar/test/cal-heatmap.test.ts
  superset-frontend/plugins/plugin-chart-calendar/test/utils.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eChartOptionsSchema.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/safeEChartOptionsParser.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Radar/utils.test.ts
  superset-frontend/src/visualizations/TimeTable/components/LeftCell/LeftCell.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(sqllab): trim explanatory comments to plain rationale
  superset-frontend/src/SqlLab/actions/sqlLab.ts
  superset-frontend/src/pages/SqlLab/LocationContext.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: last date label hidden on time series x-axis (#39899) (#42299)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(tags): trim a test docstring
  tests/unit_tests/tags/commands/update_test.py
Due: ruff-format, ruff

fix(semantic_layers,themes): add coverage for raise_for_access, fix stale permissions test, allow admin theme import overwrite
  superset/commands/theme/import_themes.py
  superset/semantic_layers/api.py
  tests/integration_tests/themes/test_theme_api_permissions.py
  tests/unit_tests/commands/theme/test_import_themes.py
  tests/unit_tests/semantic_layers/models_test.py
Due: ruff-format, ruff, pylint

fix(sqllab): cover cache-key impersonation branch, escape dict keys in SQLSafeDict
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

fix(charts): sanitize echarts tooltip formatters and escape radar tooltip color, add wms attribution test
  superset-frontend/plugins/plugin-chart-cartodiagram/test/util/layerUtil.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eChartOptionsSchema.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/safeEChartOptionsParser.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Radar/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): install caching middleware on network entrypoint, recurse sanitization into nested lists, handle DB errors during restore editorship checks, fail closed on missing JWT keys
  superset/mcp_service/__main__.py
  superset/mcp_service/chart/tool/restore_chart.py
  superset/mcp_service/dashboard/tool/restore_dashboard.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/middleware.py
  tests/unit_tests/mcp_service/chart/tool/test_restore_chart.py
  tests/unit_tests/mcp_service/dashboard/tool/test_restore_dashboard.py
  tests/unit_tests/mcp_service/test_main_entrypoint.py
  tests/unit_tests/mcp_service/test_mcp_config.py
  tests/unit_tests/mcp_service/test_middleware.py
Due: ruff-format, ruff, pylint

fix(embedded-sdk): grant fullscreen and clipboard-write by default (#39943) (#43387)
  superset-embedded-sdk/src/index.ts
Due: none

fix(import): narrow broad-except catches and close SSH tunnel passphrase gap
  superset/commands/database/importers/v1/utils.py
  superset/commands/dataset/importers/v1/utils.py
  superset/commands/importers/v1/utils.py
  tests/unit_tests/commands/importers/v1/utils_test.py
  tests/unit_tests/databases/commands/importers/v1/import_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Due: ruff-format, ruff, pylint

fix(export): quote formula-triggering axis names, reject bool bins, and widen resample projection margin
  superset/utils/excel.py
  superset/utils/pandas_postprocessing/histogram.py
  superset/utils/pandas_postprocessing/resample.py
  tests/unit_tests/pandas_postprocessing/test_histogram.py
  tests/unit_tests/pandas_postprocessing/test_prophet.py
  tests/unit_tests/pandas_postprocessing/test_resample.py
  tests/unit_tests/utils/excel_tests.py
Due: ruff-format, ruff, pylint

test(async-events): init_app before login in run_test_with_cache_backend
  tests/integration_tests/async_events/api_tests.py
Due: ruff-format, ruff

fix(reports): recompute unscoped cache entries, sanitize logged webhook responses, scope creation-method uniqueness by method
  superset/charts/api.py
  superset/commands/report/create.py
  superset/daos/report.py
  superset/dashboards/api.py
  superset/reports/notifications/webhook.py
  superset/utils/screenshots.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/daos/test_report_dao.py
  tests/unit_tests/utils/screenshot_test.py
Due: ruff-format, ruff, pylint

docs: note running lint before pushing in CONTRIBUTING (sc-118033)
  CONTRIBUTING.md
Due: none

fix(explore): align viz type gallery thumbnails and Featured tag (#43373)
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: document 403 responses on semantic-view endpoints; close unterminated-script XSS gap in SVG sanitizer
  superset/semantic_layers/api.py
  superset/utils/core.py
  tests/unit_tests/utils/test_core.py
Due: ruff-format, ruff, pylint

feat: Add support for filters (#43400)
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/playwright/pages/DashboardV2Page.ts
  superset-frontend/playwright/tests/experimental/README.md
  superset-frontend/playwright/tests/experimental/dashboard-v2/filters.spec.ts
  superset-frontend/src/core/dashboard/DashboardProvider.ts
  superset-frontend/src/core/dashboard/RootGrid.test.tsx
  superset-frontend/src/core/dashboard/RootGrid.tsx
  superset-frontend/src/core/dashboard/WidgetView.test.tsx
  superset-frontend/src/core/dashboard/WidgetView.tsx
  superset-frontend/src/core/dashboard/collectActiveFilters.test.ts
  superset-frontend/src/core/dashboard/collectActiveFilters.ts
  superset-frontend/src/core/dashboard/filterVocabulary.ts
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/core/dashboard/registerBuiltInWidgets.ts
  superset-frontend/src/core/dashboard/widgetHeaderControl.tsx
  superset-frontend/src/core/dashboard/widgets/AgGridTableWidget.tsx
  superset-frontend/src/core/dashboard/widgets/ChartWidget.test.tsx
  superset-frontend/src/core/dashboard/widgets/ChartWidget.tsx
  superset-frontend/src/core/dashboard/widgets/FilterBarWidget.test.tsx
  superset-frontend/src/core/dashboard/widgets/FilterBarWidget.tsx
  superset-frontend/src/core/dashboard/widgets/FilterSelectAppliesToChart.test.tsx
  superset-frontend/src/core/dashboard/widgets/FilterSelectWidget.test.tsx
  superset-frontend/src/core/dashboard/widgets/FilterSelectWidget.tsx
  superset-frontend/src/core/dashboard/widgets/MetricTileWidget.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.test.ts
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/pages/DashboardBuilderV2/Inspector.tsx
  superset-frontend/src/pages/DashboardBuilderV2/SchemaControlPanel.test.tsx
  superset-frontend/src/pages/DashboardBuilderV2/SchemaControlPanel.tsx
  superset/widgets/builtin.py
  superset/widgets/controls.py
  tests/unit_tests/widgets/test_builtin.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(metadb): weight CTE reads by reference count in the multi-table check
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(security): scope the query-authorship bypass to the explore/create-chart transition
  superset/explore/utils.py
  superset/security/manager.py
  tests/integration_tests/explore/form_data/commands_tests.py
  tests/unit_tests/explore/utils_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): mention the automatic download in the logged-in export toast
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): surface blocking alerts/reports when archiving a chart
  docs/docs/using-superset/recently-archived.mdx
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/views/CRUD/utils.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
  superset/commands/chart/delete.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/charts/soft_delete_tests.py
  tests/unit_tests/commands/chart/delete_message_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(extensions): add client-side MCP tools API for chat
  superset-core/src/superset_core/extensions/types.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/src/superset_extensions_cli/templates/frontend/webpack.config.js.j2
  superset-frontend/packages/superset-core/src/chat/index.ts
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/src/core/chat/ChatProvider.test.ts
  superset-frontend/src/core/chat/ChatProvider.ts
  superset-frontend/src/core/chat/index.ts
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/core/mcpTools/alert/index.ts
  superset-frontend/src/core/mcpTools/chart/index.ts
  superset-frontend/src/core/mcpTools/cssTemplate/index.ts
  superset-frontend/src/core/mcpTools/dashboard/getActiveDashboardId.ts
  superset-frontend/src/core/mcpTools/dashboard/index.ts
  superset-frontend/src/core/mcpTools/dataset/index.ts
  superset-frontend/src/core/mcpTools/index.ts
  superset-frontend/src/core/mcpTools/report/index.ts
  superset-frontend/src/core/mcpTools/savedQuery/index.ts
  superset-frontend/src/core/mcpTools/sqlLab/index.ts
  superset-frontend/src/extensions/ExtensionsLoader.ts
  superset-frontend/src/extensions/ExtensionsStartup.tsx
  superset/extensions/utils.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(explore): exclude permalink_key from chart URL params (#43354)
  superset-frontend/src/constants.test.ts
  superset-frontend/src/constants.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

add warning for registerTool
  superset-frontend/src/core/chat/ChatProvider.test.ts
  superset-frontend/src/core/chat/ChatProvider.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
