Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

refactor(security): extract _validate_orderby_list to reduce complexity
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(playwright): use visibility check for chart loading and fix menu click
  superset-frontend/playwright/components/core/Menu.ts
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/experimental/dashboard/export.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Rename Tag from 'Matrixify' to 'Matrixified'
  superset-frontend/src/pages/ChartList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Rename tag from 'Matrixify' to 'Matrixified'
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(matrixify): update test assertions to use 'Matrixified' tag
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): remove double app-root prefix on Export as Example endpoint
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(timeseries): remove stream style for bar charts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(playwright): increase Dashboard Export test timeout to 60s
  superset-frontend/playwright/tests/experimental/dashboard/export.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(matrixify): Rename Tag from 'Matrixify' to 'Matrixified' (#37402)
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
  superset-frontend/src/pages/ChartList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): catch DatasourceNotFound in get_datasets to prevent 404 (#37503)
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

docs(community): redesign community page with card grid layout
  docs/src/pages/community.tsx
  docs/static/img/community/bluesky-symbol.svg
  docs/static/img/community/globe-symbol.svg
  docs/static/img/community/linkedin-symbol.svg
  docs/static/img/community/x-symbol.svg
Due: eslint-docs

feat(embedded): add feature flag to disable logout button in embedded contexts
  docs/docs/configuration/networking-settings.mdx
  docs/static/feature-flags.json
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset/config.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(security): update jspdf to 4.0.0 to address CVE-2025-68428
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

chore: clean up deprecated nowutc
  docs/docs/configuration/sql-templating.mdx
  docs/versioned_docs/version-6.0.0/configuration/sql-templating.mdx
  superset/commands/report/execute.py
  superset/commands/report/log_prune.py
  superset/daos/log.py
  superset/utils/cache.py
  superset/utils/dates.py
  tests/integration_tests/queries/api_tests.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/superset_test_custom_template_processors.py
  tests/unit_tests/dao/queries_test.py
Due: ruff-format, ruff, pylint

test(dashboard): add unit tests for Export as Example endpoint and error handling
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): show 'Update auto-refresh' when already configured
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docs): add alt text to community page icons for accessibility
  docs/src/pages/community.tsx
Due: eslint-docs

fix(embedded): wrap logout URL with ensureAppRoot for subdirectory deployments
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(controlPanel): prettier format
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docs): add consistent dev-mode logging for Matomo page views (#37526)
  docs/src/theme/Root.js
Due: eslint-docs

docs(community): redesign community page with card grid layout (#37536)
  docs/src/pages/community.tsx
  docs/static/img/community/bluesky-symbol.svg
  docs/static/img/community/globe-symbol.svg
  docs/static/img/community/linkedin-symbol.svg
  docs/static/img/community/x-symbol.svg
Due: eslint-docs

refactor(playwright): isolate docs screenshot generator from test sweeps
  superset-frontend/package.json
  superset-frontend/playwright/generators/docs/docs-screenshots.spec.ts
  superset-frontend/playwright/generators/playwright.config.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docs): migrate deprecated antd v6 APIs to items prop pattern
  docs/src/components/databases/DatabasePage.tsx
  docs/src/pages/community.tsx
Due: eslint-docs

fix(docs): reduce excessive spacing between hero screenshot and Overview
  docs/src/pages/index.tsx
Due: eslint-docs

fix(reports): only show success toast when delete succeeds
  superset-frontend/src/features/reports/ReportModal/actions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: remove unused ChartDataResponse interface
  superset-frontend/src/components/Chart/chartAction.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(frontend): migrate non-dashboard JS/JSX files to TypeScript
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Chart/chartAction.ts
  superset-frontend/src/components/Chart/chartActions.test.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/utils/index.ts
  superset-frontend/src/explore/components/EmbedCodeContent.test.tsx
  superset-frontend/src/explore/components/EmbedCodeContent.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/explore/exploreUtils/exploreUtils.test.tsx
  superset-frontend/src/explore/exploreUtils/index.ts
  superset-frontend/src/explore/reducers/exploreReducer.js
  superset-frontend/src/explore/reducers/exploreReducer.test.ts
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset-frontend/src/features/reports/ReportModal/actions.js
  superset-frontend/src/features/reports/ReportModal/actions.ts
  superset-frontend/src/features/reports/ReportModal/reducer.js
  superset-frontend/src/features/reports/ReportModal/reducer.ts
  superset-frontend/src/middleware/logger.test.ts
  superset-frontend/src/middleware/loggerMiddleware.ts
  superset-frontend/src/utils/common.test.tsx
  superset-frontend/src/utils/common.ts
  superset-frontend/src/visualizations/presets/MainPreset.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): widen onCellChange id parameter to string | number
  superset-frontend/src/components/Datasource/components/CollectionTable/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart): use setDataMask prop as fallback when actions.updateDataMask is absent
  superset-frontend/src/components/Chart/ChartRenderer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: address code review feedback
  superset-frontend/src/components/Chart/chartAction.ts
  superset-frontend/src/features/reports/ReportModal/actions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): add chartRenderingSucceeded to Actions type
  superset-frontend/src/components/Chart/Chart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): align initialValues type and declare webpack globals
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): address code review feedback for TypeScript migrations
  superset-frontend/src/components/Chart/chartAction.ts
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset-frontend/src/features/reports/ReportModal/reducer.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): add type safety to DatasourceEditor and related components
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/components/Field/index.tsx
  superset-frontend/src/components/Datasource/components/Fieldset/index.tsx
  superset-frontend/src/components/Datasource/types.ts
  superset-frontend/src/components/Datasource/utils/index.ts
  superset-frontend/src/explore/exploreUtils/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): use ContextMenuFilters from core and fix FeatureFlagMap type
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: resolve TypeScript errors in migrated files
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset-frontend/src/features/reports/ReportModal/actions.ts
  superset-frontend/src/features/reports/ReportModal/reducer.ts
  superset-frontend/src/middleware/logger.test.ts
  superset-frontend/src/utils/common.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): address code review feedback
  superset-frontend/src/components/Datasource/components/CollectionTable/index.tsx
  superset-frontend/src/components/Datasource/components/Field/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart): remove unused POST_CHART_FORM_DATA constant
  superset-frontend/src/components/Chart/chartAction.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): resolve TypeScript errors in Chart and chartActions tests
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/chartActions.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): add type casting for mock return types in chartActions tests
  superset-frontend/src/components/Chart/chartActions.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
