Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix: address type comparison and API documentation issues
  superset/views/datasource/views.py
  superset/views/users/api.py
Due: ruff-format, ruff, pylint

fix(preview): fix chart preview bugs (#40063)
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: ruff-format, ruff, pylint

fix: include DATASET type in datasource samples access check
  superset/views/datasource/views.py
Due: ruff-format, ruff, pylint

style: auto-format frontend code with prettier
  superset-frontend/.eslintrc.js
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.test.ts
  superset-frontend/src/explore/components/controls/CollectionControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix conflicts
  superset/mcp_service/chart/tool/update_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: ruff-format, ruff, pylint

address review feedback: add chart access filtering in dataset related_objects
  superset/datasets/api.py
Due: ruff-format, ruff, pylint

address review feedback
  tests/unit_tests/commands/chart/update_test.py
Due: ruff-format, ruff

address review feedback
  superset/commands/tag/create.py
  superset/commands/tag/delete.py
  superset/commands/tag/utils.py
Due: ruff-format, ruff, pylint

address review feedback
  superset/sql/parse.py
Due: ruff-format, ruff, pylint

test(dashboard): guard Dynamic Group By against the #39356 groupby regression
  superset-frontend/src/dashboard/util/getFormDataWithExtraFilters.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): add missing Slovak translations (#40219)
  superset/translations/sk/LC_MESSAGES/messages.po
Due: none

fix(i18n): add Slovenian translation for 'Range type' in DateFilter (#40287)
  superset/translations/sl/LC_MESSAGES/messages.po
Due: none

docs: expand out-of-scope vulnerability definitions (#40332)
  .github/SECURITY.md
Due: none

fix(docker): add missing `service-worker.js` into built container image (#39596)
  Dockerfile
Due: none

chore(backend/build): upgrade Gunicorn from v22 to v25 (#38788)
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Due: none

fix(react18): make logging.test a module to avoid global-scope collision
  superset-frontend/packages/superset-core/src/utils/logging.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): use `name` URL param so AI-generated SQL Lab titles render (#40288)
  superset/mcp_service/sql_lab/schemas.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_open_sql_lab_with_context.py
Due: ruff-format, ruff, pylint

fix: resync lockfile on optional dep due to `npm` bug
  superset-websocket/package-lock.json
Due: none

feat(semantic layers): form for SL with a single SV (#40280)
  superset-frontend/src/features/semanticLayers/MultiEnumControl.test.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.test.ts
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(oxlint): enable import/newline-after-import + react/no-unstable-nested-components (#40319)
  superset-frontend/oxlint.json
  superset-frontend/packages/superset-ui-core/src/chart/components/SuperChart.tsx
  superset-frontend/src/dashboard/actions/dashboardLayout.ts
  superset-frontend/webpack.proxy-config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): execute prequeries on streaming connection to fix PostgreSQL CSV export (#40194)
  superset/commands/chart/data/streaming_export_command.py
  superset/commands/sql_lab/streaming_export_command.py
  superset/commands/streaming_export/base.py
  superset/models/core.py
  tests/unit_tests/commands/chart/streaming_export_command_test.py
  tests/unit_tests/commands/sql_lab/streaming_export_command_test.py
  tests/unit_tests/models/core_test.py
Due: ruff-format, ruff, pylint

fix(echarts): preserve dataZoom range across setOption(notMerge) (#40173)
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/components/Echart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): add default request parameter to list_charts and list_dashboards (#39730)
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
Due: ruff-format, ruff, pylint

fix(dataset): validate catalog against allow_multi_catalog on import
  UPDATING.md
  superset/commands/dataset/importers/v1/__init__.py
  superset/commands/dataset/importers/v1/utils.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Due: ruff-format, ruff, pylint

fix(chart): fix label and description translation on UI and enhance french translations (#40229)
  superset-frontend/src/chartCustomizations/components/DynamicGroupBy/controlPanel.test.ts
  superset-frontend/src/chartCustomizations/components/DynamicGroupBy/controlPanel.ts
  superset-frontend/src/chartCustomizations/components/TimeColumn/controlPanel.test.ts
  superset-frontend/src/chartCustomizations/components/TimeColumn/controlPanel.ts
  superset-frontend/src/chartCustomizations/components/TimeGrain/controlPanel.test.ts
  superset-frontend/src/chartCustomizations/components/TimeGrain/controlPanel.ts
  superset-frontend/src/explore/components/ControlPanelsContainer.test.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/filters/components/Range/controlPanel.test.ts
  superset-frontend/src/filters/components/Range/controlPanel.ts
  superset-frontend/src/filters/components/Select/controlPanel.ts
  superset-frontend/src/filters/components/Time/controlPanel.ts
  superset-frontend/src/filters/components/TimeColumn/controlPanel.ts
  superset-frontend/src/filters/components/TimeGrain/controlPanel.ts
  superset/translations/fr/LC_MESSAGES/messages.po
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(sec): delays version-bumping PR to avoid prematurely usage of compromised packages (#39783)
  .github/dependabot.yml
Due: none

fix(select): replace cached options with search results in AsyncSelect (#40039)
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ci): stop cancelling Hold Label Check runs
  .github/workflows/no-hold-label.yml
Due: none

fix(playwright): give dataset bulk-delete the SLOW_TEST budget like its siblings
  superset-frontend/playwright/tests/dataset/dataset-list.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): improve not-found errors to suggest corresponding list_* tools (#39919)
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dataset/tool/query_dataset.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_open_sql_lab_with_context.py
Due: ruff-format, ruff, pylint

fix(mcp): JSON-serialize order_by_cols and support sort direction (#39952)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): expose table chart type labels in chart responses (#40060)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff, pylint

fix(table): fall back to datasource columns for conditional formatting when query results are empty (#39345)
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/test/controlPanel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): clarify request wrapper in list_datasets, list_charts, list_dashboards (#39920)
  pyproject.toml
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/list_datasets.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: ruff-format, ruff, pylint

address review nits from @aminghadersohi on #38588
  superset/db_engine_specs/bigquery.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(glyph): fix TS errors in glyph test files
  superset-frontend/packages/superset-ui-glyph-core/test/defineChart.test.tsx
  superset-frontend/packages/superset-ui-glyph-core/test/generators.test.ts
  superset-frontend/src/explore/components/GlyphOptionsPanel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(cypress): remove skipped tests
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.controls.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.key_value.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.load.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.nativeFilters.noInitState.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.tabs.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.url_params.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.AdhocMetrics.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.annotations.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.link.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.big_number.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.big_number_total.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.box_plot.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.bubble.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.compare.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.download_chart.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.gauge.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.graph.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.pie.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.pivot_table.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.sunburst.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.table.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.time_table.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.world_map.test.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

chore(ci): limit app_root matrix to master-only for Cypress and Playwright
  .github/workflows/superset-e2e.yml
Due: none

fix(i18n): translate DateFilter tooltip for time range values (#40286)
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(subdirectory): lift get_redirect_url helper + harden against AF-2/AF-3 (Slice 4)
  superset/views/core.py
  superset/views/explore.py
  superset/views/utils.py
  tests/integration_tests/views/test_explore_redirect.py
Due: ruff-format, ruff, pylint
