Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(databases): clarify blocked delete state
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/types.ts
  superset-frontend/src/pages/DatabaseList/DatabaseList.datasetDependents.test.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

perf(databases): bound related dataset preview
  superset/daos/database.py
  superset/databases/api.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/databases/dao/related_objects_test.py
Due: ruff-format, ruff, pylint

perf(databases): avoid loading dataset dependencies
  superset/daos/database.py
Due: ruff-format, ruff, pylint

fix(datasource): check the target table when a dataset stops being virtual
  superset/connectors/sqla/models.py
  superset/views/datasource/views.py
  tests/unit_tests/views/datasource/views_test.py
Due: ruff-format, ruff, pylint

accept an annotated assignment in the validator guard test
  superset/db_engine_specs/README.md
  tests/unit_tests/db_engine_specs/test_lib.py
Due: ruff-format, ruff

fix(dashboard-v2): keep the widgets example app out of the root tsc program
  superset-frontend/tsconfig.json
Due: prettier-frontend

fix(dashboard): restore tab selection after deleting the last tab
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): enable alert retries with execution safeguards (#44336)
  UPDATING.md
  docs/admin_docs/configuration/alerts-reports.mdx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/commands/report/execute.py
  superset/commands/report/execution_claim.py
  superset/commands/report/update.py
  superset/migrations/versions/2026-09-16_00-00_93d1b4a76c02_add_report_execution_ownership.py
  superset/reports/models.py
  superset/reports/notifications/base.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack_mixin.py
  superset/reports/notifications/webhook.py
  superset/reports/schemas.py
  superset/tasks/scheduler.py
  superset/utils/report_execution.py
  tests/integration_tests/reports/commands_tests.py
  tests/integration_tests/reports/execution_claim_tests.py
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/commands/report/execution_claim_test.py
  tests/unit_tests/commands/report/execution_ownership_migration_test.py
  tests/unit_tests/commands/report/update_test.py
  tests/unit_tests/reports/notifications/email_tests.py
  tests/unit_tests/reports/notifications/slack_tests.py
  tests/unit_tests/reports/notifications/webhook_tests.py
  tests/unit_tests/reports/schemas_test.py
  tests/unit_tests/tasks/test_scheduler_soft_timeout.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(api): populate dashboard_id and slice_id in audit logs for mutation endpoints
  superset/charts/api.py
  superset/dashboards/api.py
  tests/integration_tests/event_logger_tests.py
Due: ruff-format, ruff, pylint

initial work
  superset/common/query_context_processor.py
  superset/common/utils/query_cache_manager.py
  superset/jinja_context.py
  superset/models/core.py
  superset/models/helpers.py
  superset/utils/database.py
  superset/utils/rls.py
Due: ruff-format, ruff, pylint

Improve README clarity and consistency
  README.md
Due: none

fix(native-filters): guard optional dashboard time grain allowlist
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(readme): make the Developer Guide sentence read naturally
  README.md
Due: none

test: add audit log assertions for mutation endpoints
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/event_logger_tests.py
Due: ruff-format, ruff

fix(plugin-chart-table): don't emit filtered rows while column count is zero
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/DataTable.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): remove __enter__ mock from get_raw_connection (uses closing())
  tests/unit_tests/commands/chart/streaming_export_command_test.py
Due: ruff-format, ruff

fix(export): apply SQL mutation and user impersonation in streaming CSV export
  superset/commands/streaming_export/base.py
  tests/unit_tests/commands/chart/streaming_export_command_test.py
Due: ruff-format, ruff, pylint

fix(export): enter get_raw_connection() as a context manager, not closing()
  superset/commands/streaming_export/base.py
  tests/unit_tests/commands/chart/streaming_export_command_test.py
Due: ruff-format, ruff, pylint

feat(mcp): search dataset descriptions and add an optional per-role dataset scope (#44146)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/core/mcp/core_mcp_injection.py
  superset/mcp_service/app.py
  superset/mcp_service/auth.py
  superset/mcp_service/common/schema_discovery.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/dataset_scope.py
  superset/mcp_service/flask_singleton.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff, pylint

test(dashboard): assert re-queried total from the rendered big number
  superset-frontend/playwright/tests/dashboard/native-filters.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): never block a committed update_chart write as ToolError (#44386)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/middleware.py
  superset/mcp_service/utils/token_utils.py
  tests/unit_tests/mcp_service/test_mcp_tool_registration.py
  tests/unit_tests/mcp_service/test_middleware.py
  tests/unit_tests/mcp_service/utils/test_token_utils.py
Due: ruff-format, ruff, pylint

fix(chart): clamp modal resize repositioning to viewport bounds
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.resize.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mongodb): select the schema via the database connect arg to keep authSource
  superset/db_engine_specs/mongodb.py
  tests/unit_tests/db_engine_specs/test_mongodb.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

refactor(playwright): reuse getValueLocator in getFilterSelect
  superset-frontend/playwright/components/dashboard/DashboardFilterBar.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(soft-delete): hoist triplicated restore/purge route bodies onto SoftDeleteApiMixin (#44259)
  superset/charts/api.py
  superset/dashboards/api.py
  superset/datasets/api.py
  superset/views/filters.py
  tests/unit_tests/soft_delete/__init__.py
  tests/unit_tests/soft_delete/test_restore_purge_hoist.py
Due: ruff-format, ruff, pylint

fix(charts): guard set_related_perm against unknown datasource_type (#43885)
  superset/commands/chart/update.py
  superset/models/slice.py
  tests/unit_tests/commands/chart/update_test.py
  tests/unit_tests/models/slice_test.py
Due: ruff-format, ruff, pylint

fix(semantic-layer): wrap raw pandas TypeError/DataError from post-processing as QueryObjectValidationError
  superset/semantic_layers/models.py
  tests/unit_tests/semantic_layers/models_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): reattach detached charts instead of dropping them
  superset-frontend/src/dashboard/actions/hydrate.test.ts
  superset-frontend/src/dashboard/actions/hydrate.ts
  superset-frontend/src/dashboard/reducers/dashboardLayout.test.ts
  superset-frontend/src/dashboard/reducers/dashboardLayout.ts
  superset-frontend/src/dashboard/util/removeUnreachableComponents.test.ts
  superset-frontend/src/dashboard/util/removeUnreachableComponents.ts
  superset/daos/dashboard.py
  superset/dashboards/layout.py
  tests/unit_tests/dao/dashboard_test.py
  tests/unit_tests/dashboards/layout_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(extensions): global toast surface + Settings-menu extension point
  superset-frontend/packages/superset-core/src/extensions/index.ts
  superset-frontend/src/core/contributions.ts
  superset-frontend/src/extensions/ExtensionContext.test.ts
  superset-frontend/src/extensions/ExtensionContext.ts
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/ExtensionView/index.tsx
  superset-frontend/src/views/routePaths.ts
  superset-frontend/src/views/routes.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): serve and reactively resolve /extensions/view/:viewId
  superset-frontend/src/core/views/index.ts
  superset-frontend/src/pages/ExtensionView/index.tsx
  superset/views/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore(lineage): regenerate openapi.json for the lineage endpoints
  docs/static/resources/openapi.json
Due: none

fix(frontend): add full jitter to lazy-import retry backoff
  superset-frontend/src/utils/lazyWithRetry.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(helm): cover env propagation into the websockets init containers
  helm/superset/tests/init_containers_test.yaml
Due: none

fix(helm): propagate chart-wide env sources into init containers
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-mcp.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/init-job.yaml
  helm/superset/tests/init_containers_test.yaml
Due: none

fix(sql): match disallowed functions by AST
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff

perf(sql): avoid repeated function AST walks
  superset/sql/execution/executor.py
  superset/sql/parse.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

feat(dataset): add SqlFilter model and sql_filters table
  superset/commands/deletion_retention/purge_policy.py
  superset/connectors/sqla/models.py
  superset/migrations/versions/2026-08-16_17-20_c9e4a7b1d2f3_add_sql_filters.py
  tests/unit_tests/migrations/test_add_sql_filters.py
  tests/unit_tests/models/test_sql_filter.py
Due: ruff-format, ruff, pylint

fix(mcp): follow fastmcp 4.x import paths and mcp 2.x task schema
  pyproject.toml
  superset/mcp_service/middleware.py
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/system/resources/test_schema_discovery.py
  tests/unit_tests/mcp_service/test_middleware.py
  tests/unit_tests/mcp_service/test_middleware_logging.py
Due: ruff-format, ruff, pylint

Initial ADR for Bulk Data Explorer feature
  docs/adr/0001-dashboard-bulk-data-exporter.md
Due: none

ADR change status
  docs/adr/0001-dashboard-bulk-data-exporter.md
Due: none
