Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/

refactor(DatasourceEditor): replace shared props with createProps() factory
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DatasourceEditor): replace selectOption with direct userEvent for CI stability
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.utils.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

test(DatasourceEditor): add explicit abort tests for fetchUsageData and DatasetUsageTab
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/DatasetUsageTab/DatasetUsageTab.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DatasourceEditor): guard setState in abort cleanup paths to prevent unmounted warnings
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/DatasetUsageTab/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.utils.tsx
  superset-frontend/src/components/Datasource/utils/index.js
  superset-frontend/src/database/actions.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix(DatasourceEditor): use asyncRender and role-based selectors for CI stability
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DatasourceEditor): use createProps factory to avoid test pollution
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

docs(DatasourceEditor): add JSDoc and AbortController cleanup polish
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/utils/index.js
Due: prettier, eslint-frontend, type-checking-frontend

chore: add 30s timeout to test
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

perf(DatasourceEditor): dismiss warning modal and trim test data
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DatasourceEditor): use proper async patterns to fix CI timeouts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DatasourceEditor): replace fireEvent with userEvent to fix CI timeouts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DatasourceEditor): replace selectOption with direct userEvent for CI stability
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Remove title and badges from README index
  README.md
Due: none

add d1 packages as optional dependencies in superset
  pyproject.toml
Due: none

docs: add alternate d1 installation command
  docs/docs/configuration/databases.mdx
Due: none

feat: semantic layer implementation (Snowflake)
  superset/daos/semantic_layer.py
  superset/explorables/base.py
  superset/migrations/versions/2025-11-04_11-26_33d7e0e21daa_add_semantic_layers_and_views.py
  superset/semantic_layers/__init__.py
  superset/semantic_layers/mapper.py
  superset/semantic_layers/models.py
  superset/semantic_layers/snowflake/__init__.py
  superset/semantic_layers/snowflake/schemas.py
  superset/semantic_layers/snowflake/semantic_layer.py
  superset/semantic_layers/snowflake/semantic_view.py
  superset/semantic_layers/snowflake/utils.py
  superset/semantic_layers/types.py
  superset/superset_typing.py
Due: none

fix: update url to be superset.apache.org extract functionallity from glossaryUtils into tooltipUtils
  superset-frontend/packages/superset-ui-core/src/components/Tooltip/index.tsx
  superset-frontend/packages/superset-ui-core/src/glossary/glossaryUtils.ts
  superset-frontend/packages/superset-ui-core/src/glossary/index.ts
  superset-frontend/packages/superset-ui-core/src/glossary/tooltipUtils.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: added "Out of Tab" option for parents that have GRID_ID
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/types.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: update glossary.mdx to use encoded key when searching the DOM fix: remove stale entries in the DOM if they become null
  docs/docs/glossary.mdx
Due: none

chore: fix sidebar to have single quotes instead
  docs/sidebars.js
Due: eslint-docs

chore: add safeguard if extended is null to glossaryUtils
  superset-frontend/packages/superset-ui-core/src/glossary/glossaryUtils.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: trimmed leading/trailling whitespaces for encoded glossary string
  superset-frontend/packages/superset-ui-core/src/glossary/tooltipUtils.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat(mcp): add schema discovery and apply default column filtering
  superset/mcp_service/app.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_available_filters.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/common/schema_discovery.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/get_dashboard_available_filters.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/get_dataset_available_filters.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/mcp_core.py
  superset/mcp_service/system/resources/__init__.py
  superset/mcp_service/system/resources/schema_discovery.py
  superset/mcp_service/system/tool/__init__.py
  superset/mcp_service/system/tool/get_schema.py
Due: none

fix(mcp): change schema default_factory to empty list for column filtering
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dataset/schemas.py
Due: none

chore(ts): Migrate Row.jsx to Row.tsx (#36347)
  superset-frontend/src/dashboard/components/gridComponents/Row/Row.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row/Row.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row/index.ts
  superset-frontend/src/dashboard/components/gridComponents/new/NewRow.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewRow.tsx
  superset-frontend/src/dashboard/containers/DashboardComponent.jsx
Due: prettier, eslint-frontend, type-checking-frontend

test(mcp): add tests for schema discovery and default column filtering
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
Due: none

Fix format
  tests/unit_tests/commands/databases/validate_sql_test.py
Due: none

Fix button text capitalization
  superset-frontend/src/components/ListView/ListView.tsx
Due: prettier, eslint-frontend, type-checking-frontend

pre-commit attempt 2
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
  superset-frontend/plugins/legacy-plugin-chart-calendar/test/cal-heatmap.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

implemented saving legend index (category page) in local storage
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Due: prettier, eslint-frontend, type-checking-frontend

clean up chart legend state and index values from LocalStorage on page change
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Due: prettier, eslint-frontend, type-checking-frontend

Tests for savings/cleaning legend data in localstorage
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/components/Chart/ChartRenderer.test.jsx
Due: prettier, eslint-frontend, type-checking-frontend

implemented saving legend state (category selection) in local storage
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Due: prettier, eslint-frontend, type-checking-frontend

Fix eslint issues
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Due: prettier, eslint-frontend, type-checking-frontend

Tests for savings/cleaning legend data in localstorage
  superset-frontend/package-lock.json
Due: none

fix deletion mistake from last commit
  superset-frontend/package-lock.json
Due: none

Updated Error Handling and Removing Double JSON.parse() in Testing
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/components/Chart/ChartRenderer.test.jsx
Due: prettier, eslint-frontend, type-checking-frontend

Increased setInterval from 100ms to 1000ms to reduce performance impact
  superset-frontend/src/components/Chart/ChartRenderer.jsx
Due: prettier, eslint-frontend, type-checking-frontend

Switched back to localStorageHelpers, Adjusted tests to reflect changes
  superset-frontend/package-lock.json
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/components/Chart/ChartRenderer.test.jsx
Due: prettier, eslint-frontend, type-checking-frontend

change local storage to session storage
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/components/Chart/ChartRenderer.test.jsx
Due: prettier, eslint-frontend, type-checking-frontend
