Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(reports): escape SQL LIKE wildcards in find_by_extra_metadata
  superset/daos/report.py
  tests/unit_tests/daos/test_report_dao.py
Due: ruff-format, ruff, pylint

fix: copy the id property
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(themes): add JSON formatting for theme modal editor
  superset-frontend/src/features/themes/ThemeModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(themes): add Format button to theme modal editor
  superset-frontend/src/features/themes/ThemeModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): escape SQL LIKE wildcards in find_by_native_filter_id
  superset/daos/report.py
Due: ruff-format, ruff, pylint

fix(sql): remove WHERE 1 = 1 when temporal filter has "No filter" selected (#38704)
  superset/models/helpers.py
  tests/unit_tests/models/test_no_filter_time_range.py
Due: ruff-format, ruff, pylint

Update superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(conditions): use || instead of ??
  superset-frontend/packages/superset-ui-core/src/components/Button/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(firebolt): use exclude instead
  superset/sql/dialects/firebolt.py
  tests/unit_tests/sql/test_firebolt_dialect.py
Due: ruff-format, ruff, pylint

fix(dashboard): remove transparency from filter scope indicator popover
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: Add aliases and groupby list to chart schemas
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/runtime/__init__.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

refactor(style): taking care of edge case
  superset-frontend/packages/superset-ui-core/src/components/Button/Button.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Button/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix tests
  tests/unit_tests/sql/test_firebolt_dialect.py
Due: ruff-format, ruff

more aliases
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

fix(echarts): revert incorrect label position logic and restore proper fix from local
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart): add error logging to /api/v1/chart/data endpoint
  superset/charts/data/api.py
Due: ruff-format, ruff, pylint

fix: Add aliases and groupby list to chart schemas (#38740)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/runtime/__init__.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

fix(mcp): Chart schema followups - DRY extraction, template fix, alias and test gaps
  superset/mcp_service/chart/resources/chart_configs.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
Due: ruff-format, ruff, pylint

chore: remove `match-sorter` as peer dep in `ag-grid-table` plugin
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-ag-grid-table/package.json
Due: prettier-frontend

feat(ci): use zstd for faster saving and loading `superset-node-ci` image (#38645)
  .github/workflows/superset-frontend.yml
Due: none

fix(charts): address PR review comments for is_managed_externally
  superset-frontend/src/explore/components/SaveModal.test.tsx
  superset/commands/chart/update.py
  tests/integration_tests/charts/commands_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): Chart schema followups - DRY extraction, template fix, alias and test gaps (#38746)
  superset/mcp_service/chart/resources/chart_configs.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
Due: ruff-format, ruff, pylint

Update superset-frontend/src/explore/components/SaveModal.test.tsx
  superset-frontend/src/explore/components/SaveModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Update superset/commands/chart/update.py
  superset/commands/chart/update.py
Due: ruff-format, ruff, pylint

Fix syntax and linter
  superset/commands/chart/update.py
  tests/integration_tests/charts/commands_tests.py
Due: ruff-format, ruff, pylint

More linting
  superset-frontend/src/explore/components/SaveModal.test.tsx
  tests/integration_tests/charts/commands_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix(firebolt): Firebolt SQL entered with EXCLUDE is rewritten to EXCEPT (#38742)
  superset/sql/dialects/firebolt.py
  tests/unit_tests/sql/test_firebolt_dialect.py
Due: ruff-format, ruff, pylint

docs(security): update vulnerability reporting policy and admin trust boundary (#38653)
  .github/SECURITY.md
  docs/admin_docs/security/security.mdx
Due: none

feat: add block-no-verify PreToolUse hook to .claude/settings.json
  .claude/settings.json
Due: none

fix(theme): ensure colorLink follows colorPrimary when not explicitly set (#38517)
  superset-frontend/packages/superset-core/src/theme/Theme.test.tsx
  superset-frontend/packages/superset-core/src/theme/Theme.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): correct tab underline width for newly added dashboard tabs. (#38524)
  superset-frontend/packages/superset-ui-core/src/components/EditableTitle/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/Tabs/Tabs.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tab/Tab.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tab/Tab.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(theme): persist local theme id so "Local" tag remains after navigation (#38527)
  superset-frontend/src/theme/ThemeProvider.tsx
  superset-frontend/src/theme/tests/ThemeProvider.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(timeseries-table): enable proper column sorting in timeseries-table chart (#38579)
  superset-frontend/src/visualizations/TimeTable/utils/sortUtils/sortUtils.test.ts
  superset-frontend/src/visualizations/TimeTable/utils/sortUtils/sortUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: add block-no-verify hook to prevent AI agents from bypassing git hooks
  .claude/settings.json
Due: none

Chart 2.0
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  helm/superset/templates/deployment-beat.yaml
  helm/superset/templates/deployment-flower.yaml
  helm/superset/templates/deployment-worker.yaml
  helm/superset/templates/deployment-ws.yaml
  helm/superset/templates/deployment.yaml
  helm/superset/templates/external-secret.yaml
  helm/superset/templates/hpa-node.yaml
  helm/superset/templates/hpa-worker.yaml
  helm/superset/templates/httproute.yaml
  helm/superset/templates/ingress.yaml
  helm/superset/templates/networkpolicy.yaml
  helm/superset/templates/pre-install-validation-job.yaml
  helm/superset/templates/scaledobject-worker.yaml
  helm/superset/templates/secret-env.yaml
  helm/superset/templates/secret-superset-config.yaml
  helm/superset/templates/secret-ws.yaml
  helm/superset/templates/service-flower.yaml
  helm/superset/templates/service-ws.yaml
  helm/superset/templates/service.yaml
  helm/superset/templates/serviceaccount.yaml
  helm/superset/templates/servicemonitor.yaml
  helm/superset/templates/upgrade-job.yaml
  helm/superset/templates/vpa.yaml
  helm/superset/tests/deployment_test.yaml
  helm/superset/tests/deprecation_test.yaml
  helm/superset/tests/features_test.yaml
  helm/superset/tests/labels_test.yaml
  helm/superset/tests/pods_test.yaml
  helm/superset/tests/rbac_test.yaml
  helm/superset/tests/secrets_test.yaml
  helm/superset/tests/security_test.yaml
  helm/superset/values.yaml
Due: none

Fix networking for websockets
  helm/superset/templates/ingress.yaml
  helm/superset/templates/networkpolicy.yaml
Due: none

Add config for external deps
  helm/superset/templates/secret-superset-config.yaml
  helm/superset/values.yaml
Due: none

Fix JWT Cookie settings
  helm/superset/templates/_helpers.tpl
Due: none

Fix ref of async queries DB
  helm/superset/README.md
  helm/superset/templates/_helpers.tpl
  helm/superset/values.yaml
Due: none

chore: add upgrade instructions
  helm/superset/UPGRADING.md
Due: none

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
