Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(multi-value): resolve type errors surfaced by rebase onto master
  superset-frontend/src/explore/components/controls/ColumnConfigControl/constants.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(multi-value): correct ClickHouse array classification and element coercion
  superset/db_engine_specs/base.py
  superset/db_engine_specs/clickhouse.py
  superset/models/helpers.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
  tests/unit_tests/models/test_multivalue_filter.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat(multi-value): element-level value suggestions for Contains operators
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset/connectors/sqla/models.py
  superset/datasource/api.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/clickhouse.py
  superset/models/helpers.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata

refactor(multi-value): drop derived-column Length machinery for operators
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/utils/translateToSQL.ts
  superset-frontend/src/explore/constants.ts
  superset-frontend/src/explore/exploreUtils/getSimpleSQLExpression.test.ts
  superset-frontend/src/explore/exploreUtils/index.ts
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/clickhouse.py
  superset/models/helpers.py
  superset/superset_typing.py
  superset/utils/core.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
  tests/unit_tests/models/test_multivalue_explode.py
  tests/unit_tests/models/test_multivalue_filter.py
  tests/unit_tests/models/test_multivalue_length.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata

feat(multi-value): explode (group by array elements) — ClickHouse MVP
  superset/connectors/sqla/models.py
  tests/unit_tests/models/test_multivalue_explode.py
Due: ruff-format, ruff, pylint

fix(multi-value): reset filter value when the operator's value family changes
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(multi-value): integration coverage for CONTAINS/LENGTH/EXPLODE
  tests/integration_tests/sqla_models_tests.py
Due: ruff-format, ruff

fix(frontend): retry a failed lazy import before surfacing ChunkLoadError
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
  superset-frontend/src/utils/lazyWithRetry.test.tsx
  superset-frontend/src/utils/lazyWithRetry.ts
  superset-frontend/src/views/routes.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): stop a database with no extra from breaking SET_DATABASES
  superset-frontend/src/SqlLab/reducers/sqlLab.test.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(multi-value): stringify object-valued filter suggestions (Map/Tuple)
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(multi-value): update column-values assertions for array_elements kwarg
  tests/integration_tests/datasource/api_tests.py
Due: ruff-format, ruff

fix(clickhouse): add PT1S time grain
  superset/db_engine_specs/README.md
  superset/db_engine_specs/clickhouse.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(clickhouse): use DateTime64 for PT1S grain
  superset/db_engine_specs/clickhouse.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(histogram): render empty chart instead of crashing when no rows match
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Histogram/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(histogram): compare groupby membership using column labels
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Histogram/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tasks): skip base filter for internal task-runner reads; disable proxies on guarded import fetch
  superset/commands/dataset/importers/v1/utils.py
  superset/tasks/context.py
  superset/tasks/decorators.py
  superset/tasks/manager.py
  superset/tasks/scheduler.py
Due: ruff-format, ruff, pylint

fix(dashboard): scope embedded guest reads to granted resources
  superset/common/query_context_processor.py
  superset/jinja_context.py
  superset/security/manager.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/jinja_context_test.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(api): correct request handling and per-user cache scoping
  superset/commands/database/oauth2.py
  superset/commands/dataset/importers/v1/utils.py
  superset/extensions/cache_middleware.py
  superset/extensions/storage/api.py
  superset/tasks/filters.py
  superset/utils/link_redirect.py
  superset/utils/network.py
  tests/unit_tests/commands/databases/oauth2_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
  tests/unit_tests/extensions/test_cache_middleware.py
  tests/unit_tests/tasks/test_filters.py
  tests/unit_tests/utils/test_link_redirect.py
Due: ruff-format, ruff, pylint

test: cover load_data proxy-disabling behavior; note it in UPDATING.md
  UPDATING.md
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Due: ruff-format, ruff

test(oauth2): authorize the token-exchange logging test for session binding
  tests/unit_tests/commands/databases/oauth2_test.py
Due: ruff-format, ruff

test(extensions): assert storage API responses are marked no-store
  tests/unit_tests/extensions/storage/test_api.py
Due: ruff-format, ruff

test(tasks): authorize get_status polling test and OAuth2 callback tests for session binding
  tests/unit_tests/daos/test_tasks.py
  tests/unit_tests/databases/api_test.py
Due: ruff-format, ruff

test: add direct is_safe_ip coverage and assert ephemeral-get status code
  tests/unit_tests/extensions/storage/test_api.py
  tests/unit_tests/utils/test_network.py
Due: ruff-format, ruff

fix(explore): keep an externally updated TextControl value visible
  superset-frontend/src/explore/components/controls/TextControl/TextControl.test.tsx
  superset-frontend/src/explore/components/controls/TextControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(api): restore three schema fields disabled by a stray trailing comma
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

docs(faq): convert flask fab freeze question to a proper heading
  docs/docs/faq.mdx
Due: none

docs(faq): complete FAQPage structured data to cover all questions
  docs/docs/faq.mdx
Due: none

fix(api): validate a non-empty index and groupby instead of inert metadata
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

fix(ci): update vulnerable transitive nanoid (#43166)
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

docs(faq): convert flask fab freeze question to a proper heading (#43221)
  docs/docs/faq.mdx
Due: none

fix(sql-lab): catch TemplateError in StreamingSqlResultExportCommand.validate
  superset/commands/sql_lab/streaming_export_command.py
  tests/unit_tests/commands/sql_lab/streaming_export_command_test.py
Due: ruff-format, ruff, pylint

fix(histogram): use nullish coalescing for the empty-data guard
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Histogram/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart): ignore chart actions for a chart no longer in state
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/components/Chart/chartReducers.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Add greeting to README
  README.md
Due: none

fix(dashboard): decouple Excel export link lifetime from S3 credential expiry, and support guest/embedded sessions
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset/config.py
  superset/dashboards/api.py
  superset/dashboards/excel_export/download_link.py
  superset/key_value/types.py
  superset/tasks/export_dashboard_excel.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/tasks/test_export_dashboard_excel.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

chore: run `npm run format` against new unformatted codes
  superset-frontend/src/components/ErrorMessage/BasicErrorAlert.test.tsx
  superset-frontend/src/components/ErrorMessage/DatabaseErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/DatasetNotFoundErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/ErrorMessageWithStackTrace.test.tsx
  superset-frontend/src/components/ErrorMessage/FrontendNetworkErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/ParameterErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/TimeoutErrorMessage.test.tsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/FixedOrMetricControl.test.tsx
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/DatasetPanel.test.tsx
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/DatasetPanelWrapper.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(build): allow passing inputs/arguments to `_format` npm command
  superset-frontend/package.json
Due: prettier-frontend

fix(build): rectify `globSync` logic to identify and deduplicate plugin namespaces
  superset-frontend/scripts/build.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(build): replace `wait-on` with native shell commands + use `concurrently` programatically
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/scripts/test-storybook-ci.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): count the returned rows when Samples omits rowcount
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/SamplesPane.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
