Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

added testcase for none and expanded all the testcases from chartpostschema to chartputschema
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff

changed the comparision from strings to parsed JSON structure
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff

Dont change schema, as it will be seen as database change
  superset/db_engine_specs/hive.py
Due: ruff-format, ruff, pylint

feat(ci): ad container security scan for image built for commits merged to mainline
  .github/workflows/docker.yml
Due: none

new files
  azure-pipelines-new.yml
  docker-compose-deploy.yml
Due: none

Set up CI with Azure Pipelines
  azure-pipelines-new.yml
Due: none

fix(pandas-postprocessing): resolve SettingWithCopyWarning in histogram and boxplot
  superset/utils/pandas_postprocessing/boxplot.py
  superset/utils/pandas_postprocessing/histogram.py
Due: ruff-format, ruff, pylint

fix(pivot-table): rename Subtotal to Subvalue with aggregation name
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tab): Fix tabs in column not clickable (#36528)
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

add the space back between the checkboxes
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(docs): add documentation for usage of minio or other s3 compatible service as a cache backend or celery results backend
  docs/docs/configuration/async-queries-celery.mdx
  docs/docs/configuration/cache.mdx
Due: none

Rename query_uuid to query_id
  superset-core/src/superset_core/api/types.py
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

feat: SQL execution API for Superset
  superset-core/src/superset_core/api/models.py
  superset-core/src/superset_core/api/types.py
  superset/models/core.py
  superset/sql/execution/__init__.py
  superset/sql/execution/celery_task.py
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/__init__.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

Address comments
  superset-core/src/superset_core/api/types.py
  superset/sql/execution/celery_task.py
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/conftest.py
  tests/unit_tests/sql/execution/test_celery_task.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

Address comment
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/test_celery_task.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

Improves test coverage
  superset-core/src/superset_core/api/models.py
  superset-core/src/superset_core/api/types.py
  superset/models/core.py
  superset/sql/execution/celery_task.py
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/conftest.py
  tests/unit_tests/sql/execution/test_celery_task.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

Add more tests
  tests/unit_tests/sql/execution/conftest.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff

Apply suggestions from code review
  superset-core/src/superset_core/api/models.py
Due: ruff-format, ruff, pylint

Address some comments
  superset-core/src/superset_core/api/models.py
  superset-core/src/superset_core/api/types.py
  superset/sql/execution/celery_task.py
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/test_celery_task.py
Due: ruff-format, ruff, pylint

Address more comments
  superset/commands/security/create.py
  superset/commands/security/update.py
  superset/connectors/sqla/models.py
  superset/core/api/core_api_injection.py
  superset/daos/base.py
  superset/models/core.py
  superset/security/manager.py
  superset/sql/execution/__init__.py
  superset/sql/execution/celery_task.py
  superset/sql/execution/executor.py
  superset/tags/filters.py
  tests/unit_tests/sql/execution/conftest.py
  tests/unit_tests/sql/execution/test_celery_task.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

Remove getsizeof
  superset/sql/execution/celery_task.py
Due: ruff-format, ruff, pylint

WIP
  superset/semantic_layers/snowflake/semantic_view.py
Due: ruff-format, ruff, pylint

Revert type ignores
  superset/commands/security/create.py
  superset/commands/security/update.py
  superset/connectors/sqla/models.py
  superset/core/api/core_api_injection.py
  superset/daos/base.py
  superset/security/manager.py
  superset/tags/filters.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

chore: bump flask-cors to 6.0.0
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Due: none

fix: tests
  superset-extensions-cli/tests/test_cli_init.py
  superset-extensions-cli/tests/test_templates.py
Due: ruff-format, ruff, pylint

fix(roles): Add missing SQLLab permissions for estimate and format (#36263)
  superset/security/manager.py
  tests/integration_tests/security_tests.py
Due: ruff-format, ruff, pylint

fix: specify correct ff in quickstart (#36445)
  docs/developer_portal/extensions/quick-start.md
  superset-extensions-cli/src/superset_extensions_cli/templates/extension.json.j2
  superset-extensions-cli/tests/test_cli_init.py
  superset-extensions-cli/tests/test_templates.py
Due: ruff-format, ruff, pylint

chore(deps): bump dayjs from 1.11.18 to 1.11.19 (#36552)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/plugins/legacy-preset-chart-deckgl/package.json
  superset-frontend/plugins/legacy-preset-chart-nvd3/package.json
  superset-frontend/plugins/plugin-chart-echarts/package.json
  superset-frontend/plugins/plugin-chart-handlebars/package.json
Due: prettier-frontend

fix(chart): Display better hover text for country map charts (#36323)
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.css
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.js
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/ReactCountryMap.jsx
  superset-frontend/plugins/legacy-plugin-chart-country-map/test/CountryMap.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(SqlLab): enhance SQL formatting with Jinja template support. (#36277)
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset/sqllab/api.py
  superset/sqllab/schemas.py
  tests/integration_tests/sql_lab/api_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Update docker-compose-deploy.yml
  docker-compose-deploy.yml
Due: none

Address Beto's comments
  superset-core/src/superset_core/api/types.py
  superset/sql/execution/celery_task.py
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/test_celery_task.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

Create .env
  .env
Due: none

Add core tests
  tests/unit_tests/models/core_test.py
Due: ruff-format, ruff

removed .env
  .env
Due: none

Ignore .env file
  .gitignore
Due: none

fix(tests): resolve flaky "should edit correctly" test in chart list
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

fix(tests): resolve flaky ExploreChartHeader export menu tests
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Update RESOURCES/INTHEWILD.md
  RESOURCES/INTHEWILD.md
Due: none

chore(deps): Remove redundant polished direct dependency (#36431)
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
