Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(plugin-chart-ag-grid-table): don't clobber standard CF background with empty basic formatter
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): align email attachment data type
  superset/reports/notifications/email.py
Due: ruff-format, ruff, pylint

chore(i18n): fixed stray %s
  superset/translations/ru/LC_MESSAGES/messages.po
Due: none

chore(i18n): update Russian translations
  superset/translations/ru/LC_MESSAGES/messages.po
Due: none

chore(i18n): change some labels to fit the UI better
  superset/translations/ru/LC_MESSAGES/messages.po
Due: none

test(plugin-chart-ag-grid-table): cover green/red CF wiring and background guard
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/getCellStyle.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): address xlsx report merge regressions
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset/charts/client_processing.py
  superset/commands/report/execute.py
  superset/utils/core.py
  tests/unit_tests/charts/test_client_processing.py
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/utils/test_core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(plugin-chart-ag-grid-table): render Show summary totals row on ag-grid 36 (#42115)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/styles/index.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/getCellStyle.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(i18n): fixed some fuzzy translations
  superset/translations/ru/LC_MESSAGES/messages.po
Due: none

test(reports): fix xlsx pivot table expectation
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff

test(reports): align xlsx pivot index assertion
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff

test(reports): refine xlsx regression coverage
  tests/unit_tests/charts/test_client_processing.py
  tests/unit_tests/utils/test_core.py
Due: ruff-format, ruff

Enhance user password change logging and session management
  superset/security/manager.py
  superset/utils/auth_session_stamp.py
  superset/views/users/api.py
  tests/integration_tests/users/api_tests.py
  tests/unit_tests/security/manager_test.py
  tests/unit_tests/utils/test_auth_session_stamp.py
Due: ruff-format, ruff, pylint

fix(table): prevent pagination reset on cell click
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(bigquery): avoid treating schema as client project
  superset/db_engine_specs/bigquery.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

docs(mcp): document all 7 generate_chart chart_type values, fix stale config comment (#41599)
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(mcp): populate chart_type from validated ChartConfig in generate_chart error path
  superset/mcp_service/chart/tool/generate_chart.py
Due: ruff-format, ruff, pylint

refactor(mcp): dedupe list-tool schemas and delete dead middleware
  superset/mcp_service/annotation_layer/schemas.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/common/pagination_schemas.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/database/schemas.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/middleware.py
  superset/mcp_service/query/schemas.py
  superset/mcp_service/report/schemas.py
  superset/mcp_service/rls/schemas.py
  superset/mcp_service/role/schemas.py
  superset/mcp_service/saved_query/schemas.py
  superset/mcp_service/tag/schemas.py
  superset/mcp_service/task/schemas.py
  superset/mcp_service/theme/schemas.py
  superset/mcp_service/user/schemas.py
  superset/mcp_service/utils/permissions_utils.py
  tests/unit_tests/mcp_service/utils/test_permissions_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): restore missing Dict import usage in _safe_int_config
  superset/mcp_service/middleware.py
Due: ruff-format, ruff, pylint

fix(mcp): annotate filter_type local in PaginatedListRequest.parse_filters
  superset/mcp_service/common/pagination_schemas.py
Due: ruff-format, ruff, pylint

test(mcp): add explicit type annotation to RESOURCE_URIS mapping
  tests/unit_tests/mcp_service/system/resources/test_schema_discovery.py
Due: ruff-format, ruff

fix(mcp): document AnnotationList's ColumnOperator param, add dataset search/filters test
  superset/mcp_service/annotation_layer/schemas.py
  tests/unit_tests/mcp_service/dataset/test_dataset_schemas.py
Due: ruff-format, ruff, pylint

feat(echarts): respect time grain in time-series tooltips (#41350)
  UPDATING.md
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/formatters.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/formatters.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): address post-rebase bito/codeant review round on dashboard governance tools
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/governance_utils.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_certification.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_owners.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_dashboard_roles.py
  tests/unit_tests/subjects/test_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): annotate mock_auth's local mock_user in dashboard tool conftest
  tests/unit_tests/mcp_service/dashboard/tool/conftest.py
Due: ruff-format, ruff

fix(ci): retry change_detector GitHub API calls on transient errors
  scripts/change_detector.py
  tests/unit_tests/scripts/change_detector_test.py
Due: ruff-format, ruff

fix(ci): address review feedback on change_detector retry
  scripts/__init__.py
  scripts/change_detector.py
  tests/unit_tests/scripts/change_detector_test.py
Due: ruff-format, ruff

fix(mcp): coerce float rowcount to int in ChartData to prevent PydanticSerializationError
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

fix(label): restore spacing between icon and label text (#42139)
  superset-frontend/packages/superset-ui-core/src/components/Label/Label.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Label/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(dashboards): Add open graph metadata for dashboards (#33550)
  superset/embedded/view.py
  superset/templates/superset/spa.html
  superset/views/core.py
Due: ruff-format, ruff, pylint

feat: added email delivery of XLSX reports (#40885)
  docs/admin_docs/configuration/alerts-reports.mdx
  docs/user_docs_versioned_docs/version-6.0.0/configuration/alerts-reports.mdx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset/charts/client_processing.py
  superset/commands/report/execute.py
  superset/reports/notifications/email.py
  superset/translations/messages.pot
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/utils/core.py
  tests/unit_tests/charts/test_client_processing.py
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/reports/notifications/email_tests.py
  tests/unit_tests/utils/test_core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(dashboard): keep refresh_frequency set via the Advanced JSON editor
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset/daos/dashboard.py
  tests/integration_tests/dashboards/dao_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(ci): retry change_detector GitHub API calls on transient errors (#42138)
  scripts/__init__.py
  scripts/change_detector.py
  tests/unit_tests/scripts/change_detector_test.py
Due: ruff-format, ruff

chore(i18n): update Russian translations (#41885)
  superset/translations/ru/LC_MESSAGES/messages.po
Due: none

fix(label): only apply icon gap when an icon is present (#42139)
  superset-frontend/packages/superset-ui-core/src/components/Label/Label.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Label/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(test): register smart-date formatter in formatters.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/formatters.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): normalize bracket-shorthand time ranges in query_dataset
  superset/mcp_service/dataset/schemas.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff, pylint

fix(dashboard import): use @transaction decorator instead of manual commit/rollback
  superset/commands/dashboard/importers/v1/__init__.py
Due: ruff-format, ruff, pylint

fix(tests): use MagicMock explicitly when patching security_manager in CLI tests
  tests/integration_tests/cli_tests.py
Due: ruff-format, ruff

fix(ag-grid-table): stabilize t('Main') across memoization and avoid repeated calls
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
