Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

chore: remove RCA.md (local investigation notes, not for publication)
  RCA.md
Due: none

fix(cache): omit obsolete timeout from ETag cache key helper
  superset/utils/cache.py
  tests/unit_tests/utils/cache_test.py
Due: ruff-format, ruff, pylint

docs: add step-by-step Superset installation guide
  .gitignore
  docs/installation/01-prerequisites.md
  docs/installation/02-postgresql.md
  docs/installation/03-redis.md
  docs/installation/04-application-code.md
  docs/installation/05-configuration.md
  docs/installation/06-initialise-and-users.md
  docs/installation/07-systemd.md
  docs/installation/08-nginx-and-tls.md
  docs/installation/09-verification.md
  docs/installation/10-troubleshooting.md
  docs/installation/11-operations.md
  docs/installation/12-appendix-moh-dashboards.md
  docs/installation/README.md
Due: none

docs(mcp): note reports-exist check precedes editorship for delete tools
  docs/docs/using-superset/using-ai-with-superset.mdx
Due: none

fix(deps): bump @ant-design/icons-svg to fix missing icon module
  superset-frontend/package-lock.json
Due: prettier-frontend

docs: add metadata-database cloning procedure
  docs/installation/10-troubleshooting.md
  docs/installation/11-operations.md
  docs/installation/12-appendix-moh-dashboards.md
Due: none

fix(timeseries): preserve explicit UTC offsets in normalizeTimestamp
  superset-frontend/packages/superset-ui-core/src/time-format/utils/normalizeTimestamp.ts
  superset-frontend/packages/superset-ui-core/test/time-format/utils/normalizeTimestamp.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: correct the appendix after making the config a faithful replica
  docs/installation/12-appendix-moh-dashboards.md
Due: none

fix(timeseries): keep TS_REGEX exported for denormalizeTimestamp
  superset-frontend/packages/superset-ui-core/src/time-format/utils/normalizeTimestamp.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: use canonical Apache license header
  superset-frontend/packages/superset-ui-core/src/time-format/utils/normalizeTimestamp.ts
  superset-frontend/packages/superset-ui-core/test/time-format/utils/normalizeTimestamp.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: explain the level-one dashboard gate, which reads as "no data"
  docs/installation/12-appendix-moh-dashboards.md
Due: none

docs: explain empty charts caused by a missing org-unit mapping
  docs/installation/12-appendix-moh-dashboards.md
Due: none

docs(explore): note Explore read permission and third-party cookie limits
  docs/docs/using-superset/embedding.mdx
Due: none

docs(reports): note retry gaps for timeouts/budget and role-owned reports
  docs/admin_docs/configuration/alerts-reports.mdx
Due: none

fix(security): use self-repository uses syntax in supersetbot workflow
  .github/workflows/supersetbot.yml
  .pre-commit-config.yaml
Due: none

fix(ci): use self-repository syntax for supersetbot setup in tag-release
  .github/workflows/tag-release.yml
  .pre-commit-config.yaml
Due: none

fix(filters): clamp dropdown row width while remeasuring after items change
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(filters): clamp to the row's own width, not the outer container's
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(playwright): rework the GAQ suite for the Global Task Framework
  superset-frontend/playwright/tests/dashboard/dashboard-test-helpers.ts
  superset-frontend/playwright/tests/dashboard/global-async-query-resilience.spec.ts
  superset-frontend/playwright/tests/dashboard/global-async-query.spec.ts
  superset-frontend/playwright/tests/sqllab/global-async-query-sqllab.spec.ts
  tests/integration_tests/superset_test_config.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

refactor(filters): tighten comments in DropdownContainer
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(datasets): warn about affected charts and dashboards on bulk delete
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/ConfirmStatusChange.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/types.ts
  superset-frontend/src/pages/DatasetList/DatasetList.integration.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset/constants.py
  superset/daos/dataset.py
  superset/datasets/api.py
  superset/datasets/schemas.py
  tests/integration_tests/datasets/api_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

docs(api): regenerate OpenAPI spec for bulk dataset related_objects
  docs/static/resources/openapi.json
Due: none

refactor(playwright): reuse the API helper and share the GAQ endpoint constant
  superset-frontend/playwright/tests/dashboard/dashboard-test-helpers.ts
  superset-frontend/playwright/tests/dashboard/global-async-query-resilience.spec.ts
  superset-frontend/playwright/tests/sqllab/global-async-query-sqllab.spec.ts
  superset-frontend/playwright/utils/constants.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): use self-repository syntax for setup-backend action ref
  .github/workflows/superset-translations.yml
  .pre-commit-config.yaml
Due: none

fix(security): use GitHub self-repository syntax for local action refs
  .github/workflows/superset-translations.yml
  .pre-commit-config.yaml
Due: none

test(datasets): wait for the dependents lookup before confirming bulk delete
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: detect disallowed SQL functions via AST
  superset/sql/execution/executor.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

fix(chart-controls): type post-processing columns as a string-to-string mapping
  superset-frontend/packages/superset-ui-core/src/query/types/PostProcessing.ts
  superset-frontend/packages/superset-ui-core/test/query/types/PostProcessing.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ci): keep cached-dependencies on ./ syntax (git submodule)
  .github/workflows/superset-translations.yml
Due: none

fix(mcp): close gauge preview and validation review gaps
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/compile.py
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/validation/dataset_validator.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/mcp_service/chart/test_compile.py
  tests/unit_tests/mcp_service/chart/test_gauge_chart.py
  tests/unit_tests/mcp_service/chart/test_preview_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff, pylint

feat(resample): add option to fill the entire target time range (#42587)
  docs/docs/using-superset/exploring-data.mdx
  superset-frontend/packages/superset-ui-chart-controls/src/operators/resampleOperator.ts
  superset-frontend/packages/superset-ui-chart-controls/src/sections/advancedAnalytics.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/operators/resampleOperator.test.ts
  superset-frontend/packages/superset-ui-core/src/query/types/PostProcessing.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/src/explore/controlUtils/standardizedFormData.test.ts
  superset-frontend/src/explore/controlUtils/standardizedFormData.ts
  superset/common/query_object.py
  superset/utils/pandas_postprocessing/resample.py
  tests/unit_tests/pandas_postprocessing/test_resample.py
  tests/unit_tests/queries/query_object_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(query_object): fix KeyError in post-processing error string interpolation
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff

fix(postprocessing): expand empty DataFrame with bounds in resample
  tests/unit_tests/pandas_postprocessing/test_resample.py
Due: ruff-format, ruff

test(query_object): add regression tests for enforced server-side time range bounds
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff

docs(resample): note fill-time-range option and calendar MAX_RESAMPLE_ROWS coverage
  UPDATING.md
Due: none

fix(security): suppress zizmor self-repository false positive for cached-dependencies
  .github/workflows/superset-translations.yml
Due: none

test(plugin-chart-echarts): use SortSeriesType.Max in max-sort test cases
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: replace dead links by the Scarf homepage
  docs/admin_docs/installation/docker-compose.mdx
  docs/admin_docs/installation/kubernetes.mdx
  docs/admin_docs_versioned_docs/version-6.1.0/installation/docker-compose.mdx
  docs/admin_docs_versioned_docs/version-6.1.0/installation/kubernetes.mdx
  docs/user_docs_versioned_docs/version-6.0.0/installation/docker-compose.mdx
  docs/user_docs_versioned_docs/version-6.0.0/installation/kubernetes.mdx
Due: none

fix(mcp): preserve finite gauge dials and center facet needles
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/compile.py
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_compile.py
  tests/unit_tests/mcp_service/chart/test_gauge_chart.py
  tests/unit_tests/mcp_service/chart/test_gauge_render.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: ruff-format, ruff, pylint

fix test
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/controlPanel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
