Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(ci): restore GHA validator job to use container-preinstalled runner image
  .github/workflows/github-action-validator.yml
Due: none

test: drop redundant reset_mock in explore access test
  tests/integration_tests/core_tests.py
Due: ruff-format, ruff

feat(ag-grid): show the summary checkbox in raw records mode
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(compare): migrate compare charts to echarts_timeseries_line and drop the legacy plugin (#41738)
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/example-dark.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/thumbnail-dark.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/thumbnail.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/thumbnailLarge.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/stories/NVD3Compare.stories.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/stories/data.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/preset.ts
  superset-frontend/src/visualizations/presets/MainPreset.ts
  superset/cli/viz_migrations.py
  superset/migrations/shared/migrate_viz/processors.py
  superset/migrations/versions/2026-07-02_21-30_e5f6a7b8c9d0_migrate_compare_chart_to_echarts.py
  superset/viz.py
  tests/unit_tests/migrations/viz/nvd3_compare_chart_to_echarts_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(ag-grid): build a numeric-column totals query in raw records mode
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(ag-grid): surface raw records totals through transformProps
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/types.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/AgGridTableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(ag-grid): prime raw summary columns into own state
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/externalAPIs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/AgGridTableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(ag-grid): apply prettier formatting to totals gate
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Hydrate JWT users before list API permission filters
  superset/security/manager.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/datasets/api_tests.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(viz-removal): clean remaining explore_json fallout in tests and StatefulChart
  superset-frontend/packages/superset-ui-core/src/chart/components/StatefulChart.tsx
  tests/integration_tests/security_tests.py
  tests/unit_tests/security/manager_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix(mcp): clarify metric guidance truncation
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/dataset/tool/query_dataset.py
  tests/unit_tests/mcp_service/chart/test_chart_config_coercion.py
Due: ruff-format, ruff, pylint

fix(viz-removal): drop the removed viz kwarg from the RBAC access test
  tests/integration_tests/security_tests.py
Due: ruff-format, ruff

chore: update webpack to 5.108.3
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

fix(viz-removal): drop the removed viz kwarg from guest token access tests
  tests/integration_tests/security/guest_token_security_tests.py
Due: ruff-format, ruff

feat(extensions): register the built-in dashboard renderer as the default provider
  docs/developer_docs/extensions/extension-points/dashboards.md
  superset-frontend/packages/superset-core/src/dashboards/index.ts
  superset-frontend/playwright/tests/dashboard/dashboard-renderer-extension.spec.ts
  superset-frontend/src/core/dashboards/DashboardRendererHost.test.tsx
  superset-frontend/src/core/dashboards/DashboardRendererHost.tsx
  superset-frontend/src/core/dashboards/DashboardRendererProviders.test.ts
  superset-frontend/src/core/dashboards/DashboardRendererProviders.ts
  superset-frontend/src/core/dashboards/defaultRenderer.ts
  superset-frontend/src/core/dashboards/index.test.ts
  superset-frontend/src/core/dashboards/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): adopt French translation improvements from #41688
  superset/translations/fr/LC_MESSAGES/messages.po
Due: none

fix(a11y): use aria-label instead of non-functional alt prop on filter icons (#41742)
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigPane.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitleContainer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ItemTitleContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(a11y): add aria-label to VizTypeGallery search clear icon (#41681)
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(mcp): trim verbose comments in guest-token auth
  superset/mcp_service/auth.py
  superset/mcp_service/composite_token_verifier.py
  superset/mcp_service/guest_token_verifier.py
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(ag-grid): clear stale summary primes and suppress empty summary rows
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/AgGridTableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): use theme border for chart tiles
  superset-frontend/packages/superset-core/src/theme/types.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): correct cross-contaminated French themes-import warning
  superset/translations/fr/LC_MESSAGES/messages.po
Due: none

fix(i18n): correct more cross-contaminated French strings flagged in review
  superset/translations/fr/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Korean (ko) translations (AI-generated, needs review) (#41713)
  superset/translations/ko/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Italian (it) translations (AI-generated, needs review) (#41712)
  superset/translations/it/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Portuguese (pt) translations (AI-generated, needs review) (#41710)
  superset/translations/pt/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Chinese (Traditional) (zh_TW) translations (AI-generated, needs review) (#41709)
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Chinese (Simplified) (zh) translations (AI-generated, needs review) (#41708)
  superset/translations/zh/LC_MESSAGES/messages.po
Due: none

fix(i18n): correct mistranslated entries flagged in review (pl/pt_BR/sl/sk/fi) (#41707)
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Arabic (ar) translations (AI-generated, needs review) (#41705)
  superset/translations/ar/LC_MESSAGES/messages.po
Due: none

feat(ag-grid): move the summary checkbox to the customize tab
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/externalAPIs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/AgGridTableChart.test.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ag-grid): unify totals re-query nudge across query modes
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/externalAPIs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/AgGridTableChart.test.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): adopt French translation improvements from #41688 (#41752)
  superset/translations/fr/LC_MESSAGES/messages.po
Due: none

fix(i18n): repair dropped placeholders and reduced-plural forms across catalogs
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

fix(i18n): repair dropped placeholders and reduced-plural forms across catalogs (#41722)
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

Backend reorganization
  docs/developer_docs/extensions/architecture.md
  docs/developer_docs/extensions/quick-start.md
  docs/developer_docs/extensions/storage.md
  docs/sidebarTutorials.js
  superset-core/src/superset_core/extensions/storage/__init__.py
  superset-core/src/superset_core/extensions/storage/dao.py
  superset-core/src/superset_core/extensions/storage/ephemeral.py
  superset-core/src/superset_core/extensions/storage/models.py
  superset-core/src/superset_core/extensions/storage/persistent.py
  superset-extensions-cli/src/superset_extensions_cli/templates/frontend/webpack.config.js.j2
  superset/core/api/core_api_injection.py
  superset/extensions/context.py
  superset/extensions/storage/__init__.py
  superset/extensions/storage/api.py
  superset/extensions/storage/ephemeral.py
  superset/extensions/storage/filters.py
  superset/extensions/storage/persistent.py
  superset/extensions/storage/persistent_dao.py
  superset/extensions/storage/persistent_model.py
  tests/unit_tests/extensions/storage/test_api.py
  tests/unit_tests/extensions/storage/test_ephemeral.py
  tests/unit_tests/extensions/storage/test_filters.py
  tests/unit_tests/extensions/storage/test_persistent.py
  tests/unit_tests/extensions/storage/test_persistent_dao.py
Due: eslint-docs, ruff-format, ruff, pylint

fix(plugin-chart-ag-grid-table): show correct percent-metric totals in summary row (#41247)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mixed-chart): preserve order_desc and series_limit_metric in buildQuery (#41401)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
