Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(versioning): remove global configure_mappers() and fix MySQL DELETE
  superset/initialization/__init__.py
  superset/migrations/versions/2026-04-20_00-00_04ea0c58fcb9_clean_up_duplicate_version_rows.py
Due: ruff-format, ruff, pylint

fix(versioning): address python-review items #3-7
  superset/daos/version.py
  superset/versioning/changes.py
  superset/versioning/diff.py
  tests/unit_tests/versioning/test_diff.py
Due: ruff-format, ruff, pylint

db(versioning): add version_changes table for structured change records (T046)
  superset/migrations/versions/2026-04-24_10-00_e1f3c5a7b9d0_add_version_changes_table.py
Due: ruff-format, ruff

docs(versioning): add UPDATING.md entry for entity version history
  UPDATING.md
Due: none

revert(versioning): narrow exception catches back to OperationalError
  superset/daos/version.py
  superset/versioning/baseline.py
  superset/versioning/changes.py
Due: ruff-format, ruff, pylint

temp(versioning): demo version-history dropdowns on chart and dashboard list pages
  superset-frontend/src/pages/ChartList/VersionHistoryDropdown.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/VersionHistoryDropdown.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(versioning): catch DBAPIError (not just OperationalError) on missing tables
  superset/daos/version.py
  superset/versioning/baseline.py
  superset/versioning/changes.py
  superset/versioning/diff.py
Due: ruff-format, ruff, pylint

feat(versioning): add change-record capture listener (T048) + integration tests
  superset/initialization/__init__.py
  superset/migrations/versions/2026-04-24_10-00_e1f3c5a7b9d0_add_version_changes_table.py
  superset/versioning/changes.py
  tests/integration_tests/versioning/change_records_tests.py
Due: ruff-format, ruff, pylint

test(versioning): add T044 perf validation harness for SC-002/3/4
  tests/integration_tests/versioning/__init__.py
  tests/integration_tests/versioning/perf_validation_tests.py
Due: ruff-format, ruff

chore(versioning): simplify migration chain from 6 to 4
  superset/migrations/versions/2026-04-20_00-00_04ea0c58fcb9_clean_up_duplicate_version_rows.py
  superset/migrations/versions/2026-04-20_00-00_56cd24c07170_add_entity_version_history_tables.py
  superset/migrations/versions/2026-04-22_00-00_8b2a1c3d4e5f_add_dataset_snapshots_table.py
  superset/migrations/versions/2026-04-23_16-00_d8e9f0a1b2c3_drop_orphaned_child_version_tables.py
  superset/migrations/versions/2026-04-24_10-00_e1f3c5a7b9d0_add_version_changes_table.py
Due: ruff-format, ruff

fix(versioning): JSON-safe values, null/"" equivalence, and dashboard JSON-blob structural diffs
  superset/versioning/changes.py
  superset/versioning/diff.py
  tests/integration_tests/versioning/change_records_tests.py
  tests/unit_tests/versioning/test_diff.py
Due: ruff-format, ruff, pylint

fix(embedded-e2e): target DynamicEditableTitle's input for title-visibility check
  superset-frontend/playwright/pages/EmbeddedPage.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): respect show_filters param in standalone report mode
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): protect data-model metadata from dashboard viewers (#39599)
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/database/tool/get_database_info.py
  superset/mcp_service/database/tool/list_databases.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/privacy.py
  superset/mcp_service/server.py
  superset/mcp_service/system/schemas.py
  superset/mcp_service/system/tool/get_instance_info.py
  superset/mcp_service/system/tool/get_schema.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_info.py
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
  tests/unit_tests/mcp_service/database/tool/test_database_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/system/tool/test_get_current_user.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
  tests/unit_tests/mcp_service/test_privacy.py
  tests/unit_tests/mcp_service/test_tool_search_transform.py
Due: ruff-format, ruff, pylint

fix(mcp): redact dashboard data model metadata (#39632)
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/privacy.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
Due: ruff-format, ruff, pylint

fix(mysql): fallback to pymysql when MySQLdb is not installed in get_datatype() (#39729)
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat(mcp): restore self-lookup via created_by_me flag (#39638)
  superset/daos/chart.py
  superset/daos/dashboard.py
  superset/daos/dataset.py
  superset/mcp_service/app.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/common/cache_schemas.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/database/schemas.py
  superset/mcp_service/database/tool/list_databases.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/mcp_core.py
  superset/mcp_service/privacy.py
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/database/tool/test_database_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/system/tool/test_get_current_user.py
  tests/unit_tests/mcp_service/system/tool/test_mcp_core.py
Due: ruff-format, ruff, pylint

fix: restore missing upstream TableChart features and cleanly apply temporal bounds
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: Fix test by comparing timezone-specific timestamp against timezone-specific timestamp.
  tests/unit_tests/models/core_test.py
Due: ruff-format, ruff

fix(embedded-e2e): confine static file server to EMBED_APP_DIR
  superset-frontend/playwright/tests/embedded/embedded-dashboard.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: update comment
  .github/workflows/bashlib.sh
Due: none

fix(playwright): use superset shell instead of python -c in bashlib
  .github/workflows/bashlib.sh
Due: none

feat(dashboard): pre-filter time grain (#38922)
  .gitignore
  superset-frontend/packages/superset-ui-core/src/query/types/Dashboard.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.timeGrain.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitleContainer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/TimeGrainPreFilter.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/transformers/filterTransformer.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.test.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainPreFilter.integration.test.tsx
  superset-frontend/src/filters/components/TimeGrain/TimeGrainsTransformer.integration.test.ts
  superset-frontend/src/filters/components/TimeGrain/types.ts
  tests/unit_tests/dashboards/commands/importers/v1/utils_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

test(mcp): add missing tests and warnings for query_dataset
  superset/mcp_service/dataset/tool/query_dataset.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff, pylint

fix(mcp): address review findings for query_dataset tool
  superset/mcp_service/dataset/tool/query_dataset.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff, pylint

fix(mcp): address review findings for query_dataset tool
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/query_dataset.py
Due: ruff-format, ruff, pylint

fix(mcp): use patch.object for user_can_view_data_model_metadata in tests
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff

fix(mcp): address Copilot review comments on query_dataset
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/query_dataset.py
Due: ruff-format, ruff, pylint

chore(deps): bump psycopg2-binary from 2.9.9 to 2.9.12
  requirements/development.txt
Due: none

fix(mcp): fix mypy errors in query_dataset tests
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff

feat(mcp): add query_dataset tool to query datasets using semantic layer
  superset/mcp_service/app.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/__init__.py
  superset/mcp_service/dataset/tool/query_dataset.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff, pylint

fix(mcp): mock user_can_view_data_model_metadata in test autouse fixture
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff

fix(mcp): check metadata access before dataset lookup to prevent existence side channel
  superset/mcp_service/dataset/tool/query_dataset.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff, pylint

Update
  superset/translations/uk/LC_MESSAGES/messages.po
Due: none

fix(deps): regenerate pinned requirements for psycopg2-binary 2.9.12
  requirements/development.txt
Due: none

fix: Check python deps CI job
  requirements/development.txt
Due: none

fix(dashboard): address review feedback and fix test type errors
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deps): regenerate pinned requirements for psycopg2-binary 2.9.12 (#39790)
  requirements/development.txt
Due: none

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
