Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(resample): scope bucket cap to bounded queries and make MAX_RESAMPLE_BUCKETS configurable
  UPDATING.md
  superset/config.py
  superset/utils/pandas_postprocessing/resample.py
  superset/utils/pandas_postprocessing/utils.py
  tests/unit_tests/pandas_postprocessing/test_resample.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(mcp): give concurrent tool calls isolated db sessions
  superset/mcp_service/app.py
  superset/mcp_service/auth.py
  superset/mcp_service/session_scope.py
  tests/unit_tests/mcp_service/test_session_scope.py
Due: ruff-format, ruff, pylint

style(resample): apply auto-walrus rewrite in bucket validation
  superset/utils/pandas_postprocessing/resample.py
Due: ruff-format, ruff, pylint

test(reports): allow metadata timestamp precision
  tests/integration_tests/reports/commands_tests.py
Due: ruff-format, ruff

fix(explore): show selected current date range (#42616)
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CurrentCalendarFrame.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CurrentCalendarFrame.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(soft-delete): label the recoverable action "Archive", not "Delete" (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/playwright/tests/recently-archived/delete-modal.spec.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(recently-deleted): add user guide for the Archive view (sc-111760)
  docs/docs/using-superset/recently-deleted.mdx
Due: none

feat(recently-deleted): use the Rollback (restore) icon to match the Figma (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(recently-archived): add Settings menu link to the archive (sc-111760 T004)
  superset-frontend/playwright/tests/recently-archived/menu-link.spec.ts
  superset/initialization/__init__.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(recently-deleted): provenance columns + name preview links (sc-111760 US3)
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(recently-deleted): serve the /deleted/ route + E2E coverage (sc-111760)
  superset-frontend/playwright/tests/recently-deleted/recently-deleted.spec.ts
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
  superset/initialization/__init__.py
  superset/views/deleted_assets.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(recently-deleted): filter & sort the archive by deletion time (sc-111760 US2)
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
  superset/charts/api.py
  superset/dashboards/api.py
  superset/datasets/api.py
  tests/integration_tests/charts/soft_delete_tests.py
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/datasets/soft_delete_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

refactor(recently-archived): rename frontend terminology deleted -> archived (sc-111760)
  docs/docs/using-superset/recently-archived.mdx
  superset-frontend/playwright/tests/recently-archived/recently-archived.spec.ts
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/ArchivedList/types.ts
  superset-frontend/src/views/routes.tsx
  superset/initialization/__init__.py
  superset/views/archived_assets.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(soft-delete): recoverable delete-confirmation modal for archived objects (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/types.ts
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/types.ts
  superset-frontend/playwright/tests/recently-archived/delete-modal.spec.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/utils/softDeleteCopy.ts
  superset/views/base.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(soft-delete): success/error toasts say "Archived", not "Deleted" (sc-111760)
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(frontend): Recently-Deleted (Archive) view — find & restore soft-deleted objects (sc-111760)
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
  superset-frontend/src/pages/DeletedList/types.ts
  superset-frontend/src/views/routes.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(recently-deleted): activate the restore action via real Enter semantics
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(recently-archived): cover purge-422 + recoveredToast (sc-111760)
  superset-frontend/src/utils/softDeleteCopy.test.ts
  tests/integration_tests/charts/soft_delete_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

test(toasts): assert the recovery toast's rendered link, not just its markup
  superset-frontend/src/components/MessageToasts/Toast.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(recently-archived): address react-review (i18n + a11y) (sc-111760)
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/ArchivedList/types.ts
  superset-frontend/src/utils/softDeleteCopy.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(recently-archived): adapt to master drift — editorship rename, a11y ActionButton, prettier
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/utils/softDeleteCopy.ts
  superset/commands/purge.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(recently-archived): E2E permanent-delete round-trip + restore toast wording
  superset-frontend/playwright/tests/recently-archived/recently-archived.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(recently-archived): keyboard access, double-fire, error text, docs
  docs/docs/using-superset/recently-archived.mdx
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(soft-delete): tell users the retention window that actually applies
  superset-frontend/src/utils/softDeleteCopy.test.ts
  superset-frontend/src/utils/softDeleteCopy.ts
  superset/views/base.py
  tests/integration_tests/deletion_retention/window_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(recently-deleted): stop archive-listing fixtures leaking into retention runs
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/datasets/soft_delete_tests.py
Due: ruff-format, ruff

refactor(recently-archived): address clean-code review (sc-111760)
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/utils/softDeleteCopy.ts
  superset/charts/api.py
  superset/commands/purge.py
  superset/dashboards/api.py
  superset/datasets/api.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(recently-archived): offer only the types the viewer can read
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/ArchivedList/types.ts
  superset/views/archived_assets.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(soft-delete): stop permanent delete outliving the feature flag
  superset/commands/purge.py
  tests/integration_tests/charts/soft_delete_tests.py
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/datasets/soft_delete_tests.py
Due: ruff-format, ruff, pylint

fix(recently-archived): prefer destructuring for uuid in stale-restore E2E (sc-111760)
  superset-frontend/playwright/tests/recently-archived/recently-archived.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(soft-delete): purge only the entity type the route authorized
  superset/commands/purge.py
  tests/integration_tests/charts/soft_delete_tests.py
Due: ruff-format, ruff, pylint

feat(recently-archived): permanent delete (force-purge) + recovery toast polish (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/types.ts
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/types.ts
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset/charts/api.py
  superset/commands/purge.py
  superset/dashboards/api.py
  superset/datasets/api.py
  tests/integration_tests/charts/soft_delete_tests.py
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/datasets/soft_delete_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(recently-archived): stop linking to pages that cannot show an archived object
  docs/docs/using-superset/recently-archived.mdx
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/ArchivedList/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(recently-deleted): grant archive-listing fixtures access via editors
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/datasets/soft_delete_tests.py
Due: ruff-format, ruff

test(recently-deleted): skip archive e2e when SOFT_DELETE is off
  superset-frontend/playwright/helpers/featureFlags.ts
  superset-frontend/playwright/tests/recently-archived/delete-modal.spec.ts
  superset-frontend/playwright/tests/recently-archived/menu-link.spec.ts
  superset-frontend/playwright/tests/recently-archived/recently-archived.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(folders): drag and drop entire folders in explore view
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/folderDrag.test.ts
  superset-frontend/src/explore/components/DatasourcePanel/folderDrag.ts
  superset-frontend/src/explore/components/DatasourcePanel/types.ts
  superset-frontend/src/explore/components/DndItemType.ts
  superset-frontend/src/explore/components/ExploreContainer/ExploreDndContext.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreDndContext.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/createAdhocMetricFromColumn.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(folders): reduce opacity of entire folder when dnd folder in explore
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.tsx
  superset-frontend/src/explore/components/DatasourcePanel/folderDrag.test.ts
  superset-frontend/src/explore/components/DatasourcePanel/folderDrag.ts
  superset-frontend/src/explore/components/ExploreContainer/ExploreDndContext.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: add missing tests
  superset-frontend/src/explore/components/ExploreContainer/ExploreDndContext.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreDndContext.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/dndTestUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dnd): update terminology from 'column' to 'field' in drag-and-drop context
  superset-frontend/src/explore/components/ExploreContainer/ExploreDndContext.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: canDrop check column names as well as metric names
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: default config.aggregate for non generic type columns
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
