Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(mcp): align live datasource filters and metadata defaults
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/list_charts.py
  tests/unit_tests/mcp_service/chart/test_live_chart_datasource.py
Due: ruff-format, ruff, pylint

fix(cratedb): decode timestamp results for existing datasets
  superset/db_engine_specs/crate.py
  tests/unit_tests/db_engine_specs/test_crate.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mcp): preserve catalog cache exclusions through tool proxy
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/caching.py
  tests/unit_tests/mcp_service/catalog/tool/test_get_catalog.py
  tests/unit_tests/mcp_service/test_mcp_caching.py
Due: ruff-format, ruff, pylint

fix(exasol): keep server message placeholders out of translations
  superset/db_engine_specs/exasol.py
  tests/unit_tests/db_engine_specs/test_exasol.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mysql): require TLS when SSL is requested
  UPDATING.md
  docs/user_docs_versioned_docs/version-6.1.0/databases/supported/mysql.mdx
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mysql): preserve explicit PyMySQL TLS constraints
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(doris): enforce verified TLS for requested encryption
  UPDATING.md
  superset/db_engine_specs/doris.py
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_doris.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(mysql): apply ruff-format
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff

style(mysql): apply pinned Ruff formatting to tests
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff

test(charts): annotate parametrized test in test_schema.py
  tests/unit_tests/utils/test_schema.py
Due: ruff-format, ruff

fix: escape client HTTP error log messages
  superset/views/error_handling.py
  tests/unit_tests/views/test_error_handling.py
Due: ruff-format, ruff, pylint

fix(mcp): report errors without reloading metadata users
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/middleware.py
  tests/unit_tests/mcp_service/test_worker_metadata_pool.py
Due: ruff-format, ruff, pylint

chore(docker): quiet scanner self-match noise, keep OS packages current (#44124)
  .grype.yaml
  docker/apt-install.sh
  scripts/change_detector.py
  tests/unit_tests/scripts/change_detector_test.py
Due: ruff-format, ruff

fix(mcp): address catalog pagination bounds and scopes
  docs/docs/using-superset/using-ai-with-superset.mdx
  superset/mcp_service/auth.py
  superset/mcp_service/catalog/schemas.py
  superset/mcp_service/catalog/tool/get_catalog.py
  tests/unit_tests/mcp_service/catalog/tool/test_get_catalog.py
Due: ruff-format, ruff, pylint

fix(charts): address review on up-front CSV streaming
  superset/charts/data/api.py
  tests/unit_tests/charts/test_chart_data_api.py
Due: ruff-format, ruff, pylint

test(mcp): annotate description truncation tests
  tests/unit_tests/mcp_service/test_tool_search_transform.py
Due: ruff-format, ruff

test(mcp): document catalog allowlist helper and admin test
  tests/unit_tests/mcp_service/catalog/tool/test_get_catalog.py
Due: ruff-format, ruff

test(mcp): assert error-hook observations outside the swallowing hook
  tests/unit_tests/mcp_service/test_worker_metadata_pool.py
Due: ruff-format, ruff

fix(charts): remove unreachable orderby validation in ChartDataRestApi.data()
  superset/charts/data/api.py
  tests/unit_tests/charts/data/test_api.py
Due: ruff-format, ruff, pylint

Revert numeric set as categorical, set categorical as default when numeric, fix order of X-axis options in mixed chart
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(build): migrate to Typescript 6
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-core/package.json
  superset-frontend/packages/superset-core/tsconfig.json
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/extractExtraMetrics.ts
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getTemporalColumns.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/metricColumnFilter.ts
  superset-frontend/packages/superset-ui-chart-controls/tsconfig.json
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/tsconfig.json
  superset-frontend/packages/superset-ui-switchboard/tsconfig.json
  superset-frontend/plugins/plugin-chart-ag-grid-table/tsconfig.json
  superset-frontend/plugins/plugin-chart-calendar/tsconfig.json
  superset-frontend/plugins/plugin-chart-cartodiagram/tsconfig.json
  superset-frontend/plugins/plugin-chart-cartodiagram/types/external.d.ts
  superset-frontend/plugins/plugin-chart-chord/tsconfig.json
  superset-frontend/plugins/plugin-chart-country-map/tsconfig.json
  superset-frontend/plugins/plugin-chart-echarts/test/Rose/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/tsconfig.json
  superset-frontend/plugins/plugin-chart-handlebars/tsconfig.json
  superset-frontend/plugins/plugin-chart-horizon/tsconfig.json
  superset-frontend/plugins/plugin-chart-paired-t-test/tsconfig.json
  superset-frontend/plugins/plugin-chart-parallel-coordinates/tsconfig.json
  superset-frontend/plugins/plugin-chart-partition/tsconfig.json
  superset-frontend/plugins/plugin-chart-pivot-table/tsconfig.json
  superset-frontend/plugins/plugin-chart-point-cluster-map/tsconfig.json
  superset-frontend/plugins/plugin-chart-point-cluster-map/types/external.d.ts
  superset-frontend/plugins/plugin-chart-table/tsconfig.json
  superset-frontend/plugins/plugin-chart-word-cloud/tsconfig.json
  superset-frontend/plugins/plugin-chart-world-map/tsconfig.json
  superset-frontend/plugins/preset-chart-deckgl/tsconfig.json
  superset-frontend/plugins/preset-chart-deckgl/types/external.d.ts
  superset-frontend/src/dashboard/components/AnchorLink/AnchorLink.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/tsconfig.json
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(echarts): document getAxisType axis contract for bar charts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(echarts): cover mixedXAxisForceCategoricalControl missing branches
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(echarts): remove duplicate getAxisType assertions
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(echarts): fallback xAxisForceCategorical for legacy mixed payloads
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(echarts): fix TS2339 in Bar controlPanel test via isCustomControlItem narrowing
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): stream large CSV exports without executing the query first (#44624)
  superset/charts/data/api.py
  tests/unit_tests/charts/test_chart_data_api.py
Due: ruff-format, ruff, pylint

fix(mcp): budget dataset metric mutation tools
  tests/unit_tests/mcp_service/test_tool_inventory.py
Due: ruff-format, ruff

fix(mcp): preserve concurrent metrics and tolerate malformed chart context
  docs/docs/using-superset/using-ai-with-superset.mdx
  superset/commands/dataset/update.py
  superset/daos/dataset.py
  superset/mcp_service/dataset/tool/create_dataset_metric.py
  superset/mcp_service/dataset/tool/delete_dataset_metric.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_metric_mutations.py
Due: ruff-format, ruff, pylint

fix(dataset): retain default metric update call contract
  superset/daos/dataset.py
Due: ruff-format, ruff, pylint

refactor(mcp): address review feedback on schema coercion, temporal guards, and test typing
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/validation/test_dataset_validator.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve concurrent metrics during deletion
  docs/docs/using-superset/using-ai-with-superset.mdx
  superset/commands/dataset/update.py
  superset/daos/dataset.py
  superset/mcp_service/dataset/tool/delete_dataset_metric.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_metric_mutations.py
Due: ruff-format, ruff, pylint

fix(mcp): validate x_axis_sort orderby target and avoid dropping sort on explore default time grain
  superset/mcp_service/chart/chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
Due: ruff-format, ruff, pylint

fix(mcp): resolve pre-commit mypy union, walrus formatting, and eof trailing newline
  superset/mcp_service/chart/plugins/xy.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

style(mcp): apply auto-walrus to matched_y in xy plugin
  superset/mcp_service/chart/plugins/xy.py
Due: ruff-format, ruff, pylint

test(mcp): raise chart tool inventory budgets for Bullet schema
  tests/unit_tests/mcp_service/test_chart_tool_inventory.py
  tests/unit_tests/mcp_service/test_tool_inventory.py
Due: ruff-format, ruff

test(mcp): budget dashboard markdown tool inventory
  tests/unit_tests/mcp_service/test_tool_inventory.py
Due: ruff-format, ruff

fix(reports): drop the sign when a negative number rounds to zero
  superset/utils/number_format.py
  tests/unit_tests/utils/number_format_test.py
Due: ruff-format, ruff, pylint

fix(ci): retry databend testcontainers bring-up past the image's metasrv race
  tests/testcontainers/db_engine_specs/test_databend.py
Due: ruff-format, ruff

fix(pivot-table): blank a total that collapses mixed metrics, not sum or pick one
  superset/charts/client_processing.py
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
