Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix: restore upstream prettier 3.8.1 formatting for AsyncAceEditor
  superset-frontend/packages/superset-ui-core/src/components/AsyncAceEditor/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): filter None values from charts list in generate_dashboard
  superset/mcp_service/dashboard/tool/generate_dashboard.py
Due: ruff-format, ruff, pylint

fix(mcp): fix test assertion to use serialized column name 'schema'
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: ruff-format, ruff

fix(dimension): handle cases with multiple dimensions and metrics
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/timeOffset.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/utils/timeOffset.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): fix crashes in list tools, dataset info, chart preview, and add owner/favorite filters (#38277)
  superset/daos/chart.py
  superset/daos/dashboard.py
  superset/daos/dataset.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/mcp_core.py
  superset/mcp_service/sql_lab/schemas.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  superset/mcp_service/system/system_utils.py
  superset/mcp_service/system/tool/health_check.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
  tests/unit_tests/mcp_service/system/tool/test_get_current_user.py
  tests/unit_tests/mcp_service/system/tool/test_mcp_core.py
Due: ruff-format, ruff, pylint

fix(extensions): fix gitignore template and bump version (#38614)
  superset-extensions-cli/pyproject.toml
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/src/superset_extensions_cli/templates/gitignore.j2
Due: ruff-format, ruff, pylint

fix(map-box): recompute fitBounds when viewport is unset
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/MapBox.tsx
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/MapBox.test.tsx
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(editor): implement missing methods, fix cursor position clearing (#38603)
  superset-frontend/packages/superset-core/src/editors/index.ts
  superset-frontend/packages/superset-core/src/sqlLab/index.ts
  superset-frontend/src/core/editors/AceEditorProvider.tsx
  superset-frontend/src/core/sqlLab/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(dashboard): surface timegrain pre-filter results in UI
  superset-frontend/package-lock.json
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.timeGrain.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/TimeGrainPreFilter.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/transformers/timeGrains.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/utils.ts
  superset-frontend/src/filters/components/TimeGrain/TimeGrainPreFilter.integration.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

a11y(Sprint-3): text resize, non-text contrast, hover/focus content
  superset-frontend/packages/superset-core/src/ui/theme/GlobalStyles.tsx
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.tsx
  superset-frontend/packages/superset-ui-core/src/components/Popover/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/Tooltip/index.tsx
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/ReactCountryMap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
  superset-frontend/src/assets/staticPages/404.html
  superset-frontend/src/assets/staticPages/500.html
  superset-frontend/src/components/Accessibility/StatusAnnouncer.tsx
  superset-frontend/src/dashboard/components/OverwriteConfirm/OverwriteConfirmModal.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/pages/UserInfo/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

a11y(1.3.5): fix autocomplete attributes in OAuth2 and ImportModal
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

a11y(1.4.11): improve palette color contrast ratio to meet WCAG 3:1
  superset-frontend/packages/superset-ui-core/src/color/colorSchemes/categorical/superset.ts
  superset-frontend/packages/superset-ui-core/src/color/colorSchemes/sequential/common.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

a11y(1.4.10): fix remaining reflow issues at narrow viewports
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(timeshiftcolor): Time shift color to match the original color (#38473)
  superset-frontend/packages/superset-ui-chart-controls/src/operators/utils/timeOffset.ts
  superset-frontend/packages/superset-ui-chart-controls/test/operators/utils/timeOffset.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ag-grid-table): fix AND filter conditions not applied (#38369)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/types.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: rtl support tests + enhancements
  superset-frontend/packages/superset-core/src/theme/Theme.tsx
  superset-frontend/packages/superset-core/src/theme/types.ts
  superset-frontend/packages/superset-ui-core/src/components/DynamicEditableTitle/index.tsx
  superset-frontend/src/features/home/LanguagePicker.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/theme/ThemeController.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

a11y(2.4.6): add sr-only h1 heading to Datasets page
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(world-map): add fallback fill color when colorFn returns null (#38602)
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/test/WorldMap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: add None guard for last_data_stmt.data to satisfy mypy union-attr check
  superset/mcp_service/sql_lab/tool/execute_sql.py
Due: ruff-format, ruff, pylint

fix(mcp): wrap long line in multi_statement_warning description (E501)
  superset/mcp_service/sql_lab/schemas.py
Due: ruff-format, ruff, pylint

fix(mcp): return all statement results for multi-statement SQL queries
  superset/mcp_service/sql_lab/schemas.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
Due: ruff-format, ruff, pylint

fix: remove redundant guard check and add -> None to test method
  superset/mcp_service/sql_lab/tool/execute_sql.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
Due: ruff-format, ruff, pylint

fix(mcp): wrap long line to satisfy ruff E501 line length
  superset/mcp_service/sql_lab/tool/execute_sql.py
Due: ruff-format, ruff, pylint

fix(mcp): clarify multi_statement_warning description to say data-bearing statement
  superset/mcp_service/sql_lab/schemas.py
Due: ruff-format, ruff, pylint

fix(mcp): clarify multi-statement warning to say "last data-bearing statement"
  superset/mcp_service/sql_lab/tool/execute_sql.py
Due: ruff-format, ruff, pylint

a11y(1.4.3): enforce link color override with !important
  superset-frontend/packages/superset-core/src/ui/theme/GlobalStyles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: ci
  superset-frontend/src/dashboard/components/gridComponents/Markdown/Markdown.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/MetricsControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

a11y(1.4.3): scope link color override to exclude button-styled links
  superset-frontend/packages/superset-core/src/ui/theme/GlobalStyles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: lock
  superset-frontend/package-lock.json
Due: prettier-frontend

a11y(4.1.2): add aria-labels to all icon-only buttons across all pages
  superset-frontend/packages/superset-ui-core/src/components/FaveStar/index.tsx
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/dashboard/components/IconButton.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
  superset-frontend/src/pages/TaskList/index.tsx
  superset-frontend/src/pages/ThemeList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): return all statement results for multi-statement SQL queries (#38388)
  superset/mcp_service/sql_lab/schemas.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
Due: ruff-format, ruff, pylint

fix: add embedded box sizing rule for layout (#38351)
  superset-frontend/src/embedded/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(color): ensure createLinearScale always returns a color for null/NaN input
  superset-frontend/packages/superset-ui-core/src/color/SequentialScheme.ts
  superset-frontend/packages/superset-ui-core/test/color/SequentialScheme.test.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/test/WorldMap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): exclude search_tools from response size guard
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(mcp): correct import ordering in server.py
  superset/mcp_service/server.py
Due: ruff-format, ruff, pylint

fix(mcp): recompile requirements with uv-pip-compile.sh and fix import order
  requirements/development.txt
  superset/mcp_service/server.py
Due: ruff-format, ruff, pylint

fix(mcp): update registration tests for new FastMCP public API
  tests/unit_tests/mcp_service/test_mcp_tool_registration.py
Due: ruff-format, ruff
