Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(handlebars): add missing currencyformatter.js dependency
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-handlebars/package.json
Due: prettier-frontend

fix(excel): remove unwanted index column from Excel exports
  superset/common/query_context_processor.py
Due: ruff-format, ruff, pylint

test(excel): update tests to expect index=False argument
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff

fix(security): fix Guest Token API 422 error by disabling JWT sub claim verification
  superset/config.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(Dataset Folders): improve search-collapse
  superset-frontend/src/components/Datasource/FoldersEditor/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: add tests
  superset-frontend/src/components/Datasource/FoldersEditor/FoldersEditor.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): Remove unsupported thumbnail/preview URLs and internal fields from MCP schemas (#38109)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/dashboard/schemas.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
Due: ruff-format, ruff, pylint

chore: setup Vitest config
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/visualizations/TimeTable/utils/sortUtils/sortUtils.test.ts
  superset-frontend/vitest.config.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: ensure numeric values are correctly formatted in date cells
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): fix drop zone vertical shift in tab columns during drag
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.tsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.tsx
  superset-frontend/src/dashboard/components/gridComponents/Column/Column.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(types): add plugin origin comments to ExtendedDayjs interface
  superset-frontend/packages/superset-ui-core/src/utils/dates.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): pass queryLimit on data preview queries and fix Decimal TypeError in results handler
  superset-frontend/src/SqlLab/actions/sqlLab.ts
  superset-frontend/src/SqlLab/components/TablePreview/index.tsx
  superset-frontend/src/SqlLab/constants.ts
  superset/commands/sql_lab/results.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(deckgl): remove dataset field from Deck.gl Layer Visibility Display controls (#37611)
  superset-frontend/src/chartCustomizations/components/DeckglLayerVisibility/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-customizations): support migration of dynamic group by (#37176)
  superset-frontend/packages/superset-ui-core/src/query/types/Dashboard.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
  superset-frontend/src/dashboard/util/migrateChartCustomization.test.ts
  superset-frontend/src/dashboard/util/migrateChartCustomization.ts
  superset-frontend/src/dataMask/reducer.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): update chart customization UI text to "Display controls" (#37462)
  superset-frontend/src/dashboard/components/CustomizationsBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Header/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/FilterCard.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ConfigModalSidebar/ConfigModalSidebar.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/NewItemDropdown.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(native-filters): add unit tests for requiredFirst filter logic (#37640)
  superset-frontend/src/dashboard/components/DashboardBuilder/state.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(db): use Dialect instead of Engine in select_star to avoid SSH tunnels (#35540)
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/presto.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
  tests/unit_tests/db_engine_specs/test_hive.py
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/db_engine_specs/test_presto.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(reports): fix type hints and add error precedence test
  tests/unit_tests/commands/report/update_test.py
Due: ruff-format, ruff

fix(api): add CHART_DATA_INCLUDE_TIMING config, fix db_execution_ms contract and stats_logger units
  superset/charts/schemas.py
  superset/common/query_context_processor.py
  superset/config.py
  tests/unit_tests/common/test_query_context_processor_timing.py
Due: ruff-format, ruff, pylint, feature-flags-sync

chore: reorder alphabetically a feature flag config
  superset/config.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix: ci
  superset-frontend/src/components/Datasource/FoldersEditor/FoldersEditor.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(logging): use "cached" label for db_execution in slow query logs
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor_timing.py
Due: ruff-format, ruff, pylint

refactor(reports): deduplicate database check and add precedence integration test
  superset/commands/report/update.py
  tests/integration_tests/reports/api_tests.py
Due: ruff-format, ruff, pylint

fixed linting
  superset-frontend/src/components/Datasource/components/CollectionTable/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): centralize auto-refresh state in Header hook and ECharts refresh handling
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/EchartsBoxPlot.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/EchartsBubble.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/EchartsFunnel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Gantt/EchartsGantt.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/EchartsGauge.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/EchartsGraph.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/Heatmap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/Histogram.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/EchartsMixedTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/EchartsPie.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/EchartsRadar.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/Sankey.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/EchartsSunburst.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/EchartsTree.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/EchartsTreemap.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/EchartsWaterfall.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/src/dashboard/components/AutoRefreshControls/AutoRefreshControls.test.tsx
  superset-frontend/src/dashboard/components/AutoRefreshControls/index.tsx
  superset-frontend/src/dashboard/components/AutoRefreshStatus/AutoRefreshStatus.test.tsx
  superset-frontend/src/dashboard/components/AutoRefreshStatus/index.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): propagate staggered refresh failures and correct auto-refresh isRefreshing/orderby behavior
  superset-frontend/plugins/plugin-chart-echarts/src/utils/orderby.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/orderby.ts
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
  superset-frontend/src/dashboard/actions/dashboardState.test.ts
  superset-frontend/src/dashboard/actions/dashboardState.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docs): guard window reference in logging.ts for SSR compatibility
  superset-frontend/packages/superset-core/src/utils/logging.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(extensions): add mandatory publisher field to extension metadata
  docs/developer_portal/extensions/quick-start.md
  superset-core/src/superset_core/extensions/constants.py
  superset-core/src/superset_core/extensions/types.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/src/superset_extensions_cli/templates/extension.json.j2
  superset-extensions-cli/src/superset_extensions_cli/templates/frontend/package.json.j2
  superset-extensions-cli/src/superset_extensions_cli/templates/frontend/webpack.config.js.j2
  superset-extensions-cli/src/superset_extensions_cli/types.py
  superset-extensions-cli/src/superset_extensions_cli/utils.py
  superset-extensions-cli/tests/conftest.py
  superset-extensions-cli/tests/test_cli_build.py
  superset-extensions-cli/tests/test_cli_bundle.py
  superset-extensions-cli/tests/test_cli_dev.py
  superset-extensions-cli/tests/test_cli_init.py
  superset-extensions-cli/tests/test_name_transformations.py
  superset-extensions-cli/tests/test_templates.py
  superset/extensions/api.py
  superset/extensions/utils.py
Due: ruff-format, ruff, pylint

fix(build): restore automatic .d.ts generation in dev mode
  superset-frontend/webpack.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix tests
  tests/unit_tests/extensions/test_types.py
Due: ruff-format, ruff

feat: Add bulk certification for charts and dashboards
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/list.test.ts
  superset-frontend/src/components/ListView/ListView.test.jsx
  superset-frontend/src/components/ListView/ListView.test.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/features/bulkUpdate/BulkCertifyModal.tsx
  superset-frontend/src/pages/ChartList/ChartList.cardview.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.listview.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.permissions.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.testHelpers.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.test.jsx
  superset-frontend/src/pages/DashboardList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(pivot-table): show subvalue label with aggregator name
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): route periodic auto-refresh through onRefresh (skip filters) and clean up redundant transformProps isRefreshing passthrough
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gantt/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sankey/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Tree/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Treemap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): make LOCAL_EXTENSIONS loading resilient to individual failures
  superset/extensions/utils.py
Due: ruff-format, ruff, pylint

fix(tooltip): fixing tooltip issue
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/test/WorldMap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ci): use OIDC auth token for successful Codecov upload
  .github/workflows/superset-frontend.yml
Due: none

fix(docs): guard window reference in logging.ts for SSR compatibility (#38201)
  superset-frontend/packages/superset-core/src/utils/logging.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
