Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

feat(theming): make core components fully configurable via theme tokens
  superset-frontend/packages/superset-core/src/theme/types.ts
  superset-frontend/packages/superset-ui-core/src/components/Button/Button.stories.tsx
  superset-frontend/packages/superset-ui-core/src/components/Button/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/Button/types.ts
  superset-frontend/packages/superset-ui-core/src/components/DropdownButton/DropdownButton.stories.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownButton/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownButton/types.ts
  superset-frontend/packages/superset-ui-core/src/components/Label/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/styles.tsx
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/gridComponents/TabsRenderer/TabsRenderer.tsx
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/types/bootstrapTypes.ts
  superset/config.py
  superset/views/base.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(theming): restore comment explaining superset-button static class
  superset-frontend/packages/superset-ui-core/src/components/Button/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(theming): register new tokens in SUPERSET_CUSTOM_TOKENS registry
  superset-frontend/src/theme/utils/antdTokenNames.test.ts
  superset-frontend/src/theme/utils/antdTokenNames.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(test): use container.firstChild for non-null snapshot in DropdownButton
  superset-frontend/packages/superset-ui-core/src/components/DropdownButton/DropdownButton.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownButton/__snapshots__/DropdownButton.test.tsx.snap
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(theming): fix prettier formatting in Button component
  superset-frontend/packages/superset-ui-core/src/components/Button/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(screenshots): catch empty-bytes tiled result and set ERROR on falsy image (#41097)
  pyproject.toml
  superset/utils/screenshots.py
  superset/utils/webdriver.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
  tests/unit_tests/utils/webdriver_test.py
Due: ruff-format, ruff, pylint

feat(mcp): add replaces parameter to @tool decorator for override
  superset-core/src/superset_core/mcp/decorators.py
  superset/core/mcp/core_mcp_injection.py
Due: ruff-format, ruff, pylint

fix(reports): respect CSV_EXPORT sep and decimal config in email reports
  superset/charts/client_processing.py
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff, pylint

test(currency): cover static undefined-symbol and missing-part fallbacks
  superset-frontend/packages/superset-ui-core/test/currency-format/CurrencyFormatter.test.ts
  superset-frontend/packages/superset-ui-core/test/currency-format/symbolPosition.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(auth): reorganize imports and enhance user update test with cleanup logic
  superset/utils/auth_session_stamp.py
  tests/integration_tests/users/api_tests.py
Due: ruff-format, ruff, pylint

fix(point-cluster-map): guard invalid point radii (#40393)
  superset-frontend/plugins/plugin-chart-point-cluster-map/src/components/ScatterPlotOverlay.tsx
  superset-frontend/plugins/plugin-chart-point-cluster-map/test/ScatterPlotOverlay.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(datasource): restore schema/owner/certified/changed_by filters in combined endpoint
  superset/commands/datasource/list.py
  superset/daos/datasource.py
  tests/unit_tests/commands/datasource/list_test.py
Due: ruff-format, ruff, pylint

add spec
  tests/unit_tests/mcp_service/test_tool_replaces.py
Due: ruff-format, ruff

style: apply pre-commit autofixes (prettier, trailing whitespace)
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/views/CRUD/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): backfill German (de) translations (AI-generated, needs review)
  superset/translations/de/LC_MESSAGES/messages.po
Due: none

fix(sqllab): quote autocomplete table names that need it (#41199)
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.test.ts
  superset-frontend/src/SqlLab/components/AceEditorWrapper/useKeywords.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(listview): prevent table column layout shift on content change
  superset-frontend/packages/superset-ui-core/src/components/TableCollection/utils.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(auth): implement session stamp synchronization on user login and enhance validation logic
  superset/utils/auth_session_stamp.py
  tests/unit_tests/utils/test_auth_session_stamp.py
Due: ruff-format, ruff, pylint

chore(i18n): add missing language names to backfill_po LANGUAGE_NAMES
  scripts/translations/backfill_po.py
Due: ruff-format, ruff

fix(async-query): prevent JWT InvalidSubjectError for guest users (#37862)
  superset/async_events/async_query_manager.py
  tests/unit_tests/async_events/async_query_manager_tests.py
Due: ruff-format, ruff, pylint

feat(i18n): backfill Latvian (lv) translations (AI-generated, needs review)
  superset/translations/lv/LC_MESSAGES/messages.po
Due: none

feat(i18n): backfill Finnish (fi) translations (AI-generated, needs review)
  superset/translations/fi/LC_MESSAGES/messages.po
Due: none

fix(streaming-export): route SQL through mutate_sql_based_on_config
  superset/commands/streaming_export/base.py
  tests/unit_tests/commands/chart/streaming_export_command_test.py
  tests/unit_tests/commands/sql_lab/streaming_export_command_test.py
Due: ruff-format, ruff, pylint

fix(migrations): add pylint disable comments for transaction handling in upgrade and downgrade functions
  superset/migrations/versions/2026-06-23_03-23_a7d3f1b9c2e4_cleanup_stale_can_import_pvm.py
  superset/utils/auth_session_stamp.py
  tests/unit_tests/utils/test_auth_session_stamp.py
Due: ruff-format, ruff, pylint

fix(sqllab): show truncated table list warning
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(time-range): add type annotations and fix Other init snap bug
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CommonFrame.tsx
  superset/utils/date_parser.py
  tests/unit_tests/utils/date_parser_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(time-range): add coverage for numberless granular forms (Last hour, Next minute)
  tests/unit_tests/utils/date_parser_tests.py
Due: ruff-format, ruff

fix(date-parser): use explicit per-unit plural in granular regex patterns
  superset/utils/date_parser.py
Due: ruff-format, ruff, pylint

fix: fix imports
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/DataTable/components/SearchSelectDropdown.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(a11y): add aria-label to cross-filter search icon
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTitle.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(a11y): assert accessible name on cross-filter search icon
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/CrossFilters/CrossFilterTitle.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: add placeholder
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset/translations/ru/LC_MESSAGES/messages.po
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: fix test
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(auth): implement session authentication stamp revalidation and caching logic
  superset/config.py
  superset/utils/auth_db_password_hash.py
  superset/utils/auth_session_stamp.py
  superset/views/users/api.py
  tests/unit_tests/utils/test_auth_db_password_hash.py
  tests/unit_tests/utils/test_auth_session_stamp.py
Due: ruff-format, ruff, pylint, feature-flags-sync

style(cli): add type hints flagged by review on superset/cli/thumbnails.py
  superset/cli/thumbnails.py
Due: ruff-format, ruff, pylint

test(cli): cover DetachedInstanceError fix in compute-thumbnails
  tests/unit_tests/cli/thumbnails_test.py
Due: ruff-format, ruff

style(cli): ruff-format compute-thumbnails (single-line comprehension)
  superset/cli/thumbnails.py
Due: ruff-format, ruff, pylint

fix(cli): avoid DetachedInstanceError in compute-thumbnails
  superset/cli/thumbnails.py
Due: ruff-format, ruff, pylint

style(cli): add type hints flagged by review on tests/unit_tests/cli/thumbnails_test.py
  tests/unit_tests/cli/thumbnails_test.py
Due: ruff-format, ruff
