Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)

fix(prune_logs): improve performance by using id column only for ordering log records when max_rows_per_run is provided (#37138)
  superset/commands/logs/prune.py
Due: ruff-format, ruff, pylint

chore: add comments
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(types): add optional columnDisplayNames to ResultsPaneProps and SingleQueryResultPaneProp
  superset-frontend/src/explore/components/DataTablesPane/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(useResultsPane): add columnDisplayNames prop to ResultsPaneProps
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

add dedup key
  superset/daos/tasks.py
  superset/migrations/versions/2025_12_18_0220_create_async_tasks_table.py
  superset/models/tasks.py
  superset/tasks/decorators.py
  superset/tasks/executor.py
  superset/tasks/utils.py
  tests/integration_tests/tasks/api_tests.py
  tests/unit_tests/tasks/test_utils.py
Due: ruff-format, ruff, pylint

feat(ResultsPane): add columnDisplayNames prop to ResultsPaneOnDashboard and SingleQueryResultPane
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(DataTableControl): add displayLabel prop to DataTableTemporalHeaderCell and use columnDisplayNames in useTableColumns
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(useTableColumns): add displayLabel support for headers and test columnDisplayNames functionality
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(Matrixify): disable matrixify for incompatible viz types
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: ci
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: Add UserGuiding INTHEWILD.yaml (#37030)
  RESOURCES/INTHEWILD.yaml
  docs/static/img/logos/userguiding.svg
Due: none

feat(mobile): add drawer menus for nav and filters on mobile
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(dashboard): add mobile-friendly dashboard consumption mode
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row/Row.tsx
  superset-frontend/src/dashboard/components/gridComponents/TabsRenderer/TabsRenderer.tsx
  superset-frontend/src/features/home/Menu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): make charts full-width on mobile
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mobile): remove negative margin on mobile dashboard
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): improve mobile nav drawer UX
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/features/home/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): clean up dashboard header for mobile
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
  superset-frontend/src/features/home/Menu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): Simplify welcome page for mobile consumption mode
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/pages/Home/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mobile): Keep menu horizontal on mobile for compact tabs
  superset-frontend/src/features/home/SubMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): Add filter drawer to Dashboard List page
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): Add filter drawer and chart consumption mode for mobile dashboards
  superset-frontend/packages/superset-ui-core/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/Header/index.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(mobile): Add tests for mobile support props
  superset-frontend/src/components/ListView/ListView.test.tsx
  superset-frontend/src/features/home/SubMenu.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): Full-width cards on ListView (dashboard list)
  superset-frontend/src/components/ListView/CardCollection.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): Full-width cards on welcome page mobile view
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mobile): Force card view and hide toggle on dashboard list
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mobile): Address code review feedback
  superset-frontend/src/components/ListView/ListView.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mobile): Force card view on dashboard list with forceViewMode prop
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/pages/DashboardList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mobile): Hide + button and compact filter tabs on mobile
  superset-frontend/src/features/home/SubMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): Handle big_number charts and make semantic warnings non-blocking
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/validation/runtime/__init__.py
Due: ruff-format, ruff, pylint

fix(mcp): fix mypy error and add unit tests for chart data fixes
  superset/mcp_service/chart/tool/get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/validation/__init__.py
  tests/unit_tests/mcp_service/chart/validation/test_runtime_validator.py
Due: ruff-format, ruff, pylint

fix(dashboard): revert cell hover and active colors to grayscale (#36991)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/styles/index.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/Styles.js
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(db_engine_specs): Centralize database metadata in engine specs
  docs/scripts/generate-database-docs.mjs
  docs/src/components/databases/DatabaseIndex.tsx
  docs/src/components/databases/types.ts
  superset/db_engine_specs/base.py
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/lib.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/sqlite.py
Due: eslint-docs, ruff-format, ruff, pylint

docs: Make developer portal visible in nav
  docs/versions-config.json
Due: none

feat(db-docs): add metadata to remaining specs and document in README
  superset/db_engine_specs/README.md
  superset/db_engine_specs/ascend.py
  superset/db_engine_specs/aurora.py
  superset/db_engine_specs/mariadb.py
Due: ruff-format, ruff, pylint

fix(dashboard): unify auto-refresh indicator with bordered container, pause/play icons, and proper positioning
  superset-frontend/packages/superset-ui-core/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/dashboard/components/AutoRefreshIndicator/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: auto refresh resumes when user is back to the dashboard
  superset-frontend/src/dashboard/hooks/useAutoRefreshTabPause.ts
  superset-frontend/src/dashboard/hooks/useRealTimeDashboard.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(charts): implement automatic axis title margin adjustment in ExploreViewContainer
  superset-frontend/packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(echarts): following avoid nesting when testing principle
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(chart): clarify comments and variable names in horizontal bar chart tests
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
