Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

feat(version-history): restore confirm modal, restore flow, and open-as-new forking
  superset-frontend/src/features/versionHistory/ChartVersionPreview.tsx
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.tsx
  superset-frontend/src/features/versionHistory/ExploreVersionHistory.tsx
  superset-frontend/src/features/versionHistory/PreviewBanner.tsx
  superset-frontend/src/features/versionHistory/RestoreConfirmModal.tsx
  superset-frontend/src/features/versionHistory/api.ts
  superset-frontend/src/features/versionHistory/reducer.ts
  superset-frontend/src/features/versionHistory/types.ts
  superset-frontend/src/features/versionHistory/useDashboardVersionPreview.ts
  superset-frontend/src/features/versionHistory/useVersionActions.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(version-history): round-4 cosmetic fixups — search suffix, neutral icons, plain headers
  superset-frontend/src/features/versionHistory/ActionRow.tsx
  superset-frontend/src/features/versionHistory/CurrentVersionSection.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.tsx
  superset-frontend/src/features/versionHistory/VersionHistoryPanel.tsx
  superset-frontend/src/features/versionHistory/grouping.test.ts
  superset-frontend/src/features/versionHistory/useVersionActivity.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(version-history): refresh the timeline live when the entity is saved while the panel is open
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.test.tsx
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.tsx
  superset-frontend/src/features/versionHistory/ExploreVersionHistory.test.tsx
  superset-frontend/src/features/versionHistory/ExploreVersionHistory.tsx
  superset-frontend/src/features/versionHistory/useDashboardVersionPreview.test.tsx
  superset-frontend/src/types/Chart.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(version-history): Playwright activity-log e2e for charts
  superset-frontend/playwright/tests/version-history/activity-log.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(version-history): prettier formatting in panel test
  superset-frontend/src/features/versionHistory/VersionHistoryPanel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(recently-archived): rename frontend terminology deleted -> archived (sc-111760)
  docs/docs/using-superset/recently-archived.mdx
  superset-frontend/playwright/tests/recently-archived/recently-archived.spec.ts
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/ArchivedList/types.ts
  superset-frontend/src/views/routes.tsx
  superset/initialization/__init__.py
  superset/views/archived_assets.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(soft-delete): recoverable delete-confirmation modal for archived objects (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/types.ts
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/types.ts
  superset-frontend/playwright/tests/recently-archived/delete-modal.spec.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/utils/softDeleteCopy.ts
  superset/views/base.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(recently-deleted): serve the /deleted/ route + E2E coverage (sc-111760)
  superset-frontend/playwright/tests/recently-deleted/recently-deleted.spec.ts
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
  superset/initialization/__init__.py
  superset/views/deleted_assets.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(soft-delete): success/error toasts say "Archived", not "Deleted" (sc-111760)
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(recently-archived): add Settings menu link to the archive (sc-111760 T004)
  superset-frontend/playwright/tests/recently-archived/menu-link.spec.ts
  superset/initialization/__init__.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(soft-delete): label the recoverable action "Archive", not "Delete" (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/playwright/tests/recently-archived/delete-modal.spec.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(recently-archived): E2E permanent-delete round-trip + restore toast wording
  superset-frontend/playwright/tests/recently-archived/recently-archived.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(frontend): Recently-Deleted (Archive) view — find & restore soft-deleted objects (sc-111760)
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
  superset-frontend/src/pages/DeletedList/types.ts
  superset-frontend/src/views/routes.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(recently-archived): permanent delete (force-purge) + recovery toast polish (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/ConfirmStatusChange/types.ts
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/types.ts
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset/charts/api.py
  superset/commands/purge.py
  superset/dashboards/api.py
  superset/datasets/api.py
  tests/integration_tests/charts/soft_delete_tests.py
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/datasets/soft_delete_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(recently-deleted): provenance columns + name preview links (sc-111760 US3)
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(recently-deleted): filter & sort the archive by deletion time (sc-111760 US2)
  superset-frontend/src/pages/DeletedList/DeletedList.test.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
  superset/charts/api.py
  superset/dashboards/api.py
  superset/datasets/api.py
  tests/integration_tests/charts/soft_delete_tests.py
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/datasets/soft_delete_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

refactor(recently-archived): address clean-code review (sc-111760)
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/utils/softDeleteCopy.ts
  superset/charts/api.py
  superset/commands/purge.py
  superset/dashboards/api.py
  superset/datasets/api.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

refactor(recently-archived): address react-review (i18n + a11y) (sc-111760)
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/ArchivedList/types.ts
  superset-frontend/src/utils/softDeleteCopy.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(recently-deleted): use the Rollback (restore) icon to match the Figma (sc-111760)
  superset-frontend/packages/superset-ui-core/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/pages/DeletedList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(recently-archived): cover purge-422 + recoveredToast (sc-111760)
  superset-frontend/src/utils/softDeleteCopy.test.ts
  tests/integration_tests/charts/soft_delete_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

docs(recently-deleted): add user guide for the Archive view (sc-111760)
  docs/docs/using-superset/recently-deleted.mdx
Due: none

test(native-filters): remove any types from getControlItemsMap test mocks
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix avatar size
  superset-frontend/src/features/subjects/SubjectPile/SubjectPile.test.tsx
  superset-frontend/src/features/subjects/SubjectPile/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(frontend): fix CI-failing TablePreview and SavedQueryList queries
  superset-frontend/src/SqlLab/components/TablePreview/TablePreview.test.tsx
  superset-frontend/src/pages/SavedQueryList/SavedQueryList.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): show already-added allowed domains in embed modal (closes #35328) (#41399)
  superset-frontend/src/dashboard/components/EmbeddedModal/EmbeddedModal.test.tsx
  superset-frontend/src/dashboard/components/EmbeddedModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): remove stray focus outline on Filter Badge popover (closes #38789) (#41398)
  superset-frontend/src/dashboard/components/FiltersBadge/DetailsPanel/DetailsPanel.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/Styles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): preserve whitespace in grid result cells (#41135)
  superset-frontend/src/components/GridTable/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): update German security menu translations
  superset/translations/de/LC_MESSAGES/messages.po
Due: none

fix(Table Chart): Show correct cache time moment for Query2 (#37482)
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(ci): scope zizmor adhoc-packages on setup-supersetbot action (#41547)
  .github/actions/setup-supersetbot/action.yml
Due: none

chore(ci): pin @action-validator versions in GHA validator workflow (#41545)
  .github/workflows/github-action-validator.yml
Due: none

build(embedded-sdk): remove test files and related files from build artifact to be published (#41584)
  superset-embedded-sdk/babel.config.js
  superset-embedded-sdk/package.json
  superset-embedded-sdk/tsconfig.json
Due: none

chore(ci): silence zizmor adhoc-packages note for supersetbot install
  .github/actions/setup-supersetbot/action.yml
Due: none

feat(mcp): add duplicate_dashboard tool (#40959)
  superset/mcp_service/app.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/__init__.py
  superset/mcp_service/dashboard/tool/duplicate_dashboard.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_duplicate_dashboard.py
Due: ruff-format, ruff, pylint

feat(mcp): add tags + typed metadata fields to update_dashboard (#40957)
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/update_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_update_dashboard.py
Due: ruff-format, ruff, pylint

chore(ci): silence zizmor adhoc-packages note for supersetbot install (#41546)
  .github/actions/setup-supersetbot/action.yml
Due: none

fix(reports): pre-commit tab permalinks before state machine transaction (#41096)
  superset/commands/report/execute.py
Due: ruff-format, ruff, pylint

fix: enhance edit/delete permissions for charts, dashboards, and datasets (#18870) (#32981)
  superset-frontend/packages/superset-ui-core/src/components/EditableTitle/index.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

address initial own review comments
  UPDATING.md
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  docs/static/feature-flags.json
  superset-frontend/spec/fixtures/mockSliceEntities.js
  superset-frontend/src/components/Chart/DrillBy/DrillByChart.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillBySubmenu.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/types.ts
  superset-frontend/src/dashboard/actions/dashboardState.ts
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.test.tsx
  superset-frontend/src/dashboard/util/permissionUtils.test.ts
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/fixtures.tsx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset/config.py
  tests/integration_tests/charts/commands_tests.py
  tests/unit_tests/dashboards/schema_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(dashboard): prevent double-click on create dashboard from creating duplicates (#40833)
  superset-frontend/src/utils/navigationUtils.test.ts
  superset-frontend/src/utils/navigationUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
