Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

refactor(listview): CompactSelectPanel reuses Select/AsyncSelect
  superset-frontend/packages/superset-ui-core/src/components/Select/types.ts
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.test.tsx
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Revert "refactor(listview): CompactSelectPanel reuses Select/AsyncSelect"
  superset-frontend/packages/superset-ui-core/src/components/Select/types.ts
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.test.tsx
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(listview): match search top padding to left/right for consistency
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: update compact filter pills screenshots
  docs/filter-screenshots/01-pills-inactive.png
  docs/filter-screenshots/02-dropdown-open.png
  docs/filter-screenshots/03-pill-active-clearall.png
  docs/filter-screenshots/04-owner-dropdown.png
  docs/filter-screenshots/05-tooltip.png
  docs/filter-screenshots/06-chart-list.png
Due: none

fix(listview): remove duplicate top padding on panel container
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: retake screenshots — tooltip, dropdown, active state
  docs/filter-screenshots/01-pills-inactive.png
  docs/filter-screenshots/02-dropdown-open.png
  docs/filter-screenshots/03-pill-active.png
  docs/filter-screenshots/04-tooltip.png
  docs/filter-screenshots/05-owner-dropdown.png
  docs/filter-screenshots/06-chart-list.png
Due: none

fix(listview): close dropdown on resize; add OptionList padding
  superset-frontend/src/components/ListView/Filters/CompactFilterTrigger.tsx
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(listview): fix search input clipping and match antd option height
  superset-frontend/src/components/ListView/Filters/CompactSelectPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): Skip misleading trend analysis for categorical ASCII charts (#39761)
  superset/mcp_service/chart/ascii_charts.py
  tests/unit_tests/mcp_service/chart/test_ascii_charts.py
Due: ruff-format, ruff, pylint

fix(echarts): preserve dataZoom range across setOption(notMerge) (#40173)
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/components/Echart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Bump code coverage to 100%
  tests/unit_tests/sql/rls_splice_unit_tests.py
Due: ruff-format, ruff

fix(semantic layers): coerce filter types
  superset/semantic_layers/mapper.py
  tests/unit_tests/semantic_layers/mapper_test.py
Due: ruff-format, ruff, pylint

test(sql-parser): pin WITH+UNION as non-mutating across dialects (#25659) (#40138)
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

ci(docs): soft-fail badge localization on transient fetch errors (#40236)
  docs/plugins/remark-localize-badges.mjs
Due: none

docs(reports): playwright setup clarification (#40168)
  docs/admin_docs/configuration/alerts-reports.mdx
  superset/config.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(dataset-editor): drop null warning_markdown from extra JSON serialisation (#39706)
  superset-frontend/src/components/Datasource/DatasourceModal/DatasourceModal.test.tsx
  superset-frontend/src/components/Datasource/DatasourceModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): enforce server-side recipient on chart/dashboard report subscriptions (#38847)
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/actions.ts
  superset-frontend/src/features/reports/ReportModal/index.tsx
  superset-frontend/src/features/reports/ReportModal/reducer.ts
  superset/commands/report/base.py
  superset/commands/report/update.py
  superset/reports/api.py
  superset/reports/schemas.py
  tests/integration_tests/reports/api_tests.py
  tests/unit_tests/commands/report/update_test.py
  tests/unit_tests/reports/schemas_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore(codeowners): add @rusackas as translations maintainer
  .github/CODEOWNERS
Due: none

chore(ChartRenderer): prettier follow-up after showContextMenu rename
  superset-frontend/src/components/Chart/ChartRenderer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: sync requirement files
  requirements/base-constraint.txt
Due: none

chore: remove accidentally added base-constrain.txt when running uv compile
  requirements/base-constraint.txt
Due: none

chore: add missing Gunicorn bump in development.txt
  requirements/development.txt
Due: none

chore(codeowners): add @rusackas as translations maintainer (#40295)
  .github/CODEOWNERS
Due: none

fix(dashboard): match auto-refresh paused-dot outline to icon color (#39909)
  superset-frontend/src/dashboard/components/AutoRefreshStatus/StatusIndicatorDot.test.tsx
  superset-frontend/src/dashboard/components/AutoRefreshStatus/StatusIndicatorDot.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(helpers): regression for humanize locale activation (#28331) (#40233)
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff

fix(embedded-sdk): grant fullscreen and clipboard-write by default (#39943)
  superset-embedded-sdk/src/index.ts
Due: none

test(reports): regression for alerts CSV missing chart time filters (#25538) (#40232)
  tests/unit_tests/commands/report/execute_test.py
Due: ruff-format, ruff

test(charts): regression for last-modified sort order (#27500) (#40231)
  tests/integration_tests/charts/api_tests.py
Due: ruff-format, ruff

fix(table): consolidate visual column options under Visual formatting section (#39856)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): row limit warning missing for non-table charts (#39911)
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.jsx
  superset-frontend/src/explore/components/ChartPills.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(datasets): regression test for Jinja not rendered on sync columns (#25839) (#40224)
  tests/unit_tests/connectors/sqla/utils_test.py
Due: ruff-format, ruff

fix(dashboard): Clear All filters now stages changes until Apply (#39778)
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(playwright): scope bulk-select action selector by stable key, not localized text
  superset-frontend/playwright/components/ListView/BulkSelect.ts
  superset-frontend/playwright/components/ListView/index.ts
  superset-frontend/playwright/pages/ChartListPage.ts
  superset-frontend/playwright/pages/DashboardListPage.ts
  superset-frontend/playwright/pages/DatasetListPage.ts
  superset-frontend/playwright/tests/chart/chart-list.spec.ts
  superset-frontend/playwright/tests/dashboard/dashboard-list.spec.ts
  superset-frontend/playwright/tests/dataset/dataset-list.spec.ts
  superset-frontend/src/components/ListView/ListView.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(rls): prevent double-apply when converting physical dataset to virtual (#39725)
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  superset/utils/rls.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff, pylint

fix(embedded-e2e): address Copilot review threads
  superset-frontend/playwright/embedded-app/index.html
  superset-frontend/playwright/helpers/api/embedded.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(list-view): read SelectOption.title from full option arg
  superset-frontend/src/components/ListView/Filters/Select.test.tsx
  superset-frontend/src/components/ListView/Filters/Select.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: chart rendering race condition and homepage connection reset (#40065)
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Chart/chartActions.test.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(playwright): scope row checkbox + replace remaining magic 60s timeouts
  superset-frontend/playwright/components/ListView/BulkSelect.ts
  superset-frontend/playwright/tests/chart/chart-list.spec.ts
  superset-frontend/playwright/tests/dashboard/dashboard-list.spec.ts
  superset-frontend/playwright/tests/dataset/dataset-list.spec.ts
  superset-frontend/src/components/ListView/ListView.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(roles): restore early-return guard for roles with no permissions
  superset-frontend/src/features/roles/RoleListEditModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard-import): pin native filter scope rootPath preservation (#19944) (#40135)
  tests/unit_tests/dashboards/commands/importers/v1/utils_test.py
Due: ruff-format, ruff

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
