Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(ag-grid-table): fix AND filter conditions not applied
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(DashboardList): migrate Cypress E2E tests to RTL
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/filter.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard_list/list.test.ts
  superset-frontend/src/pages/DashboardList/DashboardList.behavior.test.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.cardview.test.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.listview.test.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.permissions.test.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.test.tsx
  superset-frontend/src/pages/DashboardList/DashboardList.testHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

tests for query resolution
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): add filterState type and test for cross-filter fix
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): improve minor gridline visibility in dark themes
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(bar-chart): add option to color bars by primary axis when no dimensions are set (#37531)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): honor target_tab parameter when adding charts to tabbed dashboards
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

feat(mcp): auto-generate dashboard title from chart names when omitted
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

fix(map-box): make opacity, longitude, latitude, and zoom controls functional
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/MapBox.tsx
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-map-box/src/transformProps.ts
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/MapBox.test.tsx
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Update superset-frontend/plugins/legacy-plugin-chart-map-box/test/MapBox.test.tsx
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/MapBox.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

update path for safeParseEChartOptions
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(playwright): add dashboard list E2E tests
  superset-frontend/playwright/helpers/api/dashboard.ts
  superset-frontend/playwright/helpers/fixtures/testAssets.ts
  superset-frontend/playwright/pages/DashboardListPage.ts
  superset-frontend/playwright/tests/experimental/dashboard/dashboard-list.spec.ts
  superset-frontend/playwright/tests/experimental/dashboard/dashboard-test-helpers.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): fix false-pass favorites assertion in DashboardList permissions test
  superset-frontend/src/pages/DashboardList/DashboardList.permissions.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(roles): convert permissions/groups dropdowns to AsyncSelect with server-side search
  superset-frontend/src/features/roles/RoleFormItems.tsx
  superset-frontend/src/features/roles/RoleListAddModal.test.tsx
  superset-frontend/src/features/roles/RoleListAddModal.tsx
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/features/roles/RoleListEditModal.tsx
  superset-frontend/src/features/roles/types.ts
  superset-frontend/src/features/roles/utils.test.ts
  superset-frontend/src/features/roles/utils.ts
  superset-frontend/src/pages/RolesList/RolesList.test.tsx
  superset-frontend/src/pages/RolesList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): use inline theme data to prevent 403 for non-admin users
  superset-frontend/src/components/CrudThemeProvider.test.tsx
  superset-frontend/src/components/CrudThemeProvider.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(roles): suppress duplicate toasts on hydration failure and add cache key test
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/features/roles/RoleListEditModal.tsx
  superset-frontend/src/features/roles/utils.test.ts
  superset-frontend/src/features/roles/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): use is-not-None check for dashboard_title to preserve empty strings
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

fix ag grid table column filters not persisting in explore permalinks
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset-frontend/src/explore/types.ts
  superset-frontend/src/pages/Chart/index.tsx
  superset-frontend/src/utils/urlUtils.ts
  superset/commands/explore/get.py
  superset/explore/permalink/schemas.py
  superset/explore/permalink/types.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(mcp): add compile check to validate chart queries before returning
  superset/mcp_service/chart/tool/generate_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
Due: ruff-format, ruff, pylint

fix(mcp): add permission check for UUID dataset lookup in preview compile path
  superset/mcp_service/chart/tool/generate_chart.py
Due: ruff-format, ruff, pylint

test: robust coverage for RLS API error paths bypassing decorators
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff

style: reformat RLS API with ruff
  superset/row_level_security/api.py
Due: ruff-format, ruff, pylint

feat(security): finalize SEC-116 fixes with mutation detection and standardized validation
  superset/commands/security/create.py
  superset/commands/security/update.py
  superset/sql/parse.py
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff, pylint

test: Fix RLS unit tests by bypassing decorators and DB dependencies
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff

feat: improve RLS filter parsing logic and standardize commands
  superset/commands/security/create.py
  superset/commands/security/exceptions.py
  superset/commands/security/update.py
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  superset/row_level_security/api.py
  superset/sql/parse.py
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff, pylint

feat(security): refine RLS filter parsing and add runtime validation (SEC-116)
  superset/commands/security/create.py
  superset/commands/security/update.py
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  superset/sql/parse.py
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff, pylint

feat(security): simplify validation and fix coverage for SEC-116
  superset-frontend/packages/superset-ui-core/src/index.ts
  superset/commands/security/create.py
  superset/commands/security/update.py
  tests/unit_tests/commands/security/rls_command_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test: reach 100% Python logic coverage for SEC-116
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff

revert: remove CI kick comment
  superset-frontend/packages/superset-ui-core/src/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: reach 100% coverage for SEC-116 logic
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff

test: reach 100% coverage for SEC-116 commands
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff

test: add guest RLS coverage for SEC-116
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff

feat(security): use robust RLS validation and fix guest RLS test failure
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  tests/unit_tests/commands/security/rls_command_tests.py
Due: ruff-format, ruff, pylint

refactor(mcp): move superset_core MCP module from mcp to api/mcp
  docs/developer_docs/extensions/mcp.md
  superset-core/src/superset_core/api/mcp.py
  superset/core/mcp/core_mcp_injection.py
  superset/mcp_service/CLAUDE.md
  superset/mcp_service/app.py
  superset/mcp_service/chart/prompts/create_chart_guided.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  superset/mcp_service/system/prompts/quickstart.py
  superset/mcp_service/system/tool/get_instance_info.py
  superset/mcp_service/system/tool/get_schema.py
  superset/mcp_service/system/tool/health_check.py
Due: ruff-format, ruff, pylint

rename(config): SIGNAL_CACHE_CONFIG → DISTRIBUTED_COORDINATION_CONFIG
  UPDATING.md
  docs/admin_docs/configuration/cache.mdx
  docs/developer_docs/extensions/tasks.md
  superset/commands/distributed_lock/acquire.py
  superset/commands/distributed_lock/base.py
  superset/commands/distributed_lock/release.py
  superset/config.py
  superset/distributed_lock/__init__.py
  superset/tasks/locks.py
  superset/tasks/manager.py
  superset/utils/cache_manager.py
  tests/integration_tests/tasks/test_sync_join_wait.py
  tests/unit_tests/tasks/test_handlers.py
  tests/unit_tests/tasks/test_manager.py
  tests/unit_tests/tasks/test_timeout.py
Due: ruff-format, ruff, pylint, feature-flags-sync

Apply suggestion from @michael-s-molina
  superset/config.py
Due: ruff-format, ruff, pylint, feature-flags-sync

feat(docs): add filterable UI Components table and improve build performance (#38253)
  docs/.gitignore
  docs/developer_docs/api.mdx
  docs/developer_docs/extensions/development.md
  docs/developer_docs/extensions/overview.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/generate-database-docs.mjs
  docs/scripts/generate-extension-components.mjs
  docs/scripts/generate-if-changed.mjs
  docs/scripts/generate-superset-components.mjs
  docs/sidebarTutorials.js
  docs/src/components/databases/DatabaseIndex.tsx
  docs/src/components/ui-components/ComponentIndex.tsx
  docs/src/components/ui-components/index.ts
  docs/src/components/ui-components/types.ts
  docs/src/data/databases.json
  docs/src/shims/superset-ui-core.ts
  docs/src/webpack.extend.ts
  docs/tsconfig.json
  docs/yarn.lock
Due: eslint-docs

fix(charts): improve minor gridline visibility in dark themes (#38371)
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tags): expire tag relationship after deleting all tagged objects (#38163)
  superset/daos/tag.py
  tests/unit_tests/tags/commands/update_test.py
Due: ruff-format, ruff, pylint

fix(superset-ui-core): achieve 100% coverage for npm run core:cover
  superset-frontend/packages/superset-ui-chart-controls/src/utils/metricColumnFilter.test.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/components/Matrixify/MatrixifyGridGenerator.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/components/Matrixify/MatrixifyGridGenerator.ts
  superset-frontend/packages/superset-ui-core/src/chart/types/matrixify.mocks.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/types/matrixify.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/types/matrixify.ts
  superset-frontend/packages/superset-ui-core/src/components/AsyncAceEditor/useJsonValidation.test.ts
  superset-frontend/packages/superset-ui-core/src/components/List/List.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/constants.test.ts
  superset-frontend/packages/superset-ui-core/src/components/Table/utils/InteractiveTableUtils.test.ts
  superset-frontend/packages/superset-ui-core/src/utils/rankedSearchCompare.test.ts
  superset-frontend/packages/superset-ui-core/src/utils/withLabel.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClient.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/packages/superset-ui-core/test/currency-format/CurrencyFormatter.test.ts
  superset-frontend/packages/superset-ui-core/test/currency-format/utils.test.ts
  superset-frontend/packages/superset-ui-core/test/query/types/Column.test.ts
  superset-frontend/packages/superset-ui-core/test/query/types/Dashboard.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
