Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(chart): add defensive optional chaining for groupBy length check
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Remove unsupported languages
  superset-frontend/packages/superset-core/src/api/contributions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Extension loading
  docker/pythonpath_dev/superset_config.py
  superset/initialization/__init__.py
Due: ruff-format, ruff, pylint

lint
  superset/tasks/manager.py
Due: ruff-format, ruff, pylint

Modifiy tests
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/ScatterPlotGlowOverlay.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(filters): disable Select All when dynamic search hits 1000 row limit
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docs): add consistent dev-mode logging for Matomo page views
  docs/src/theme/Root.js
Due: eslint-docs

fix test
  tests/integration_tests/tasks/commands/test_update.py
Due: ruff-format, ruff

fix type issue
  superset/models/tasks.py
Due: ruff-format, ruff, pylint

feat: Add explicit box-sizing to chart holders for consistent embedded dashboard rendering and update package-lock.json.
  superset-frontend/package-lock.json
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): remove double URL-decoding in rison parameter extraction
  superset-frontend/src/features/datasets/hooks/useDatasetLists.test.ts
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.integration.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix prettier
  superset-frontend/packages/superset-core/src/api/contributions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Add big calendar heatmap
  README.md
  superset-frontend/package.json
  superset-frontend/src/visualizations/presets/MainPreset.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Add workflow to push to ghcr.io
  .github/workflows/helioviewer-docker-build.yml
Due: none

Rename container tags to :lean
  .github/workflows/helioviewer-docker-build.yml
Due: none

Update helioviewer big chart and create build workflow
  .github/workflows/docker-build-push.yml
  superset-frontend/package.json
Due: prettier-frontend

Add flask-cors to superset
  Dockerfile
Due: none

preinstall pymysql
  Dockerfile
Due: none

Add postgres support to our custom image
  Dockerfile
Due: none

Update superset to 6.0.0
  .github/workflows/docker-build-push.yml
Due: none

Warn on unknown language
  superset-frontend/src/core/editors/AceEditorProvider.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix possible race condition
  superset-frontend/src/core/editors/EditorHost.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(plugin-chart-echarts): remove unnecessary type assertions
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(plugin-chart-echarts): remove unnecessary imports
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Add helioviewer chart plugin
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

docs: add HPE logo to In the Wild listing (#37506)
  RESOURCES/INTHEWILD.yaml
  docs/static/img/logos/hpe.png
Due: none

cleanup TaskSubscriber reference
  superset/models/tasks.py
Due: ruff-format, ruff, pylint

docs: add interactive API reference using docusaurus-openapi-docs (#37434)
  docs/.gitignore
  docs/docs/api.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/convert-api-sidebar.mjs
  docs/scripts/fix-openapi-spec.py
  docs/scripts/generate-api-index.mjs
  docs/scripts/generate-api-tag-pages.mjs
  docs/sidebarTutorials.js
  docs/sidebars.js
  docs/src/styles/custom.css
  docs/src/styles/main.less
  docs/static/resources/openapi.json
  docs/yarn.lock
Due: eslint-docs, ruff-format, ruff, pylint

fix(tests): add explicit timeouts for CI-slow bulk delete and admin UI tests
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.permissions.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Incorporated bot suggestions and added test cases
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Need gcc to install postgres plugin
  Dockerfile
Due: none

test(playwright): fix Dashboard Export tests with reliable Menu component
  superset-frontend/playwright/components/core/Menu.ts
  superset-frontend/playwright/components/core/index.ts
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/experimental/dashboard/export.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: fix spacing in AGENTS.md
  AGENTS.md
  superset-frontend/CHANGELOG.md
Due: none

fix(select): prevent bulk action buttons from being cut off in filters (#37453)
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/styles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard-filters): prevent clearing all filters when editing a native filter (#37253)
  superset-frontend/src/dataMask/reducer.test.ts
  superset-frontend/src/dataMask/reducer.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): resolve dropdown popup positioning (#36963)
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/constants.ts
  superset-frontend/packages/superset-ui-core/src/components/Select/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

New Feature : Add an option - Color by X axis to Bar Charts , when no dimensions are set
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): add missing unit test
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff

fix(docs): replace identicon logos and deduplicate README database wall (#37500)
  .rat-excludes
  README.md
  docs/scripts/generate-database-docs.mjs
  docs/src/data/databases.json
  docs/static/img/databases/cratedb.png
  docs/static/img/databases/cratedb.svg
  docs/static/img/databases/risingwave.png
  docs/static/img/databases/risingwave.svg
  superset-frontend/packages/superset-ui-core/src/components/assets/images/loading.svg
  superset/db_engine_specs/crate.py
  superset/db_engine_specs/risingwave.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
