Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(versioning): match shadow text column types to live (MySQL)
  UPDATING.md
  superset/migrations/versions/2026-05-28_19-50_56cd24c07170_add_versioning_tables.py
Due: ruff-format, ruff

refactor(versioning): RestoreEndpointSpec Parameter Object
  superset/charts/api.py
  superset/dashboards/api.py
  superset/datasets/api.py
  superset/versioning/api_helpers.py
Due: ruff-format, ruff, pylint

refactor(versioning): name action_kind values as Published Language (DDD S1)
  superset/commands/dashboard/copy.py
  superset/commands/dataset/duplicate.py
  superset/commands/importers/v1/__init__.py
  superset/commands/version_restore.py
  superset/versioning/changes/__init__.py
  superset/versioning/changes/listener.py
Due: ruff-format, ruff, pylint

feat(versioning): partial index on shadow live-row lookup
  superset/migrations/versions/2026-06-03_12-00_8f3a1b2c4d5e_shadow_live_row_indexes.py
Due: ruff-format, ruff

refactor(versioning): split changes.py into a package
  superset/versioning/changes.py
  superset/versioning/changes/__init__.py
  superset/versioning/changes/listener.py
  superset/versioning/changes/shadow_queries.py
  superset/versioning/changes/state.py
  superset/versioning/changes/table.py
Due: ruff-format, ruff, pylint

feat(versioning): change-record capture listener and action_kind plumbing
  superset/versioning/changes.py
  tests/integration_tests/versioning/__init__.py
  tests/integration_tests/versioning/change_records_tests.py
Due: ruff-format, ruff, pylint

test(versioning): end-to-end integration tests
  tests/integration_tests/charts/version_history_tests.py
  tests/integration_tests/dashboards/version_history_tests.py
  tests/integration_tests/datasets/version_history_tests.py
  tests/integration_tests/versioning/perf_validation_tests.py
  tests/integration_tests/versioning/skip_unmodified_tests.py
Due: ruff-format, ruff

perf(versioning): thread entity_id through set_version_etag_by_uuid
  superset/versioning/api_helpers.py
  superset/versioning/etag.py
Due: ruff-format, ruff, pylint

fix(versioning): tighten force_parent_dirty + audit-pin diagnostics
  superset/versioning/baseline/dirty.py
Due: ruff-format, ruff, pylint

fix(versioning): bounded inline retry on SERIALIZABLE conflict (sqlalchemy W1)
  superset/tasks/version_history_retention.py
  tests/integration_tests/dashboards/version_history_tests.py
Due: ruff-format, ruff, pylint

refactor(versioning): tighten model_cls type to type[Model]
  superset/versioning/api_helpers.py
  superset/versioning/changes/state.py
  superset/versioning/queries.py
  superset/versioning/restore.py
Due: ruff-format, ruff, pylint

feat(versioning): retention task emits statsd counters
  superset/tasks/version_history_retention.py
Due: ruff-format, ruff, pylint

feat(versioning): warn at startup when retention beat entry is missing
  superset/initialization/__init__.py
Due: ruff-format, ruff, pylint

docs(versioning): UPDATING.md notes on shadow-table joins + reset_ownership
  UPDATING.md
Due: none

refactor(versioning): drop underscore prefix on cross-module baseline/ exports
  superset/versioning/baseline/__init__.py
  superset/versioning/baseline/children.py
  superset/versioning/baseline/collection.py
  superset/versioning/baseline/dirty.py
  superset/versioning/baseline/insertion.py
  superset/versioning/baseline/listener.py
  superset/versioning/baseline/shadow.py
  superset/versioning/factory.py
  tests/integration_tests/versioning/skip_unmodified_tests.py
  tests/unit_tests/versioning/test_pin_audit_columns.py
Due: ruff-format, ruff, pylint

refactor(versioning): extract force_parent_dirty into named helpers
  superset/versioning/baseline/dirty.py
  tests/unit_tests/versioning/test_pin_audit_columns.py
Due: ruff-format, ruff, pylint

refactor(versioning): drop underscore prefix on cross-module changes/ exports
  superset/versioning/changes/__init__.py
  superset/versioning/changes/listener.py
  superset/versioning/changes/shadow_queries.py
  superset/versioning/changes/state.py
  superset/versioning/changes/table.py
  superset/versioning/queries.py
Due: ruff-format, ruff, pylint

chore(versioning): v4 cleanup — type[Model], naming honesty, ShadowTables, backoff factor
  superset/commands/version_restore.py
  superset/tasks/version_history_retention.py
  superset/versioning/changes/listener.py
  superset/versioning/changes/state.py
Due: ruff-format, ruff, pylint

test(versioning): round-trip migrations against populated shadow data
  tests/integration_tests/migrations/versioning_round_trip__tests.py
Due: ruff-format, ruff

feat(versioning): ENABLE_VERSIONING_CAPTURE operational kill-switch
  UPDATING.md
  superset/config.py
  superset/initialization/__init__.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(plugin-chart-ag-grid-table): enforce numeric bounds for range (BETWEEN) filters (#40607)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/agGridFilterConverter.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/agGridFilterConverter.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deck.gl): strip all JS-executed form_data keys when JavaScript controls are disabled (#40602)
  superset/views/utils.py
  tests/unit_tests/views/test_utils.py
Due: ruff-format, ruff, pylint

fix(databases): do not render existing encrypted field value in edit mode (#40628)
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): fix unit test failures after select_columns defaults
  superset/mcp_service/dashboard/schemas.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_info.py
Due: ruff-format, ruff, pylint

fix(mcp): add select_columns lean defaults to get_dashboard_info, get_chart_info, get_dataset_info
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
Due: ruff-format, ruff, pylint

fix(SafeMarkdown): avoid ReDoS in link sanitizer and XML-unsafe test names
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/test/components/SafeMarkdown.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): ensure filter_state in response when permalink_key is present
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: ruff-format, ruff, pylint

fix(mcp): generate durable explore permalink URL instead of ephemeral form_data_key
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff, pylint

fix(SafeMarkdown): block script-executing link protocols regardless of EscapeMarkdownHtml (#40622)
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/test/components/SafeMarkdown.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: clarify engine_information regression test comment
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(reports): make email subject date test fail on regression revert
  superset/reports/notifications/email.py
  tests/unit_tests/reports/notifications/email_tests.py
Due: ruff-format, ruff, pylint

ci: apply current-only PR matrix to superset-extensions-cli too
  .github/workflows/superset-extensions-cli.yml
Due: none

ci: drop pre-commit (previous) from required checks
  .asf.yaml
Due: none

ci: run the full Python-version matrix on push, current-only on PRs
  .github/workflows/pre-commit.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-unittest.yml
Due: none

test(asyncEvent): guard reserved job_id keys against prototype pollution
  superset-frontend/src/middleware/asyncEvent.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): address API key auth review feedback
  superset/mcp_service/auth.py
  superset/mcp_service/composite_token_verifier.py
  superset/mcp_service/mcp_config.py
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(dashboard-filter): Consider dashboard filters to charts not declared in the dashboard position
  superset/charts/data/dashboard_filter_context.py
  tests/unit_tests/charts/test_dashboard_filter_context.py
Due: ruff-format, ruff, pylint

fix(migrations): preserve non-mapbox deck.gl styles
  superset/migrations/versions/2026-03-02_00-00_ce6bd21901ab_migrate_deckgl_and_mapbox.py
  tests/integration_tests/migrations/ce6bd21901ab_migrate_deckgl_and_mapbox__test.py
Due: ruff-format, ruff

fix(mcp): relocate extract_permalink_key_from_url and fix UUID datasource
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/utils/url_utils.py
  tests/unit_tests/mcp_service/test_url_utils.py
Due: ruff-format, ruff, pylint

fix(embedded): merge layout-derived ancestors into activeTabs
  superset-frontend/src/dashboard/components/nativeFilters/state.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/state.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
