Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(mcp): add dataset_id to update_chart to support rebinding chart datasource (#40853)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
Due: ruff-format, ruff, pylint

clean up
  superset-frontend/packages/superset-core/src/contributions/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(version-history): round-5 fixups — first-line icon alignment, previewed inset, split-save merge
  superset-frontend/src/features/versionHistory/ActionRow.tsx
  superset-frontend/src/features/versionHistory/CurrentVersionSection.tsx
  superset-frontend/src/features/versionHistory/RelatedUpdateRow.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.tsx
  superset-frontend/src/features/versionHistory/grouping.test.ts
  superset-frontend/src/features/versionHistory/grouping.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(mcp): address bot review nits on search_tools transform
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_tool_search_transform.py
Due: ruff-format, ruff, pylint

fix(version-history): round-5b — related rollup, current-version treatment, markers
  superset-frontend/src/features/versionHistory/ActionRow.tsx
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.tsx
  superset-frontend/src/features/versionHistory/ExploreVersionHistory.tsx
  superset-frontend/src/features/versionHistory/RelatedUpdateRow.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.tsx
  superset-frontend/src/features/versionHistory/VersionHistoryPanel.test.tsx
  superset-frontend/src/features/versionHistory/VersionHistoryPanel.tsx
  superset-frontend/src/features/versionHistory/display.ts
  superset-frontend/src/features/versionHistory/grouping.test.ts
  superset-frontend/src/features/versionHistory/grouping.ts
  superset-frontend/src/features/versionHistory/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(version-history): suppress machine-managed perm rewrites as noise
  superset-frontend/src/features/versionHistory/grouping.test.ts
  superset-frontend/src/features/versionHistory/grouping.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(version-history): isolate preview dataMask from live filter selections
  superset-frontend/src/features/versionHistory/useDashboardVersionPreview.test.ts
  superset-frontend/src/features/versionHistory/useDashboardVersionPreview.test.tsx
  superset-frontend/src/features/versionHistory/useDashboardVersionPreview.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(viz): use series_limit/series_limit_metric in query_obj dict
  superset/viz.py
Due: ruff-format, ruff, pylint

chore(i18n): lint + dev warning for eager t() in controlPanel configs
  superset-frontend/.eslintrc.js
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/index.ts
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/no-eager-t-in-config.test.ts
  superset-frontend/packages/superset-core/src/translation/TranslatorSingleton.test.ts
  superset-frontend/packages/superset-core/src/translation/TranslatorSingleton.ts
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/scripts/check-custom-rules.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): use actual fn name in warnPreConfigure and eslint message
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/index.ts
  superset-frontend/packages/superset-core/src/translation/TranslatorSingleton.test.ts
  superset-frontend/packages/superset-core/src/translation/TranslatorSingleton.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): require Update Chart for Matrixify dimension changes (#40851)
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/matrixifyControls.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): prevent corrupted query state from blocking SQL Lab access (#40580)
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/pages/SqlLab/index.tsx
  superset/models/sql_lab.py
  superset/sql_lab.py
  tests/unit_tests/sql_lab_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: replace deprecated appbuilder.app with current_app (#40876)
  superset/initialization/__init__.py
  superset/templates/superset/spa.html
  tests/unit_tests/extension_tests.py
Due: ruff-format, ruff, pylint

fix(deps): cap paramiko <4.0 to keep SSH tunneling working (#40973)
  pyproject.toml
Due: none

fix: use Series.iloc for positional access in generate_join_column (#40936)
  superset/models/helpers.py
Due: ruff-format, ruff, pylint

fix(dashboard): update browser tab title when dashboard is renamed (#40730)
  superset-frontend/src/dashboard/containers/DashboardPage.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(theme): SDK theme config overrides dashboard-level theme in embedded mode (#40763)
  superset-frontend/packages/superset-ui-core/src/theme/types.ts
  superset-frontend/src/components/CrudThemeProvider.test.tsx
  superset-frontend/src/components/CrudThemeProvider.tsx
  superset-frontend/src/theme/ThemeController.ts
  superset-frontend/src/theme/ThemeProvider.tsx
  superset-frontend/src/theme/tests/ThemeController.test.ts
  superset-frontend/src/theme/tests/ThemeProvider.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(version-history): refresh the timeline live when the entity is saved while the panel is open
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.test.tsx
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.tsx
  superset-frontend/src/features/versionHistory/ExploreVersionHistory.test.tsx
  superset-frontend/src/features/versionHistory/ExploreVersionHistory.tsx
  superset-frontend/src/features/versionHistory/useDashboardVersionPreview.test.tsx
  superset-frontend/src/types/Chart.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Delete .github/pr-screenshots/embedded-translated.png
  .github/pr-screenshots/embedded-translated.png
Due: none

Delete .github/pr-screenshots/menu-translated.png
  .github/pr-screenshots/menu-translated.png
Due: none

chore(i18n): lint + dev warning for eager t() in controlPanel configs (#40379)
  superset-frontend/.eslintrc.js
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/index.ts
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/no-eager-t-in-config.test.ts
  superset-frontend/packages/superset-core/src/translation/TranslatorSingleton.test.ts
  superset-frontend/packages/superset-core/src/translation/TranslatorSingleton.ts
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/scripts/check-custom-rules.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): support embedded guest-token authentication
  superset/mcp_service/CLAUDE.md
  superset/mcp_service/SECURITY.md
  superset/mcp_service/auth.py
  superset/mcp_service/composite_token_verifier.py
  superset/mcp_service/guest_token_verifier.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/test_guest_token_auth.py
Due: ruff-format, ruff, pylint

feat(dashboard): add Rison-encoded URL filter support (#39795)
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/UrlFilters/UrlFilterTag.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/UrlFilters/Vertical.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/UrlFilters/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/UrlFilters/VerticalCollapse.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/UrlFilters/urlFilterUtils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/util/UrlFilters.scope.test.ts
  superset-frontend/src/dashboard/util/risonFilters.test.ts
  superset-frontend/src/dashboard/util/risonFilters.ts
  superset/utils/rison_filters.py
  tests/unit_tests/utils/test_rison_filters.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): harden embedded guest-token verifier and resolution
  superset/mcp_service/SECURITY.md
  superset/mcp_service/auth.py
  superset/mcp_service/composite_token_verifier.py
  superset/mcp_service/guest_token_verifier.py
  tests/unit_tests/mcp_service/test_guest_token_auth.py
Due: ruff-format, ruff, pylint

refactor(reports): import shared _escape_like; strengthen DAO escape tests
  superset/reports/filters.py
  tests/unit_tests/daos/test_report_dao.py
  tests/unit_tests/reports/dao_test.py
Due: ruff-format, ruff, pylint

fix(explore): theme SQL autocomplete completion highlight consistently
  superset-frontend/packages/superset-ui-core/src/components/AsyncAceEditor/AsyncAceEditor.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/AsyncAceEditor/index.tsx
  superset-frontend/src/SqlLab/components/EditorWrapper/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): skip CSRF token fetch for guest streaming chart exports
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.test.ts
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(extensions): add dedicated chat contribution type (#41000)
  superset-frontend/packages/superset-core/package.json
  superset-frontend/packages/superset-core/src/chat/index.ts
  superset-frontend/packages/superset-core/src/contributions/index.ts
  superset-frontend/packages/superset-core/src/index.ts
  superset-frontend/packages/superset-core/src/views/index.ts
  superset-frontend/src/components/ChatMount/ChatMount.test.tsx
  superset-frontend/src/components/ChatMount/index.tsx
  superset-frontend/src/components/ChatbotMount/ChatbotMount.test.tsx
  superset-frontend/src/components/ChatbotMount/index.tsx
  superset-frontend/src/core/chat/index.test.ts
  superset-frontend/src/core/chat/index.ts
  superset-frontend/src/core/chatbot/index.test.ts
  superset-frontend/src/core/chatbot/index.ts
  superset-frontend/src/core/index.ts
  superset-frontend/src/core/utils.ts
  superset-frontend/src/core/views/index.test.ts
  superset-frontend/src/core/views/index.ts
  superset-frontend/src/extensions/ExtensionsStartup.test.tsx
  superset-frontend/src/extensions/ExtensionsStartup.tsx
  superset-frontend/src/extensions/supersetGlobal.ts
  superset-frontend/src/views/App.tsx
  superset-frontend/src/views/contributions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): scope streaming guest token exports
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.test.ts
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.ts
  superset-frontend/src/explore/exploreUtils/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: document SQL_MAX_PARSE_LENGTH in UPDATING.md
  UPDATING.md
Due: none

test(mcp): add docstrings to new aggregation test methods
  tests/unit_tests/mcp_service/chart/test_big_number_chart.py
Due: ruff-format, ruff

address review feedback: flatten nested conditionals and harden impala block test
  superset/db_engine_specs/impala.py
  superset/reports/notifications/webhook.py
  tests/unit_tests/db_engine_specs/test_impala.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(embedded): mark streaming export source in guest token test
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: Cleanup 1
  superset-core/src/superset_core/extensions/types.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_build.py
  superset-frontend/packages/superset-core/src/common/index.ts
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/playwright/tests/dashboard/clear-all-filters.spec.ts
  superset-frontend/src/core/sqlLab/index.ts
  superset-frontend/src/core/sqlLab/sqlLab.test.ts
  superset-frontend/src/core/utils.ts
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/middleware/loggerMiddleware.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore: Cleanup changes in chat feature branch (#41008)
  superset-core/src/superset_core/extensions/types.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_build.py
  superset-frontend/packages/superset-core/src/common/index.ts
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/playwright/tests/dashboard/clear-all-filters.spec.ts
  superset-frontend/src/core/sqlLab/index.ts
  superset-frontend/src/core/sqlLab/sqlLab.test.ts
  superset-frontend/src/core/utils.ts
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/middleware/loggerMiddleware.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(dashboard): pin standalone=1 boundary and drop inert edit param
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql): source parse-length cap default from config
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

refactor(subdirectory): review-pass quality cleanup (no behavior change)
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/src/connection/normalizeBackendUrls.ts
  superset-frontend/src/utils/navigationUtils.schemes.test.ts
  superset/middleware/legacy_prefix_redirect.py
  superset/views/utils.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(reports): fail report on tiled screenshot error instead of sending blank PDF
  superset/utils/webdriver.py
  tests/unit_tests/utils/webdriver_test.py
Due: ruff-format, ruff, pylint

test(dashboard): cover Discard button enabled state with unsaved changes
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
