Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(dashboard,explore): thread addWarningToast into forceLoadAllCharts timeout path
  superset-frontend/src/utils/downloadAsImage.tsx
  superset-frontend/src/utils/downloadAsPdf.ts
  superset-frontend/src/utils/downloadUtils.test.ts
  superset-frontend/src/utils/downloadUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboards): preserve css-keyed error on update validation
  superset/commands/dashboard/update.py
  tests/unit_tests/commands/dashboard/update_test.py
Due: ruff-format, ruff, pylint

docs(mcp): clarify restore tools' permission_denied vs NotFound behavior
  docs/docs/using-superset/using-ai-with-superset.mdx
Due: none

fix: handle formatter errors gracefully in table cell rendering (#36189) (#39658)
  superset-frontend/plugins/plugin-chart-table/src/utils/formatValue.ts
  superset-frontend/plugins/plugin-chart-table/test/utils/formatValue.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(table): preserve configured server page size when row count is smaller (#42243) (#42248)
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): repair dangling layout slots before duplicating charts
  superset/commands/dashboard/update.py
  superset/daos/dashboard.py
  tests/integration_tests/dashboards/dao_tests.py
Due: ruff-format, ruff, pylint

fix(versioning): isolate per-entity capture failures and time attempted reads
  superset/versioning/changes/listener.py
  tests/unit_tests/versioning/test_listener.py
Due: ruff-format, ruff, pylint

docs(cache): keep WEBDRIVER_AUTH_FUNC example loadable without Playwright
  docs/admin_docs/configuration/cache.mdx
Due: none

feat(ci): flag chart metadata changes via labeler
  .github/labeler.yml
Due: none

fix(soft-delete): translate only identified slug uniqueness violations
  superset/commands/soft_delete_collisions.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/commands/dashboard/slug_collision_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): collapse the closed history column and size the open panel below the header
  superset-frontend/playwright/tests/dashboard/version-history-placement.spec.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): scope routing constraints to tools and stop advertising uuid search
  docs/admin_docs/configuration/mcp-server.mdx
  superset/core/mcp/core_mcp_injection.py
  superset/mcp_service/app.py
  superset/mcp_service/auth.py
  superset/mcp_service/common/schema_discovery.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/dataset_scope.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff, pylint

feat(mcp): improve dataset discovery and add role-based routing scope
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/app.py
  superset/mcp_service/auth.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/dataset_scope.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff, pylint

fix(mcp): wire the dataset allowlist config and bind scope arguments lazily
  superset/mcp_service/auth.py
  superset/mcp_service/dataset_scope.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff, pylint

ci: allow Python unit coverage gates to finish
  .github/workflows/superset-python-unittest.yml
Due: none

fix(mcp): preserve UUID dataset search compatibility
  superset/mcp_service/common/schema_discovery.py
  superset/mcp_service/dataset/tool/list_datasets.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: ruff-format, ruff, pylint

fix(mcp): stop gating tool listings on the dataset scope
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/auth.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset_scope.py
  superset/mcp_service/flask_singleton.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff, pylint

test(mcp): exercise dataset scope listing middleware
  docs/admin_docs/configuration/mcp-server.mdx
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff

fix(mcp): scope the metric discovery tools and validate the allowlist in-process
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset_scope.py
  superset/mcp_service/flask_singleton.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff, pylint

fix(versioning): classify lock contention on the driver diagnostic, not the wrapper's rendered SQL (sc-120050)
  superset/datasets/api.py
  superset/versioning/db_errors.py
  superset/versioning/queries.py
  tests/integration_tests/versioning/conditional_token_lock_tests.py
  tests/unit_tests/datasets/api_tests.py
  tests/unit_tests/versioning/test_db_errors.py
  tests/unit_tests/versioning/test_version_info_locking.py
Due: ruff-format, ruff, pylint

docs: correct the report-executor remediation for the published-dashboard gate (sc-120031)
  UPDATING.md
  tests/unit_tests/dashboards/semantic_view_access_test.py
  tests/unit_tests/subjects/test_report_executor_remediation.py
Due: ruff-format, ruff

fix(migrations): join purge audit and username index heads
  superset/migrations/versions/2026-09-15_17-35_f2d8a6c941be_merge_purge_audit_and_username_index.py
  tests/unit_tests/migrations/test_single_migration_head.py
Due: ruff-format, ruff

fix(migrations): merge purge audit and username index heads
  superset/migrations/versions/2026-09-15_06-50_e2f3a1b9c640_merge_purge_audit_and_username_index_heads.py
Due: ruff-format, ruff

fix(migrations): merge the two alembic heads on master
  superset/migrations/versions/2026-09-15_00-30_e2f0a912492a_merge_ab_user_index_with_purge_audit_.py
Due: ruff-format, ruff

style: fix oxfmt formatting in formatValue.test.ts
  superset-frontend/plugins/plugin-chart-table/test/utils/formatValue.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): catch 4-6 day offsets in week-grain sub-week guard
  superset/models/helpers.py
  tests/unit_tests/common/test_time_shifts.py
Due: ruff-format, ruff, pylint

fix(charts): fix NaT crash and sub-week offset regression in week-grain resolution
  superset/models/helpers.py
  tests/unit_tests/common/test_time_shifts.py
Due: ruff-format, ruff, pylint

fix(charts): align week-grain time comparison offsets to whole weeks
  superset/models/helpers.py
  tests/unit_tests/common/test_time_shifts.py
Due: ruff-format, ruff, pylint

Fix DashboardAccessFilter to preserve dashboards with empty layouts
  superset/dashboards/filters.py
Due: ruff-format, ruff, pylint

test(standalone): align router location mock with window.location
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(superset-ui-core): add year to smart_date_verbose tooltip tiers
  superset-frontend/packages/superset-ui-core/src/time-format/formatters/smartDateVerbose.ts
  superset-frontend/packages/superset-ui-core/test/time-format/formatters/smartDateVerbose.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(migrations): add no-op merge revision for the two master heads
  superset/migrations/versions/2026-09-15_06-50_e2f3a1b9c640_merge_purge_audit_and_username_index_heads.py
Due: ruff-format, ruff

fix(clickhouse): map legacy TLS flag, harden URI parsing and length
  superset/migrations/versions/2026-09-15_00-00_f7b3a9c14e02_migrate_clickhouse_to_clickhousedb.py
  tests/unit_tests/migrations/test_migrate_clickhouse_to_clickhousedb.py
Due: ruff-format, ruff

fix(security): exempt the login-token mint endpoint from CSRF
  superset/config.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(athena): mask the AWS Secret Access Key input
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/ValidatedInputField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(druid): narrow spec type for mypy and make params schema reloadable
  superset/db_engine_specs/druid.py
  tests/unit_tests/db_engine_specs/test_druid.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(trino): harden http_scheme precedence assertion in adjust_engine_params
  tests/unit_tests/db_engine_specs/test_trino.py
Due: ruff-format, ruff

test(dashboard): assert the header is bounded by its grid track
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(presto): require PyHive 0.7 for SQLAlchemy 2
  UPDATING.md
  docs/src/data/databases.json
  pyproject.toml
  superset/db_engine_specs/presto.py
  tests/unit_tests/db_engine_specs/test_presto.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(sql): preserve literal percents in where_in
  docs/docs/using-superset/sql-templating.mdx
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
