Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(echarts): normalize BigInt metric values in extractDataTotalValues
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(echarts): normalize BigInt metric values before series-sort aggregation and Stream baseline
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(echarts): normalize BigInt datum values in Expand stack mode too
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(import): wrap per-tag operation in SAVEPOINT to prevent Session poisoning
  superset/commands/importers/v1/utils.py
Due: ruff-format, ruff, pylint

feat(security): actionable, request-access-aware data permission errors (#41843)
  superset-frontend/src/components/ErrorMessage/DatasourceSecurityAccessErrorMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/DatasourceSecurityAccessErrorMessage.tsx
  superset-frontend/src/components/ErrorMessage/index.tsx
  superset-frontend/src/setup/setupErrorMessages.ts
  superset/config.py
  superset/security/manager.py
  tests/unit_tests/security/test_permission_instructions_link.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(i18n): correct file path and register Tamil (ta) locale
  superset/config.py
  superset/translations/ta/LC_MESSAGES/messages.po
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(i18n): rebase Italian translations, fix runtime-breaking placeholders
  superset/translations/it/LC_MESSAGES/messages.po
Due: none

fix(i18n): apply Simplified Chinese translation gap-fills
  superset/translations/zh/LC_MESSAGES/messages.po
Due: none

fix(i18n): add Tamil (ta) locale with corrected catalog path (#38962)
  superset/config.py
  superset/translations/ta/LC_MESSAGES/messages.po
Due: ruff-format, ruff, pylint, feature-flags-sync

chore(i18n): update Italian messages.po translations (#38948)
  superset/translations/it/LC_MESSAGES/messages.po
Due: none

fix(i18n): improve Simplified Chinese translations (#42794)
  superset/translations/zh/LC_MESSAGES/messages.po
Due: none

fix(import): isolate per-tag import in a SAVEPOINT to avoid poisoned session
  superset/commands/importers/v1/utils.py
Due: ruff-format, ruff, pylint

test(import): verify SAVEPOINT isolates per-tag failures
  tests/unit_tests/charts/commands/importers/v1/import_test.py
Due: ruff-format, ruff

fix(deckgl): restore the Fill Color control on the GeoJSON layer + add test
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Geojson/controlPanel.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Geojson/controlPanel.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(a11y): enable ECharts aria-label (#28171)
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: Apply timezone offset to convert local time boundaries to UTC (#37014)
  superset/models/helpers.py
  superset/utils/core.py
  tests/unit_tests/models/test_time_filter_timezone.py
  tests/unit_tests/utils/test_core.py
Due: ruff-format, ruff, pylint

feat(security): add guest user attributes and get_guest_user_attribute() macro (#33924)
  docs/admin_docs/configuration/sql-templating.mdx
  docs/static/resources/openapi.json
  superset/connectors/sqla/models.py
  superset/jinja_context.py
  superset/security/api.py
  superset/security/guest_token.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

perf(dashboard): avoid query context N+1 queries (#42474)
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

fix(ci): remove extraneous plugins build job (#42677)
  .github/workflows/superset-frontend.yml
Due: none

fix(sql-lab): check table access on estimate, format, and validate paths
  superset/commands/database/validate_sql.py
  superset/commands/sql_lab/estimate.py
  superset/security/manager.py
  superset/sqllab/api.py
  superset/sqllab/sqllab_execution_context.py
  tests/unit_tests/commands/databases/validate_sql_test.py
  tests/unit_tests/commands/sql_lab/test_estimate.py
  tests/unit_tests/sql_lab_execution_context.py
  tests/unit_tests/sqllab/api_test.py
Due: ruff-format, ruff, pylint

fix(sql): correct SQL statement parsing and classification
  superset/db_engine_specs/postgres.py
  superset/jinja_context.py
  superset/security/manager.py
  superset/sql/parse.py
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(sql-lab): update integration tests for estimate DAO and CTAS gate; drop redundant estimate access check
  superset/commands/sql_lab/estimate.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/sql_lab/api_tests.py
  tests/integration_tests/sql_lab/commands_tests.py
Due: ruff-format, ruff, pylint

test(sql): cover EXPLAIN ANALYZE, schema-rebind, and partition-macro edge cases
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

fix: exclude sort-only metrics from stacked total in timeseries bar chart (#42701)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Handle verbose labels and time-comparison keys in total exclusion
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: add reproduction tests for this fix (checkpoint)
  tests/unit_tests/security/test_password_change_session_invalidation.py
  tests/unit_tests/security/test_superset_user_api_subject_sync.py
  tests/unit_tests/views/test_current_user_api.py
Due: ruff-format, ruff

test: add reproduction tests for this fix (checkpoint)
  tests/unit_tests/mcp_service/test_mcp_multi_issuer_identity_binding.py
  tests/unit_tests/mcp_service/utils/test_sanitization_unicode_ordering.py
Due: ruff-format, ruff

test: add reproduction tests for this fix (checkpoint)
  tests/unit_tests/views/datasource/views_test.py
  tests/unit_tests/views/test_sql_lab_tab_state_views.py
Due: ruff-format, ruff

test: add reproduction tests for this fix (checkpoint)
  tests/unit_tests/utils/test_encrypt_cbc_iv_reuse.py
Due: ruff-format, ruff

test: add reproduction tests for this fix (checkpoint)
  tests/unit_tests/commands/databases/sync_permissions_identity_test.py
  tests/unit_tests/utils/rls_test.py
Due: ruff-format, ruff

chore(security): warn when legacy encryption engine is configured
  superset/config.py
  superset/initialization/__init__.py
  tests/unit_tests/initialization/check_encryption_engine_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(sqllab): check tab ownership before updating tab state on query delete
  superset/views/sql_lab/views.py
  tests/unit_tests/views/test_sql_lab_tab_state_views.py
Due: ruff-format, ruff, pylint

fix(datasets): verify database access before repointing a dataset's database_id
  superset/commands/dataset/update.py
  superset/views/datasource/views.py
  tests/unit_tests/commands/dataset/update_test.py
  tests/unit_tests/views/datasource/views_test.py
Due: ruff-format, ruff, pylint

fix(database): bind permission-sync task to user id instead of username
  superset/commands/database/sync_permissions.py
  tests/integration_tests/databases/api_tests.py
  tests/unit_tests/commands/databases/sync_permissions_identity_test.py
  tests/unit_tests/commands/databases/sync_permissions_test.py
  tests/unit_tests/commands/databases/update_test.py
Due: ruff-format, ruff, pylint

fix(rls): use a per-user sentinel for cache keys when predicate parsing fails
  superset/utils/rls.py
  tests/unit_tests/utils/rls_test.py
Due: ruff-format, ruff, pylint

fix(mcp): require an issuer-aware resolver for multi-issuer JWT configs
  superset/mcp_service/PRODUCTION.md
  superset/mcp_service/SECURITY.md
  superset/mcp_service/auth.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/test_auth_user_resolution.py
  tests/unit_tests/mcp_service/test_mcp_multi_issuer_identity_binding.py
Due: ruff-format, ruff, pylint

fix(mcp): canonicalize unicode before validating sanitizer input
  superset/mcp_service/utils/sanitization.py
  tests/unit_tests/mcp_service/utils/test_sanitization_unicode_ordering.py
Due: ruff-format, ruff, pylint

fix(security): require current password proof to change account password
  superset/security/session_invalidation.py
  superset/views/users/api.py
  superset/views/users/schemas.py
  tests/unit_tests/views/test_current_user_api.py
Due: ruff-format, ruff, pylint

fix(security): invalidate sessions on password reset; sync user Subject atomically
  superset/security/manager.py
  tests/unit_tests/security/test_password_change_session_invalidation.py
  tests/unit_tests/security/test_superset_user_api_subject_sync.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
