Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix: sync messages.pot and update test for categorical formatting
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.tsx
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql): make the nested-body comment strip quote-aware
  UPDATING.md
  superset/commands/report/alert.py
  superset/sql/parse.py
  tests/unit_tests/commands/report/alert_test.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(sql): scope the nested-body unwrap and make the comment strip dialect-aware
  superset/sql/parse.py
  superset/translations/messages.pot
  tests/unit_tests/commands/report/alert_test.py
  tests/unit_tests/sql/execution/test_executor.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(sql): strip comments inside literals and sort the reported heads
  superset/commands/report/alert.py
  superset/exceptions.py
  superset/sql/execution/executor.py
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(sql): cache the nested-body text so each gate strips it once
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(sql): derive the MySQL comment family and skip literals with no comment
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

test(sql): cover the unterminated dollar-quoted literal branch in _split_literal
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

chore(build): remove unused dependencies in `docs` and `superset-frontend` (#44697)
  docs/docusaurus.config.ts
  docs/package.json
  docs/yarn.lock
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-core/package.json
  superset-frontend/packages/superset-ui-core/package.json
Due: prettier-frontend, eslint-docs

chore(e2e): drop the cypress-matrix-required placeholder job
  .github/workflows/superset-e2e.yml
Due: none

test(mcp): reconcile geographic contracts with master
  tests/unit_tests/mcp_service/chart/test_chart_plugin_contract.py
  tests/unit_tests/mcp_service/chart/test_preview_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: ruff-format, ruff

fix(semantic-layer): enforce complete query results and async guidance
  UPDATING.md
  docs/developer_docs/semantic-result-completeness.md
  superset-core/src/superset_core/semantic_layers/layer.py
  superset-frontend/src/middleware/asyncEvent.test.ts
  superset-frontend/src/middleware/asyncEvent.ts
  superset-frontend/src/middleware/asyncQueryError.ts
  superset/common/query_context_processor.py
  superset/datasource/api.py
  superset/exceptions.py
  superset/semantic_layers/models.py
  superset/tasks/async_queries.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/semantic_layers/mapper_test.py
  tests/unit_tests/semantic_layers/models_test.py
  tests/unit_tests/semantic_layers/result_completeness_test.py
  tests/unit_tests/semantic_layers/values_endpoint_test.py
  tests/unit_tests/tasks/test_async_queries.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(i18n): extract semantic selection messages
  superset/translations/messages.pot
Due: none

fix(explore): keep localized Main column_config keys when customizing columns
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigControl.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(table): reset column order when header groups take over
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/DataTable.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): reserve draft header-group columns
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/HeaderGroupEditor.tsx
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/HeaderGroupsControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(table): merge header group cells by group id
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): reconcile bullet contracts with master
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/plugins/bullet.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/update_chart.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_chart_plugin_contract.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
Due: ruff-format, ruff, pylint

fix(table): delete options
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: scope screenshot chart claim to active tab and fix launch error string
  docs/admin_docs/configuration/alerts-reports.mdx
  docs/admin_docs/configuration/dashboard-performance.mdx
Due: none

fix(mcp): share exact-name promotion with regex search
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_tool_search_transform.py
Due: ruff-format, ruff, pylint

fix(i18n): make babel_update.sh .pot normalization actually run
  scripts/translations/babel_update.sh
Due: none

test(i18n): anchor the ordering check to command lines, not comments
  tests/unit_tests/scripts/translations/babel_update_test.py
Due: ruff-format, ruff

chore(i18n): normalize messages.pot with the repaired msgcat step
  superset/translations/messages.pot
Due: none

test(i18n): pin the .pot normalization and its fail-fast guard
  tests/unit_tests/scripts/translations/babel_update_test.py
Due: ruff-format, ruff

fix(i18n): strip only a blank trailing line from po/pot files
  scripts/translations/babel_update.sh
  tests/unit_tests/scripts/translations/babel_update_test.py
Due: ruff-format, ruff

fix(mcp): preserve native query contracts after lifecycle merge
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/waterfall.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_chart_plugin_contract.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/test_chart_tool_inventory.py
  tests/unit_tests/mcp_service/test_tool_inventory.py
Due: ruff-format, ruff, pylint

fix type
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: avoid provider calls when rendering datasource access denials (#44432)
  tests/integration_tests/charts/semantic_save_tests.py
  tests/unit_tests/security/test_permission_instructions_link.py
Due: ruff-format, ruff

fix(csv-import): add primary key when MySQL requires one (#44411)
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(extensions): route Explore core API query/data fetches through requestChartDataResolved
  superset-frontend/src/core/explore/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(extensions): add unit tests for dashboard and explore core API
  superset-frontend/src/core/dashboard/index.test.ts
  superset-frontend/src/core/explore/index.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(extensions): apply oxfmt formatting
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/core/explore/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(extensions): add `explore` and `dashboard` namespaces to @apache-superset/core
  superset-frontend/packages/superset-core/package.json
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/packages/superset-core/src/explore/index.ts
  superset-frontend/packages/superset-core/src/index.ts
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/core/explore/index.ts
  superset-frontend/src/core/index.ts
  superset-frontend/src/extensions/ExtensionsStartup.tsx
  superset-frontend/src/extensions/Namespaces.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): export a typed LayoutNode for dashboard.getLayout()
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/src/core/dashboard/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): fix session logging, doc mismatch in core explore/dashboard API
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/packages/superset-core/src/explore/index.ts
  superset-frontend/src/core/explore/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(extensions): share native filter save logic between saveFilters and setFilterConfiguration
  superset-frontend/src/core/dashboard/index.test.ts
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/dashboard/actions/nativeFilters.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(extensions): add refreshChart and saveFilters to dashboard core API
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/src/components/Chart/chartAction.ts
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/core/dashboard/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): type ChartState.form_data instead of relying on excess-property suppression
  superset-frontend/src/dashboard/actions/dashboardState.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
  superset-frontend/src/explore/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): scope dashboard/explore APIs to the active navigation surface
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/core/explore/index.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
