Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

test(mcp): refresh native inventory for semantic chart targets
  tests/unit_tests/mcp_service/native_tool_inventory.json
Due: none

test(semantic-layer): use provider-neutral form fixtures
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.test.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsAntdRenderers.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(semantic-layer): fetch view metadata once per query (#45104)
  superset-core/src/superset_core/semantic_layers/view.py
  superset-core/tests/semantic_layers/test_view.py
  superset/semantic_layers/mapper.py
  tests/unit_tests/semantic_layers/mapper_test.py
Due: ruff-format, ruff, pylint

fix(semantic-layer): preserve nullable integer precision in chart data (#45126)
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  superset/common/utils/dataframe_utils.py
  superset/semantic_layers/mapper.py
  superset/semantic_layers/models.py
  superset/utils/pandas_postprocessing/contribution.py
  tests/unit_tests/semantic_layers/integer_precision_test.py
Due: ruff-format, ruff, pylint

feat(retention): cap soft-delete purge and version-history prune per run (#45029)
  UPDATING.md
  docs/docs/using-superset/recently-archived.mdx
  docs/docs/using-superset/version-history.mdx
  superset/config.py
  superset/tasks/deletion_retention.py
  superset/tasks/retention_cap.py
  superset/tasks/version_history_retention.py
  tests/integration_tests/versioning/retention_prune_tests.py
  tests/unit_tests/commands/deletion_retention/test_purge_chart_detach.py
  tests/unit_tests/tasks/test_deletion_retention.py
  tests/unit_tests/tasks/test_version_history_retention.py
Due: ruff-format, ruff, pylint, feature-flags-sync

feat(semantic-layer): invalidate metadata caches on configuration save (#45100)
  UPDATING.md
  docs/developer_docs/extensions/contribution-types.md
  docs/developer_docs/semantic-layer-cache-clear.md
  docs/developer_docs/semantic-metadata-contract.md
  superset-core/src/superset_core/semantic_layers/layer.py
  superset-core/src/superset_core/semantic_layers/metadata.py
  superset-core/src/superset_core/semantic_layers/view.py
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.test.tsx
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset/commands/semantic_layer/update.py
  superset/common/query_context_processor.py
  superset/config.py
  superset/datasource/api.py
  superset/migrations/versions/2026-10-08_00-00_c179af013f48_add_semantic_layer_cache_version.py
  superset/semantic_layers/api.py
  superset/semantic_layers/models.py
  superset/translations/messages.pot
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/semantic_layers/metadata_contract_test.py
  tests/unit_tests/semantic_layers/models_test.py
  tests/unit_tests/semantic_layers/simple_cache_clear_test.py
  tests/unit_tests/semantic_layers/values_endpoint_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(charts): avoid loading semantic provider metadata before denying chart data access (#45060)
  superset/charts/data/api.py
  superset/common/query_context_factory.py
  superset/config.py
  superset/security/manager.py
  superset/views/api.py
  tests/integration_tests/charts/semantic_metadata_authz_tests.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(duckdb): stop doubling backslashes in compiled string literals
  superset/db_engine_specs/duckdb.py
  tests/unit_tests/db_engine_specs/test_duckdb.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

style(duckdb): ruff format and S608 noqa on the new regression tests
  tests/unit_tests/db_engine_specs/test_duckdb.py
Due: ruff-format, ruff

fix(mcp): resolve saved semantic-view chart sources by type (#45067)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/auth.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_saved_chart_datasource.py
Due: ruff-format, ruff, pylint

fix(mcp): keep millisecond precision for unstacked temporal bar bands
  superset/mcp_service/chart/preview_utils.py
  tests/unit_tests/mcp_service/chart/test_review_query_and_preview_regressions.py
Due: ruff-format, ruff, pylint

docs(i18n): add two more cases where pybabel drops a note
  docs/developer_docs/contributing/howtos.md
Due: none

docs(i18n): correct the wrapped-call rule for i18n notes
  docs/developer_docs/contributing/howtos.md
Due: none

docs(i18n): add a translation guide with shared principles
  docs/developer_docs/contributing/translation-guide.md
  docs/sidebarTutorials.js
Due: eslint-docs

docs(i18n): write the translation guide in plain English
  docs/developer_docs/contributing/translation-guide.md
Due: none

docs(i18n): use real catalog examples in the translation guide
  docs/developer_docs/contributing/howtos.md
  docs/developer_docs/contributing/translation-guide.md
Due: none

fix(mcp): address Bullet review on merged validation, Excel dates, preview frame
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_bullet_chart.py
  tests/unit_tests/mcp_service/chart/test_bullet_tool_paths.py
  tests/unit_tests/mcp_service/chart/test_chart_plugin_contract.py
Due: ruff-format, ruff, pylint

test(sql_lab): update existing export tests and add multi-statement regression
  tests/integration_tests/sql_lab/commands_tests.py
Due: ruff-format, ruff

test(sql_lab): add unit regression tests for CSV export using full query SQL
  tests/unit_tests/commands/sql_lab/export_test.py
Due: ruff-format, ruff

fix(datasets): treat the physical/virtual toggle as dataset-only for a semantic-layer connection
  superset/commands/datasource/list.py
  tests/unit_tests/commands/datasource/list_test.py
  tests/unit_tests/datasets/certified_filter_test.py
Due: ruff-format, ruff, pylint

Added an SVG logo for Hyperreal Film Club
  docs/static/img/logos/hyperreal_fc_logo_button.svg
Due: none
