Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

chore: remove unused code + add `node` prefix for built-in module imports
  superset-frontend/.storybook/main.mjs
Due: none

fix(mcp): raise right error (#39964)
  superset/mcp_service/chart/compile.py
  superset/mcp_service/chart/tool/generate_chart.py
  tests/unit_tests/mcp_service/chart/test_compile.py
Due: ruff-format, ruff, pylint

fix(mcp): use `name` URL param so AI-generated SQL Lab titles render (#40288)
  superset/mcp_service/sql_lab/schemas.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_open_sql_lab_with_context.py
Due: ruff-format, ruff, pylint

feat(mcp): include applied dashboard filters in get_chart_info (#39620)
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_info.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_info.py
Due: ruff-format, ruff, pylint

fix(mcp): Block destructive DDL (DROP, TRUNCATE, ALTER) in execute_sql (#39621)
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/sql/parse.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

feat(mcp): chart formatting options across all supported chart types (#39887)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
Due: ruff-format, ruff, pylint

fix(mcp): eager-load dataset.metrics to prevent Excel export DetachedInstanceError (#39483)
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/tool/get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

fix(mcp): Skip misleading trend analysis for categorical ASCII charts (#39761)
  superset/mcp_service/chart/ascii_charts.py
  tests/unit_tests/mcp_service/chart/test_ascii_charts.py
Due: ruff-format, ruff, pylint

fix(preview): fix chart preview bugs (#40063)
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: ruff-format, ruff, pylint

chore(mcp): Simplify chart preview response (#40020)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: ruff-format, ruff, pylint

fix(recommandation): Fix chart recommandation (#39886)
  superset/mcp_service/chart/tool/get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

feat(mcp): Add mcp_call_id to tool responses for server log correlation (#39776)
  superset/mcp_service/middleware.py
  superset/mcp_service/system/schemas.py
  superset/mcp_service/system/tool/generate_bug_report.py
  tests/unit_tests/mcp_service/system/tool/test_generate_bug_report.py
  tests/unit_tests/mcp_service/test_middleware_logging.py
Due: ruff-format, ruff, pylint

feat(mcp): add find_users tool and owner filter columns for listings (#39679)
  superset/mcp_service/app.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/common/schema_discovery.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/database/schemas.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/mcp_core.py
  superset/mcp_service/privacy.py
  superset/mcp_service/system/schemas.py
  superset/mcp_service/system/tool/__init__.py
  superset/mcp_service/system/tool/find_users.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/system/tool/test_find_users.py
  tests/unit_tests/mcp_service/system/tool/test_get_current_user.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
Due: ruff-format, ruff, pylint

feat(mcp): make config optional in generate_explore_link (#39559)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff, pylint

feat(mcp): make form_data_key optional in update_chart_preview (#39680)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: ruff-format, ruff, pylint

feat(ci): only run expensive E2E tests on merged commits or manual dispatch
  .github/workflows/superset-e2e.yml
Due: none

ci: gate docker image builds at the job level via a changes job
  .github/workflows/docker.yml
Due: none

ci: gate CodeQL analysis at the job level for docs-only PRs
  .github/workflows/codeql-analysis.yml
Due: none

ci: add cancel-in-progress concurrency to PR-triggered helper workflows
  .github/workflows/github-action-validator.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-lint.yml
Due: none

ci: gate expensive test workflows at the job level (#40718)
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-playwright.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
Due: none

fix(i18n): fail the check when a baseline catalog cannot be counted
  scripts/translations/check_translation_regression.py
  tests/unit_tests/scripts/translations/check_translation_regression_test.py
Due: ruff-format, ruff

test: import missing fixture and add can_revoke_embedded permission
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/security/guest_token_revocation_tests.py
Due: ruff-format, ruff

fix(embedded): add guest token to streaming exports
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.test.ts
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(embedded): assert streaming export omits empty guest token
  superset-frontend/src/components/StreamingExportModal/useStreamingExport.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): escape LIKE wildcards in MCP list tool search filters (#40682)
  superset/daos/base.py
  tests/integration_tests/dao/base_dao_test.py
Due: ruff-format, ruff, pylint

fix(mcp): fall back to form_data spatial query for Deck.gl charts (#40339)
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/tool/get_chart_data.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
Due: ruff-format, ruff, pylint

test: import load_birth_names_data fixture dependency
  tests/integration_tests/security/guest_token_revocation_tests.py
Due: ruff-format, ruff

fix(rls,reports): revert databend host swap, gate webhook block behind opt-out flag
  UPDATING.md
  superset/config.py
  superset/db_engine_specs/databend.py
  superset/reports/notifications/webhook.py
  tests/unit_tests/db_engine_specs/test_impala.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

ci: correct actions/checkout version comment to match pinned SHA
  .github/workflows/codeql-analysis.yml
Due: none

ci: reduce Cypress parallelism from 6 shards to 2
  .github/workflows/superset-e2e.yml
Due: none

test(table-collection): guard header-toggle-all data-test against antd class rename
  superset-frontend/packages/superset-ui-core/src/components/TableCollection/TableCollection.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(nvd3): sanitize generateMultiLineTooltipContent output (#40612)
  superset-frontend/plugins/legacy-preset-chart-nvd3/test/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(nvd3): extract testable generateAnnotationTooltipContent helper (#40620)
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/utils.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/test/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(db_engine_specs): escape schema name in regex; document safe filter pattern (#40642)
  superset/db_engine_specs/base.py
  superset/jinja_context.py
  tests/unit_tests/db_engine_specs/test_base.py
Due: ruff-format, ruff, pylint

fix(impala): validate cancel_query host before outbound HTTP request
  UPDATING.md
  superset/config.py
  superset/db_engine_specs/impala.py
  tests/unit_tests/db_engine_specs/test_impala.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

ci: add cancel-in-progress concurrency to PR helper workflows (#40725)
  .github/workflows/github-action-validator.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-lint.yml
Due: none

fix(calendar): Fix day offset in Calendar Heatmap visualization (#34564)
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/utils.ts
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.ts
  superset-frontend/plugins/legacy-plugin-chart-calendar/test/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(impala): mock is_safe_host in cancel_query happy-path tests
  tests/unit_tests/db_engine_specs/test_impala.py
Due: ruff-format, ruff

fix(subdirectory): serve PWA manifest dynamically (Slice 6)
  UPDATING.md
  superset-frontend/src/pwa-manifest.json
  superset-frontend/webpack.config.js
  superset/extensions/__init__.py
  superset/initialization/__init__.py
  superset/templates/superset/spa.html
  superset/views/pwa_manifest.py
  tests/unit_tests/views/test_pwa_manifest.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(subdirectory): wire normalizeBackendUrls + AF-5/AF-6 (Slice 7)
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/src/connection/callApi/callApiAndParseWithTimeout.ts
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/src/connection/index.ts
  superset-frontend/packages/superset-ui-core/src/connection/normalizeBackendUrls.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientAppRootContract.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientNormalize.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/normalizeBackendUrls.test.ts
  superset-frontend/src/utils/pathUtils.test.ts
  superset-frontend/src/utils/pathUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
