Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

test(dashboard): verify portal node stability during transient overflow recalculation
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.overflow.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): add comprehensive integration test for issue #45050 scenario
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.overflow.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(dashboard): finalize regression guards and documentation for #45050
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.overflow.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(semantic): map layer views as a collection (#44902)
  superset/semantic_layers/models.py
  tests/unit_tests/semantic_layers/models_test.py
Due: ruff-format, ruff, pylint

last commit
  docs/docs/using-superset/recently-archived.mdx
  superset/commands/deletion_retention/purge_policy.py
  tests/unit_tests/commands/deletion_retention/test_purge_policy.py
Due: ruff-format, ruff, pylint

done
  docs/docs/using-superset/recently-archived.mdx
  superset/commands/deletion_retention/purge_policy.py
  tests/unit_tests/commands/deletion_retention/test_purge_policy.py
Due: ruff-format, ruff, pylint

updating description
  docs/docs/using-superset/recently-archived.mdx
Due: none

test(retention): verify paged backlog count and clarify cap metrics
  docs/docs/using-superset/recently-archived.mdx
  tests/unit_tests/tasks/test_version_history_retention.py
Due: ruff-format, ruff

fix(explore): keep checkbox label activation single and focused
  superset-frontend/src/explore/components/controls/CheckboxControl.test.tsx
  superset-frontend/src/explore/components/controls/CheckboxControl.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(versioning): cover unknown and query-backed chart restores
  superset/models/slice.py
  superset/versioning/restore.py
  tests/unit_tests/versioning/test_restore_missing_datasource.py
Due: ruff-format, ruff, pylint

test(retention): pin dataset-scoped detach and dry-run counters
  tests/unit_tests/commands/deletion_retention/test_purge_chart_detach.py
Due: ruff-format, ruff

fix(semantic): give cache warm-up charts independent metadata budgets
  docs/developer_docs/semantic-metadata-store.md
  superset/tasks/cache.py
  tests/unit_tests/semantic_layers/metadata_binding_test.py
Due: ruff-format, ruff, pylint

test(semantic): pin metrics in inferred series-limit guard
  superset-frontend/packages/superset-ui-core/test/query/buildQueryContext.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(partition-mapping): correct two notes and give two tests teeth
  UPDATING.md
  docs/admin_docs/configuration/partition-filter-mapping.mdx
  superset/connectors/sqla/partition_mapping.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
  tests/unit_tests/datasets/partition_mapping_preview_test.py
Due: ruff-format, ruff, pylint

feat(canvas): render the echarts widget, themed for light and dark mode
  superset-frontend/src/features/canvas/builtinRenderers.tsx
  superset-frontend/src/features/canvas/echarts/EchartsRenderer.tsx
  superset-frontend/src/features/canvas/echarts/chartData.ts
  superset-frontend/src/features/canvas/echarts/resolveBindings.test.ts
  superset-frontend/src/features/canvas/echarts/resolveBindings.ts
  superset-frontend/src/features/canvas/echarts/themedOption.test.ts
  superset-frontend/src/features/canvas/echarts/themedOption.ts
  superset-frontend/src/pages/Canvas/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(semantic): return a client error for unsupported time grains
  superset/semantic_layers/mapper.py
  tests/unit_tests/semantic_layers/grain_validation_test.py
  tests/unit_tests/semantic_layers/mapper_test.py
Due: ruff-format, ruff, pylint

fix(partition-mapping): refuse MySQL executable comments in a value transform
  superset/connectors/sqla/partition_mapping.py
  superset/translations/messages.pot
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
Due: ruff-format, ruff, pylint

fix(canvas): drop link keys from objects built by records bindings
  superset-frontend/src/features/canvas/echarts/resolveBindings.test.ts
  superset-frontend/src/features/canvas/echarts/resolveBindings.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(canvas): avoid a script URL literal in the binding test
  superset-frontend/src/features/canvas/echarts/resolveBindings.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(retention): let a host install purge policies for its own soft-delete roots (#44892)
  docs/docs/using-superset/recently-archived.mdx
  superset/commands/deletion_retention/purge_policy.py
  superset/config.py
  superset/tasks/deletion_retention.py
  tests/unit_tests/commands/deletion_retention/test_purge_policy.py
  tests/unit_tests/tasks/test_deletion_retention.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(partition-mapping): probe a transform using the :value::type cast shorthand
  superset/connectors/sqla/partition_mapping.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
Due: ruff-format, ruff, pylint

fix(partition-mapping): key the probe cache on the warehouse identity
  superset/connectors/sqla/partition_mapping.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
Due: ruff-format, ruff, pylint

fix(cache): evict rejected cached GET requests
  superset-frontend/src/dashboard/components/nativeFilters/useDisplayControlDatasource.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/useDisplayControlDatasource.ts
  superset-frontend/src/hooks/apiResources/datasets.cache.test.ts
  superset-frontend/src/hooks/apiResources/datasets.test.ts
  superset-frontend/src/hooks/apiResources/datasets.ts
  superset-frontend/src/utils/cacheWrapper.test.ts
  superset-frontend/src/utils/cacheWrapper.ts
  superset-frontend/src/utils/cachedSupersetGet.test.ts
  superset-frontend/src/utils/semanticViewStructure.test.ts
  superset-frontend/src/utils/semanticViewStructure.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): key comparison labels by index
  superset-frontend/src/explore/components/controls/ComparisonRangeLabel.test.tsx
  superset-frontend/src/explore/components/controls/ComparisonRangeLabel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(layout): drop inert Explore #app override
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(retention): pin purge chart-history exception
  UPDATING.md
  superset/commands/deletion_retention/purge_policy.py
  tests/unit_tests/commands/deletion_retention/test_purge_chart_detach.py
Due: ruff-format, ruff, pylint

fix(partition-mapping): stop the preview promising mirrors the chart cannot emit
  superset/connectors/sqla/partition_mapping.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
  tests/unit_tests/models/partition_mirroring_test.py
Due: ruff-format, ruff, pylint

fix(partition-mapping): probe the bound dttm_sql_literal actually compares
  superset/models/helpers.py
  tests/unit_tests/models/partition_mirroring_test.py
Due: ruff-format, ruff, pylint

fix(partition-mapping): close two writers that bypass the mapping's own rules
  superset/commands/dataset/refresh.py
  superset/views/datasource/views.py
  tests/unit_tests/commands/dataset/refresh_test.py
  tests/unit_tests/views/datasource/views_test.py
Due: ruff-format, ruff, pylint

fix(sql_lab): use full query sql for CSV export to preserve session variables
  superset/commands/sql_lab/export.py
Due: ruff-format, ruff, pylint

fix(partition-mapping): correct six dataset-editor defects in the mapping panel
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionColumnFields.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionFilterMapping.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionMappingSection.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/types.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/usePartitionMappingPreview.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/utils.test.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/utils.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorPartitionMapping.test.tsx
  superset/connectors/sqla/models.py
  superset/translations/messages.pot
  tests/unit_tests/datasets/partition_mapping_serialization_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(versioning): guard savepoint history and release orphaned checkpoints
  superset/versioning/changes/listener.py
  superset/versioning/savepoints.py
  superset/versioning/unit_of_work.py
  tests/unit_tests/versioning/test_listener.py
  tests/unit_tests/versioning/test_runtime_capture.py
Due: ruff-format, ruff, pylint

fix(semantic): reject SQL clauses on semantic views (#44899)
  docs/docs/using-superset/semantic-member-selections.mdx
  superset/common/query_object.py
  superset/semantic_layers/mapper.py
  superset/translations/messages.pot
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff, pylint

fix(security): bind contextual access checks to the datasource type and id (#45002)
  docs/docs/using-superset/embedding.mdx
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
  tests/unit_tests/security/test_guest_token_dataset_allowlist.py
  tests/unit_tests/security/typed_datasource_access_test.py
  tests/unit_tests/subjects/test_raise_for_access.py
Due: ruff-format, ruff, pylint

fix(charts): authorize semantic views before provider metadata
  superset/charts/data/api.py
  superset/common/query_context_factory.py
  superset/security/manager.py
  tests/integration_tests/charts/semantic_metadata_authz_tests.py
Due: ruff-format, ruff, pylint

fix(mcp): refuse mutations of externally managed dashboards
  UPDATING.md
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/delete_dashboard.py
  superset/mcp_service/dashboard/tool/governance_utils.py
  superset/mcp_service/dashboard/tool/manage_dashboard_certification.py
  superset/mcp_service/dashboard/tool/manage_dashboard_markdown.py
  superset/mcp_service/dashboard/tool/manage_dashboard_owners.py
  superset/mcp_service/dashboard/tool/manage_dashboard_roles.py
  superset/mcp_service/dashboard/tool/manage_native_filters.py
  superset/mcp_service/dashboard/tool/remove_chart_from_dashboard.py
  superset/mcp_service/dashboard/tool/restore_dashboard.py
  superset/mcp_service/dashboard/tool/update_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_managed_dashboard_refusal.py
Due: ruff-format, ruff, pylint

fix(filters): offer only numeric semantic dimensions to range filters
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/getControlItemsMap.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(semantic-views): refresh dependent options for optional dependencies
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.test.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(permalink): handle concurrent creation of identical dashboard permalinks
  superset/commands/dashboard/permalink/create.py
  tests/unit_tests/commands/dashboard/permalink_create_test.py
Due: ruff-format, ruff, pylint

test(semantic-layer): run metric projection on a real model
  tests/unit_tests/mcp_service/semantic_layer/tool/test_list_metrics.py
Due: ruff-format, ruff

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
