Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

feat(rose): migrate rose chart to v1 chart data API (#41726)
  superset-frontend/plugins/legacy-plugin-chart-rose/src/buildQuery.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/src/index.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/src/transformData.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/src/transformProps.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/test/buildQuery.test.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/test/transformData.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(viz): update SCOPE tracker after tier 2 completion
  SCOPE.md
Due: none

feat(partition): migrate partition chart to v1 chart data API (#41729)
  superset-frontend/plugins/legacy-plugin-chart-partition/src/buildQuery.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/src/index.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/src/transformData.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/src/transformProps.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/test/buildQuery.test.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/test/transformData.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(time-pivot): migrate time_pivot chart to v1 chart data API (#41727)
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/TimePivot/buildQuery.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/TimePivot/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/TimePivot/transformData.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/TimePivot/transformProps.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/test/TimePivot.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(legacy-viz): restore line-engine default ordering for horizon and rose (#41732)
  superset-frontend/plugins/legacy-plugin-chart-horizon/src/buildQuery.ts
  superset-frontend/plugins/legacy-plugin-chart-horizon/test/buildQuery.test.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/src/buildQuery.ts
  superset-frontend/plugins/legacy-plugin-chart-rose/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(compare): migrate compare charts to echarts_timeseries_line and drop the legacy plugin (#41738)
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/example-dark.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/thumbnail-dark.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/thumbnail.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/images/thumbnailLarge.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/stories/NVD3Compare.stories.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Compare/stories/data.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/preset.ts
  superset-frontend/src/visualizations/presets/MainPreset.ts
  superset/cli/viz_migrations.py
  superset/migrations/shared/migrate_viz/processors.py
  superset/migrations/versions/2026-07-02_21-30_e5f6a7b8c9d0_migrate_compare_chart_to_echarts.py
  superset/viz.py
  tests/unit_tests/migrations/viz/nvd3_compare_chart_to_echarts_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(bubble): migrate saved bubble charts to bubble_v2 and drop the legacy plugin (#41728)
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/controlPanel.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/images/example-dark.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/images/example.jpg
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/images/thumbnail-dark.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/images/thumbnail.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/images/thumbnailLarge.png
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/stories/NVD3Bubble.stories.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/Bubble/stories/data.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Vis.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/index.ts
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/preset.ts
  superset-frontend/src/visualizations/presets/MainPreset.ts
  superset/examples/world_bank.py
  superset/migrations/versions/2026-07-02_21-00_d4e5f6a7b8c9_migrate_bubble_chart_to_echarts.py
  superset/viz.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/utils_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(deck-multi): migrate deck_multi chart to the v1 chart data API (#41730)
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/buildQuery.ts
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/index.ts
  tests/unit_tests/charts/data/test_empty_query_context.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

chore(viz): update SCOPE tracker — all charts migrated, phases 2-3 in review
  SCOPE.md
Due: none

fix: restore OAuth2RedirectError import after rebase
  tests/unit_tests/tasks/test_async_queries.py
Due: ruff-format, ruff

fix: repair stale package-lock.json and alembic migration branch
  superset-frontend/package-lock.json
  superset/migrations/versions/2026-07-02_21-00_d4e5f6a7b8c9_migrate_bubble_chart_to_echarts.py
Due: prettier-frontend, ruff-format, ruff

docs: add UPDATING.md entries for the legacy viz pipeline removal and drop the working trackers
  SCOPE.md
  UPDATES.md
  UPDATING.md
Due: none

fix: format Multi.tsx and update Multi.color.test.tsx for registry-based layer loading
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.color.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: resolve alembic multiple-heads conflict in migration chain
  superset/migrations/versions/2026-07-02_21-00_d4e5f6a7b8c9_migrate_bubble_chart_to_echarts.py
Due: ruff-format, ruff

fix: resolve oxlint unused-var/param errors and remove orphaned legacy test
  superset-frontend/plugins/legacy-preset-chart-nvd3/test/TimePivot/controlPanel.test.ts
  superset-frontend/plugins/preset-chart-nvd3/src/NVD3Vis.ts
  superset-frontend/src/components/Chart/chartAction.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: point bubble-chart migration at master's actual alembic head
  superset/migrations/versions/2026-07-02_21-00_d4e5f6a7b8c9_migrate_bubble_chart_to_echarts.py
Due: ruff-format, ruff

fix(paired-t-test): restore the datetime column control
  superset-frontend/plugins/plugin-chart-paired-t-test/src/controlPanel.ts
  superset-frontend/plugins/plugin-chart-paired-t-test/test/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: rebase bubble-chart migration onto master's current alembic head
  superset/migrations/versions/2026-07-02_21-00_d4e5f6a7b8c9_migrate_bubble_chart_to_echarts.py
Due: ruff-format, ruff

fix(nvd3,controls): time-pivot x-axis number format + single-line async multiselect
  superset-frontend/plugins/preset-chart-nvd3/src/NVD3Vis.ts
  superset-frontend/src/explore/components/controls/SelectAsyncControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deck-multi): render the map instead of the no-results empty state
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/index.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(paired-t-test): compute p-values without the Node-only distributions dep
  superset-frontend/plugins/plugin-chart-paired-t-test/package.json
  superset-frontend/plugins/plugin-chart-paired-t-test/src/TTestTable.tsx
  superset-frontend/plugins/plugin-chart-paired-t-test/src/statistics.ts
  superset-frontend/plugins/plugin-chart-paired-t-test/test/statistics.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(paired-t-test): mock the statistics module instead of removed distributions
  superset-frontend/plugins/plugin-chart-paired-t-test/test/TTestTable.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(paired-t-test): prove the v1 pipeline renders table rows end-to-end
  superset-frontend/plugins/plugin-chart-paired-t-test/test/pipeline.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): drop removed useLegacyApi prop from ChartRenderer test metadata
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): honor chart enableNoResults metadata in ChartRenderer
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(paired-t-test): render the table without the reactable dependency
  superset-frontend/plugins/plugin-chart-paired-t-test/src/TTestTable.tsx
  superset-frontend/plugins/plugin-chart-paired-t-test/test/pipeline.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(plugins): regression guards from the migration bug sweep
  superset-frontend/plugins/plugin-chart-calendar/test/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-horizon/test/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-partition/test/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-rose/test/controlPanel.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/buildQuery.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Arc/buildQuery.test.ts
  superset-frontend/plugins/preset-chart-nvd3/test/xAxisFormatter.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(paired-t-test): bound the scroll container to the chart height
  superset-frontend/plugins/plugin-chart-paired-t-test/src/PairedTTest.tsx
  superset-frontend/plugins/plugin-chart-paired-t-test/src/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(paired-t-test): scroll the chart when tables overflow its height
  superset-frontend/plugins/plugin-chart-paired-t-test/src/PairedTTest.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(paired-t-test): use the antd Table and drop the reactable dependency
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-paired-t-test/package.json
  superset-frontend/plugins/plugin-chart-paired-t-test/src/PairedTTest.tsx
  superset-frontend/plugins/plugin-chart-paired-t-test/src/TTestTable.tsx
  superset-frontend/plugins/plugin-chart-paired-t-test/test/TTestTable.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deck-multi): autozoom to layer data in the v1 fetch path
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/MultiV1.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deck-multi): correct the points-collection typing to unblock tsc
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(paired-t-test): drop the unused prop-types dependency
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-paired-t-test/package.json
Due: prettier-frontend

test(plugins): cover the migrated calendar/chord/country-map registration
  superset-frontend/plugins/plugin-chart-calendar/test/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-calendar/test/index.test.ts
  superset-frontend/plugins/plugin-chart-calendar/test/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-chord/test/index.test.ts
  superset-frontend/plugins/plugin-chart-country-map/test/index.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deck-arc): default missing layer colors instead of crashing
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Arc/Arc.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Arc/Arc.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Polygon/Polygon.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deck-multi): query layers against their real datasource, not stale params
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/MultiV1.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: repair type errors from removed useLegacyApi metadata field
  superset-frontend/plugins/plugin-chart-calendar/test/index.test.ts
  superset-frontend/plugins/plugin-chart-chord/test/index.test.ts
  superset-frontend/plugins/plugin-chart-country-map/test/index.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Arc/Arc.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(deck-multi): surface layer load failures in the chart
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/Multi.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/Multi/MultiV1.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
