Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(db_engine_specs): address review comments for IBM i, Arc, Databricks, Kusto, Aurora, and ODPS
  superset/db_engine_specs/arc.py
  superset/db_engine_specs/aurora.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/ibmi.py
  superset/db_engine_specs/kusto.py
  tests/unit_tests/db_engine_specs/test_arc.py
  tests/unit_tests/db_engine_specs/test_ibmi.py
  tests/unit_tests/db_engine_specs/test_kusto.py
  tests/unit_tests/db_engine_specs/test_odps.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(i18n): fix oxfmt flag and Windows backslash argument escaping
  scripts/compile_po.py
  tests/unit_tests/scripts/translations/compile_po_test.py
Due: ruff-format, ruff

cover the parameter-validation engine with the connection hook
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

docs(versioning): describe the one-time settings-migration history entry (#43776)
  UPDATING.md
  docs/docs/using-superset/version-history.mdx
Due: none

test(mcp): exercise dataset scope listing middleware
  docs/admin_docs/configuration/mcp-server.mdx
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/test_dataset_scope.py
Due: ruff-format, ruff

fix(archive): hide recovery actions from read-only users
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

ci(python-unit): narrow the driver preload; isolate the MCP user ContextVar
  .github/workflows/superset-python-unittest.yml
  tests/unit_tests/commands/report/base_test.py
  tests/unit_tests/conftest.py
  tests/unit_tests/mcp_service/conftest.py
  tests/unit_tests/test_clock_reading_driver_preload.py
Due: ruff-format, ruff

fix(i18n): make module-level error constants lazy gettext
  superset/sqllab/query_render.py
  superset/views/core.py
  tests/unit_tests/views/test_i18n_constants.py
Due: ruff-format, ruff, pylint

fix(versioning): version-history panel design fidelity
  superset-frontend/src/features/versionHistory/ActionRow.tsx
  superset-frontend/src/features/versionHistory/PreviewBanner.test.tsx
  superset-frontend/src/features/versionHistory/PreviewBanner.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.test.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(i18n): run the translation-lookup pin on every backend
  tests/unit_tests/views/test_i18n_constants.py
Due: ruff-format, ruff

fail closed when the driver handle is unreachable
  superset/db_engine_specs/shillelagh.py
  tests/unit_tests/commands/databases/validate_test.py
  tests/unit_tests/db_engine_specs/test_shillelagh.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(docker): build mysqlclient via pip-install.sh so gcc is present
  Dockerfile
Due: none

fix(docker): point non-dev compose at the superset (prod) target
  docker-compose-light.yml
  docker-compose-non-dev.yml
  docker-compose.yml
Due: none

ci(playwright): run the recently-archived e2e specs
  .github/workflows/superset-playwright.yml
Due: none

test(dashboard): add tests for dashboard tagging functionality in AccessSection (Issue #3821) [0x5ea575c120018f5f2e266d781e43f335aaaf3be6]
  superset-frontend/src/dashboard/components/PropertiesModal/sections/AccessSection.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(soft-delete): translate unique collisions with soft-deleted rows into restore guidance
  superset/commands/dashboard/create.py
  superset/commands/dashboard/exceptions.py
  superset/commands/dashboard/update.py
  superset/commands/dataset/update.py
  superset/commands/soft_delete_collisions.py
  superset/datasets/api.py
  superset/translations/messages.pot
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/commands/dashboard/slug_collision_test.py
  tests/unit_tests/commands/dataset/update_test.py
Due: ruff-format, ruff, pylint

fix(docker): scan the new superset preset for vulnerabilities, not just lean
  .github/workflows/docker.yml
Due: none

fix(versioning): single active highlight, and apply banner sizing via antd v6 semantic styles
  AGENTS.md
  superset-frontend/src/features/versionHistory/ActionRow.tsx
  superset-frontend/src/features/versionHistory/PreviewBanner.test.tsx
  superset-frontend/src/features/versionHistory/PreviewBanner.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.test.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.tsx
  superset-frontend/src/features/versionHistory/VersionHistoryPanel.test.tsx
  superset-frontend/src/features/versionHistory/VersionHistoryPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(archive): permission split between seeing and acting on archived rows
  docs/docs/using-superset/recently-archived.mdx
Due: none

ci(python-unit): address rev-2 review — annotate token, pin the specific spec, explain the preload seam
  tests/unit_tests/conftest.py
  tests/unit_tests/mcp_service/conftest.py
  tests/unit_tests/test_clock_reading_driver_preload.py
Due: ruff-format, ruff

fix(security): scope annotation-layer tampering check to current chart params
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

refactor(versioning): rename charts_attached_to_dashboard to chart_attachment_windows_for_dashboard
  superset/versioning/activity/impact.py
  superset/versioning/activity/queries.py
  superset/versioning/activity/scope.py
  superset/versioning/membership.py
  superset/versioning/restore.py
  tests/unit_tests/versioning/test_activity.py
Due: ruff-format, ruff, pylint

test(i18n): AST-based eager-constant tripwire; translate CertificateException default at construction
  superset/exceptions.py
  superset/sqllab/query_render.py
  superset/utils/core.py
  superset/views/core.py
  tests/unit_tests/views/test_i18n_constants.py
Due: ruff-format, ruff, pylint

refactor(list-view): eliminate any usage in ListView/utils.ts
  superset-frontend/packages/superset-ui-core/src/components/TableCollection/index.tsx
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/types/react-table.d.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(security): edit-gate version-history and change metadata (#44033)
  SECURITY.md
Due: none

feat(docker): batteries-included default image, minimal image to -lean (#44100)
  .github/workflows/docker.yml
  .github/workflows/scheduled-docker-image-refresh.yml
  .github/workflows/tag-release.yml
  Dockerfile
  UPDATING.md
  docker-compose-image-tag.yml
  docker-compose-light.yml
  docker-compose-non-dev.yml
  docker-compose.yml
  docs/admin_docs/installation/docker-builds.mdx
Due: none

name the failing value in the connection-guard error
  superset/db_engine_specs/shillelagh.py
  tests/unit_tests/db_engine_specs/test_shillelagh.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(semantic-layers): fix mypy call_args error on values endpoint test
  tests/unit_tests/semantic_layers/values_endpoint_test.py
Due: ruff-format, ruff

fix(mcp): preserve omitted chart colors and row limits
  superset/mcp_service/chart/chart_utils.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff, pylint

fix(sql-lab): avoid duplicate generated result column names
  superset/result_set.py
  tests/unit_tests/result_set_test.py
Due: ruff-format, ruff, pylint

ci(python-unit): run the unit suite in parallel with pytest-xdist (#44178)
  .github/workflows/superset-python-unittest.yml
  pyproject.toml
  requirements/development.txt
  tests/unit_tests/commands/report/base_test.py
  tests/unit_tests/conftest.py
  tests/unit_tests/mcp_service/conftest.py
  tests/unit_tests/test_clock_reading_driver_preload.py
Due: ruff-format, ruff

chore(lint): inline W9001 disables for the post-flush rollbacks
  superset/commands/dashboard/create.py
  superset/commands/dashboard/update.py
Due: ruff-format, ruff, pylint

fix(versioning): guest deny and identity allowlist for the edit gate
  UPDATING.md
  superset/versioning/api_helpers.py
  superset/versioning/restore.py
  tests/integration_tests/versioning/activity_view_tests.py
  tests/integration_tests/versioning/versions_api_tests.py
  tests/unit_tests/versioning/test_endpoint_gate.py
  tests/unit_tests/versioning/test_restore.py
Due: ruff-format, ruff, pylint

refactor(versioning): craft-lens polish for the edit-gate change
  superset/versioning/activity/orchestrator.py
  superset/versioning/activity/render.py
  superset/versioning/api_helpers.py
  tests/integration_tests/versioning/activity_view_tests.py
  tests/integration_tests/versioning/versions_api_tests.py
  tests/unit_tests/versioning/test_endpoint_gate.py
Due: ruff-format, ruff, pylint

fix(versioning): edit-gate the version-history and activity endpoints
  UPDATING.md
  superset/versioning/api_helpers.py
  superset/versioning/restore.py
  tests/integration_tests/versioning/activity_view_tests.py
  tests/integration_tests/versioning/versions_api_tests.py
  tests/unit_tests/versioning/test_endpoint_gate.py
  tests/unit_tests/versioning/test_restore.py
Due: ruff-format, ruff, pylint

docs: dedupe the edit-gate UPDATING entry and give it its own heading
  UPDATING.md
Due: none

fix(archive): read-only tooltip variant + non-vacuous tooltip tests
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(versioning): resolve change-record dashboard membership via attachment windows
  superset/versioning/changes/shadow_queries.py
  superset/versioning/membership.py
  tests/unit_tests/versioning/test_shadow_queries.py
Due: ruff-format, ruff, pylint
