Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(charts): address bot review findings on legacy color fallbacks
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/utils.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberPeriodOverPeriod/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gauge/controlPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(themes): add curated color pickers above the theme JSON editor
  superset-frontend/src/features/themes/ThemeColorPickers.test.tsx
  superset-frontend/src/features/themes/ThemeColorPickers.tsx
  superset-frontend/src/features/themes/ThemeModal.test.tsx
  superset-frontend/src/features/themes/ThemeModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): align finite-value filtering between Bullet ranges and range colors
  superset-frontend/plugins/plugin-chart-echarts/src/Bullet/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Bullet/transformProps.test.ts
  superset-frontend/src/features/themes/ThemeColorPickers.test.tsx
  superset-frontend/src/features/themes/ThemeColorPickers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): set is_managed_externally=False on update-test mocks
  tests/unit_tests/commands/dashboard/update_test.py
Due: ruff-format, ruff

style(mcp): satisfy lint after merging master
  superset/core/mcp/core_mcp_injection.py
Due: ruff-format, ruff, pylint

test(deletion-retention): cover the scope-lookup opt-out path
  tests/unit_tests/commands/deletion_retention/test_prune_audit.py
Due: ruff-format, ruff

docs(deletion-retention): align pruning guidance with safe batch ceiling
  UPDATING.md
  superset/commands/deletion_retention/prune_audit.py
Due: ruff-format, ruff, pylint

style(security): hoist the UUID import and justify the deferred one
  superset/security/login_token.py
Due: ruff-format, ruff, pylint

docs(i18n): correct certificate exception translation rationale
  superset/exceptions.py
  tests/unit_tests/views/test_i18n_constants.py
Due: ruff-format, ruff, pylint

test(versioning): pin PostgreSQL activity SELECT streaming
  tests/integration_tests/versioning/activity_write_after_read_tests.py
Due: ruff-format, ruff

fix(database): clarify restored datasets still block deletion
  superset/commands/database/exceptions.py
  superset/translations/messages.pot
  superset/views/base_api.py
  tests/integration_tests/datasets/api_tests.py
  tests/unit_tests/databases/commands/delete_test.py
Due: ruff-format, ruff, pylint

fix(migrations): merge theme editors and purge audit heads
  superset/migrations/versions/2026-09-16_22-55_60f94cd6cd11_merge_theme_editors_and_purge_audit_heads.py
Due: ruff-format, ruff

docs(versioning): clarify retention shutdown and purge outcome checks
  docs/docs/using-superset/recently-archived.mdx
  docs/docs/using-superset/version-history.mdx
Due: none

test(security): tighten published-dashboard gate fixtures
  tests/unit_tests/dashboards/semantic_view_access_test.py
  tests/unit_tests/subjects/test_report_executor_remediation.py
Due: ruff-format, ruff

fix(security): satisfy mypy on the decoded login-token payload
  superset/security/login_token.py
Due: ruff-format, ruff, pylint

test(versioning): pin restore boundaries and document erased-history limits
  superset/versioning/changes/shadow_queries.py
  superset/versioning/queries.py
  superset/versioning/restore.py
  tests/integration_tests/versioning/restore_fails_closed_tests.py
  tests/unit_tests/versioning/test_restore.py
Due: ruff-format, ruff, pylint

test(reports): align integration fixtures with capture safeguards
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/integration_tests/reports/commands_tests.py
Due: ruff-format, ruff

fix(soft-delete): prioritize MySQL errno in slug collision guidance
  superset/commands/dataset/update.py
  superset/commands/soft_delete_collisions.py
  superset/datasets/api.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/commands/dashboard/slug_collision_test.py
  tests/unit_tests/commands/dataset/update_test.py
Due: ruff-format, ruff, pylint

docs(api): regenerate the OpenAPI snapshot for the login-token endpoints
  docs/static/resources/openapi.json
Due: none

test(versioning): pin conditional lock error and rollback paths
  superset/datasets/api.py
  superset/versioning/api_helpers.py
  superset/versioning/db_errors.py
  superset/versioning/queries.py
  tests/integration_tests/versioning/conditional_token_lock_tests.py
  tests/unit_tests/datasets/api_tests.py
  tests/unit_tests/versioning/test_db_errors.py
Due: ruff-format, ruff, pylint

fix(dashboard): distinguish invalid layouts and normalize copied chart ids
  superset/commands/dashboard/exceptions.py
  superset/daos/dashboard.py
  superset/mcp_service/dashboard/tool/duplicate_dashboard.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/dao_tests.py
  tests/unit_tests/dao/dashboard_test.py
  tests/unit_tests/dao/test_copy_dashboard_legacy_ids.py
  tests/unit_tests/mcp_service/dashboard/tool/test_duplicate_dashboard.py
Due: ruff-format, ruff, pylint

feat(semantic layers): derive Explore picker modes from declared semantic view features (#42540)
  docs/developer_docs/extensions/contribution-types.md
  superset-core/src/superset_core/semantic_layers/view.py
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-core/src/query/types/Datasource.ts
  superset-frontend/src/explore/actions/exploreActions.test.ts
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelDragOption/DatasourcePanelDragOption.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelItem.test.tsx
  superset-frontend/src/explore/components/DatasourcePanel/compatibility.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/utils/pickerCapabilities.test.ts
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/utils/pickerCapabilities.ts
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/AdhocMetricEditPopover.test.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/reducers/exploreReducer.test.ts
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset-frontend/src/explore/selectors/compatibility.test.ts
  superset-frontend/src/explore/selectors/compatibility.ts
  superset-frontend/src/explore/types.ts
  superset/semantic_layers/models.py
  superset/superset_typing.py
  tests/unit_tests/semantic_layers/models_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(api): align sort and prophet option schemas with their operations (#43206)
  docs/static/resources/openapi.json
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

fix(chart): include Decimal metrics in contribution totals (#43222)
  superset/common/query_context_processor.py
  superset/tasks/async_queries.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/tasks/test_async_queries.py
Due: ruff-format, ruff, pylint

feat(native-filters): drive cascade dependencies from chart metadata (#43223)
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartMetadata.ts
  superset-frontend/packages/superset-ui-core/test/chart/models/ChartMetadata.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/NativeFiltersModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/hooks/index.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/hooks/useFilterOperations.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/hooks/useFilterOperations.ts
  superset-frontend/src/filters/components/Range/index.ts
  superset-frontend/src/filters/components/Select/index.ts
  superset-frontend/src/filters/components/Time/index.ts
  superset-frontend/src/filters/components/TimeColumn/index.ts
  superset-frontend/src/filters/components/TimeGrain/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(versioning): distinguish tracked creates from unstamped history
  docs/docs/using-superset/version-history.mdx
  superset/versioning/activity/creation.py
  superset/versioning/activity/orchestrator.py
  superset/versioning/activity/queries.py
  superset/versioning/changes/__init__.py
  superset/versioning/changes/listener.py
  superset/versioning/creation_kinds.py
  superset/versioning/schemas.py
  tests/integration_tests/versioning/activity_write_after_read_tests.py
  tests/integration_tests/versioning/creation_row_tests.py
  tests/unit_tests/versioning/test_activity.py
  tests/unit_tests/versioning/test_listener.py
Due: ruff-format, ruff, pylint

fix(security): make the login-token redirect provably safe to analysis
  superset/security/api.py
Due: ruff-format, ruff, pylint

fix(explore): exclude time-comparison sort metrics from stacked total
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Build exact time-comparison keys instead of prefix-matching
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(native-filters): keep cascade dependency gate in sync with live filter type
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/hooks/useFilterOperations.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/hooks/useFilterOperations.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(themes): render brand spinner SVG via <img> data URI (#43504)
  superset/templates/superset/spa.html
  superset/views/base.py
  tests/unit_tests/views/test_base_theme_helpers.py
Due: ruff-format, ruff, pylint

refactor(explore): move optional icons outside label element (#43584)
  superset-frontend/src/explore/components/ControlHeader.test.tsx
  superset-frontend/src/explore/components/ControlHeader.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): handle self-referential catalog qualifiers (#43974)
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mssql.py
  superset/security/manager.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_mssql.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(rls): match the RLS predicate lookup on case-normalized table identifiers (#43993)
  superset/sql/parse.py
  superset/utils/rls.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/unit_tests/sql/parse_tests.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff, pylint

fix(mcp): bound chart_ids length in the generate-dashboard request (#44071)
  superset/mcp_service/dashboard/schemas.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
Due: ruff-format, ruff, pylint

fix(db): honor connect_args returned by adjust_engine_params (#44078)
  superset/models/core.py
  tests/unit_tests/models/core_test.py
Due: ruff-format, ruff, pylint

fix(jinja): escape current_username/current_user_email like sibling macros (#44081)
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

fix(sqla): run column metadata probe statement exactly once (#44242)
  superset/connectors/sqla/utils.py
  tests/unit_tests/connectors/sqla/utils_test.py
Due: ruff-format, ruff, pylint

fix(migrations): merge theme editors and purge audit heads (#44364)
  superset/migrations/versions/2026-09-16_22-55_60f94cd6cd11_merge_theme_editors_and_purge_audit_heads.py
Due: ruff-format, ruff

fix(dashboard): preserve archived slots without sharing copied charts
  docs/docs/using-superset/version-history.mdx
  superset/daos/dashboard.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/dao/test_copy_dashboard_legacy_ids.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
