Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

test(mcp): strengthen all-NaN fallback assertion in bar chart test
  tests/unit_tests/mcp_service/chart/test_ascii_charts.py
Due: ruff-format, ruff

fix(mcp): handle time_range_b in mixed_timeseries secondary query, tighten types
  superset/mcp_service/chart/tool/get_chart_sql.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
Due: ruff-format, ruff, pylint

chore: apply prettier formatting
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Allow database_id to be None in DatasetPutSchema
  superset/datasets/schemas.py
Due: ruff-format, ruff, pylint

fix(explore): hide value input for unary filter operators
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/AdhocFilterEditPopoverSimpleTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): improve pt_BR translations (#38826)
  superset/translations/pt_BR/LC_MESSAGES/messages.po
Due: none

fix(Modal): prevent title overlapping with close button in long header titles (#36536)
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): ensure unsaved-changes dialog renders above View SQL modal (#39569)
  superset-frontend/packages/superset-ui-core/src/components/UnsavedChangesModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): surface structured errors for generate_chart validation failures (#39484)
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_type_schema.py
Due: ruff-format, ruff, pylint

chore(ci): update Node.js version used in building CI image (#38635)
  Dockerfile
  superset-frontend/packages/superset-ui-core/src/components/AsyncAceEditor/useJsonValidation.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docs): add split Get Started button to main docs page with audience links (#39467)
  docs/docusaurus.config.ts
  docs/src/components/GetStartedSplitButton.tsx
  docs/src/pages/index.tsx
  docs/src/styles/main.css
  docs/src/theme/NavbarItem/ComponentTypes.tsx
  docs/src/theme/NavbarItem/GetStartedSplitNavbarItem.tsx
  docs/src/theme/Root.js
Due: eslint-docs

fix: d3 format for table (#37454)
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigConstants.test.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/constants.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(deps): bump python-dotenv from 1.1.0 to 1.2.2 (#39723)
  requirements/base.txt
  requirements/development.txt
Due: none

fix(plugin-chart-handlebars): preserve template on explore open (#39442)
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/handlebarTemplate.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/style.tsx
  superset-frontend/plugins/plugin-chart-handlebars/test/plugin/controls.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): rename _FastMCPValidationFilter to public symbol (#39722)
  superset/mcp_service/server.py
Due: ruff-format, ruff, pylint

fix(mcp): classify user errors as WARNING, system errors as ERROR (#39634)
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/dataset/tool/create_virtual_dataset.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/mcp_core.py
  superset/mcp_service/middleware.py
  superset/mcp_service/server.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/system/tool/get_schema.py
  superset/mcp_service/utils/schema_utils.py
  tests/unit_tests/mcp_service/test_middleware.py
Due: ruff-format, ruff, pylint

fix(mcp): database filter columns, timeseries SQL, and unsaved chart datasource name (#39636)
  superset/mcp_service/chart/tool/get_chart_sql.py
  superset/mcp_service/database/schemas.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
  tests/unit_tests/mcp_service/database/tool/test_database_tools.py
Due: ruff-format, ruff, pylint

fix(mcp): restore typed ChartConfig in tool schemas for LLM visibility (#39732)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/chart/validation/pipeline.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
  tests/unit_tests/mcp_service/chart/validation/test_pipeline_error_surface.py
  tests/unit_tests/mcp_service/test_tool_search_transform.py
Due: ruff-format, ruff, pylint

fix(theme): set color-scheme on html to fix dark mode scrollbars (#39704)
  superset-frontend/packages/superset-core/src/theme/GlobalStyles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dev): revert `react-checkbox-tree` from 2.1.0 to 1.8.0 in /superset-frontend (#39660)
  .github/dependabot.yml
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/dashboard/components/filterscope/FilterScope.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(query-history): enable sorting by Duration column (#39637)
  superset/models/sql_lab.py
  superset/queries/api.py
  superset/queries/schemas.py
  tests/integration_tests/queries/api_tests.py
Due: ruff-format, ruff, pylint

fix(docs): fix 404s in documentation (#38974)
  docs/admin_docs/configuration/networking-settings.mdx
  docs/admin_docs/configuration/timezones.mdx
  docs/admin_docs/installation/kubernetes.mdx
  docs/developer_docs/extensions/overview.md
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: eslint-docs

fix(table chart): fix rerender bug that continuously cleared search box (#39707)
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/src/pages/Chart/Chart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(rls): adding additional rls filter documentation (#38829)
  docs/admin_docs/security/security.mdx
Due: none

fix(ci): switch Dependabot Python ecosystem from uv to pip (#39726)
  .github/dependabot.yml
Due: none

fix(chart): use categorical axis for bar charts with numeric x-axis (#39141)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): default chart previews to ascii (#39719)
  superset/mcp_service/app.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/test_middleware.py
Due: ruff-format, ruff, pylint

chore: add Aadhar Housing Finance Limited to INTHEWILD (#38366)
  RESOURCES/INTHEWILD.yaml
Due: none

fix(time-format): handle string input in TimeFormatter to fix pivot table NaN dates (#38949)
  superset-frontend/packages/superset-ui-core/src/time-format/TimeFormatter.ts
  superset-frontend/packages/superset-ui-core/src/time-format/utils/stringifyTimeInput.ts
  superset-frontend/packages/superset-ui-core/test/time-format/TimeFormatter.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): add generate_bug_report tool with PII sanitization (#39595)
  superset/mcp_service/app.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/system/schemas.py
  superset/mcp_service/system/tool/__init__.py
  superset/mcp_service/system/tool/generate_bug_report.py
  tests/unit_tests/mcp_service/system/tool/test_generate_bug_report.py
Due: ruff-format, ruff, pylint

fix(drill-to-detail): drill to detail by correctly filtering by metric (#39766)
  superset/models/helpers.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint

fix(mcp): clarify chart preview URL metadata (#39731)
  superset/mcp_service/app.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: ruff-format, ruff, pylint

fix(table): restore dropdown arrow visibility on paginated table page… (#39305)
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): sanitize read path output for LLM context (#39738)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/get_chart_sql.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  superset/mcp_service/utils/__init__.py
  superset/mcp_service/utils/sanitization.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_info.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_open_sql_lab_with_context.py
  tests/unit_tests/mcp_service/utils/test_sanitization.py
Due: ruff-format, ruff, pylint

fix(mysql): fallback to pymysql when MySQLdb is not installed in get_datatype() (#39729)
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

docs(mcp): update MCP server docs for 6.1 (#39422)
  docs/admin_docs/configuration/mcp-server.mdx
  docs/docs/using-superset/using-ai-with-superset.mdx
Due: none

fix(docs): fix embedding page frontmatter and title capitalization (#39765)
  docs/docs/using-superset/embedding.mdx
Due: none

docs: Superset 6.1 documentation catch-up — batch 3 (#39445)
  docs/admin_docs/configuration/importing-exporting-datasources.mdx
  docs/admin_docs/security/security.mdx
  docs/developer_docs/contributing/development-setup.md
  docs/docs/using-superset/exploring-data.mdx
Due: none

docs: Superset 6.1 documentation catch-up — batch 4 (#39446)
  docs/admin_docs/configuration/cache.mdx
  docs/admin_docs/configuration/configuring-superset.mdx
  docs/admin_docs/configuration/theming.mdx
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  docs/docs/using-superset/exploring-data.mdx
Due: none

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
