Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix-sorting-timetable
  superset-frontend/src/visualizations/TimeTable/TimeTable.tsx
  superset-frontend/src/visualizations/TimeTable/utils/sortUtils/sortUtils.test.ts
  superset-frontend/src/visualizations/TimeTable/utils/sortUtils/sortUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(security): add granular export controls - Phase 2 (screenshots & SQL Lab)
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/DataTableControls.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset/charts/api.py
  superset/dashboards/api.py
  superset/sqllab/api.py
  tests/integration_tests/test_granular_export_api.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore: CHANGELOG.md and UPDATING.md for 6.1.0 RC1
  CHANGELOG.md
  CHANGELOG/6.1.0.md
  UPDATING.md
  superset-frontend/package.json
Due: prettier-frontend

fix: resolve remaining merge conflict markers in useExploreAdditionalActionsMenu
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(a11y): resolve Sprint-2 control report findings (BUG-01 through BUG-07)
  superset-frontend/packages/superset-core/src/ui/theme/GlobalStyles.tsx
  superset-frontend/src/components/PanelToolbar/index.tsx
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/features/home/SavedQueries.tsx
  superset-frontend/src/features/tags/TagCard.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/Login/index.tsx
  superset-frontend/src/pages/SqlLab/index.tsx
  superset-frontend/src/views/App.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix typo
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff

fix(echarts): adapt y-axis ticks and padding for compact timeseries charts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix is_managed_externally flag
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/types/Dashboard.ts
  superset/charts/api.py
  superset/commands/chart/create.py
  superset/commands/chart/update.py
  superset/dashboards/api.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(ci): correctly run tests in silent to avoid GHA log truncation
  superset-frontend/package.json
Due: prettier-frontend

fix: rectify type issue for Vitest migration
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-core/src/utils/logging.test.ts
  superset-frontend/packages/superset-ui-core/test/color/CategoricalColorScale.test.ts
  superset-frontend/packages/superset-ui-core/test/components/Icons/AsyncIcon.integration.test.tsx
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/callApi.test.ts
  superset-frontend/packages/superset-ui-core/test/models/Registry.test.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/test/CountryMap.test.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/middleware/asyncEvent.test.ts
  superset-frontend/src/pages/Chart/Chart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(map-box): correct supersetTheme import path in transformProps test
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(map-box): fix prettier formatting in ScatterPlotGlowOverlay test
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/ScatterPlotGlowOverlay.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: move MCP deployment guide to admin docs, add user-facing AI guide
  docs/admin_docs/configuration/mcp-server.mdx
  docs/developer_docs/sidebars.js
  docs/docs/using-superset/using-ai-with-superset.mdx
Due: eslint-docs

fix(map-box): use correct @apache-superset/core/theme import for supersetTheme
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix imports
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix lint/tests
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  tests/unit_tests/semantic_layers/api_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix(dashboard): remap UUID-keyed chart_configuration entries on import
  superset/commands/dashboard/importers/v1/utils.py
  tests/unit_tests/dashboards/commands/importers/v1/utils_test.py
Due: ruff-format, ruff, pylint

fix(presto): use milliseconds precision for Presto timestamps
  superset/db_engine_specs/presto.py
  tests/unit_tests/db_engine_specs/test_presto.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

add length unit
  superset-frontend/packages/superset-ui-chart-controls/src/utils/D3Formatting.ts
  superset-frontend/packages/superset-ui-core/src/number-format/factories/createLengthFormatter.ts
  superset-frontend/packages/superset-ui-core/src/number-format/index.ts
  superset-frontend/src/setup/setupFormatters.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: fix trailing whitespace in theming docs
  docs/docs/configuration/theming.mdx
Due: none

fix: updated documentation for tags/get_objects to be in line with actual api implementation
  superset/tags/api.py
Due: ruff-format, ruff, pylint

removed wrong schema command
  superset/tags/api.py
Due: ruff-format, ruff, pylint

fix(calendar): use per-timestamp DST-aware offset in afterLoadData
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/utils.ts
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.ts
  superset-frontend/plugins/legacy-plugin-chart-calendar/test/getFormattedUTCTime.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(bigquery): limit result set size to prevent browser memory crashes
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/src/components/Chart/chartAction.ts
  superset/common/query_context_processor.py
  superset/config.py
  superset/db_engine_specs/bigquery.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

fix: correct OpenAPI docs for get_objects endpoint
  superset/tags/api.py
Due: ruff-format, ruff, pylint

fix(serialization): allow unicode in json serialization
  .github/workflows/bashlib.sh
  superset/utils/json.py
  tests/unit_tests/utils/json_tests.py
Due: ruff-format, ruff, pylint

chore: fix pre-commit issues (type annotation, auto-walrus, ruff, end-of-file)
  superset/models/helpers.py
  superset/models/sql_lab.py
  superset/utils/core.py
  tests/unit_tests/utils/test_core.py
Due: ruff-format, ruff, pylint

fix: color formats big numbers when value is 0
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(big-number): add unit tests for color threshold formatter with zero value
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: resolve merge conflicts against master
  superset/translations/fr/LC_MESSAGES/messages.po
Due: none

fix(odps): correct import path for Table class
  superset/db_engine_specs/odps.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(odps): add engine and engine_name attributes
  superset/db_engine_specs/odps.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(db_engine_specs): validate external engine specs before loading
  superset/db_engine_specs/__init__.py
Due: ruff-format, ruff, pylint

test(sql): add tests for Partition class
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

fix: ODPS (MaxCompute) data source table preview failed
  requirements/base.in
  requirements/base.txt
  requirements/development.txt
  superset/daos/database.py
  superset/databases/api.py
  superset/db_engine_specs/odps.py
  superset/sql/parse.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(ci): fix ruff E501 and requirements ordering for pyodps
  requirements/base.txt
  requirements/development.txt
  superset/db_engine_specs/__init__.py
Due: ruff-format, ruff, pylint

fix(odps): make pyodps import lazy to prevent CI failures
  requirements/base.in
  requirements/base.txt
  superset/daos/database.py
  superset/databases/api.py
Due: ruff-format, ruff, pylint

Fixed Drill-to-detail in TableChart not providing the correct dates by using a Time Range.
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: resolve ESLint and prettier errors in TableChart drill-to-detail
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(odps): address review feedback - security, recursion, typing, tests
  superset/daos/database.py
  superset/databases/api.py
  superset/db_engine_specs/odps.py
  superset/sql/parse.py
  tests/unit_tests/db_engine_specs/test_odps.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata
