Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(mcp): defer chart preview command imports (#40164)
  superset/mcp_service/chart/preview_utils.py
  tests/unit_tests/mcp_service/chart/test_preview_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

fix(dataset): validate datasource access during import (#39998)
  superset/commands/dataset/importers/v1/utils.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Due: ruff-format, ruff, pylint

fix(date_parser): suppress noisy parsedatetime DEBUG logs (#33365) (#40144)
  superset/utils/date_parser.py
  tests/unit_tests/utils/date_parser_tests.py
Due: ruff-format, ruff, pylint

fix(rls): align view permission name with REST API canonical name (#33744) (#40145)
  superset/views/sqla.py
  tests/unit_tests/views/test_sqla.py
Due: ruff-format, ruff, pylint

fix(reports): narrow spinner checks to viewport and tighten exception handling (#39895)
  superset/utils/screenshot_utils.py
  superset/utils/webdriver.py
  tests/unit_tests/utils/test_screenshot_utils.py
  tests/unit_tests/utils/webdriver_test.py
Due: ruff-format, ruff, pylint

fix: escape SQL identifiers in db engine spec prequeries and metadata queries (#39840)
  superset/db_engine_specs/bigquery.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/db2.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/hive.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/starrocks.py
  tests/unit_tests/db_engine_specs/test_databricks.py
  tests/unit_tests/db_engine_specs/test_db2.py
  tests/unit_tests/db_engine_specs/test_hive.py
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/db_engine_specs/test_starrocks.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(i18n): correct Czech translation variables for SQL Lab query message (#40166)
  superset/translations/cs/LC_MESSAGES/messages.po
Due: none

fix: OAuth2 exception should be 403 (#40074)
  superset/exceptions.py
  tests/unit_tests/databases/api_test.py
Due: ruff-format, ruff, pylint

fix(deckgl): render all MultiPolygon parts in Polygon chart (#40100)
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Polygon/transformProps.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Polygon/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): prevent unnecessary scrollbars during chart rendering (#39291)
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(deps): coordinated bump ag-grid-community + ag-grid-react 35.2.1→35.3.0 (#40205)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
Due: prettier-frontend

test(api): regression test for Admin empty dashboard/chart list (#25890) (#40202)
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff

test(prophet): pin yhat_lower can be negative for negative series (#21734) (#40141)
  tests/unit_tests/pandas_postprocessing/test_prophet.py
Due: ruff-format, ruff

test(security): regression test for session cookie after logout (#24713) (#40201)
  tests/integration_tests/security/api_tests.py
Due: ruff-format, ruff

feat: Allow specific mcp tools to be disabled (#39835)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/app.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/test_mcp_config.py
  tests/unit_tests/mcp_service/test_mcp_tool_registration.py
Due: ruff-format, ruff, pylint

fix(deckgl): emit usable cross-filter values from polygon and geojson clicks (#39906)
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Geojson/buildQuery.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Geojson/controlPanel.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Geojson/transformProps.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Polygon/buildQuery.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Polygon/buildQuery.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Polygon/controlPanel.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/common.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/common.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/utilities/Shared_DeckGL.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/utils/crossFiltersDataMask.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/utils/crossFiltersDataMask.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(deps): patch fast-xml-parser CVE-2026-33036 and CVE-2026-33349 (#40118)
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

fix(mcp): exclude self-referencing filter columns from get_schema output (#39826)
  superset/mcp_service/system/tool/get_schema.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
Due: ruff-format, ruff, pylint

fix(OAuth2): Re-query the OAuth2 token to avoid stale reference (#40071)
  superset/utils/oauth2.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint

fix(sqllab): execute prequeries on streaming connection to fix PostgreSQL CSV export (#40194)
  superset/commands/chart/data/streaming_export_command.py
  superset/commands/sql_lab/streaming_export_command.py
  superset/commands/streaming_export/base.py
  superset/models/core.py
  tests/unit_tests/commands/chart/streaming_export_command_test.py
  tests/unit_tests/commands/sql_lab/streaming_export_command_test.py
  tests/unit_tests/models/core_test.py
Due: ruff-format, ruff, pylint

test(sql-parser): pin quoted identifiers with spaces are not subqueries (#32541, #32684) (#40143)
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

fix: OAuth2 trigger (#40097)
  superset-frontend/src/components/ErrorMessage/OAuth2RedirectMessage.test.tsx
  superset-frontend/src/components/ErrorMessage/OAuth2RedirectMessage.tsx
  superset/templates/superset/oauth2.html
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(echarts): suppress phantom x-axis label at axis edge when no time grain (#39972)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): changed_on_humanized null in write tool responses (generate_dashboard, generate_chart) (#39488)
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

chore(deps): coordinated bump jest 30.3→30.4 + jest-environment-jsdom 29→30 (#40206)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.test.tsx
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/callApi.test.ts
  superset-frontend/packages/superset-ui-core/test/dimension/svg/updateTextNode.test.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/spec/helpers/jsDomWithFetchAPI.ts
  superset-frontend/src/SqlLab/actions/sqlLab.test.ts
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/useDatabaseSelector.test.ts
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/util/extractUrlParams.test.ts
  superset-frontend/src/dashboard/util/getDashboardUrl.test.ts
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/exploreUtils/getParsedExploreURLParams.test.ts
  superset-frontend/src/features/home/DashboardTable.test.tsx
  superset-frontend/src/middleware/logger.test.ts
  superset-frontend/src/pages/ChartCreation/ChartCreation.test.tsx
  superset-frontend/src/pages/RedirectWarning/utils.test.ts
  superset-frontend/src/utils/hostNamesConfig.test.ts
  superset-frontend/src/utils/urlUtils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: hide Component Playground top-level nav item (#40247)
  docs/versions-config.json
Due: none

feat(mcp): Add mcp_call_id to tool responses for server log correlation (#39776)
  superset/mcp_service/middleware.py
  superset/mcp_service/system/schemas.py
  superset/mcp_service/system/tool/generate_bug_report.py
  tests/unit_tests/mcp_service/system/tool/test_generate_bug_report.py
  tests/unit_tests/mcp_service/test_middleware_logging.py
Due: ruff-format, ruff, pylint

ci(docs): soft-fail badge localization on transient fetch errors (#40236)
  docs/plugins/remark-localize-badges.mjs
Due: none

fix(roles): prevent 404 and silent user removal on large role edits (#40178)
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/features/roles/RoleListEditModal.tsx
  superset-frontend/src/utils/fetchOptions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): Skip misleading trend analysis for categorical ASCII charts (#39761)
  superset/mcp_service/chart/ascii_charts.py
  tests/unit_tests/mcp_service/chart/test_ascii_charts.py
Due: ruff-format, ruff, pylint

fix(mcp): Block destructive DDL (DROP, TRUNCATE, ALTER) in execute_sql (#39621)
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/sql/parse.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

docs(reports): playwright setup clarification (#40168)
  docs/admin_docs/configuration/alerts-reports.mdx
  superset/config.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(echarts): preserve dataZoom range across setOption(notMerge) (#40173)
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/components/Echart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sql-parser): pin WITH+UNION as non-mutating across dialects (#25659) (#40138)
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

fix(mcp): raise right error (#39964)
  superset/mcp_service/chart/compile.py
  superset/mcp_service/chart/tool/generate_chart.py
  tests/unit_tests/mcp_service/chart/test_compile.py
Due: ruff-format, ruff, pylint

fix(sqllab): handle scientific notation in big number JSON responses (#39994)
  superset-frontend/packages/superset-ui-core/src/connection/callApi/parseResponse.ts
  superset-frontend/packages/superset-ui-core/test/connection/callApi/parseResponse.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sql-parser): pin TimescaleDB hyperfunctions parse on postgresql (#32028) (#40142)
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

test(helpers): regression for humanize locale activation (#28331) (#40233)
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff
