Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(mcp): generic auth errors, required token expiry, and safer auth logging (#40646)
  superset/mcp_service/auth.py
  superset/mcp_service/jwt_verifier.py
  superset/mcp_service/middleware.py
  superset/mcp_service/utils/error_sanitization.py
  tests/unit_tests/mcp_service/test_auth_api_key.py
  tests/unit_tests/mcp_service/test_auth_user_resolution.py
  tests/unit_tests/mcp_service/test_jwt_verifier.py
  tests/unit_tests/mcp_service/test_middleware.py
  tests/unit_tests/mcp_service/utils/test_error_sanitization.py
Due: ruff-format, ruff, pylint

fix(dashboard): prevent "undefined undefined" owner names in properties modal (#40528)
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/AccessSection.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/utils.test.ts
  superset-frontend/src/dashboard/components/PropertiesModal/utils.ts
  superset-frontend/src/utils/getOwnerName.test.ts
  superset-frontend/src/utils/getOwnerName.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(extensions): restore dataset context namespace with a real producer
  superset-frontend/packages/superset-core/package.json
  superset-frontend/packages/superset-core/src/dataset/index.ts
  superset-frontend/packages/superset-core/src/index.ts
  superset-frontend/src/core/dataset/index.ts
  superset-frontend/src/core/index.ts
  superset-frontend/src/extensions/ExtensionsStartup.test.tsx
  superset-frontend/src/extensions/ExtensionsStartup.tsx
  superset-frontend/src/features/datasets/AddDataset/EditDataset/EditDataset.test.tsx
  superset-frontend/src/features/datasets/AddDataset/EditDataset/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): clear undo history (#40569)
  superset-frontend/src/dashboard/containers/DashboardPage.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): address post-approval review feedback on auth logging
  superset/mcp_service/chart/validation/pipeline.py
  superset/mcp_service/jwt_verifier.py
Due: ruff-format, ruff, pylint

fix(sql-lab): prevent crash when host shell lacks useAppDispatch export (#40591)
  superset-frontend/src/SqlLab/components/EditorAutoSync/index.tsx
  superset-frontend/src/SqlLab/components/EditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/EditorWrapper/useKeywords.ts
  superset-frontend/src/SqlLab/components/ExploreCtasResultsButton/index.tsx
  superset-frontend/src/SqlLab/components/PopEditorTab/index.tsx
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
  superset-frontend/src/SqlLab/components/QueryTable/index.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/useDatabaseSelector.ts
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/SqlLab/components/TableExploreTree/index.tsx
  superset-frontend/src/SqlLab/components/TableExploreTree/useTreeData.ts
  superset-frontend/src/SqlLab/components/TablePreview/index.tsx
  superset-frontend/src/SqlLab/hooks/useAppDispatch.ts
  superset-frontend/src/SqlLab/hooks/useAppSelector.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): address post-approval review feedback on owner parsing
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/utils.test.ts
  superset-frontend/src/dashboard/components/PropertiesModal/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fixed DETAIL: rule _RETURN on view v_ab_user depends on column "username"
  superset/migrations/versions/2025-11-12_12-54_x2s8ocx6rto6_expand_username_field_to_128_chars.py
Due: ruff-format, ruff

fix(mcp): also escape LIKE wildcards in column_operators path
  superset/daos/base.py
  tests/integration_tests/dao/base_dao_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): hide Edit button in embedded dashboards
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(world-map): preserve bubbles and exclude only null metrics from color scale (#39926)
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/test/WorldMap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): show non-filterable columns in metric section for table … (#39524)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/controlPanel.test.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/columns.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/plugin/controls/metrics.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/test/controlPanel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(reports): ruff-format trim extra blank line in execute_test
  tests/unit_tests/commands/report/execute_test.py
Due: ruff-format, ruff

Revert "chore(deps): migrate MCP service JWT errors from authlib.jose to joserfc (#40582)"
  pyproject.toml
  requirements/development.txt
  superset/mcp_service/jwt_verifier.py
  tests/unit_tests/mcp_service/test_jwt_verifier.py
Due: ruff-format, ruff, pylint

fix(time-comparison): shift offset filter when X-axis is adhoc Custom SQL (#40586)
  superset/models/helpers.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint

fix(lint): drop useless length check in fillNativeFilters
  superset-frontend/src/dataMask/reducer.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): show (none) for empty scopes in auth success log
  superset/mcp_service/jwt_verifier.py
Due: ruff-format, ruff, pylint

test(dashboard): cover cached-option-without-email branch in parseSelectedOwners
  superset-frontend/src/dashboard/components/PropertiesModal/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): hide Edit button in embedded dashboards (#40687)
  superset-frontend/src/dashboard/components/Header/Header.test.tsx
  superset-frontend/src/dashboard/components/Header/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: avoid warning spam when default spinner SVG is missing (#40481)
  superset/templates/superset/loading.svg
  superset/views/base.py
  tests/unit_tests/views/test_base_theme_helpers.py
Due: ruff-format, ruff, pylint

fix(exports,email,logs): csv formula escaping, subject CRLF stripping, UTC log pruning (#40645)
  superset/commands/logs/prune.py
  superset/utils/core.py
  superset/utils/csv.py
  tests/unit_tests/commands/logs/__init__.py
  tests/unit_tests/commands/logs/prune_test.py
  tests/unit_tests/utils/csv_tests.py
  tests/unit_tests/utils/test_core.py
Due: ruff-format, ruff, pylint

fix(security): sanitize URL sinks and trim sensitive log fields
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/ListViewCard/index.tsx
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/GenericLink/index.tsx
  superset-frontend/src/features/databases/DatabaseModal/SqlAlchemyForm.tsx
  superset-frontend/src/utils/navigationUtils.ts
  superset/mcp_service/storage.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(test): stub URL.createObjectURL/revokeObjectURL before spying in jsdom
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(list-view-card): skip URL sanitization when `to` is undefined
  superset-frontend/packages/superset-ui-core/src/components/ListViewCard/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql-lab): restore definite assignment pattern in ResultSet
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ci): break long window.open call to satisfy prettier line-length
  superset-frontend/src/utils/navigationUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(test): replace full URL replacement with jest.spyOn for blob helpers
  superset-frontend/spec/helpers/jsDomWithFetchAPI.ts
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql-lab): sanitize URL in SaveDatasetModal window.open branch
  superset-frontend/src/SqlLab/components/SaveDatasetModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(jest): polyfill URL constructor in JSDOM test environment
  superset-frontend/spec/helpers/jsDomWithFetchAPI.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): apply sanitizeUrl to the newWindow branch in navigateTo
  superset-frontend/src/utils/navigationUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(ydb): switch to native YDB sqlglot dialect
  UPDATING.md
  pyproject.toml
  superset/db_engine_specs/ydb.py
  superset/sql/parse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(sqllab): surface stacktrace in SQL Lab error responses (#28248) (#40585)
  superset/sql/execution/celery_task.py
  superset/sql_lab.py
  tests/unit_tests/sql/execution/test_celery_task.py
  tests/unit_tests/test_sqllab_error_stacktrace.py
Due: ruff-format, ruff, pylint

test(histogram): metric filters require aggregation in buildQuery (#30330) (#40617)
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Histogram/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(presto): 401 Unauthorized must surface as CONNECTION_ACCESS_DENIED_ERROR (#33554) (#40618)
  superset/db_engine_specs/presto.py
  tests/unit_tests/db_engine_specs/test_presto.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix: show truncated table list message
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-list): sort by changed_on instead of last_saved_at (#39984)
  superset-frontend/src/pages/ChartList/ChartList.listview.test.tsx
  superset-frontend/src/pages/ChartList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

improve docstrings and threat model
  SECURITY.md
  superset/daos/key_value.py
  superset/key_value/commands/prune.py
Due: ruff-format, ruff, pylint

fix(explore): tighten popover title-to-tabs spacing to 12px (#40410)
  superset-frontend/packages/superset-core/src/theme/GlobalStyles.tsx
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(websocket): validate last_id query param format (#40626)
  superset-websocket/spec/index.test.ts
  superset-websocket/src/index.ts
Due: none

feat(table v2): agGridTableChart add row numer column (#39284)
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/consts.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/styles/index.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/types.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/useColDefs.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
