Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/

refactor(Menu): move to usage of items prop instead of Menu.Item
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/SaveDatasetActionButton.test.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Update pypi.mdx
  docs/docs/installation/pypi.mdx
Due: none

fix(comp/async-ace-editor): proper import of `ace-builds` (#32553)
  superset-frontend/src/components/AsyncAceEditor/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

refactor(SqlEditor): move to items prop
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

[IPLT-8019][code] Send dashboard layout to custom markdown via post message
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdown.jsx
Due: prettier, eslint-frontend, type-checking-frontend

[IPLT-8019][fix] Changed switch to if statement
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdown.jsx
Due: prettier, eslint-frontend, type-checking-frontend

chore(ESLint): Enforce usage of Icons component
  superset-frontend/.eslintrc.js
  superset-frontend/eslint-rules/eslint-plugin-icons/index.js
  superset-frontend/eslint-rules/eslint-plugin-icons/no-direct-ant-icons-import.test.js
  superset-frontend/eslint-rules/eslint-plugin-icons/no-fontawesome.test.js
  superset-frontend/eslint-rules/eslint-plugin-icons/package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/components/Icons/Icon.tsx
  superset-frontend/src/components/Icons/IconType.ts
Due: prettier, eslint-frontend, type-checking-frontend

chore(🦾): bump python cryptography 43.0.3 -> 44.0.2 (#32573)
  requirements/base.txt
  requirements/development.txt
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
Due: prettier, eslint-frontend

[IPLT-8019][ref] Changed if statement back to switch
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdown.jsx
Due: prettier, eslint-frontend, type-checking-frontend

chore: fix precommit for eslint
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

chore(DropdownButton): Implement divider for default dropdown buttons
  superset-frontend/src/components/DropdownButton/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: ODPS data source table preview failed
  superset/daos/database.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
Due: none

[IPLT-8019][code] Update custom markdown with new dashboard layout when layout has changed
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdown.jsx
Due: prettier, eslint-frontend, type-checking-frontend

[IPLT-8030][fix] Pass entire fields.
  superset-frontend/src/visualizations/FilterBox/FilterBox.jsx
Due: prettier, eslint-frontend, type-checking-frontend

add backend model and general cleanup
  superset-frontend/extensions/extension1/package-lock.json
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package-lock.json
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/webpack.config.js
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-extensions-sdk/.nvmrc
  superset-frontend/packages/superset-extensions-sdk/package.json
  superset-frontend/packages/superset-extensions-sdk/src/index.ts
  superset-frontend/packages/superset-extensions-sdk/tsconfig.json
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/czech_republicdenmark.geojson
  superset-frontend/src/pages/SqlLabPoc/index.tsx
  superset/daos/extension.py
  superset/extensions/api.py
  superset/extensions/exceptions.py
  superset/extensions/models.py
  superset/extensions/types.py
  superset/migrations/versions/2025-03-07_08-35_d4d5115bdeb0_add_extensions_table.py
  superset/static/assets/.gitkeep
Due: prettier, eslint-frontend, type-checking-frontend

eslint fix
  superset-frontend/src/dashboard/components/gridComponents/IkiDynamicMarkdown.jsx
Due: prettier, eslint-frontend, type-checking-frontend

feat(charts): add two new boxplot parameter sets (#32170)
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/types.ts
Due: prettier, eslint-frontend, type-checking-frontend

remove import from webpack bundle
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/webpack.config.js
Due: eslint-frontend, type-checking-frontend

fix lock files
  superset-frontend/extensions/extension1/package-lock.json
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package-lock.json
  superset-frontend/extensions/extension2/webpack.config.js
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-extensions-sdk/package.json
Due: eslint-frontend, type-checking-frontend

fix(Slack V2): Specify the filename for the Slack upload method
  superset/reports/notifications/slackv2.py
Due: none

docs: add information about ephemeral environments
  .github/workflows/ephemeral-env.yml
  docs/docs/contributing/howtos.mdx
Due: none

fix(Slack V2): Specify the filename for the Slack upload method (#32599)
  superset/reports/notifications/slackv2.py
Due: none

fix(sqlglot): bump up to 26.4.0
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Due: none

touchup
  docs/docs/contributing/howtos.mdx
Due: none

more cleanup to webpack and package configs
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/webpack.config.js
Due: eslint-frontend, type-checking-frontend

chore: bump postgresql from 15 to 16 (#32597)
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-cli.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  docker-compose-image-tag.yml
  docker-compose-non-dev.yml
  docker-compose.yml
  docs/docs/configuration/configuring-superset.mdx
  helm/superset/Chart.lock
  helm/superset/Chart.yaml
  helm/superset/README.md
Due: none

docs: add information about ephemeral environments (#32600)
  .github/workflows/ephemeral-env.yml
  docs/docs/contributing/howtos.mdx
Due: none

docs: fix typo in ephemeral envs docs
  .github/workflows/ephemeral-env.yml
  docs/docs/contributing/howtos.mdx
Due: none

docs(analytics): actually USING Matomo to track page views/changes
  docs/docusaurus.config.ts
  docs/src/components/SectionHeader.tsx
  docs/src/theme/Root.js
  docs/static/script/matomo.js
Due: eslint-docs

adding license boilerplate
  docs/src/theme/Root.js
Due: eslint-docs

docs: fix typo in ephemeral envs docs (#32605)
  .github/workflows/ephemeral-env.yml
  docs/docs/contributing/howtos.mdx
Due: none

fix(welcome): perf on distinct recent activities
  superset-frontend/packages/superset-ui-core/src/utils/lruCache.ts
  superset-frontend/packages/superset-ui-core/test/utils/lruCache.test.ts
  superset-frontend/src/features/home/ActivityTable.tsx
  superset-frontend/src/features/home/types.ts
  superset-frontend/src/pages/Home/Home.test.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier, eslint-frontend, type-checking-frontend

docs(analytics): actually USING Matomo to track page views/changes (#32607)
  docs/docusaurus.config.ts
  docs/src/components/SectionHeader.tsx
  docs/src/theme/Root.js
  docs/static/script/matomo.js
Due: eslint-docs
