Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

Potential fix for pull request finding
  superset/sql_validators/sqlite.py
Due: ruff-format, ruff, pylint

fix(DropdownContainer): add destroyTooltipOnHide to avoid stale data
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: use fresh prop instead
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: add helpful(?) comment
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: empty time filter no longer show unnecessary empty time column
  superset/models/helpers.py
  tests/unit_tests/models/test_no_filter_time_range.py
Due: ruff-format, ruff, pylint

fix(ui): remove getPopupContainer to prevent double scrollbar in dropdown
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CustomFrame.test.tsx
  superset-frontend/src/explore/components/controls/SelectControl.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(table): improve conditional formatting text contrast
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-chart-controls/package.json
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/useColDefs.test.ts
  superset-frontend/plugins/plugin-chart-pivot-table/src/PivotTableChart.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ag-grid-table): preserve legacy text color formatting
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/useColDefs.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(table): preserve legacy text color formatting
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ag-grid-table): use runtime theme for contrast
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/useColDefs.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(api): use constants in _merge_extra_form_data
  superset/charts/data/dashboard_filter_context.py
Due: ruff-format, ruff, pylint

Update superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(test): wait for async table render before checking pagination
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: support for import/export masked_encrypted_extra (frontend) (#38078)
  superset-frontend/src/components/ImportModal/ImportModal.test.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/components/ImportModal/types.ts
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/types.ts
  superset-frontend/src/views/CRUD/utils.test.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): revert: improve negative stacked bar label positioning and accessibility (#37405) (#38484)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(theme): prevent background color flash on page load (#38399)
  superset-embedded-sdk/src/index.ts
  superset/templates/superset/spa.html
  superset/views/base.py
Due: ruff-format, ruff, pylint

fix(tests): achieve 100% TypeScript coverage for core packages (#38518)
  superset-frontend/packages/superset-core/src/theme/utils/themeUtils.test.ts
  superset-frontend/packages/superset-core/src/theme/utils/utils.test.ts
  superset-frontend/packages/superset-core/src/translation/Translator.test.ts
  superset-frontend/packages/superset-core/src/translation/Translator.ts
  superset-frontend/packages/superset-core/src/translation/TranslatorSingleton.test.ts
  superset-frontend/packages/superset-core/src/utils/logging.ts
  superset-frontend/packages/superset-ui-core/test/query/getAxis.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): prevent Apply button from disabling when required filters are auto-applied (#38479)
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): ensure clear all respects required filter validation (#37681)
  superset-frontend/packages/superset-ui-core/src/components/Tabs/Tabs.tsx
  superset-frontend/src/dashboard/components/nativeFilters/ConfigModal/SharedStyles.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(security): add granular export controls (Phase 1) (#38361)
  docs/static/feature-flags.json
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset-frontend/src/explore/types.ts
  superset-frontend/src/hooks/usePermissions.test.tsx
  superset-frontend/src/hooks/usePermissions.ts
  superset/charts/data/api.py
  superset/config.py
  superset/migrations/versions/2026-03-02_12-00_a1b2c3d4e5f6_add_granular_export_permissions.py
  superset/security/manager.py
  superset/views/core.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/security/test_granular_export_permissions.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

chore(extensions): bump superset-core and superset-extensions-cli to 0.1.0rc1 (#38516)
  superset-core/README.md
  superset-core/pyproject.toml
  superset-extensions-cli/README.md
  superset-extensions-cli/pyproject.toml
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-core/README.md
  superset-frontend/packages/superset-core/package.json
Due: prettier-frontend

fix(heatmap): correct tooltip display to show axis values instead of indices (#38487)
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqla): parenthesize extras where/having clauses in query generation (#38183)
  superset/models/helpers.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint

chore: enable allow_update_branch in .asf.yaml (#38530)
  .asf.yaml
Due: none

fix(mcp): improve default chart names with descriptive format (#38406)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/tool/generate_chart.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
Due: ruff-format, ruff, pylint

fix(mcp): resolve chatbot tool call flakiness with URL and instruction fixes (#38532)
  superset/mcp_service/app.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
Due: ruff-format, ruff, pylint

fix(docs): swizzle MethodEndpoint to fix SSG crash on all API pages (#38533)
  docs/src/theme/ApiExplorer/MethodEndpoint/index.tsx
Due: eslint-docs

fix(i18n): correct variable name for translated SQL Lab query message (#38494)
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
Due: none

feat(ci): only run precommit on changed files (#38155)
  .github/workflows/pre-commit.yml
  superset-frontend/oxlint.json
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitleContainer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ItemTitleContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): add missing __init__.py for chart, dashboard, dataset packages (#38400)
  superset/mcp_service/chart/__init__.py
  superset/mcp_service/dashboard/__init__.py
  superset/mcp_service/dataset/__init__.py
  tests/unit_tests/mcp_service/test_mcp_tool_registration.py
Due: ruff-format, ruff, pylint

feat(mcp): add horizontal bar chart orientation support to generate_chart (#38390)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/resources/chart_configs.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff, pylint

feat(mcp): register GlobalErrorHandlerMiddleware and LoggingMiddleware (#38523)
  superset/mcp_service/server.py
Due: ruff-format, ruff, pylint

fix(mcp): add missing command.validate() to MCP chart data tools (#38521)
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

fix(mcp): add guardrails to prevent LLM artifact generation (#38391)
  superset/mcp_service/app.py
Due: ruff-format, ruff, pylint

fix(mcp): make fastmcp truly optional during Superset startup (#38534)
  superset/core/mcp/core_mcp_injection.py
Due: ruff-format, ruff, pylint

fix: SQL Lab tab content padding (#38561)
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): add CurrentUserRestApi read permission to Public role defaults (#38474)
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix: support nested function calls in cache_key_wrapper (#38569)
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

fix(matrixify): Matrixify to not override slice id (#38515)
  superset-frontend/packages/superset-ui-core/src/chart/components/Matrixify/MatrixifyGridGenerator.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/components/Matrixify/MatrixifyGridGenerator.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
