Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(dashboard): Avoid calling loadData for invisible charts on virtual rendering (#37452)
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/components/Chart/Chart.tsx
  superset/config.py
  superset/views/base.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(dataset-editor): include calculated columns in currency code dropdown
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: Heatmap does not render correctly on normalization (#37208)
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Heatmap/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Heatmap/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): update DatasetList tests to new fetch-mock API
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.integration.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.permissions.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: charts row limit warning is missing for server (#37112)
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/explore/components/ChartPills.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): address PR feedback on DatasetList tests
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.permissions.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(charts): echarts left padding too big and automation of title (#36993)
  superset-frontend/packages/superset-ui-chart-controls/src/sections/chartTitle.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: Add PWA file handler for CSV/XLS/Parquet uploads (#36191)
  superset-frontend/src/assets/images/pwa/icon-192.png
  superset-frontend/src/assets/images/pwa/icon-512.png
  superset-frontend/src/assets/images/pwa/screenshot-narrow.png
  superset-frontend/src/assets/images/pwa/screenshot-wide.png
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset-frontend/src/pages/FileHandler/index.test.tsx
  superset-frontend/src/pages/FileHandler/index.tsx
  superset-frontend/src/pwa-manifest.json
  superset-frontend/src/service-worker.ts
  superset-frontend/src/views/routes.tsx
  superset-frontend/webpack.config.js
  superset/initialization/__init__.py
  superset/static/service-worker.js
  superset/templates/superset/spa.html
  superset/views/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(tests): fix DatasetList tests for fetch-mock v12 API
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.permissions.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): fix remaining DatasetList behavior tests for fetch-mock v12
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): use nh3 library for HTML sanitization and fix ampersand display
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/utils/sanitization.py
  tests/unit_tests/mcp_service/utils/test_sanitization.py
Due: ruff-format, ruff, pylint

test: update test
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClient.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(dashboard): improve empty state config best practices
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/types.ts
  superset-frontend/src/components/Chart/ChartRenderer.jsx
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/types/EmptyStateConfig.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Add initContainer resources
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Due: none

small nit
  superset/explorables/base.py
Due: ruff-format, ruff, pylint

add unittest
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff

fix(tests): update DatasetList tests to new fetch-mock API (#37623)
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.integration.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.permissions.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Removed debug comment and added collabels state reset handling
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset/common/query_actions.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Optimized a number of react issue as dependencies for memo/callbacks/effects were missing.
  superset-frontend/src/explore/components/DataTableControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

i18n for popover text
  superset-frontend/src/explore/components/DataTableControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Added small test for the extract_display_labels function.
  tests/integration_tests/utils_tests.py
Due: ruff-format, ruff

Removed extensive displayLabel drilling in favor for columLabels variable.
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Added missing type annotations for collabels.
  superset-frontend/packages/superset-ui-core/src/query/types/QueryResponse.ts
  superset-frontend/plugins/plugin-chart-table/test/testData.ts
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
  superset/charts/schemas.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Added entry to UPDATING.md file.
  UPDATING.md
Due: none

Added/fixed tests
  superset-frontend/src/explore/components/DataTableControl/useTableColumns.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Renames for consistency with other methods.
  superset/utils/core.py
Due: ruff-format, ruff, pylint

feat(explore): add support for column display labels in data table results
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset/common/query_actions.py
  superset/utils/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Removed unused imports
  superset/common/query_actions.py
Due: ruff-format, ruff, pylint

chore(deps): bump geostyler to 18.3.1 (#37)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/plugins/plugin-chart-cartodiagram/package.json
  superset-frontend/plugins/plugin-chart-cartodiagram/test/util/layerUtil.test.ts
  superset-frontend/src/explore/components/controls/LayerConfigsControl/GeoStylerWrapper.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): improve version restore UX and add integration tests
  dashboard_version.py
  docs/adr/0001-dashboard-version-history.md
  superset-frontend/src/dashboard/actions/dashboardState.js
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/HistoryModal/index.tsx
  superset/commands/dashboard/exceptions.py
  superset/commands/dashboard/restore_version.py
  superset/commands/dashboard/update.py
  superset/daos/dashboard_version.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/migrations/versions/2026_02_02_add_dashboard_version_comment.py
  superset/migrations/versions/2026_02_02_add_dashboard_versions.py
  superset/models/dashboard_version.py
  tests/integration_tests/dashboards/test_versioning.py
  tests/unit_tests/dashboards/commands/test_dashboard_version.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore: Properly untrack WebSocket config file for docker
  UPDATING.md
  docker/superset-websocket/config.json
Due: none

feat(mcp): add config toggle to disable parse_request decorator (#37617)
  superset/mcp_service/app.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/utils/schema_utils.py
Due: ruff-format, ruff, pylint

chore(mcp): remove unused MCP_SERVICE feature flag (#37618)
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(dataset-editor): exclude typed non-string calculated columns from currency dropdown
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.jsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: Properly untrack WebSocket config file for docker (#37624)
  UPDATING.md
  docker/superset-websocket/config.json
Due: none

fix(dataset-editor): use empty string for untyped column in test
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dataset-editor): use exact matching for column names in test
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): restore version slice sync, cascade delete, and error handling
  superset/commands/dashboard/restore_version.py
  superset/dashboards/api.py
  superset/models/dashboard_version.py
  tests/integration_tests/dashboards/test_versioning.py
Due: ruff-format, ruff, pylint

fix(mcp): include x_axis column in query context for series charts with group_by
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_preview_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: ruff-format, ruff, pylint
