Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

fix(datasets): ui bug fixes
  superset-frontend/packages/superset-ui-core/src/components/EmptyState/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/EmptyState/types.ts
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/DatasetPanel.tsx
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/MessageContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions-cli): fix dev mode error (#37024)
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_dev.py
Due: ruff-format, ruff, pylint

fix(extensions): gracefully handle dist directory rebuilding (#37025)
  superset/extensions/local_extensions_watcher.py
Due: ruff-format, ruff, pylint

Update references from LLMS.md to AGENTS.md
  docs/docs/contributing/development.mdx
Due: none

fix(theme): migrate APP_NAME to brandAppName theme token with backward compatibility
  UPDATING.md
  superset-frontend/packages/superset-core/src/ui/theme/types.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset/config.py
  superset/templates/superset/spa.html
  superset/views/base.py
  tests/unit_tests/views/test_base_theme_helpers.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: address AI code review feedback for brandAppName PR
  superset-extensions-cli/tests/test_cli_bundle.py
  superset-extensions-cli/tests/test_cli_init.py
  superset-extensions-cli/tests/test_templates.py
  superset-extensions-cli/tests/utils.py
  superset-frontend/oxlint.json
  superset-frontend/packages/superset-core/src/ui/theme/types.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset/templates/superset/spa.html
  superset/views/base.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/dao/base_dao_test.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/sql_lab/commands_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/integration_tests/sqllab_tests.py
  tests/integration_tests/tags/api_tests.py
  tests/integration_tests/tags/mysql_compatibility_test.py
  tests/unit_tests/commands/chart/warm_up_cache_test.py
  tests/unit_tests/commands/report/alert_test.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/dao/base_dao_test.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/db_engine_specs/test_mssql.py
  tests/unit_tests/db_engine_specs/test_ocient.py
  tests/unit_tests/models/helpers_test.py
  tests/unit_tests/sql/dialects/pinot_tests.py
  tests/unit_tests/tags/models_test.py
  tests/unit_tests/utils/test_core.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
  tests/unit_tests/views/test_base_theme_helpers.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

docs: update tooltip format to match designer screenshot
  docs/implementation-plans/GAP_ANALYSIS.md
  docs/implementation-plans/TASK_02_STATUS_INDICATOR.md
Due: none

fix(dashboard): Use BroadcastChannel for updating the charts
  superset-frontend/src/components/Chart/chartAction.js
  superset-frontend/src/components/Chart/chartActions.test.js
  superset-frontend/src/components/Chart/chartReducer.ts
  superset-frontend/src/components/Chart/chartReducers.test.js
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/util/chartUpdateChannel.ts
  superset-frontend/src/explore/actions/saveModalActions.test.ts
  superset-frontend/src/explore/actions/saveModalActions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): Delete rison import
  superset-frontend/src/components/Chart/chartAction.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): Restore code
  superset-frontend/src/components/Chart/chartAction.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style: apply ruff formatting to test files
  superset-extensions-cli/tests/test_cli_bundle.py
  superset-extensions-cli/tests/test_cli_init.py
  superset-extensions-cli/tests/test_templates.py
  superset-extensions-cli/tests/utils.py
  tests/integration_tests/celery_tests.py
  tests/integration_tests/dao/base_dao_test.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/security/row_level_security_tests.py
  tests/integration_tests/security_tests.py
  tests/integration_tests/sql_lab/commands_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/integration_tests/sqllab_tests.py
  tests/integration_tests/tags/api_tests.py
  tests/integration_tests/tags/mysql_compatibility_test.py
  tests/unit_tests/commands/chart/warm_up_cache_test.py
  tests/unit_tests/commands/report/alert_test.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/dao/base_dao_test.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/db_engine_specs/test_mssql.py
  tests/unit_tests/db_engine_specs/test_ocient.py
  tests/unit_tests/models/helpers_test.py
  tests/unit_tests/sql/dialects/pinot_tests.py
  tests/unit_tests/tags/models_test.py
  tests/unit_tests/utils/test_core.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
  tests/unit_tests/views/test_base_theme_helpers.py
Due: ruff-format, ruff, pylint

fix(models): prevent SQLAlchemy and_() deprecation warning (#37020)
  superset/models/helpers.py
Due: ruff-format, ruff, pylint

feat(sqllab): primary/secondary action extensions
  superset-frontend/packages/superset-ui-core/src/components/AsyncAceEditor/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/Icons/AntdEnhanced.tsx
  superset-frontend/src/SqlLab/components/AppLayout/index.tsx
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/index.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/QueryLimitSelect.test.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/RunQueryActionButton.test.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/SaveDatasetActionButton.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/SqlEditor.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/SqlEditorTopBar.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/useDatabaseSelector.test.ts
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/useDatabaseSelector.ts
  superset-frontend/src/SqlLab/components/StatusBar/StatusBar.test.tsx
  superset-frontend/src/SqlLab/components/StatusBar/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/SqlLab/constants.ts
  superset-frontend/src/components/MenuExtension/MenuExtension.test.tsx
  superset-frontend/src/components/MenuExtension/index.tsx
  superset-frontend/src/components/ViewExtension/ViewExtension.test.tsx
  superset-frontend/src/components/ViewExtension/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix spec
  superset-frontend/src/SqlLab/components/StatusBar/StatusBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

address issues
  superset-frontend/src/SqlLab/components/AppLayout/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/useDatabaseSelector.ts
  superset-frontend/src/SqlLab/components/StatusBar/StatusBar.test.tsx
  superset-frontend/src/SqlLab/components/StatusBar/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

address design issues and rename view/menu extension
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/AppLayout/index.tsx
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/EstimateQueryCostButton.test.tsx
  superset-frontend/src/SqlLab/components/EstimateQueryCostButton/index.tsx
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/ShareSqlLabQuery/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/SqlEditorTopBar.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/index.tsx
  superset-frontend/src/SqlLab/components/StatusBar/StatusBar.test.tsx
  superset-frontend/src/SqlLab/components/StatusBar/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/SqlLab/constants.ts
  superset-frontend/src/components/MenuListExtension/MenuExtension.test.tsx
  superset-frontend/src/components/MenuListExtension/index.tsx
  superset-frontend/src/components/ViewListExtension/ViewExtension.test.tsx
  superset-frontend/src/components/ViewListExtension/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

remove unused prop
  superset-frontend/src/SqlLab/components/StatusBar/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

address issues
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/SaveDatasetActionButton.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/SaveQuery.test.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/components/MenuListExtension/MenuListExtension.test.tsx
  superset-frontend/src/components/MenuListExtension/index.tsx
  superset-frontend/src/components/ViewListExtension/ViewListExtension.test.tsx
  superset-frontend/src/components/ViewListExtension/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

addressed un-needed provider
  superset-frontend/src/components/ViewListExtension/ViewListExtension.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

unused lib
  superset-frontend/src/SqlLab/components/SaveDatasetActionButton/SaveDatasetActionButton.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

remove unused one
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

rollback unnessassery changes
  superset-frontend/src/SqlLab/components/AceEditorWrapper/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(DatasourceEditor): use Flex component instead of styled components for layout
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix-clear-button
  superset-frontend/src/dashboard/actions/chartCustomizationActions.ts
  superset-frontend/src/dashboard/components/Dashboard.jsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(pivot-table): make maxDepth optional in computeCollapsedMap
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.jsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): Fix tests
  superset-frontend/spec/helpers/setup.ts
  superset-frontend/src/components/Chart/chartActions.test.js
  superset-frontend/src/explore/actions/saveModalActions.test.ts
  superset-frontend/src/explore/actions/saveModalActions.ts
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/explore/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(ag-grid-table): Enable Time Shift feature for AG Grid Table
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqlglot): use Athena dialect for awsathena parsing (#36747)
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

chore(chart): rollback legend top alignment to the right (#36994)
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

add bulk cancel
  superset-frontend/src/pages/AsyncTaskList/index.tsx
  superset/async_tasks/api.py
  superset/async_tasks/schemas.py
  superset/commands/async_tasks/__init__.py
  superset/commands/async_tasks/bulk_cancel.py
  superset/daos/async_tasks.py
  tests/integration_tests/async_tasks/commands/test_bulk_cancel.py
  tests/unit_tests/commands/async_tasks/test_bulk_cancel.py
  tests/unit_tests/daos/test_async_tasks.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

initial work
  superset-core/src/superset_core/api/daos.py
  superset-core/src/superset_core/api/models.py
  superset-core/src/superset_core/api/types.py
  superset/async_tasks/__init__.py
  superset/async_tasks/context.py
  superset/async_tasks/filters.py
  superset/daos/async_tasks.py
  superset/migrations/versions/2024_12_18_0220_create_async_tasks_table.py
  superset/models/async_tasks.py
Due: ruff-format, ruff, pylint

add commands
  superset/async_tasks/context.py
  superset/commands/async_tasks/__init__.py
  superset/commands/async_tasks/cancel.py
  superset/commands/async_tasks/create.py
  superset/commands/async_tasks/delete.py
  superset/commands/async_tasks/exceptions.py
  superset/commands/async_tasks/update.py
  superset/daos/async_tasks.py
  tests/unit_tests/commands/async_tasks/__init__.py
  tests/unit_tests/commands/async_tasks/test_cancel.py
  tests/unit_tests/commands/async_tasks/test_create.py
  tests/unit_tests/commands/async_tasks/test_delete.py
  tests/unit_tests/commands/async_tasks/test_update.py
  tests/unit_tests/daos/test_async_tasks.py
Due: ruff-format, ruff, pylint

lint
  tests/integration_tests/async_tasks/commands/test_cancel.py
Due: ruff-format, ruff

add task_id to dedup logic
  superset-core/src/superset_core/api/daos.py
  superset/daos/async_tasks.py
Due: ruff-format, ruff, pylint

fix test
  tests/integration_tests/async_tasks/api_tests.py
Due: ruff-format, ruff

refactor command tests
  superset/commands/async_tasks/update.py
  tests/integration_tests/async_tasks/commands/__init__.py
  tests/integration_tests/async_tasks/commands/test_cancel.py
  tests/integration_tests/async_tasks/commands/test_create.py
  tests/integration_tests/async_tasks/commands/test_delete.py
  tests/integration_tests/async_tasks/commands/test_update.py
  tests/unit_tests/commands/async_tasks/test_cancel.py
  tests/unit_tests/commands/async_tasks/test_create.py
  tests/unit_tests/commands/async_tasks/test_delete.py
  tests/unit_tests/commands/async_tasks/test_update.py
Due: ruff-format, ruff, pylint

add ui
  superset-frontend/src/features/asyncTasks/AsyncTaskPayloadPopover.tsx
  superset-frontend/src/features/asyncTasks/AsyncTaskStatusIcon.tsx
  superset-frontend/src/features/asyncTasks/types.ts
  superset-frontend/src/pages/AsyncTaskList/index.tsx
  superset-frontend/src/views/routes.tsx
  superset/async_tasks/api.py
  superset/async_tasks/schemas.py
  superset/initialization/__init__.py
  superset/views/async_tasks.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

add status endpoint
  superset/async_tasks/api.py
  superset/async_tasks/filters.py
  superset/async_tasks/schemas.py
  superset/commands/async_tasks/cancel.py
  superset/daos/async_tasks.py
  superset/initialization/__init__.py
  tests/integration_tests/async_tasks/__init__.py
  tests/integration_tests/async_tasks/api_tests.py
Due: ruff-format, ruff, pylint

fix
  docs/developer_portal/async-tasks.md
  superset-core/src/superset_core/api/async_tasks.py
  superset-core/src/superset_core/api/daos.py
  superset-core/src/superset_core/api/models.py
  superset-core/src/superset_core/api/types.py
  superset-frontend/src/features/asyncTasks/AsyncTaskStatusIcon.tsx
  superset-frontend/src/features/asyncTasks/types.ts
  superset-frontend/src/pages/AsyncTaskList/index.tsx
  superset/async_tasks/__init__.py
  superset/async_tasks/api.py
  superset/async_tasks/context.py
  superset/async_tasks/decorators.py
  superset/async_tasks/executor.py
  superset/async_tasks/manager.py
  superset/async_tasks/schemas.py
  superset/async_tasks/types.py
  superset/async_tasks/utils.py
  superset/commands/async_tasks/__init__.py
  superset/commands/async_tasks/abort.py
  superset/commands/async_tasks/bulk_abort.py
  superset/commands/async_tasks/create.py
  superset/commands/async_tasks/exceptions.py
  superset/core/api/core_api_injection.py
  superset/daos/async_tasks.py
  superset/migrations/versions/2024_12_18_0220_create_async_tasks_table.py
  superset/models/async_tasks.py
  tests/integration_tests/async_tasks/api_tests.py
  tests/integration_tests/async_tasks/commands/test_abort.py
  tests/integration_tests/async_tasks/commands/test_bulk_abort.py
  tests/integration_tests/async_tasks/commands/test_create.py
  tests/integration_tests/async_tasks/commands/test_delete.py
  tests/integration_tests/async_tasks/commands/test_update.py
  tests/unit_tests/daos/test_async_tasks.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

make api tests resilient to failures
  tests/integration_tests/async_tasks/api_tests.py
Due: ruff-format, ruff

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
