Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(translation): add new translation for database access
  superset/security/manager.py
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
  tests/unit_tests/extensions/test_sqlalchemy.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(mcp): fix mypy type errors in generate_chart dataset validation
  superset/mcp_service/chart/tool/generate_chart.py
Due: ruff-format, ruff, pylint

fix(mcp): add eager loading to get_dataset_info to prevent N+1 query timeouts
  superset/daos/base.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/mcp_core.py
Due: ruff-format, ruff, pylint

fix(mcp): add eager loading to get_chart_info and get_dashboard_info
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
Due: ruff-format, ruff, pylint

fix(mcp): fix mypy type-arg errors and test DAO signatures for query_options
  superset/daos/base.py
  superset/daos/database.py
  superset/mcp_service/mcp_core.py
  tests/unit_tests/mcp_service/system/tool/test_mcp_core.py
Due: ruff-format, ruff, pylint

chore: pin currencyformatter.js to be v1 due to `just-handlebars-helpers` constraint
  .github/dependabot.yml
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-handlebars/package.json
Due: prettier-frontend

fix(mcp): broaden exception handling per code review feedback
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff, pylint

chore: sync lockfile
  superset-frontend/package-lock.json
Due: prettier-frontend

feat: add automatic scroll button #37804
  superset-frontend/src/components/ScrollToBottom/ScrollToBottom.test.tsx
  superset-frontend/src/components/ScrollToBottom/index.tsx
  superset-frontend/src/views/App.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dataset-modal): prevent shift-select from selecting search-hidden items
  superset-frontend/src/components/Datasource/FoldersEditor/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): use broad Exception in outermost tool-level handlers
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
Due: ruff-format, ruff, pylint

fix(dataset-modal): show warning toast when dropping items outside folders
  superset-frontend/src/components/Datasource/FoldersEditor/hooks/useDragHandlers.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): prevent Columns section from hiding when Metrics is collapsed
  superset-frontend/src/explore/components/DatasourcePanel/DatasourceItems.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): strip secrets and claim values from JWT warning logs
  superset/mcp_service/jwt_verifier.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_jwt_verifier.py
Due: ruff-format, ruff, pylint

fix(mcp): fix ruff C901 complexity and S105 lint errors
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_jwt_verifier.py
Due: ruff-format, ruff, pylint

fix(mcp): apply auto-walrus transformation in server.py
  superset/mcp_service/server.py
Due: ruff-format, ruff, pylint

fix(mcp): never log exceptions from auth provider creation
  superset/mcp_service/mcp_config.py
  superset/mcp_service/server.py
Due: ruff-format, ruff, pylint

fix(mcp): use module-level logger in server.py, add missing tests
  superset/mcp_service/jwt_verifier.py
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_jwt_verifier.py
Due: ruff-format, ruff, pylint

docs: move API reference to developer docs, add active nav state, remove package-lock.json
  docs/.gitignore
  docs/developer_docs/api.mdx
  docs/developer_docs/index.md
  docs/docs/faq.mdx
  docs/docusaurus.config.ts
  docs/scripts/convert-api-sidebar.mjs
  docs/scripts/generate-api-index.mjs
  docs/scripts/generate-api-tag-pages.mjs
  docs/sidebarTutorials.js
  docs/sidebars.js
  docs/src/styles/custom.css
  package-lock.json
Due: eslint-docs

docs: add doc section wayfinding cards below hero on homepage
  docs/src/data/databases.json
  docs/src/pages/index.tsx
Due: eslint-docs

docs: consistent overview URLs, README revamp, homepage card polish
  README.md
  docs/admin_docs/index.md
  docs/developer_docs/index.md
  docs/docs/index.md
  docs/docusaurus.config.ts
  docs/sidebars.js
  docs/src/data/databases.json
  docs/src/pages/index.tsx
Due: eslint-docs

fix: replace 1 bare except clauses with except Exception
  superset/utils/webdriver.py
Due: ruff-format, ruff, pylint

test(reports): add Phase 3 tests for remaining payload and dashboard gaps
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: fix dropdown active states and add navbar section underline
  docs/docusaurus.config.ts
  docs/src/styles/custom.css
Due: eslint-docs

docs: fix database logos on overview page, rename Developer Portal
  docs/developer_docs/extensions/development.md
  docs/developer_docs/index.md
  docs/docs/index.md
Due: none

docs: dynamically render database logos on overview page
  docs/docs/index.mdx
  docs/src/components/databases/DatabaseLogoWall.tsx
Due: eslint-docs

test(reports): fix Phase 2 test reliability and re-throw action errors
  superset-frontend/src/features/alerts/components/AlertReportCronScheduler.test.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/actions.test.ts
  superset-frontend/src/features/reports/ReportModal/actions.ts
  superset-frontend/src/pages/AlertReportList/AlertReportList.test.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(actionlog): remove RTL test per reviewer feedback
  superset-frontend/src/pages/ActionLog/index.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(actionlog): add RTL test for user full name display
  superset-frontend/src/pages/ActionLog/index.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(actionlog): restore full name display in Action Logs user column
  superset-frontend/src/pages/ActionLog/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: fix lint formatting
  superset-frontend/src/pages/ActionLog/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: make scroll-to-bottom button accessible
  superset-frontend/src/components/ScrollToBottom/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: always show scroll-to-bottom when not near bottom
  superset-frontend/src/components/ScrollToBottom/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(translations): Add backend new translation and update existing ones
  superset/security/manager.py
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
  tests/unit_tests/extensions/test_sqlalchemy.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(db-engine): make cachetools import optional in aws_iam
  superset/db_engine_specs/aws_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(folders): expand collapsed folders on Select All and add selection counter
  superset-frontend/src/components/Datasource/FoldersEditor/FoldersEditor.test.tsx
  superset-frontend/src/components/Datasource/FoldersEditor/components/FoldersToolbarComponent.tsx
  superset-frontend/src/components/Datasource/FoldersEditor/index.tsx
  superset-frontend/src/components/Datasource/FoldersEditor/styles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(folders): include all items in test mock folders
  superset-frontend/src/components/Datasource/FoldersEditor/FoldersEditor.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
