Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(datasets): preview a numeric temporal column in its stored representation
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/types.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/utils.test.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: partition-filtering on pfm-6 (#45058)
  UPDATING.md
  docs/admin_docs/configuration/partition-filter-mapping.mdx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionColumnFields.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionFilterMapping.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionMappingSection.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/types.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/usePartitionMappingPreview.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/utils.test.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/utils.ts
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorPartitionMapping.test.tsx
  superset/commands/dataset/importers/v1/utils.py
  superset/commands/dataset/refresh.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/partition_mapping.py
  superset/daos/dataset.py
  superset/models/helpers.py
  superset/views/datasource/views.py
  tests/unit_tests/commands/dataset/refresh_test.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
  tests/unit_tests/dao/dataset_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
  tests/unit_tests/datasets/partition_mapping_preview_test.py
  tests/unit_tests/datasets/partition_mapping_serialization_test.py
  tests/unit_tests/models/core_test.py
  tests/unit_tests/models/partition_mirroring_test.py
  tests/unit_tests/views/datasource/views_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: pfm 8 merge and review (#45132)
  UPDATING.md
  superset/commands/dataset/importers/v1/utils.py
  superset/connectors/sqla/partition_mapping.py
  superset/models/helpers.py
  superset/views/datasource/views.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
  tests/unit_tests/models/partition_mirroring_test.py
  tests/unit_tests/views/datasource/views_test.py
Due: ruff-format, ruff, pylint

fix(datasets): preview an array column with the literal the chart probes
  superset/connectors/sqla/partition_mapping.py
  tests/unit_tests/datasets/partition_mapping_preview_test.py
Due: ruff-format, ruff, pylint

fix(datasets): check the literal resolution of an unflagged DATE column
  superset/models/helpers.py
  tests/unit_tests/models/partition_mirroring_test.py
Due: ruff-format, ruff, pylint

fix(datasets): decline an offset-bearing filter value on a full-resolution column
  superset/models/helpers.py
  tests/unit_tests/models/partition_mirroring_test.py
Due: ruff-format, ruff, pylint

Cursor/resolve pfm conflicts b2f7 (#45040)
  docs/.gitignore
  docs/static/feature-flags.json.tmp
  superset/migrations/versions/2026-09-23_00-01_a7f3c2e91d84_add_partition_filter_mapping.py
Due: ruff-format, ruff

fix(datasets): say why preview withdraws text equality
  superset/connectors/sqla/partition_mapping.py
  tests/unit_tests/datasets/partition_mapping_preview_test.py
Due: ruff-format, ruff, pylint

fix(datasets): probe a numeric filter value in the column's number type
  superset/models/helpers.py
  tests/unit_tests/models/partition_mirroring_test.py
Due: ruff-format, ruff, pylint

test(datasets): freeze the clock the preview budget buckets on
  tests/unit_tests/datasets/partition_mapping_preview_test.py
Due: ruff-format, ruff

fix(datasource): show a mapping issue the owner can save through as a warning
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionColumnFields.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionFilterMapping.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): deny the Oracle functions that run their argument as a query
  UPDATING.md
  superset/config.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(datasets): decline an array element the dialect cannot render
  superset/models/helpers.py
  tests/unit_tests/datasets/partition_mapping_preview_test.py
Due: ruff-format, ruff, pylint

chore: regenerate the message catalogs
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

fix(datasets): repair the mapping when an upload replaces a dataset's columns
  superset/commands/database/uploaders/base.py
  tests/unit_tests/commands/databases/upload_command_test.py
Due: ruff-format, ruff, pylint

fix(datasource): merge a column sync against the state it comes back to
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorPartitionMapping.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(datasets): hold a mirror to the comparison the engine performs
  docs/admin_docs/configuration/partition-filter-mapping.mdx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/PartitionMappingSection.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/components/PartitionFilterMapping/types.ts
  superset/connectors/sqla/partition_mapping.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/models/helpers.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
  tests/unit_tests/datasets/partition_mapping_preview_test.py
  tests/unit_tests/models/partition_mirroring_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata

chore: regenerate the message catalogs
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

fix: reduction to general form
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Butterfly/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Gantt/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Graph/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/types.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Gantt/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(alerts): handle report filter loading states and errors
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(test): retain semantic stub configuration for runtime schema
  tests/e2e_extensions/semantic_stub/dist/backend/src/superset_e2e_semantic_stub/__init__.py
  tests/unit_tests/semantic_layers/e2e_stub_extension_test.py
Due: ruff-format, ruff

fix(retention): preserve summary when remainder rollback fails
  superset/tasks/deletion_retention.py
  tests/unit_tests/tasks/test_deletion_retention.py
Due: ruff-format, ruff, pylint

test(semantic-layer): enforce readonly controls during metadata clear
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): detect wrapped semantic access checks
  superset/common/query_context_factory.py
  superset/security/manager.py
  tests/integration_tests/charts/semantic_metadata_authz_tests.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

test(security): pin guest semantic preflight skip
  tests/integration_tests/charts/semantic_metadata_authz_tests.py
Due: ruff-format, ruff

fix test
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(semantic-layer): make connection credentials easier to enter
  docs/docs/using-superset/semantic-layer-connections.mdx
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.test.tsx
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsAntdRenderers.test.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.test.ts
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix type in test
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Histogram/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Histogram/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix selector
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Gantt/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix selector and add translation
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Gantt/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(datasets): apply Editor, Modified by and Certified filters on the combined datasource list
  UPDATING.md
  superset/commands/datasource/list.py
  superset/daos/datasource.py
  superset/datasets/filters.py
  tests/unit_tests/commands/datasource/list_test.py
  tests/unit_tests/dao/datasource_test.py
Due: ruff-format, ruff, pylint

fix(datasets): list datasets through the dataset API when semantic layers are off
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.integration.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.test.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sqllab): add a RED regression guard for the async limit-commit race
  tests/unit_tests/commands/sql_lab/test_execute.py
Due: ruff-format, ruff

fix(sqllab): commit the recomputed row limit before async dispatch
  superset/commands/sql_lab/execute.py
Due: ruff-format, ruff, pylint

feat(explore): add editable calendar time-range filters
  docs/docs/using-superset/exploring-data.mdx
  superset-frontend/src/components/BasicCalendar/BasicCalendar.test.tsx
  superset-frontend/src/components/BasicCalendar/BasicDatePicker.test.tsx
  superset-frontend/src/components/BasicCalendar/BasicDatePicker.tsx
  superset-frontend/src/components/BasicCalendar/CalendarMonth.tsx
  superset-frontend/src/components/BasicCalendar/index.tsx
  superset-frontend/src/components/BasicCalendar/utils.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/DateFilterLabel.test.tsx
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(utils): add unit test for scalar_to_sequence (#45144)
  tests/unit_tests/pandas_postprocessing/test_utils.py
Due: ruff-format, ruff

test(sql): pin Druid JSON_VALUE RETURNING parsing (#45131)
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

fix(semantic-layer): leave credential readiness to providers
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.test.tsx
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.test.ts
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(echarts): run oxfmt on touched transformProps files
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): fall back to bootstrapped conf for auto-refresh intervals
  superset-frontend/src/dashboard/components/RefreshFrequency/RefreshFrequencySelect.test.tsx
  superset-frontend/src/dashboard/components/RefreshFrequency/RefreshFrequencySelect.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
