Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

declare the login-token endpoints as intentionally undecorate
  docs/static/feature-flags.json
  tests/unit_tests/security/login_token_test.py
Due: ruff-format, ruff

fix(themes): add docstrings to theme_editors index migration
  superset/migrations/versions/2026-09-16_00-01_00fab727cd0a_add_theme_editors_theme_id_index.py
Due: ruff-format, ruff

fix(mcp): preserve temporal filter compatibility parity
  superset/mcp_service/semantic_layer/tool/get_table.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
Due: ruff-format, ruff, pylint

fix(mcp): align get_table temporal type vocabulary
  superset/mcp_service/semantic_layer/schemas.py
  superset/mcp_service/semantic_layer/tool/get_table.py
  superset/mcp_service/utils/response_utils.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
  tests/unit_tests/mcp_service/utils/test_response_utils.py
Due: ruff-format, ruff, pylint

fix(semantic-layer): prevent restored secrets leaking through validation logs
  superset/commands/semantic_layer/create.py
  superset/commands/semantic_layer/update.py
  superset/commands/semantic_layer/utils.py
  superset/semantic_layers/masking.py
  tests/unit_tests/semantic_layers/api_test.py
  tests/unit_tests/semantic_layers/masking_test.py
Due: ruff-format, ruff, pylint

fix(extensions-cli): fail build and bundle when frontend build fails
  superset-extensions-cli/README.md
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_build.py
Due: ruff-format, ruff, pylint

fix(cache): bind the real annotation-fetch gate in the cache key
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/utils/cache_test.py
Due: ruff-format, ruff, pylint

fix(charts): key annotation cache by access scope, not user or RLS clauses
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint

fix(mcp): rebuild parent chains in duplicate_dashboard too
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/duplicate_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/remove_chart_from_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_duplicate_dashboard.py
Due: ruff-format, ruff, pylint

fix(migrations): repoint report ownership migration to current master head
  superset/migrations/versions/2026-09-16_00-00_93d1b4a76c02_add_report_execution_ownership.py
Due: ruff-format, ruff

fix(mcp): correct stale comment in add_chart_to_existing_dashboard
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
Due: ruff-format, ruff, pylint

fix(csv-import): add primary key when MySQL requires one
  superset/db_engine_specs/mysql.py
  tests/unit_tests/db_engine_specs/test_mysql.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(i18n): make module-level error constants lazy gettext (#44180)
  superset/exceptions.py
  superset/sqllab/query_render.py
  superset/utils/core.py
  superset/views/core.py
  tests/unit_tests/views/test_i18n_constants.py
Due: ruff-format, ruff, pylint

feat(soft-delete): translate unique collisions with soft-deleted rows into restore guidance (#44184)
  superset/commands/dashboard/create.py
  superset/commands/dashboard/exceptions.py
  superset/commands/dashboard/update.py
  superset/commands/dataset/update.py
  superset/commands/soft_delete_collisions.py
  superset/datasets/api.py
  superset/mcp_service/dataset/tool/update_dataset_metric.py
  superset/translations/messages.pot
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/commands/dashboard/slug_collision_test.py
  tests/unit_tests/commands/dataset/update_test.py
  tests/unit_tests/mcp_service/dataset/tool/test_update_dataset_metric.py
Due: ruff-format, ruff, pylint

fix(table): preserve semantic temporal column references (#44369)
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): resolve display-control and drill datasources by type, not id alone (#42539)
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/ColumnSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/utils.ts
  superset-frontend/src/dashboard/components/nativeFilters/useDisplayControlDatasource.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/useDisplayControlDatasource.ts
  superset-frontend/src/hooks/apiResources/datasets.test.ts
  superset-frontend/src/hooks/apiResources/datasets.ts
  superset-frontend/src/utils/semanticViewStructure.test.ts
  superset-frontend/src/utils/semanticViewStructure.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(presto): reword dialect test docstring to match what it pins
  tests/unit_tests/db_engine_specs/test_presto.py
Due: ruff-format, ruff

feat(mcp): apply native dashboard filters from an MCP client (#44096)
  docs/admin_docs/configuration/mcp-server.mdx
  superset-frontend/src/components/MessageToasts/Toast.test.tsx
  superset-frontend/src/components/MessageToasts/Toast.tsx
  superset-frontend/src/components/MessageToasts/actions.ts
  superset-frontend/src/components/MessageToasts/types.ts
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/useDashboardFilterSync.test.tsx
  superset-frontend/src/dashboard/useDashboardFilterSync.ts
  superset-frontend/src/dataMask/reducer.test.ts
  superset-frontend/src/dataMask/reducer.ts
  superset-frontend/src/filters/utils.ts
  superset-frontend/src/utils/common.ts
  superset/constants.py
  superset/mcp_service/app.py
  superset/mcp_service/dashboard/permalink.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/__init__.py
  superset/mcp_service/dashboard/tool/apply_dashboard_filters.py
  superset/mcp_service/dashboard/tool/manage_native_filters.py
  superset/mcp_service/mcp_config.py
  superset/realtime/__init__.py
  superset/realtime/publish.py
  superset/security/manager.py
  superset/tasks/manager.py
  tests/unit_tests/mcp_service/dashboard/test_permalink.py
  tests/unit_tests/mcp_service/dashboard/tool/test_apply_dashboard_filters.py
  tests/unit_tests/mcp_service/test_mcp_tool_registration.py
  tests/unit_tests/security/test_guest_token_empty_filter.py
  tests/unit_tests/test_realtime_publish.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): preserve dashboard filter values for restricted users (#44107)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/dashboard/permalink.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
Due: ruff-format, ruff, pylint

fix(mcp): exempt temporal columns consistently from discovery
  superset/mcp_service/semantic_layer/tool/get_table.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
Due: ruff-format, ruff, pylint

fix(semantic-layer): sanitize unexpected provider validation errors
  superset/commands/semantic_layer/utils.py
  tests/unit_tests/commands/semantic_layer/create_test.py
  tests/unit_tests/semantic_layers/api_test.py
Due: ruff-format, ruff, pylint

fix(mcp): keep grain hints consistent with column validation
  superset/mcp_service/semantic_layer/tool/get_table.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
Due: ruff-format, ruff, pylint

fix(semantic-layers): reject grained-axis containment narrowing
  docs/developer_docs/extensions/contribution-types.md
  superset/semantic_layers/cache_coordination.py
  superset/semantic_layers/cache_policy.py
  tests/unit_tests/semantic_layers/cache_coordination_test.py
  tests/unit_tests/semantic_layers/cache_integration_test.py
  tests/unit_tests/semantic_layers/cache_policy_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): resolve semantic datasets and surface chart errors
  superset-frontend/src/components/Chart/Chart.test.tsx
  superset-frontend/src/components/Chart/Chart.tsx
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/models/dashboard.py
  tests/unit_tests/dashboards/datasets_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): match temporal result columns to declared grains
  superset/mcp_service/semantic_layer/tool/get_table.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
Due: ruff-format, ruff, pylint

docs(api): regenerate dashboard dataset OpenAPI schema
  docs/static/resources/openapi.json
Due: none

fix(connections): show actions for export-only database users
  superset-frontend/src/pages/DatabaseList/DatabaseList.semanticLayerDelete.test.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.connectionPermissions.test.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.testHelpers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): retain built-in metric embedding page limits
  UPDATING.md
  superset/mcp_service/semantic_layer/schemas.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_list_metrics.py
Due: ruff-format, ruff, pylint

test(semantic): scope bundle fixture authorization grants
  tests/unit_tests/semantic_layers/import_export_test.py
Due: ruff-format, ruff

fix(semantic-layers): address review threads
  docs/admin_docs/configuration/cache.mdx
  docs/developer_docs/extensions/contribution-types.md
  docs/static/feature-flags.json
  superset-frontend/src/explore/components/ChartPills.test.tsx
  superset-frontend/src/explore/components/ChartPills.tsx
  superset/common/query_actions.py
  superset/common/query_context_processor.py
  superset/config.py
  superset/coordination/cache_backend.py
  superset/semantic_layers/cache_repository.py
  superset/semantic_layers/cache_transform.py
  superset/semantic_layers/mapper.py
  tests/unit_tests/common/test_query_actions.py
  tests/unit_tests/common/test_query_context_processor.py
  tests/unit_tests/common/test_query_context_processor_timing.py
  tests/unit_tests/coordination/test_cache_backend.py
  tests/unit_tests/semantic_layers/cache_integration_test.py
  tests/unit_tests/semantic_layers/cache_policy_test.py
  tests/unit_tests/semantic_layers/cache_repository_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(semantic-layer): address review-bot findings
  superset/commands/semantic_layer/update.py
  superset/semantic_layers/masking.py
  tests/unit_tests/commands/semantic_layer/update_test.py
  tests/unit_tests/semantic_layers/api_test.py
  tests/unit_tests/semantic_layers/masking_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): stop table charts bleeding over neighbours in image export
  superset-frontend/src/utils/downloadAsImage.test.ts
  superset-frontend/src/utils/downloadAsImage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(versioning): render the starting version as the oldest history row for charts and dashboards (#44258)
  docs/docs/using-superset/version-history.mdx
  docs/static/resources/openapi.json
  superset-frontend/src/features/versionHistory/SaveGroupItem.test.tsx
  superset-frontend/src/features/versionHistory/SaveGroupItem.tsx
  superset-frontend/src/features/versionHistory/display.test.ts
  superset-frontend/src/features/versionHistory/display.ts
  superset-frontend/src/features/versionHistory/grouping.test.ts
  superset-frontend/src/features/versionHistory/grouping.ts
  superset-frontend/src/features/versionHistory/types.ts
  superset/translations/messages.pot
  superset/versioning/activity/creation.py
  superset/versioning/activity/orchestrator.py
  superset/versioning/activity/queries.py
  superset/versioning/baseline/insertion.py
  superset/versioning/changes/__init__.py
  superset/versioning/changes/listener.py
  superset/versioning/creation_kinds.py
  superset/versioning/schemas.py
  tests/integration_tests/versioning/activity_write_after_read_tests.py
  tests/integration_tests/versioning/creation_row_tests.py
  tests/unit_tests/versioning/test_activity.py
  tests/unit_tests/versioning/test_listener.py
  tests/unit_tests/versioning/test_retention_races.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(charts): allow saving charts on semantic views
  docs/docs/using-superset/exploring-data.mdx
  superset/charts/api.py
  superset/commands/chart/create.py
  superset/commands/chart/update.py
  superset/commands/chart/utils.py
  superset/explore/utils.py
  tests/integration_tests/charts/semantic_save_tests.py
  tests/unit_tests/commands/chart/create_test.py
  tests/unit_tests/commands/chart/update_test.py
  tests/unit_tests/explore/utils_test.py
Due: ruff-format, ruff, pylint

test(matrixify): assert per-cell dimension filters don't leak across cells
  superset-frontend/packages/superset-ui-core/src/chart/components/Matrixify/MatrixifyGridGenerator.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): mark build_query_dicts_from_form_data as C901-exempt after merge
  superset/mcp_service/chart/chart_helpers.py
Due: ruff-format, ruff, pylint

fix(mypy): narrow nullable UUID/description reads in versioning tests
  tests/integration_tests/versioning/activity_write_after_read_tests.py
  tests/integration_tests/versioning/conditional_token_lock_tests.py
  tests/integration_tests/versioning/creation_row_tests.py
  tests/integration_tests/versioning/restore_fails_closed_tests.py
Due: ruff-format, ruff

fix(versioning): narrow nullable uuid/description reads in versioning tests
  tests/integration_tests/versioning/activity_write_after_read_tests.py
  tests/integration_tests/versioning/conditional_token_lock_tests.py
  tests/integration_tests/versioning/creation_row_tests.py
  tests/integration_tests/versioning/restore_fails_closed_tests.py
Due: ruff-format, ruff

fix(dashboard): size Excel exports the way they run
  docs/docs/using-superset/exporting-dashboard-data.mdx
  superset/dashboards/api.py
  superset/dashboards/excel_export/sync_budget.py
  superset/sql/parse.py
  superset/tasks/export_dashboard_excel.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/dashboards/test_excel_export_sync_budget.py
  tests/unit_tests/sql/parse_tests.py
  tests/unit_tests/tasks/test_export_dashboard_excel.py
Due: ruff-format, ruff, pylint

test: add regression test for multi-metric two-groupby stackDimension label grouping
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
