Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix pre commit
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/EchartsCandlestick.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(handlebars): cover Handlebars expressions in the CSS field
  superset-frontend/plugins/plugin-chart-handlebars/test/Handlebars.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(scripts): clarify Windows shell flag and restore parallel PO conversion
  scripts/compile_po.py
  tests/unit_tests/scripts/translations/compile_po_test.py
Due: ruff-format, ruff

feat(conditional-formatting): add manual min/max color-range bounds (#43820)
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/ConditionalFormattingControl.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopover.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/constants.ts
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(country-map): validate Canada region identifiers
  superset-frontend/plugins/plugin-chart-country-map/test/countries.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor: consolidate usage of toSafeHref util function
  superset-frontend/src/pages/ArchivedList/ArchivedDatasetPurgeModal.tsx
  superset-frontend/src/utils/urlUtils.ts
  superset-frontend/src/visualizations/TimeTable/components/LeftCell/LeftCell.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(rls): roll back db.session after RLS failure in get_from_clause (SC-119900)
  superset/models/helpers.py
  tests/unit_tests/models/test_virtual_dataset_format.py
Due: ruff-format, ruff, pylint

feat(ci): broaden usage of fast-startup `ubuntu-slim` runner (#43477)
  .github/workflows/docker.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/hold-label-ci-gate.yml
  .github/workflows/pre-commit.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-extensions-cli.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-playwright.yml
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
  .github/workflows/superset-translations-comment.yml
  .github/workflows/superset-translations.yml
Due: none

Potential fix for pull request finding 'CodeQL / Exception text reinterpreted as HTML'
  superset-frontend/src/utils/urlUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqla): parenthesize calculated column expressions in SELECT/GROUP BY/ORDER BY and series-limit queries
  UPDATING.md
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/jinja_context_test.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint

fix(datasets): return empty for schema filter on semantic-layer-only sources
  superset/commands/datasource/list.py
  tests/integration_tests/datasource/api_tests.py
  tests/unit_tests/commands/datasource/list_test.py
Due: ruff-format, ruff, pylint

fix(explore): open version-history forks in a usable tab, not a blank one (#43830)
  superset-frontend/src/utils/navigationUtils.test.ts
  superset-frontend/src/utils/navigationUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ui): preserve enable: false in mergeResizableConfig
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ui): make merged resize config non-nullable
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ui): preserve default modal resize handles when config is partial
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: point remaining Release Notes links at GitHub releases
  README.md
  docs/user_docs_versioned_docs/version-6.0.0/intro.md
  docs/user_docs_versioned_docs/version-6.1.0/index.mdx
  docs/user_docs_versioned_docs/version-6.1.0/intro.md
Due: none

fix: downgrade md5 namespace-fallback deprecation log to info
  superset/key_value/utils.py
  tests/unit_tests/key_value/utils_test.py
Due: ruff-format, ruff, pylint

fix(semantic-layer): mapper honors the SemanticView ABC contract
  superset/semantic_layers/mapper.py
  tests/unit_tests/semantic_layers/mapper_test.py
Due: ruff-format, ruff, pylint

fix(semantic-layers): access-filter the /connections database branch
  superset/semantic_layers/api.py
  tests/unit_tests/semantic_layers/api_test.py
Due: ruff-format, ruff, pylint

refactor(semantic-layer): review polish for the mapper contract fix
  superset/semantic_layers/mapper.py
  tests/unit_tests/semantic_layers/mapper_test.py
Due: ruff-format, ruff, pylint

test(versioning): assert changed_by redaction at the decoration enforcement point
  tests/unit_tests/versioning/test_activity.py
Due: ruff-format, ruff

fix bito suggestions
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(versioning): make the closed-state contract test discriminate
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): wrap cost-estimate JSON parse to prevent raw JSONDecodeError leak
  superset/commands/sql_lab/estimate.py
  tests/unit_tests/commands/sql_lab/test_estimate.py
Due: ruff-format, ruff, pylint

chore(gtf): make loadtest honor the realtime channel prefix; fix stale JSDoc
  superset-websocket/src/index.ts
  superset-websocket/utils/loadtest.js
Due: none

feat(gtf): make the realtime pub/sub channel prefix configurable (#43843)
  docker/entrypoints/run-websocket.sh
  superset-websocket/README.md
  superset-websocket/spec/config.test.ts
  superset-websocket/spec/index.test.ts
  superset-websocket/src/config.ts
  superset-websocket/src/index.ts
  superset-websocket/utils/loadtest.js
  superset/config.py
  superset/tasks/manager.py
  tests/unit_tests/tasks/test_manager.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(charts): fail closed in set_related_perm on unknown datasource_type
  superset/models/slice.py
  tests/unit_tests/models/slice_test.py
Due: ruff-format, ruff, pylint

test(semantic-layers): pin the non-string feature coercion in _feature_value
  tests/unit_tests/semantic_layers/models_test.py
Due: ruff-format, ruff

ci: fail when the published OpenAPI spec is stale
  .github/workflows/check-openapi-spec-drift.yml
Due: none

fix(cli): exit non-zero when update-api-docs documents no API
  superset/cli/update.py
  tests/unit_tests/cli/update_test.py
Due: ruff-format, ruff, pylint

chore(api): regenerate the spec for chart_get_list_schema
  docs/static/resources/openapi.json
Due: none

fix(sqllab): mark early-cancelled query stopped instead of leaving it stuck running
  superset/constants.py
  superset/daos/query.py
  superset/sql_lab.py
  tests/unit_tests/dao/test_query_stop_race.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff, pylint

fix(migrations): chain task_dependencies migration onto new master head
  superset/migrations/versions/2026-08-21_12-00_7e2c9a4f1b83_create_task_dependencies_table.py
Due: ruff-format, ruff

fix test
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): prevent editable title over-truncation (#43811)
  superset-frontend/packages/superset-ui-core/src/components/DynamicEditableTitle/DynamicEditableTitle.regression.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DynamicEditableTitle/DynamicEditableTitle.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DynamicEditableTitle/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(treemap): pin border-free labels so tiles render without seams
  superset-frontend/plugins/plugin-chart-echarts/test/Treemap/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(websocket): point regenerated lockfile at the public npm registry
  superset-websocket/package-lock.json
Due: none

fix(echarts): render Plain Timeseries legends as HTML, not canvas (#43314)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/TimeseriesLegend.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(examples): correct chart metadata (#43810)
  superset/examples/birth_names.py
  superset/examples/featured_charts/datasets/project_management.yaml
  superset/examples/sales_dashboard/charts/Quarterly_Sales_By_Product_Line.yaml
  superset/examples/sales_dashboard/charts/Revenue_by_Deal_Size.yaml
  superset/examples/slack_dashboard/charts/Messages_per_Channel.yaml
  superset/examples/usa_births_names/charts/Genders_by_State.yaml
  superset/examples/usa_births_names/charts/Top_10_Boy_Name_Share.yaml
  superset/examples/usa_births_names/charts/Top_10_Girl_Name_Share.yaml
  superset/examples/usa_births_names/charts/Trends.yaml
  superset/examples/video_game_sales/charts/Top_10_Games_Proportion_of_Sales_in_Markets.yaml
  superset/examples/video_game_sales/charts/Total_Sales_per_Market_Grouped_by_Genre.yaml
  superset/examples/world_bank.py
  superset/examples/world_health/charts/Growth_Rate.yaml
  superset/examples/world_health/charts/World_s_Pop_Growth.yaml
Due: ruff-format, ruff, pylint

fix calculateMA
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
