Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

prettier:
  name: prettier
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run format -- --log-level error; else npm run prettier-check; fi'
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run lint-fix; else npm run eslint; fi'
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --ext .js,.jsx,.ts,.tsx --quiet $([ -z "$SKIP_FIX" ] && echo "--fix") $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: bash -c './scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base'
  language: system
  require_serial: true

oops
  superset-frontend/webpack.config.js
Due: eslint-frontend, type-checking-frontend

final
  superset-frontend/webpack.config.js
Due: eslint-frontend, type-checking-frontend

fix CI
  docker/pythonpath_dev/superset_config.py
Due: none

style(chart): restyle table pagination (#34311)
  superset-frontend/plugins/plugin-chart-table/src/Styles.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(NavBar): Add brand text back
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/Menu.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(NavBar): Add brand text back (#34318)
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/Menu.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Remove selected Polygons feature as cross-filters replace it
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/Polygon.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Polygon/controlPanel.ts
Due: prettier, eslint-frontend, type-checking-frontend

1
  superset/report_templates/api.py
Due: none

SUP-87 (#89)
  locales/de/translation.json
  locales/en/translation.json
  locales/es/translation.json
  locales/fr/translation.json
  locales/it/translation.json
  locales/nl/translation.json
Due: none

fix bug
  superset-frontend/src/dashboard/components/nativeFilters/ChartCustomization/ChartCustomizationForm.tsx
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
Due: prettier, eslint-frontend, type-checking-frontend

1
  superset/config.py
Due: none

style(FastVizSwitcher): Adjust padding for FastVizSwitcher selector (#34317)
  superset-frontend/src/dashboard/components/gridComponents/Tabs.jsx
  superset-frontend/src/explore/components/controls/VizTypeControl/FastVizSwitcher.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTile.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: Move menu to items prop for dashboard and explore
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/ShareMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/ShareMenuItems/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.test.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(PivotTable): Render html in cells if allowRenderHtml is true
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.jsx
Due: prettier, eslint-frontend, type-checking-frontend

WIP
  superset/db_engine_specs/snowflake.py
Due: none

feat(theming): Align embedded sdk with theme configs
  superset-frontend/src/embedded/EmbeddedContextProviders.tsx
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/theme/ThemeController.ts
  superset-frontend/src/theme/tests/ThemeController.test.ts
  superset-frontend/src/types/bootstrapTypes.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat(theming): fixing PR review comments
  superset-frontend/packages/superset-ui-core/src/components/ThemeSelect/index.tsx
  superset-frontend/packages/superset-ui-core/src/theme/index.tsx
  superset-frontend/packages/superset-ui-core/src/theme/types.ts
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/theme/ThemeController.ts
  superset-frontend/src/theme/ThemeProvider.tsx
  superset-frontend/src/theme/tests/ThemeController.test.ts
  superset-frontend/src/theme/tests/ThemeProvider.test.tsx
  superset-frontend/src/types/bootstrapTypes.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat: introducing a docker-compose-light.yml for lighter development (#34324)
  docker-compose-image-tag.yml
  docker-compose-light.yml
  docker-compose-non-dev.yml
  docker-compose.yml
  docker/.env
  docker/pythonpath_dev/.gitignore
  docker/pythonpath_dev/superset_config.py
  docker/pythonpath_dev/superset_config_docker_light.py
  docs/docs/installation/docker-compose.mdx
  superset-frontend/webpack.config.js
  superset/config.py
Due: eslint-frontend, type-checking-frontend

feat(dashboard): Display username in dashboard owner's filter
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AnnotationLayerList/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/CssTemplateList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/RowLevelSecurityList/index.tsx
  superset-frontend/src/pages/SavedQueryList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
  superset-frontend/src/types/Owner.ts
  superset-frontend/src/utils/getOwnerName.ts
  superset-frontend/src/views/CRUD/utils.tsx
  superset/dashboards/schemas.py
  superset/reports/api.py
  superset/views/base_api.py
  tests/integration_tests/base_api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/reports/api_tests.py
Due: prettier, eslint-frontend, type-checking-frontend

Remove old commented changes
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier, eslint-frontend, type-checking-frontend

DP-594: Add Can_explore_json permission to Guest users
  docker/pythonpath_dev/custom_sso_security_manager.py
Due: none

feat: read column metadata
  superset/connectors/sqla/models.py
Due: none

fix bug
  superset-frontend/src/dashboard/components/nativeFilters/ChartCustomization/ChartCustomizationForm.tsx
Due: prettier, eslint-frontend, type-checking-frontend

chore(🦾): bump python slack-sdk 3.35.0 -> 3.36.0
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python shillelagh 1.3.5 -> 1.4.2
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python celery 5.5.2 -> 5.5.3
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python flask-appbuilder subpackage(s)
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python flask-cors 4.0.2 -> 6.0.1
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python typing-extensions 4.14.0 -> 4.14.1
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python flask-migrate subpackage(s)
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python markdown 3.8 -> 3.8.2
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python python-dotenv 1.1.0 -> 1.1.1
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python selenium 4.32.0 -> 4.34.2
  requirements/base.txt
  requirements/development.txt
Due: none

chore(🦾): bump python numpy 1.26.4 -> 2.2.6
  requirements/base.txt
  requirements/development.txt
Due: none

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
