Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

fix(echarts): use scroll legend for horizontal layouts to prevent overlap (#36306)
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Gantt/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): import with overwrite flag replaces charts instead of merging (#36551)
  superset/commands/dashboard/importers/v1/__init__.py
  tests/unit_tests/dashboards/commands/importers/v1/import_command_test.py
Due: ruff-format, ruff, pylint

docs: Add SQL Lab Export to Google Sheets reference
  docs/developer_portal/extensions/registry.md
  docs/static/img/extensions/api-explorer.png
  docs/static/img/extensions/gsheets-export.png
  docs/static/img/extensions/sql-flow-visualizer.png
Due: none

fix: Use is_active for guest users
  superset/security/guest_token.py
Due: ruff-format, ruff, pylint

fix(docs): add retry logic and concurrency handling for badge downloads
  docs/plugins/remark-localize-badges.mjs
Due: none

docs: Add SQL Lab Export to Google Sheets to community extensions registry (#36714)
  docs/developer_portal/extensions/registry.md
  docs/static/img/extensions/api-explorer.png
  docs/static/img/extensions/gsheets-export.png
  docs/static/img/extensions/sql-flow-visualizer.png
Due: none

fix: removed dashboard from main page in "All" tab, refreshes dashboard list (#35945)
  superset-frontend/src/features/home/DashboardTable.test.tsx
  superset-frontend/src/features/home/DashboardTable.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Implement PR feedback
  superset/security/guest_token.py
Due: ruff-format, ruff, pylint

Compile deps
  requirements/base.txt
  requirements/development.txt
Due: none

Fix style
  superset/templates/superset/redirect_warning.html
  superset/views/redirect.py
Due: ruff-format, ruff, pylint

More improvements
  docs/docs/configuration/alerts-reports.mdx
  superset/config.py
  superset/views/redirect.py
  tests/integration_tests/views/test_redirect_view.py
  tests/unit_tests/utils/test_link_redirect.py
Due: ruff-format, ruff, pylint

Small improvements
  superset/reports/notifications/email.py
  superset/templates/superset/redirect_warning.html
  superset/utils/link_redirect.py
  superset/views/redirect.py
  tests/integration_tests/views/test_redirect_view.py
  tests/unit_tests/utils/test_link_redirect.py
Due: ruff-format, ruff, pylint

Improvements
  superset/initialization/__init__.py
  superset/utils/link_redirect.py
  superset/views/redirect.py
  tests/integration_tests/views/test_redirect_view.py
  tests/unit_tests/utils/test_link_redirect.py
Due: ruff-format, ruff, pylint

Reactify
  superset-frontend/src/pages/RedirectWarning/index.tsx
  superset-frontend/src/views/routes.tsx
  superset/templates/superset/redirect_warning.html
  superset/views/redirect.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Make URL configurable
  docs/docs/configuration/alerts-reports.mdx
  superset/config.py
  superset/templates/superset/redirect_warning.html
  superset/utils/link_redirect.py
Due: ruff-format, ruff, pylint

Fix style
  superset/templates/superset/redirect_warning.html
Due: none

feat(alerts/reports): external URL warning
  superset/initialization/__init__.py
  superset/reports/notifications/email.py
  superset/templates/superset/redirect_warning.html
  superset/utils/link_redirect.py
  superset/views/redirect.py
  tests/integration_tests/views/test_redirect_view.py
  tests/unit_tests/utils/test_link_redirect.py
Due: ruff-format, ruff, pylint

Fix deps
  pyproject.toml
  superset/views/redirect.py
Due: ruff-format, ruff, pylint

Fix style
  superset/templates/superset/redirect_warning.html
  superset/utils/link_redirect.py
Due: ruff-format, ruff, pylint

fix(docs): add retry logic and concurrency handling for badge downloads (#36715)
  docs/plugins/remark-localize-badges.mjs
Due: none

fix: Use is_active for guest users (#36716)
  superset/security/guest_token.py
Due: ruff-format, ruff, pylint

chore: remove INTHEWILD.md after migration to YAML
  RESOURCES/INTHEWILD.md
Due: none

build(dev-deps): remove stub type definition packages (#36706)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/plugins/plugin-chart-ag-grid-table/package.json
  superset-frontend/plugins/plugin-chart-table/package.json
Due: prettier-frontend

chore: remove INTHEWILD.md after migration to YAML (#36718)
  RESOURCES/INTHEWILD.md
Due: none

Fixes
  superset/utils/link_redirect.py
  superset/views/redirect.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/utils/test_link_redirect.py
Due: ruff-format, ruff, pylint

Testing
  superset/data_access_rules/api.py
  superset/data_access_rules/schemas.py
  superset/data_access_rules/utils.py
  superset/databases/filters.py
  superset/security/manager.py
Due: ruff-format, ruff, pylint

RLS and CLS working
  superset/data_access_rules/api.py
  superset/data_access_rules/utils.py
  superset/sql/parse.py
Due: ruff-format, ruff, pylint

fix(charts): address code review issues for time range selection
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Explore working
  superset/data_access_rules/utils.py
  superset/security/manager.py
  superset/utils/filters.py
Due: ruff-format, ruff, pylint

More fixes
  superset/utils/link_redirect.py
  superset/views/redirect.py
  tests/unit_tests/utils/test_link_redirect.py
Due: ruff-format, ruff, pylint

fix(tests): resolve flakey selectOption helper race condition
  superset-frontend/spec/helpers/testing-library.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Tree
  superset-frontend/src/features/dataAccessRules/DataAccessRuleModal.tsx
  superset-frontend/src/features/dataAccessRules/PermissionsTree/api.ts
  superset-frontend/src/features/dataAccessRules/PermissionsTree/index.tsx
  superset-frontend/src/features/dataAccessRules/PermissionsTree/types.ts
  superset-frontend/src/features/dataAccessRules/PermissionsTree/utils.ts
  superset/commands/database/tables.py
  superset/databases/api.py
  superset/databases/schemas.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Formatting
  superset-frontend/src/features/alerts/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

UI progress
  superset-frontend/src/features/dataAccessRules/PermissionsTree/index.tsx
  superset-frontend/src/features/dataAccessRules/PermissionsTree/types.ts
  superset-frontend/src/features/dataAccessRules/PermissionsTree/utils.ts
  superset/data_access_rules/utils.py
  superset/utils/filters.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Update superset/reports/notifications/webhook.py
  superset/reports/notifications/webhook.py
Due: ruff-format, ruff, pylint

chore(frontend): migrate easy JS/JSX files to TypeScript (#36713)
  superset-frontend/src/dashboard/components/gridComponents/Chart/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Column/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Divider/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Markdown/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Tab/index.ts
  superset-frontend/src/dashboard/components/gridComponents/Tabs/index.ts
  superset-frontend/src/dashboard/components/gridComponents/index.ts
  superset-frontend/src/dashboard/components/gridComponents/new/NewColumn.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewDivider.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewHeader.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewMarkdown.tsx
  superset-frontend/src/dashboard/components/gridComponents/new/NewTabs.tsx
  superset-frontend/src/dashboard/util/getChartAndLabelComponentIdFromPath.js
  superset-frontend/src/dashboard/util/getChartAndLabelComponentIdFromPath.ts
  superset-frontend/src/dashboard/util/getFilterScopeParentNodes.ts
  superset-frontend/src/dashboard/util/serializeActiveFilterValues.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(divider): use LayoutItem type for dashboard components
  superset-frontend/src/dashboard/components/gridComponents/Divider/Divider.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(divider): run linting
  superset-frontend/src/dashboard/components/gridComponents/Divider/Divider.tsx
  superset-frontend/src/dashboard/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
