Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

prettier:
  name: prettier
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run format -- --log-level error; else npm run prettier-check; fi'
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run lint-fix; else npm run eslint; fi'
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --ext .js,.jsx,.ts,.tsx --quiet $([ -z "$SKIP_FIX" ] && echo "--fix") $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: bash -c './scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base'
  language: system
  require_serial: true

Setting default to current behavior.
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(presto): return proper data type for column (#34304)
  superset/db_engine_specs/presto.py
Due: none

fix(superset-ui-core): Include appRoot in endpoint of SupersetClientClass.postForm action (#34395)
  superset-frontend/cypress-base/cypress/e2e/auth/login.test.ts
  superset-frontend/packages/superset-ui-core/src/connection/SupersetClientClass.ts
  superset-frontend/packages/superset-ui-core/test/connection/SupersetClientClass.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

chore: strip filters for drill dy filter
  superset-frontend/src/components/Chart/DrillBy/DrillByMenuItems.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(sqllab): show actual execution duration in Query History (#34511)
  superset-frontend/src/pages/QueryHistoryList/index.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset/queries/api.py
Due: prettier, eslint-frontend, type-checking-frontend

fix(Button): secondary disabled button
  superset-frontend/packages/superset-ui-core/src/components/Button/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(RightMenu): about section font size
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DropdownContainer): correct exports
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: primary on the right
  superset-frontend/src/pages/AnnotationList/index.tsx
  superset-frontend/src/pages/GroupsList/index.tsx
  superset-frontend/src/pages/RolesList/index.tsx
  superset-frontend/src/pages/UsersList/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(csv_tests): import from utils
  tests/unit_tests/utils/csv_tests.py
Due: none

fix(csv_tests): Import from utils (#34664)
  tests/unit_tests/utils/csv_tests.py
Due: none

update type
  superset-frontend/packages/superset-ui-core/src/query/types/QueryFormData.ts
  superset-frontend/src/explore/components/DataTablesPane/types.ts
Due: prettier, eslint-frontend, type-checking-frontend

update types for LatestQueryFormData
  superset-frontend/packages/superset-ui-core/src/query/types/QueryFormData.ts
  superset-frontend/src/explore/components/ChartPills.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/types.ts
Due: prettier, eslint-frontend, type-checking-frontend

revert ai added code blocks
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

minor touch
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

type rename to PanelSizes
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix spec
  superset-frontend/packages/superset-ui-core/src/query/types/QueryFormData.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix tslint
  superset-frontend/src/explore/components/DataTablesPane/test/ResultsPaneOnDashboard.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/fixture.tsx
Due: prettier, eslint-frontend, type-checking-frontend

replace string by ReactNode
  superset-frontend/src/explore/components/ExploreAlert.tsx
Due: prettier, eslint-frontend, type-checking-frontend

refactor: Migrate ExploreChartPanel to typescript
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/ChartErrorMessage.test.tsx
  superset-frontend/src/components/Chart/ChartErrorMessage.tsx
  superset-frontend/src/explore/components/ChartPills.tsx
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset-frontend/src/explore/components/ExploreAlert.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/useResizeDetectorByObserver.ts
  superset-frontend/src/hooks/apiResources/charts.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix specs
  superset-frontend/src/explore/components/DataTablesPane/test/ResultsPaneOnDashboard.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/SamplesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/fixture.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
  superset-frontend/src/explore/components/ExploreAlert.tsx
Due: prettier, eslint-frontend, type-checking-frontend

mistake on fn replacement
  superset-frontend/src/explore/components/DataTablesPane/test/fixture.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix tslint on Chart
  superset-frontend/src/components/Chart/Chart.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix setForceQuery on ResultsPaneOnDashboard
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat: throws error for string into integer col
  superset/commands/database/uploaders/csv_reader.py
Due: none

test: throws error for string into integer col
  test.csv
Due: none

fix(theming): Fix ag-grid theming regression in SQL Lab
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/index.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/package.json
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTable/index.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/renderers/NumericCellRenderer.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/types.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/filterValueGetter.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/formatValue.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellClass.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getInitialSortState.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useTableTheme.ts
  superset-frontend/src/components/GridTable/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix permisison
  RESOURCES/STANDARD_ROLES.md
  superset/views/sql_lab/views.py
Due: none

revert export savedquery doc
  RESOURCES/STANDARD_ROLES.md
Due: none

fix: Avoid dataset drill request if no perm
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/useContextMenu.test.tsx
  superset-frontend/src/components/Chart/types.ts
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/features/datasets/metadataBar/useDatasetMetadataBar.tsx
  superset-frontend/src/hooks/apiResources/datasets.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix(controls): Add InlineCheckboxControl and fix build errors
  ARCHITECTURE_PLAN.md
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/SharedControlComponents.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/index.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/utils/index.ts
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/controlPanel.ts
  superset-frontend/src/explore/components/ControlPanelsContainerWrapper.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix chart queries
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
Due: prettier, eslint-frontend, type-checking-frontend

rename constant
  superset/common/query_context_processor.py
  superset/constants.py
  superset/utils/cache.py
  superset/viz.py
Due: none

rename constant
  tests/integration_tests/charts/data/api_tests.py
Due: none

clean
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
Due: prettier, eslint-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
