Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

prettier:
  name: prettier
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run format -- --log-level error; else npm run prettier-check; fi'
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run lint-fix; else npm run eslint; fi'
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --ext .js,.jsx,.ts,.tsx --quiet $([ -z "$SKIP_FIX" ] && echo "--fix") $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: bash -c './scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base'
  language: system
  require_serial: true

feat(embed): get charts payload
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.ts
  superset-frontend/src/embedded/api.tsx
  superset-frontend/src/embedded/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: update swc plugins
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier

fix: Extra controls width for Area Chart on dashboards (#36133)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: prettier, eslint-frontend, type-checking-frontend

comments resolution
  superset/sql/parse.py
  tests/unit_tests/sql/transpile_to_dialect_test.py
Due: none

feat: set undefined as id for tag when readonly (#18)
  superset-frontend/src/components/Tags/TagsList.test.tsx
  superset-frontend/src/components/Tags/TagsList.tsx
  superset-frontend/src/features/allEntities/AllEntitiesTable.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix : ci
  tests/unit_tests/sql/transpile_to_dialect_test.py
Due: none

Update sqlachemy-utils to 0.42.0
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset-core/pyproject.toml
Due: none

Update Styles.js
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/Styles.js
Due: prettier, eslint-frontend, type-checking-frontend

chore(sqllab): add logging for switching south panel tabs (#36168)
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/logger/LogUtils.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: Table chart types headers are offset from the columns in the table (#36190)
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat: explorable protocol
  CACHE_TIMEOUT_REFACTOR.md
  DATABASE_ATTRIBUTE_USAGE.md
  DATABASE_SECURITY_ANALYSIS.md
  EXPLORABLE_CONSOLIDATION_PLAN.md
  EXPLORABLE_IMPLEMENTATION_SUMMARY.md
  GET_TIME_GRAINS_IMPLEMENTATION.md
  SCHEMA_PERM_REFACTOR.md
  TIMEGRAINS_ANALYSIS.md
  superset/common/query_actions.py
  superset/common/query_context.py
  superset/common/query_context_factory.py
  superset/common/query_context_processor.py
  superset/connectors/sqla/models.py
  superset/explorables/base.py
  superset/models/helpers.py
  superset/security/manager.py
  superset/utils/core.py
Due: none

Remove AI artifacts
  CACHE_TIMEOUT_REFACTOR.md
  DATABASE_ATTRIBUTE_USAGE.md
  DATABASE_SECURITY_ANALYSIS.md
  EXPLORABLE_CONSOLIDATION_PLAN.md
  EXPLORABLE_IMPLEMENTATION_SUMMARY.md
  GET_TIME_GRAINS_IMPLEMENTATION.md
  SCHEMA_PERM_REFACTOR.md
  TIMEGRAINS_ANALYSIS.md
Due: none

feat(table): add gradient toggle for conditional formatting
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/types.ts
Due: prettier, eslint-frontend, type-checking-frontend

- Removed glossary from version-6.0.0 - Updated styling for glossary entries
  docs/docs/glossary.mdx
  docs/src/components/KeyValue.tsx
  docs/versioned_docs/version-6.0.0/glossary.mdx
  docs/versioned_sidebars/version-6.0.0-sidebars.json
Due: eslint-docs

Fix lint
  superset/commands/chart/data/streaming_export_command.py
  superset/common/query_actions.py
  superset/common/query_context_factory.py
  superset/common/query_context_processor.py
  superset/connectors/sqla/models.py
  superset/explorables/base.py
  superset/security/manager.py
  superset/thumbnails/digest.py
  superset/utils/core.py
  tests/unit_tests/common/test_time_shifts.py
Due: none

Change glossary to typescript instead of json.
  docs/docs/glossary.mdx
  docs/src/resources/glossary.ts
  docs/static/resources/glossary.json
Due: eslint-docs

Add chart customizations divider support
  superset-frontend/src/dashboard/actions/chartCustomizationActions.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
  superset-frontend/src/dashboard/components/GroupByBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/ActionButtons/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBarSettings/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ConfigModalContent/CustomizationContentRenderer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ConfigModalSidebar/ConfigModalSidebar.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ConfigModalSidebar/ItemSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/DividerConfigForm.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/DraggableFilter.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/DraggableFilter.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ItemTitleContainer.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/ItemTitlePane.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/hooks/useModalSaveLogic.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/utils.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/useFilterFocusHighlightStyles.ts
Due: prettier, eslint-frontend, type-checking-frontend

Prettier
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/DraggableFilter.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/hooks/useModalSaveLogic.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: add test and delete describe
  superset-frontend/src/features/home/DashboardTable.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Remove console log
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Used antd to display the table
  docs/docs/glossary.mdx
  docs/src/components/KeyValue.tsx
  docs/src/resources/glossary.ts
Due: eslint-docs

fix: Keep metrics as undefined when downloading un-aggregated AG Grid to CSV
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

Revert previous commit
  superset-frontend/package-lock.json
  superset-frontend/plugins/legacy-plugin-chart-country-map/package.json
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.js
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.old.js
Due: prettier, eslint-frontend, type-checking-frontend

Added the tables with the js component to allow filtering
  docs/docs/configuration/db_engine_specs.mdx
  docs/docs/configuration/db_features.mdx
  docs/docs/using-superset/db_features.mdx
  docs/src/components/DatabaseTable.jsx
  superset/db_engine_specs/docs_lib.py
Due: eslint-docs

added GlossaryTooltip component to be used within the superset app
  superset-frontend/src/components/GlossaryTooltip/constants.ts
  superset-frontend/src/components/GlossaryTooltip/index.tsx
  superset-frontend/src/components/GlossaryTooltip/types.ts
  superset-frontend/src/components/index.ts
Due: prettier, eslint-frontend, type-checking-frontend

refactor(word-cloud): convert rotation control to React component
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controls/RotationControl.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controls/index.ts
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/controlUtils/getControlState.ts
  superset-frontend/src/utils/getControlsForVizType.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat(mcp): Add flexible input parsing to handle double-serialized requests
  superset/mcp_service/CLAUDE.md
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_available_filters.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_available_filters.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/get_dataset_available_filters.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/mcp_core.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  superset/mcp_service/system/tool/get_instance_info.py
  superset/mcp_service/utils/schema_utils.py
  tests/unit_tests/mcp_service/utils/test_schema_utils.py
Due: none

fix(word-cloud): make rotation and color controls live-update
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controlPanel.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
Due: prettier, eslint-frontend, type-checking-frontend

chore: run prettier
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controls/RotationControl.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: Apply ruff-format to chart schemas
  superset/mcp_service/chart/schemas.py
Due: none

feat(ag-grid): add SQLGlot-based SQL escaping for where and having filter clauses (#36136)
  superset-frontend/packages/superset-ui-core/src/query/types/Query.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/stateConversion.ts
  superset/common/query_object.py
  superset/sql/parse.py
  tests/unit_tests/sql/transpile_to_dialect_test.py
Due: prettier, eslint-frontend, type-checking-frontend

fix(dashboard): add name property to filter_state GET endpoint
  superset/commands/dashboard/filter_state/get.py
  superset/dashboards/filter_state/api.py
  tests/integration_tests/dashboards/filter_state/api_tests.py
Due: none

fix: Columns bleeding into other cells (#36134)
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/Styles.js
Due: prettier, eslint-frontend, type-checking-frontend

feat(dashboards): Add config to filter implicit tags in list API
  superset/config.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/models/dashboard.py
  superset/views/custom_tags_api_mixin.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/superset_test_config.py
Due: none

fix(roles): add missing SQLLab permissions for estimate and format Signed-off-by: shunki-fujita <shunki-fujita@cybozu.co.jp>
  superset/security/manager.py
Due: none

feat: dnd kit migration start
  superset-frontend/spec/helpers/testing-library.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardWrapper.tsx
  superset-frontend/src/dashboard/components/dnd/DragDroppable.tsx
  superset-frontend/src/dashboard/components/dnd/dragDroppableConfig.ts
  superset-frontend/src/embedded/EmbeddedContextProviders.tsx
  superset-frontend/src/views/RootContextProviders.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat(dashboards): Add config to filter implicit tags in list API (#36246)
  superset/config.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/models/dashboard.py
  superset/views/custom_tags_api_mixin.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/superset_test_config.py
Due: none

docs: clarify duplicate report deliveries for alerts & reports
  docs/docs/configuration/alerts-reports.mdx
Due: none

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
