Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

test(semantic-layers): retain post-processing inputs in result identity
  tests/unit_tests/semantic_layers/metadata_result_inspection_test.py
Due: ruff-format, ruff

fix(datasets): keep pre-gate partition mappings editable-safe on unsupported engines
  UPDATING.md
  docs/admin_docs/configuration/partition-filter-mapping.mdx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorPartitionMapping.test.tsx
  superset/commands/dataset/update.py
  tests/unit_tests/commands/dataset/update_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore(translations): add MSSQL port placeholder to messages.pot
  superset/translations/messages.pot
Due: none

fix(explore): refresh derived temporal metadata during semantic sync
  superset-frontend/src/explore/actions/metadataSync.test.ts
  superset-frontend/src/explore/reducers/exploreReducer.ts
  superset-frontend/src/features/versionHistory/sessionLogMiddleware.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(semantic): remove unused import after master merge
  tests/unit_tests/semantic_layers/models_test.py
Due: ruff-format, ruff

test: cover invalid datasource match inputs
  tests/unit_tests/security/typed_datasource_access_test.py
Due: ruff-format, ruff

fix(explore): show saved semantic chart requests and errors
  docs/docs/using-superset/creating-your-first-dashboard.mdx
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModal.test.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModal.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/useExploreAdditionalActionsMenu.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): let current column_config keys overwrite remapped leftovers
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): address native filter divider review nits
  superset/mcp_service/app.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/manage_native_filters.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_manage_native_filters.py
Due: ruff-format, ruff, pylint

fix(retention): preserve shared datasource permission on purge
  superset/commands/deletion_retention/purge_policy.py
  superset/security/manager.py
  tests/integration_tests/deletion_retention/purge_tests.py
Due: ruff-format, ruff, pylint

fix(explore): use a null-prototype object for remapped column_config keys
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(semantic-layer): register a provider type in the guest RLS fixtures
  tests/unit_tests/security/semantic_guest_rls_test.py
Due: ruff-format, ruff

fix(chart): show async task failure detail
  docs/admin_docs/configuration/async-queries-celery.mdx
  superset-frontend/src/middleware/asyncEvent.test.ts
  superset-frontend/src/middleware/asyncEvent.ts
  superset/tasks/api.py
  superset/tasks/schemas.py
  tests/integration_tests/tasks/api_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(dashboard): refresh semantic metadata across edits
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/actions/dashboardState.test.ts
  superset-frontend/src/dashboard/actions/dashboardState.ts
  superset-frontend/src/dashboard/actions/datasources.test.ts
  superset-frontend/src/dashboard/actions/datasources.ts
  superset-frontend/src/dashboard/containers/DashboardPage.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.test.ts
  superset-frontend/src/dashboard/reducers/dashboardInfo.ts
  superset-frontend/src/dashboard/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): add fixtures and custom user model mock for event listener testing
  tests/unit_tests/models/dashboard_test.py
Due: ruff-format, ruff

test(dashboard): add failing TDD test for custom user model dashboard copy
  tests/unit_tests/models/dashboard_test.py
Due: ruff-format, ruff

feat(dashboard): implement dynamic event listener registration on security_manager.user_model
  superset/initialization/__init__.py
  superset/models/dashboard.py
Due: ruff-format, ruff, pylint

refactor(dashboard): define dynamic user model listener interface and function signature
  superset/models/dashboard.py
Due: ruff-format, ruff, pylint

fix(dashboard): isolate session in copy_dashboard to prevent SQLAlchemy FlushError
  superset/models/dashboard.py
Due: ruff-format, ruff, pylint

refactor(dashboard): modularize copy_dashboard user lookup and cleanup session handling
  superset/models/dashboard.py
Due: ruff-format, ruff, pylint

fix(security): update ExcludeUsersFilter to use current_app.appbuilder.sm.user_model
  superset/security/manager.py
  tests/unit_tests/models/dashboard_test.py
Due: ruff-format, ruff, pylint

test(dashboard): consolidate evidence gate for custom user model verification
  superset/models/dashboard.py
  tests/unit_tests/models/dashboard_test.py
Due: ruff-format, ruff, pylint

style(dashboard): format and lint modified files with ruff
  superset/models/dashboard.py
  tests/unit_tests/models/dashboard_test.py
Due: ruff-format, ruff, pylint

docs(dashboard): add docstrings and typing for dynamic user model listeners
  superset/models/dashboard.py
Due: ruff-format, ruff, pylint

fix(security): resolve username column safely in ExcludeUsersFilter
  superset/security/manager.py
Due: ruff-format, ruff, pylint

ci: skip jobs that cannot complete on forks and private mirrors
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/frontend-bundle-size-nightly.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/python-nightly-canary.yml
  .github/workflows/scripts/check-code-scanning-available.sh
  .github/workflows/scripts/check-code-scanning-available.test.sh
  .github/workflows/showtime-cleanup.yml
  .github/workflows/superset-docs-verify.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-translations.yml
  .github/workflows/testcontainers.yml
Due: none

test(pandas_postprocessing): add failing TDD test for mixed column mapping duplication
  tests/unit_tests/pandas_postprocessing/test_utils.py
Due: ruff-format, ruff

test(pandas_postprocessing): add fixtures and sample dataframes for append_columns
  tests/unit_tests/pandas_postprocessing/test_utils.py
Due: ruff-format, ruff

refactor(pandas_postprocessing): preserve base_df immutability and optimize memory copies
  superset/utils/pandas_postprocessing/utils.py
Due: ruff-format, ruff, pylint

refactor(pandas_postprocessing): define helper interfaces for column overwrite and append
  superset/utils/pandas_postprocessing/utils.py
Due: ruff-format, ruff, pylint

fix(pandas_postprocessing): handle unmapped column discarding and multiindex edge cases
  superset/utils/pandas_postprocessing/utils.py
Due: ruff-format, ruff, pylint

docs(pandas_postprocessing): add docstrings and comments explaining column mapping semantics
  superset/utils/pandas_postprocessing/utils.py
Due: ruff-format, ruff, pylint

feat(pandas_postprocessing): implement selective column assignment logic
  superset/utils/pandas_postprocessing/utils.py
Due: ruff-format, ruff, pylint

style(pandas_postprocessing): run ruff linter and code formatting
  tests/unit_tests/pandas_postprocessing/test_utils.py
Due: ruff-format, ruff

test(pandas_postprocessing): add extended regression test cases across pandas postprocessing
  tests/unit_tests/pandas_postprocessing/test_utils.py
Due: ruff-format, ruff

chore(pandas_postprocessing): consolidate evidence gate and verify zero duplicate labels
  tests/unit_tests/pandas_postprocessing/test_utils.py
Due: ruff-format, ruff

test(dao): add failing TDD test for native filters remapping on dashboard duplication
  tests/unit_tests/dao/dashboard_test.py
Due: ruff-format, ruff

test(dao): add fixtures and sample dashboard metadata with native filters
  tests/unit_tests/dao/dashboard_test.py
Due: ruff-format, ruff

refactor(dao): define helper interface for native filter scope remapping
  superset/daos/dashboard.py
Due: ruff-format, ruff, pylint

feat(dao): implement chartsInScope and scope.excluded remapping in copy_dashboard
  superset/daos/dashboard.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
