Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(gtf): keep per-tab subscribers across executor writes; stable guest subscriber key (#43911)
  docs/developer_docs/extensions/tasks.md
  superset-core/src/superset_core/tasks/models.py
  superset-core/src/superset_core/tasks/subscription.py
  superset-core/src/superset_core/tasks/types.py
  superset-frontend/src/features/tasks/TaskPayloadPopover.test.tsx
  superset-frontend/src/features/tasks/TaskPayloadPopover.tsx
  superset-frontend/src/features/tasks/types.ts
  superset/daos/tasks.py
  superset/models/tasks.py
  superset/tasks/async_queries.py
  superset/tasks/guest.py
  superset/tasks/utils.py
  tests/integration_tests/tasks/commands/test_cancel.py
  tests/unit_tests/daos/test_tasks.py
  tests/unit_tests/tasks/test_async_queries.py
  tests/unit_tests/tasks/test_guest.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

ci: stage the spec diff to a file before summarizing it
  .github/workflows/check-openapi-spec-drift.yml
Due: none

ci: trim the spec drift check to its constraints
  .github/workflows/check-openapi-spec-drift.yml
Due: none

fix(sqllab): correct Run dropdown crash and caret color regression (#43849)
  superset-frontend/packages/superset-ui-core/src/components/DropdownButton/DropdownButton.test.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/RunQueryActionButton.test.tsx
  superset-frontend/src/SqlLab/components/RunQueryActionButton/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(dashboard): drop the unreachable empty-tabs guard
  superset/commands/dashboard/update.py
Due: ruff-format, ruff, pylint

feat(gunicorn): statsd support (#32487)
  docker/entrypoints/run-server.sh
  docs/admin_docs/configuration/event-logging.mdx
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Due: none

Update index.yaml
  index.yaml
Due: none

ci: show the spec diff when the staleness check fails (#43912)
  .github/workflows/check-openapi-spec-drift.yml
Due: none

refactor(sqllab): generalize left sidebar rail into view containers
  superset-frontend/packages/superset-core/src/contributions/index.ts
  superset-frontend/packages/superset-core/src/sqlLab/index.ts
  superset-frontend/packages/superset-core/src/views/index.ts
  superset-frontend/spec/helpers/extensionTestHelpers.ts
  superset-frontend/src/SqlLab/components/AppLayout/AppLayout.test.tsx
  superset-frontend/src/SqlLab/components/AppLayout/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/LeftBarRail.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/LeftBarViewSettingsPanel.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/LeftBarViewSettingsPanel.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/SqlEditorLeftBar.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/builtins.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/hooks/useLeftBarLayout.test.ts
  superset-frontend/src/SqlLab/hooks/useLeftBarLayout.ts
  superset-frontend/src/SqlLab/hooks/useLeftBarTabs.test.ts
  superset-frontend/src/SqlLab/hooks/useLeftBarTabs.ts
  superset-frontend/src/SqlLab/hooks/useManageableLeftBarEntries.ts
  superset-frontend/src/components/ViewListExtension/ViewListExtension.test.tsx
  superset-frontend/src/core/sqlLab/LeftBarViewHost.test.tsx
  superset-frontend/src/core/sqlLab/LeftBarViewHost.tsx
  superset-frontend/src/core/sqlLab/index.ts
  superset-frontend/src/core/sqlLab/leftBarViews.test.ts
  superset-frontend/src/core/sqlLab/leftBarViews.ts
  superset-frontend/src/core/views/index.test.ts
  superset-frontend/src/core/views/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(time-format): share DateWithFormatter and stop reading four-digit years as epoch offsets
  superset-frontend/packages/superset-ui-core/src/time-format/DateWithFormatter.ts
  superset-frontend/packages/superset-ui-core/src/time-format/index.ts
  superset-frontend/packages/superset-ui-core/src/time-format/utils/stringifyTimeInput.ts
  superset-frontend/packages/superset-ui-core/test/time-format/DateWithFormatter.test.ts
  superset-frontend/packages/superset-ui-core/test/time-format/utils/stringifyTimeInput.test.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/formatValue.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/utils/formatDurationValue.test.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/utils/DateWithFormatter.ts
  superset-frontend/plugins/plugin-chart-table/src/utils/formatValue.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/utils/formatDurationValue.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(gtf): thread per-dashboard async_mode override into self-contained charts
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/ChartContainer.tsx
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
  superset-frontend/src/utils/asyncMode.ts
  superset/tasks/utils.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(sqllab): restore sql-editor-left-bar test id on left bar content
  superset-frontend/src/SqlLab/components/AppLayout/AppLayout.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): trim restated-what filler from native-filter url-key spec comment
  superset-frontend/playwright/tests/dashboard/dashboard-native-filter-url-key.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(gtf): thread per-dashboard async_mode override into self-contained charts (#43915)
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Chart/ChartContainer.tsx
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
  superset-frontend/src/utils/asyncMode.ts
  superset/tasks/utils.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(dashboard): drop migration-history framing from url-key spec comment
  superset-frontend/playwright/tests/dashboard/dashboard-native-filter-url-key.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(docker): speed up image builds and the compose dev loop
  Dockerfile
  UPDATING.md
  docker-compose.yml
  docker/.env
  docker/docker-bootstrap.sh
  docker/docker-frontend.sh
  docker/docker-init.sh
  docs/admin_docs/installation/docker-compose.mdx
  docs/developer_docs/contributing/development-setup.md
Due: none

fix(plugin-chart-pivot-table): sticky-position row labels and corner header cells
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/Styles.ts
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/Styles.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(import): cover the absent-table path of the has_table check
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Due: ruff-format, ruff

fix(dashboard): resolve chart datasources across types in access checks (#43781)
  UPDATING.md
  superset/dashboards/filters.py
  superset/models/slice.py
  superset/security/manager.py
  tests/unit_tests/dashboards/semantic_view_access_test.py
  tests/unit_tests/subjects/test_raise_for_access.py
Due: ruff-format, ruff, pylint

fix(versioning): keep the dashboard version-history panel inside the viewport (#43836)
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(versioning): match version-history search on the change author name (#43835)
  superset/versioning/activity/orchestrator.py
  tests/unit_tests/versioning/test_activity.py
Due: ruff-format, ruff, pylint

fix(versioning): bound dashboard related history by the chart attach window (#43837)
  superset/versioning/activity/queries.py
  tests/unit_tests/versioning/test_activity.py
Due: ruff-format, ruff, pylint

docs: seed SQL Lab → GTF epic umbrella branch with design doc
  SQL_EXECUTION_GTF.md
Due: none

refactor(sql): share CTAS/limit helpers + add cancel seam to the execution feature
  superset-core/src/superset_core/queries/types.py
  superset/sql/execution/executor.py
  superset/sql_lab.py
Due: ruff-format, ruff, pylint

fix(dataset): bump changed_on on column refresh so chart cache invalidates
  superset/connectors/sqla/models.py
  tests/integration_tests/datasets/api_tests.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

fix(dataset): drop nested physical leftovers on column refresh
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

test(datasource): cover the query endpoint's time-range cache key
  tests/unit_tests/common/test_tabular_query_cache_key.py
Due: ruff-format, ruff

fix(cache): key on resolved bounds when a query has no time_range
  superset/common/query_object.py
  tests/unit_tests/common/test_tabular_query_cache_key.py
Due: ruff-format, ruff, pylint

fix(dashboard): don't 500 on inconsistent position_json (#43575)
  superset/commands/dashboard/update.py
  superset/models/dashboard.py
  tests/unit_tests/commands/dashboard/update_test.py
  tests/unit_tests/dashboards/api_test.py
  tests/unit_tests/models/dashboard_test.py
Due: ruff-format, ruff, pylint

docs(mcp): note MCP_STATELESS_HTTP disconnect can affect other sessions on the same worker
  docs/admin_docs/configuration/mcp-server.mdx
Due: none

docs(reports): address review feedback on retry-on-failure docs
  docs/admin_docs/configuration/alerts-reports.mdx
Due: none

docs(mcp): describe delete_chart/delete_dashboard permission as editorship
  docs/docs/using-superset/using-ai-with-superset.mdx
Due: none

docs(i18n): clarify no-cache semantics for stale language pack URLs
  docs/admin_docs/configuration/configuring-superset.mdx
Due: none

fix(plugin-chart-pivot-table): assert non-sticky intent instead of literal 'inherit'
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/Styles.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(i18n): note that a translation update needs a worker restart
  docs/admin_docs/configuration/configuring-superset.mdx
Due: none

docs(reports): address remaining review feedback on retry-on-failure docs
  docs/admin_docs/configuration/alerts-reports.mdx
Due: none

test(e2e): wait for the archive list's fetch to settle before filtering
  superset-frontend/playwright/tests/recently-archived/recently-archived.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docker): proxy unprefixed /static/ in the dev nginx template too
  docker/nginx/templates/superset.conf.template
Due: none

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
