Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(extensions): query Explore's current controls and own state
  superset-frontend/src/core/explore/index.test.ts
  superset-frontend/src/core/explore/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): address review feedback on dashboard/explore core API
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/packages/superset-core/src/explore/index.ts
  superset-frontend/src/core/dashboard/index.test.ts
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/core/explore/index.test.ts
  superset-frontend/src/core/explore/index.ts
  superset-frontend/src/dashboard/util/charts/getFormDataWithExtraFilters.ts
  superset-frontend/src/dashboard/util/getFormDataWithExtraFilters.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(extensions): fix oxfmt formatting in Explore core API test
  superset-frontend/src/core/explore/index.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(extensions): add getActiveTabs to dashboard core API
  superset-frontend/packages/superset-core/src/dashboard/index.ts
  superset-frontend/src/core/dashboard/index.test.ts
  superset-frontend/src/core/dashboard/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor to a shared function and fix spec
  superset-frontend/src/core/explore/index.test.ts
  superset-frontend/src/core/explore/index.ts
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
  superset-frontend/src/explore/controlUtils/getVisibleFormDataFromControls.ts
  superset-frontend/src/explore/controlUtils/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix test
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
  superset-frontend/src/explore/components/Control.test.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigControl.test.tsx
  superset-frontend/src/explore/components/controls/ColumnConfigControl/ColumnConfigControl.tsx
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/HeaderGroupsControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): align histogram and waterfall query contracts (#44744)
  superset/mcp_service/chart/plugins/waterfall.py
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_preview_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_type_schema.py
Due: ruff-format, ruff, pylint

ci(python): run the Python-next canary nightly, bump to 3.13 (#44767)
  .github/actions/setup-backend/action.yml
  .github/workflows/python-nightly-canary.yml
  .github/workflows/superset-python-unittest.yml
  requirements/development.in
  requirements/development.txt
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_tool_inventory.py
Due: ruff-format, ruff, pylint

feat(semantic): add optional metadata refresh SDK contract
  docs/developer_docs/extensions/contribution-types.md
  docs/developer_docs/semantic-metadata-contract.md
  superset-core/src/superset_core/semantic_layers/layer.py
  superset-core/src/superset_core/semantic_layers/metadata.py
  superset-core/src/superset_core/semantic_layers/view.py
  tests/unit_tests/semantic_layers/metadata_contract_test.py
Due: ruff-format, ruff, pylint

fix(extensions): match extension-view route grammar to the Flask host route
  superset-frontend/src/core/contributions.ts
  superset-frontend/src/pages/ExtensionView/index.test.tsx
  superset-frontend/src/pages/ExtensionView/index.tsx
  superset-frontend/src/views/routePaths.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(redshift): expect supports_dynamic_catalog in /database/available/
  tests/integration_tests/databases/api_tests.py
Due: ruff-format, ruff

fix(mcp): refuse template syntax in dashboard filter values
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/dashboard_scope.py
  superset/mcp_service/dashboard_scope_sql.py
  superset/utils/rls.py
  tests/unit_tests/mcp_service/test_dashboard_scope.py
  tests/unit_tests/mcp_service/test_dashboard_scope_sql.py
Due: ruff-format, ruff, pylint

add test
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(version-history): use typed app dispatch (#44438)
  superset-frontend/src/features/versionHistory/ChartVersionPreview.tsx
  superset-frontend/src/features/versionHistory/DashboardVersionHistory.tsx
  superset-frontend/src/features/versionHistory/ExploreVersionHistory.tsx
  superset-frontend/src/features/versionHistory/PreviewBanner.tsx
  superset-frontend/src/features/versionHistory/useDashboardVersionPreview.ts
  superset-frontend/src/features/versionHistory/useVersionActions.test.tsx
  superset-frontend/src/features/versionHistory/useVersionActions.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): tighten guest-token scoping for annotations, result types, and channels (#43391)
  superset/embedded/view.py
  superset/security/manager.py
  tests/integration_tests/embedded/test_view.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(views): return 401 for NoAuthorizationError in handle_api_exception (SC-121647) (#44533)
  superset/views/error_handling.py
  tests/unit_tests/views/test_error_handling.py
Due: ruff-format, ruff, pylint

fix(security): exempt health blueprint from forced password changes (#44504)
  docs/admin_docs/configuration/configuring-superset.mdx
  superset/security/password_change.py
  tests/unit_tests/security/test_password_change.py
Due: ruff-format, ruff, pylint

fix(pinot): require the SQLAlchemy 2 driver extra (#44287)
  UPDATING.md
  docs/src/data/databases.json
  pyproject.toml
  superset/db_engine_specs/pinot.py
  tests/unit_tests/db_engine_specs/test_pinot.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(chart): require edit rights for query-context-only updates (#44494)
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset/commands/chart/update.py
  tests/integration_tests/charts/commands_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/unit_tests/commands/chart/update_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(db2): Use DATE_TRUNC to improve timegrain expressions (#43236)
  UPDATING.md
  superset/db_engine_specs/db2.py
  superset/db_engine_specs/ibmi.py
  tests/unit_tests/db_engine_specs/test_db2.py
  tests/unit_tests/db_engine_specs/test_ibmi.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mongodb): treat the Mongo database as the SQL Lab schema so Data Preview returns rows (#44141)
  superset/db_engine_specs/mongodb.py
  tests/unit_tests/db_engine_specs/test_mongodb.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(export): keep the acting user in streaming CSV exports (#44425)
  superset/commands/streaming_export/base.py
  tests/unit_tests/commands/chart/streaming_export_command_test.py
Due: ruff-format, ruff, pylint

fix(dataset): bump changed_on on column refresh so chart cache invalidates (#43921)
  superset/connectors/sqla/models.py
  tests/integration_tests/datasets/api_tests.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

fix(mcp): return a specific error per failure class on tool calls (#44387)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/compile.py
  superset/mcp_service/constants.py
  superset/mcp_service/middleware.py
  tests/unit_tests/mcp_service/test_error_classification.py
Due: ruff-format, ruff, pylint

fix(mcp): stop data tool responses crashing on binary and NaT values (#44495)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/semantic_layer/schemas.py
  superset/mcp_service/sql_lab/schemas.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/utils/response_utils.py
  superset/mcp_service/utils/serialization.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
  tests/unit_tests/mcp_service/test_response_serialization.py
  tests/unit_tests/mcp_service/utils/test_serialization.py
Due: ruff-format, ruff, pylint

fix(dashboard): don't register an active tab for childless TABS components (#44345)
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Tabs/Tabs.tsx
  superset-frontend/src/dashboard/components/gridComponents/TabsRenderer/TabsRenderer.tsx
  superset-frontend/src/dashboard/reducers/dashboardState.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): prevent and repair self-nested layout components (#44303)
  superset-frontend/src/dashboard/actions/hydrate.test.ts
  superset-frontend/src/dashboard/actions/hydrate.ts
  superset-frontend/src/dashboard/reducers/dashboardLayout.test.ts
  superset-frontend/src/dashboard/reducers/dashboardLayout.ts
  superset-frontend/src/dashboard/util/getDropPosition.test.ts
  superset-frontend/src/dashboard/util/getDropPosition.ts
  superset-frontend/src/dashboard/util/removeUnreachableComponents.test.ts
  superset-frontend/src/dashboard/util/removeUnreachableComponents.ts
  superset-frontend/src/dashboard/util/updateComponentParentsList.test.ts
  superset-frontend/src/dashboard/util/updateComponentParentsList.ts
  superset/commands/dashboard/update.py
  superset/daos/dashboard.py
  superset/dashboards/layout.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  tests/unit_tests/commands/dashboard/update_test.py
  tests/unit_tests/dao/dashboard_test.py
  tests/unit_tests/dashboards/layout_test.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(extensions): preserve chat state across display modes (#44490)
  docs/developer_docs/extensions/extension-points/chat.md
  superset-frontend/src/core/chat/ChatHost.tsx
  superset-frontend/src/views/App.test.tsx
  superset-frontend/src/views/App.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart): allow semantic view datasource when saving charts (#44169)
  superset/models/dashboard.py
  superset/security/manager.py
  tests/integration_tests/charts/api_tests.py
  tests/unit_tests/charts/test_filters.py
  tests/unit_tests/commands/chart/create_test.py
  tests/unit_tests/commands/chart/update_test.py
  tests/unit_tests/dao/test_query_stop_race.py
  tests/unit_tests/models/dashboard_test.py
  tests/unit_tests/semantic_layers/models_test.py
  tests/unit_tests/subjects/test_raise_for_access.py
Due: ruff-format, ruff, pylint

fix(i18n): stop f-strings in gettext leaking a bogus msgid on Python 3.12 (#44584)
  pyproject.toml
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint

fix(dashboard): show loading spinner for charts outside an in-flight auto-refresh batch (#44272)
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.test.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderAutoRefresh.ts
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
  superset-frontend/src/dashboard/contexts/AutoRefreshContext.test.tsx
  superset-frontend/src/dashboard/contexts/AutoRefreshContext.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(export): stamp ZIP entries with the export time (#44391)
  superset/charts/api.py
  superset/cli/importexport.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/importexport/api.py
  superset/queries/saved_queries/api.py
  superset/themes/api.py
  superset/utils/core.py
  tests/unit_tests/utils/create_zip_tests.py
Due: ruff-format, ruff, pylint

fix(db_engine_specs): raise SupersetGenericDBErrorException instead of bare-reraising JSONDecodeError (#44616)
  superset/db_engine_specs/base.py
  tests/unit_tests/db_engine_specs/test_base.py
Due: ruff-format, ruff, pylint

fix(utils): return None from cast_to_num for non-decimal digit strings (#44615)
  superset/utils/core.py
  tests/unit_tests/utils/test_core.py
Due: ruff-format, ruff, pylint

fix(dashboard): initialize label colors before mounting charts (#44557)
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mongodb): route dataset FROM clauses through quote_table so chart queries return rows (#44583)
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/mongodb.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/db_engine_specs/test_mongodb.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(logging): record dashboard_id and slice_id for REST mutation endpoints (#44553)
  superset/charts/api.py
  superset/dashboards/api.py
  superset/utils/log.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/unit_tests/utils/log_tests.py
Due: ruff-format, ruff, pylint

fix(query_context): raise 422 not 500 on malformed Jinja in Query datasource access check (#44011)
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint

fix(security): apply global guest RLS rules inside adhoc sub-queries (#44645)
  UPDATING.md
  superset/models/helpers.py
  superset/utils/rls.py
  tests/unit_tests/models/test_virtual_dataset_format.py
  tests/unit_tests/security/guest_rls_test.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff, pylint

fix(table): resolve auto-detected currency on time comparison columns (#44649)
  superset-frontend/packages/superset-ui-core/src/currency-format/utils.ts
  superset-frontend/packages/superset-ui-core/test/currency-format/utils.test.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/test/TableChart.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
