Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(mcp): mock RBAC permission check in integration tests
  tests/unit_tests/mcp_service/conftest.py
Due: ruff-format, ruff

fix: resolve ruff line-too-long and import ordering issues
  superset-core/src/superset_core/mcp/decorators.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff, pylint

fix(mcp): use explicit MagicMock for security_manager in RBAC tests
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff

fix(mcp): use correct FAB permission names for SQL Lab RBAC checks
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
Due: ruff-format, ruff, pylint

fix: add -> None return type hints to all test functions in test_auth_rbac.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff

fix(mcp): add MCP_RBAC_ENABLED config flag for RBAC permission checks
  superset/mcp_service/auth.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/conftest.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff, pylint

fix(mcp): address RBAC review comments
  superset/mcp_service/auth.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff, pylint

feat(mcp): implement RBAC permission checking for MCP tools
  superset-core/src/superset_core/mcp/decorators.py
  superset/core/mcp/core_mcp_injection.py
  superset/mcp_service/auth.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff, pylint

Revert some aggressive renames
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/components/Datasource/DatasourceModal/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/explore/components/DatasourcePanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/ViewQueryModalFooter.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Update superset-frontend/packages/superset-ui-chart-controls/src/components/ControlSubSectionHeader.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/components/ControlSubSectionHeader.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): implement RBAC permission checking for MCP tools (#38407)
  superset-core/src/superset_core/mcp/decorators.py
  superset/core/mcp/core_mcp_injection.py
  superset/mcp_service/auth.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  tests/unit_tests/mcp_service/conftest.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff, pylint

style: add weight to metadata bar title
  superset-frontend/packages/superset-ui-core/src/components/MetadataBar/ContentConfig.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs: move MCP deployment guide to admin docs, add user-facing AI guide (#38585)
  docs/admin_docs/configuration/mcp-server.mdx
  docs/developer_docs/sidebars.js
  docs/docs/using-superset/using-ai-with-superset.mdx
Due: eslint-docs

fix: regenerate package-lock.json for npm ci compatibility
  superset-frontend/package-lock.json
Due: prettier-frontend

fix: add embedded box sizing rule for layout (#38351)
  superset-frontend/src/embedded/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: add parent_slice_id for multilayer charts to embed (#38243)
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/Multi/Multi.test.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/Multi/Multi.tsx
  superset-frontend/src/components/Chart/chartReducers.test.ts
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Improve onDidChangeContent event
  superset-frontend/packages/superset-core/src/editors/index.ts
  superset-frontend/src/core/editors/AceEditorProvider.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Address codeant suggestion
  superset-frontend/src/core/editors/AceEditorProvider.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style: changes header boldness
  superset-frontend/packages/superset-ui-core/src/components/MetadataBar/ContentConfig.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(world-map): add fallback fill color when colorFn returns null
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(world-map): guard d3Extent domain and add color fallback tests
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/test/WorldMap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix formatting
  superset-frontend/src/core/editors/AceEditorProvider.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(alerts/reports): close remaining Phase 1 test gaps
  superset-frontend/src/features/alerts/AlertReportModal.test.tsx
  superset-frontend/src/features/reports/ReportModal/ReportModal.test.tsx
  superset-frontend/src/pages/AlertReportList/AlertReportList.test.tsx
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/reports/api_test.py
  tests/unit_tests/reports/dao_test.py
  tests/unit_tests/reports/filters_test.py
  tests/unit_tests/reports/notifications/slack_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix: silence deprecation warnings causing noisy production logs (#38128)
  superset/charts/schemas.py
  superset/db_engine_specs/databend.py
  superset/models/core.py
  superset/models/helpers.py
  superset/utils/logging_configurator.py
  superset/utils/pandas_postprocessing/resample.py
  superset/viz.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mcp): replace uuid with url and changed_on_humanized in default list columns
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/common/schema_discovery.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/list_datasets.py
  tests/unit_tests/mcp_service/chart/tool/test_list_charts.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
Due: ruff-format, ruff, pylint

Fix lint
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(db-modal): update doc refs for DB connection modal (#38091)
  superset-frontend/src/features/databases/DatabaseModal/ModalHeader.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): prevent double RLS application in virtual datasets (#37395)
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  superset/utils/rls.py
  tests/unit_tests/models/test_double_rls_virtual_dataset.py
  tests/unit_tests/security/guest_rls_test.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff, pylint

Update superset/views/core.py
  superset/views/core.py
Due: ruff-format, ruff, pylint

fix(mcp): extract role names as strings in UserInfo serialization
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/system/schemas.py
Due: ruff-format, ruff, pylint

test(mcp): add tests for serialize_user_object role extraction
  tests/unit_tests/mcp_service/system/test_serialize_user_object.py
Due: ruff-format, ruff

fix(views): add type annotation for coltypes to satisfy mypy var-annotated check
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset/views/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): extract role names as strings in UserInfo serialization (#38612)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/system/schemas.py
  tests/unit_tests/mcp_service/system/test_serialize_user_object.py
Due: ruff-format, ruff, pylint

refactor(mcp): use serialize_user_object in get_instance_info
  superset/mcp_service/system/tool/get_instance_info.py
  tests/unit_tests/mcp_service/system/tool/test_get_current_user.py
Due: ruff-format, ruff, pylint

fix(extensions): fix gitignore template and bump version
  superset-extensions-cli/pyproject.toml
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/src/superset_extensions_cli/templates/gitignore.j2
Due: ruff-format, ruff, pylint

fix(bug): Error when adding a filter using custom sql (#38246)
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/AdhocFilterEditPopoverSqlTabContent.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
