Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix: type probing (#38889)
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/druid.py
  superset/db_engine_specs/pinot.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(dataset): add missing currency_code_column to DatasetPostSchema (#38853)
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getColorFormatters.ts
  superset-frontend/packages/superset-ui-chart-controls/test/utils/getColorFormatters.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/components/Matrixify/MatrixifyGridGenerator.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/types/matrixify.test.ts
  superset-frontend/packages/superset-ui-core/src/chart/types/matrixify.ts
  superset/datasets/schemas.py
  tests/integration_tests/datasets/api_tests.py
  tests/unit_tests/datasets/schema_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(reports): PUT with empty recipients list does not persist the change (#38711)
  superset/daos/report.py
  superset/reports/schemas.py
  tests/integration_tests/reports/api_tests.py
Due: ruff-format, ruff, pylint

fix(dataset): add email field to owners_data for Chart Explore path (#38836)
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

fix(sqllab): long cell content overflooding (#38855)
  superset-frontend/src/components/FilterableTable/utils.tsx
  superset-frontend/src/components/JsonModal/index.tsx
  superset-frontend/src/components/JsonModal/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): migrate from window.history to React Router history API (#38887)
  superset-frontend/src/explore/actions/hydrateExplore.ts
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
  superset-frontend/src/explore/components/SaveModal.test.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/hooks/useUnsavedChangesPrompt/index.ts
  superset-frontend/src/hooks/useUnsavedChangesPrompt/useUnsavedChangesPrompt.test.tsx
  superset-frontend/src/pages/Chart/Chart.test.tsx
  superset-frontend/src/pages/Chart/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(Timeseries): dedup x axis labels (#38733)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): invalid treeview folder expansion (#38897)
  superset-frontend/src/SqlLab/components/TableExploreTree/TableExploreTree.test.tsx
  superset-frontend/src/SqlLab/components/TableExploreTree/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): remove @parse_request decorator for cleaner tool schemas (#38918)
  superset/mcp_service/auth.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  superset/mcp_service/sql_lab/tool/save_sql_query.py
  superset/mcp_service/system/tool/get_instance_info.py
  superset/mcp_service/system/tool/get_schema.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_save_sql_query.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
Due: ruff-format, ruff, pylint

move logic from backend to frontend
  superset-frontend/src/dashboard/hooks/useDownloadScreenshot.test.ts
  superset-frontend/src/dashboard/hooks/useDownloadScreenshot.ts
  superset/dashboards/api.py
  tests/integration_tests/dashboards/api_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): address review — restore tabbed dashboard guard and remove finally cleanup
  superset/mcp_service/auth.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

fix(mcp): prevent GRID_ID injection into ROOT_ID on tabbed dashboards (#38890)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): populate chart_count and published in fallback DashboardInfo
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
Due: ruff-format, ruff, pylint

fix(pivot-table): safely cast numeric strings to numbers for date formatting
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

handle innapropriate values
  superset/reports/models.py
  tests/unit_tests/reports/model_test.py
Due: ruff-format, ruff, pylint

feat(mcp): support saved metrics from datasets in chart generation
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/validation/dataset_validator.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): handle saved metrics in HandlebarsChartConfig and chart name generation
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): validate dataset exists in generate_explore_link before generating URL (#38951)
  superset/mcp_service/explore/tool/generate_explore_link.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff, pylint

fix(mcp): fix capabilities classification and metric field descriptions for saved metrics
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

refactor(mcp): add ColumnRef.is_metric property to centralize metric detection
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

fix(mcp): validate saved_metric refs against dataset metrics specifically
  superset/mcp_service/chart/validation/dataset_validator.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

fix(bubble): Fix Bubble chart axis label rotation
  superset-frontend/plugins/plugin-chart-echarts/src/Bubble/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(select): ensure filter dropdown matches input field width (#38886)
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(pivot-table): apply prettier formatting to test file
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): validate saved metrics before column existence check
  superset/mcp_service/chart/validation/dataset_validator.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

fix(mcp): prevent PendingRollbackError from poisoned sessions after SSL drops (#38934)
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

feat(mcp): support saved metrics from datasets in chart generation (#38955)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/validation/dataset_validator.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

refactor(auth): move upstream OAuth provider config to database encrypted_extra
  superset/config.py
  superset/models/core.py
  superset/security/manager.py
  superset/utils/oauth2.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint, feature-flags-sync

test(sql-lab): fix test_run_succeeds and add unauthorized access test
  tests/integration_tests/sql_lab/commands_tests.py
Due: ruff-format, ruff

fix(mcp): move g.user clearing into _setup_user_context for Python 3.10 compat
  superset/mcp_service/auth.py
Due: ruff-format, ruff, pylint

fix(mcp): improve stale g.user test assertions to verify clearing behavior
  tests/unit_tests/mcp_service/test_auth_user_resolution.py
Due: ruff-format, ruff

fix(mcp): prevent stale g.user from causing user impersonation across tool calls
  superset/mcp_service/SECURITY.md
  superset/mcp_service/auth.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/test_auth_user_resolution.py
Due: ruff-format, ruff, pylint

fix(mcp): extract _resolve_user_from_api_key to reduce C901 complexity
  superset/mcp_service/auth.py
Due: ruff-format, ruff, pylint

fix(mcp): address review comments on auth user resolution
  superset/mcp_service/auth.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/test_auth_user_resolution.py
Due: ruff-format, ruff, pylint

fix cherry-pick artifacts
  superset/models/core.py
Due: ruff-format, ruff, pylint

fix(mcp): update API key test for new auth priority order
  tests/unit_tests/mcp_service/test_auth_api_key.py
Due: ruff-format, ruff

fix(mcp): remove pytest.fixture parentheses to match codebase convention
  tests/unit_tests/mcp_service/test_auth_api_key.py
Due: ruff-format, ruff

fix(Timeseries): preserve x_axis_time_format value when control is hidden
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Improve README clarity and consistency
  README.md
Due: none

fix(mcp): mock has_request_context in g.user clearing tests for CI compat
  tests/unit_tests/mcp_service/test_auth_user_resolution.py
Due: ruff-format, ruff
