Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

Move test
  superset-frontend/packages/superset-core/src/utils/logging.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: cache warmup using WebDriver for reliable authentication
  docs/admin_docs/configuration/cache.mdx
  superset/config.py
  superset/tasks/cache.py
  superset/utils/screenshots.py
  superset/utils/webdriver.py
  tests/integration_tests/strategy_tests.py
  tests/integration_tests/tasks/test_cache.py
  tests/integration_tests/tasks/test_utils.py
  tests/integration_tests/thumbnails_tests.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix: Prevent 'Working outside of application context' errors on Celery
  superset/tasks/celery_app.py
Due: ruff-format, ruff, pylint

Test fixes
  superset-frontend/src/SqlLab/components/EditorAutoSync/EditorAutoSync.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row/Row.tsx
  superset-frontend/src/utils/export.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(pivot-table): add tests for number casting in date formatting for column and row headers
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mixed chart): respect truncate_metric setting for series names (#38190)
  project_structure.txt
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/types.ts
  superset/static/service-worker.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(frontend): add failing tests for ensureAppRoot absolute URL passthrough
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/utils/pathUtils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(frontend): preserve absolute and protocol-relative URLs in ensureAppRoot
  superset-frontend/src/utils/pathUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(frontend): restrict ensureAppRoot to safe URI schemes (XSS prevention)
  superset-frontend/src/utils/pathUtils.test.ts
  superset-frontend/src/utils/pathUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(frontend): consolidate repeated absolute URL literals into constants
  superset-frontend/src/utils/pathUtils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(frontend): update makeUrl docstring and pin URI scheme edge case
  superset-frontend/src/utils/pathUtils.test.ts
  superset-frontend/src/utils/pathUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): revert webpack regression, gate font injection on theme success, assert owner-grant
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/playwright/tests/experimental/dashboard/theme.spec.ts
  superset-frontend/src/components/CrudThemeProvider.test.tsx
  superset-frontend/src/components/CrudThemeProvider.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Extract rest api decorator
  superset-core/src/superset_core/rest_api/api.py
  superset-core/src/superset_core/rest_api/decorators.py
  superset/core/api/core_api_injection.py
Due: ruff-format, ruff, pylint

style(security): apply ruff-format to granular export changes
  superset/charts/data/api.py
  superset/security/manager.py
  superset/views/core.py
Due: ruff-format, ruff, pylint

Fix line length
  superset/core/api/core_api_injection.py
Due: ruff-format, ruff, pylint

Fix import order
  superset-core/src/superset_core/rest_api/decorators.py
Due: ruff-format, ruff, pylint

fix(mcp): add dataset access validation for preview compile check
  superset/mcp_service/chart/tool/generate_chart.py
Due: ruff-format, ruff, pylint

fix(mcp): add permission check for UUID dataset lookup in preview compile path
  superset/mcp_service/chart/tool/generate_chart.py
Due: ruff-format, ruff, pylint

feat(mcp): add compile check to validate chart queries before returning
  superset/mcp_service/chart/tool/generate_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
Due: ruff-format, ruff, pylint

test: fix CI OOM crashes in DatasourceControl test and flaky FileHandleer test (#38430)
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/pages/FileHandler/index.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): suppress third-party deprecation warnings from client responses
  superset/mcp_service/app.py
  superset/mcp_service/server.py
  tests/unit_tests/mcp_service/test_mcp_server.py
Due: ruff-format, ruff, pylint

feat(mcp): add pie, pivot table, and mixed timeseries chart creation support
  superset/mcp_service/app.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/validation/schema_validator.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
Due: ruff-format, ruff, pylint

fix(mcp): handle non-string chart_type gracefully in schema validator
  superset/mcp_service/chart/validation/schema_validator.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
Due: ruff-format, ruff, pylint

pre commit fixes
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(auth): forward Superset login OAuth token to database connections
  superset/config.py
  superset/daos/database.py
  superset/migrations/versions/2026-03-05_10-00_a1b2c3d4e5f6_add_user_auth_tokens.py
  superset/models/core.py
  superset/security/manager.py
  superset/utils/oauth2.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint, feature-flags-sync

refactor(auth): rename UserAuthToken → UpstreamOAuthToken and user_auth_tokens table
  superset/daos/database.py
  superset/migrations/versions/2026-03-05_10-00_a1b2c3d4e5f6_add_user_auth_tokens.py
  superset/models/core.py
  superset/utils/oauth2.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint

fix(mixed chart): respect truncate_metric setting for series names and tooltips (#38190)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(auth): fix oauth_remotes typo and use database_name for upstream provider lookup
  superset/config.py
  superset/models/core.py
  superset/utils/oauth2.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(country-map): standardize color fallback and ensure event handlers on all elements
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(country-map): add cross-filters to country-map chart
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/index.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(country-map): disable zoom/pan when dashboard is in edit mode
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(country-map): add default value for hooks parameter
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(country-map): add safeguards for linearColorScale creation
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(explore): fix prettier formatting in hydrateExplore
  superset-frontend/src/explore/actions/hydrateExplore.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: ci
  superset-frontend/src/embedded/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(frontend): preserve absolute and protocol-relative URLs in ensureAppRoot (#38316)
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/utils/pathUtils.test.ts
  superset-frontend/src/utils/pathUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: solve CI failure
  superset-frontend/plugins/legacy-plugin-chart-map-box/test/MapBox.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(country-map): add TypeScript return types and remove obsolete code
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/CountryMap.ts
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
