Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/

refactor: Remove string control processing logic
  superset-frontend/src/explore/controlUtils/getSectionsToRender.ts
Due: prettier, eslint-frontend, type-checking-frontend

refactor: address PR review feedback for ThemedAgGridReact
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/ThemedAgGridReact.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

chore: Clean up files not needed for PR
  .gitignore
  ARCHITECTURE_PLAN.md
  superset-frontend/packages/superset-ui-chart-controls/CONTROL_PANEL_MIGRATION.md
  superset-frontend/packages/superset-ui-chart-controls/MIGRATION_GUIDE.md
Due: none

chore: Remove JSONForms dependencies
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier

fix(row_level_security): Correct api response code for update (#34672)
  superset/row_level_security/api.py
  tests/integration_tests/security/row_level_security_tests.py
Due: none

fix: revert unnecessary module exports from ThemedAgGridReact
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

refactor: move setupAGGridModules to @superset-ui/core
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/setupAGGridModules.ts
  superset-frontend/packages/superset-ui-core/src/components/index.ts
  superset-frontend/packages/superset-ui-core/src/theme/utils/themeUtils.ts
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/GridTable/GridTable.test.tsx
  superset-frontend/src/views/App.tsx
Due: prettier, eslint-frontend, type-checking-frontend

refactor: Modernize control panel layouts with Ant Design Grid
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/AxisControlSection.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/ControlPanelLayout.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/DeckGLControlsSection.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/FilterControlsSection.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/FormatControlGroup.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/LabelControlGroup.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/MarkerControlGroup.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/OpacityControl.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/PieShapeControl.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/TableControlsSection.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/TimeseriesControlPanel.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/index.tsx
  superset-frontend/src/explore/components/ControlRow.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat(extension): Add extension for chart header (#34678)
  superset-frontend/packages/superset-ui-core/src/ui-overrides/types.ts
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix build issue
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/ThemedAgGridReact.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(theming): Fix ag-grid theming regression in SQL Lab (#34675)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/ThemedAgGridReact.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/ThemedAgGridReact/setupAGGridModules.ts
  superset-frontend/packages/superset-ui-core/src/components/index.ts
  superset-frontend/packages/superset-ui-core/src/theme/utils/themeUtils.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/package.json
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTable/index.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/AgGridTableChart.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/renderers/NumericCellRenderer.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/styles/index.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/types.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/filterValueGetter.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/formatValue.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellClass.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getCellStyle.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/getInitialSortState.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useTableTheme.ts
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
  superset-frontend/src/components/GridTable/GridTable.test.tsx
  superset-frontend/src/components/GridTable/index.tsx
  superset-frontend/src/views/App.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat: Implement phased control panel migration approach
  CONTROL_PANEL_MODERNIZATION.md
  PIE_CHART_MIGRATION_PLAN.md
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/ModernControlPanelExample.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/ReactControlWrappers.tsx
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/index.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanelModern.tsx
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/ModernControlPanelRenderer.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat(validation): Add SQL expression validation backend infrastructure
  superset/commands/database/validate_expression.py
  superset/databases/api.py
  superset/databases/schemas.py
  superset/db_engine_specs/base.py
  tests/unit_tests/commands/databases/validate_expression_test.py
Due: none

fix(frontend): Resolve TypeScript compilation errors in validation components
  superset-frontend/src/components/SQLEditorWithValidation/SQLEditorWithValidation.test.tsx
  superset-frontend/src/components/SQLEditorWithValidation/index.tsx
  superset-frontend/src/components/SqlExpressionValidator/SqlExpressionValidator.test.tsx
  superset-frontend/src/components/SqlExpressionValidator/SqlExpressionValidatorButton.tsx
  superset-frontend/src/components/SqlExpressionValidator/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: Resolve CI/CD linting and complexity issues
  superset-frontend/src/components/SQLEditorWithValidation/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopover.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSqlTabContent/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.jsx
  superset/commands/database/validate_expression.py
  superset/databases/api.py
  superset/databases/schemas.py
  superset/datasource/api.py
  superset/models/helpers.py
  superset/utils/core.py
  tests/integration_tests/datasource/test_validate_expression_api.py
  tests/unit_tests/commands/databases/validate_expression_test.py
  tests/unit_tests/models/test_validate_expression.py
Due: prettier, eslint-frontend, type-checking-frontend

initial: easy charts builder
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/dashboard/components/AddChartModal/AddChartModal.tsx
  superset-frontend/src/dashboard/components/BuilderComponentPane/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart.jsx
  superset-frontend/src/dashboard/components/gridComponents/ChartHolder.tsx
  superset-frontend/src/dashboard/components/gridComponents/HelloWorld.jsx
  superset-frontend/src/dashboard/components/gridComponents/index.js
  superset-frontend/src/dashboard/components/gridComponents/new/NewHelloWorld.jsx
  superset-frontend/src/dashboard/util/componentIsResizable.test.ts
  superset-frontend/src/dashboard/util/componentTypes.ts
  superset-frontend/src/dashboard/util/getDetailedComponentWidth.js
  superset-frontend/src/dashboard/util/isValidChild.ts
  superset-frontend/src/dashboard/util/newComponentFactory.js
  superset-frontend/src/explore/components/ExploreViewContainer/index.jsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/pages/Chart/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

update: fixing text column filter
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/utils/useColDefs.ts
Due: prettier, eslint-frontend, type-checking-frontend

cleanup
  superset-frontend/src/components/SQLEditorWithValidation/SQLEditorWithValidation.test.tsx
  superset-frontend/src/components/SQLEditorWithValidation/index.tsx
  superset-frontend/src/components/SqlExpressionValidator/SqlExpressionValidator.test.tsx
  superset-frontend/src/components/SqlExpressionValidator/SqlExpressionValidatorButton.tsx
  superset-frontend/src/components/SqlExpressionValidator/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

cleanup
  superset-frontend/src/components/SQLEditorWithValidation/SQLEditorWithValidation.test.tsx
  superset-frontend/src/components/SQLEditorWithValidation/index.tsx
  superset-frontend/src/types/SqlExpression.ts
  superset/db_engine_specs/base.py
Due: prettier, eslint-frontend, type-checking-frontend

some refactoring
  superset/models/core.py
  superset/models/helpers.py
Due: none

fix a test
  tests/integration_tests/datasource/test_validate_expression_api.py
Due: none

tweakage
  superset-frontend/src/components/SQLEditorWithValidation/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix more tests
  tests/unit_tests/models/helpers_test.py
  tests/unit_tests/models/test_validate_expression.py
Due: none

feat: support X-Forwarded-User header
  docs/docs/configuration/networking-settings.mdx
  superset/config.py
  superset/initialization/__init__.py
  superset/middleware/__init__.py
  superset/middleware/remote_user.py
  tests/unit_tests/security/remote_user_middleware_test.py
Due: none

fixed unit test
  tests/integration_tests/datasource/test_validate_expression_api.py
Due: none

update: use superset ui core functions as per comments
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
Due: prettier, eslint-frontend, type-checking-frontend

update: fix chart title tooltip flicker on hover
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix CI tests
  tests/integration_tests/datasource/test_validate_expression_api.py
Due: none

исправлены настройки аутентификации
  superset/config.py
  superset/initialization/__init__.py
Due: none

fix CI tests
  superset/models/helpers.py
Due: none

исправлены настройки аутентификации +1
  superset/config.py
Due: none

fix(deck.gl): Add webpack rule to define module global for deck.gl charts
  superset-frontend/webpack.config.js
Due: eslint-frontend, type-checking-frontend

UDP-127: add docker release
  .github/workflows/docker-release.yml
Due: none

upgrade databricks connectors
  pyproject.toml
Due: none

downgrade pyarrow to v16
  pyproject.toml
Due: none

downgrade pyarrow to v16
  requirements/base.txt
Due: none

Update development.txt
  requirements/development.txt
Due: none
