Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

prettier:
  name: prettier
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run format -- --log-level error; else npm run prettier-check; fi'
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run lint-fix; else npm run eslint; fi'
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --ext .js,.jsx,.ts,.tsx --quiet $([ -z "$SKIP_FIX" ] && echo "--fix") $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: bash -c './scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base'
  language: system
  require_serial: true

docs(installation): show example of extending Docker image (#33472)
  docs/docs/installation/docker-builds.mdx
  docs/docs/installation/installation-methods.mdx
Due: none

docs: added europace to INTHEWILD.md (#33458)
  RESOURCES/INTHEWILD.md
Due: none

Validate server pagination fix
  superset-frontend/packages/superset-ui-core/src/validator/validateServerPagination.ts
  superset-frontend/packages/superset-ui-core/test/validator/validateServerPagination.test.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(dependabot): adds required schedule to uv updates
  .github/dependabot.yml
Due: none

feat: use sqlglot to set limit
  superset/db_engine_specs/base.py
  superset/db_engine_specs/db2.py
  superset/db_engine_specs/firebird.py
  superset/db_engine_specs/hana.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/lib.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/ocient.py
  superset/db_engine_specs/oracle.py
  superset/db_engine_specs/teradata.py
  superset/models/core.py
  superset/sql/parse.py
  superset/sql_parse.py
  tests/integration_tests/db_engine_specs/base_tests.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_mssql.py
  tests/unit_tests/db_engine_specs/test_teradata.py
  tests/unit_tests/sql/parse_tests.py
  tests/unit_tests/sql_lab_test.py
  tests/unit_tests/sql_parse_tests.py
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

fix: allow metadata to parse json (#33444)
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Server page size options
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/consts.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(dependabot): adds required schedule to uv updates (#33475)
  .github/dependabot.yml
Due: none

Alignment fix
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Update tests
  superset/models/core.py
  superset/sql/parse.py
  tests/integration_tests/db_engine_specs/ascend_tests.py
  tests/integration_tests/db_engine_specs/base_engine_spec_tests.py
  tests/integration_tests/db_engine_specs/base_tests.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
  tests/integration_tests/db_engine_specs/databricks_tests.py
  tests/integration_tests/db_engine_specs/elasticsearch_tests.py
  tests/integration_tests/db_engine_specs/gsheets_tests.py
  tests/integration_tests/db_engine_specs/hive_tests.py
  tests/integration_tests/db_engine_specs/mysql_tests.py
  tests/integration_tests/db_engine_specs/pinot_tests.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/db_engine_specs/redshift_tests.py
  tests/integration_tests/sql_lab/api_tests.py
  tests/unit_tests/models/core_test.py
Due: none

chore: remove parse_sql
  superset/db_engine_specs/base.py
  superset/db_engine_specs/kusto.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_kusto.py
  tests/unit_tests/sql/parse_tests.py
Due: none

fix prettier
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix:trigger update chart on clear and add tests
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/customControls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/buildQuery.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix sql lab not rendering
  superset-frontend/packages/superset-ui-core/src/theme/GlobalStyles.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix types
  superset-frontend/src/components/EditableTitle/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: optimize Explore popovers rendering
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/components/AsyncAceEditor/Tooltip.test.tsx
  superset-frontend/src/components/AsyncAceEditor/Tooltip.tsx
  superset-frontend/src/explore/controlUtils/getColumnKeywords.tsx
Due: prettier, eslint-frontend, type-checking-frontend

dompurify
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/plugins/legacy-preset-chart-nvd3/package.json
  superset-frontend/src/components/AsyncAceEditor/Tooltip.tsx
Due: prettier, eslint-frontend, type-checking-frontend

rm handlebars
  superset-frontend/package.json
Due: prettier

wip(ActionLog/filters): enanche filters on Action Log page
  superset-frontend/src/pages/ActionLog/index.tsx
  superset/views/log/api.py
Due: prettier, eslint-frontend, type-checking-frontend

improving and untangling things
  superset-frontend/package-lock.json
  superset-frontend/plugins/legacy-preset-chart-nvd3/package.json
  superset-frontend/src/components/AsyncAceEditor/Tooltip.test.tsx
  superset-frontend/src/components/AsyncAceEditor/Tooltip.tsx
  superset-frontend/src/components/AsyncAceEditor/index.tsx
  superset-frontend/src/explore/components/controls/TextAreaControl.jsx
  superset-frontend/src/explore/controlUtils/getColumnKeywords.tsx
Due: prettier, eslint-frontend, type-checking-frontend

removing more css aliases
  superset-frontend/plugins/legacy-plugin-chart-partition/src/OptionDescription.tsx
  superset-frontend/src/SqlLab/components/ColumnElement/index.tsx
  superset-frontend/src/SqlLab/components/SaveQuery/index.tsx
  superset-frontend/src/SqlLab/components/ShowSQL/index.tsx
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/SqlLab/components/TableElement/index.tsx
  superset-frontend/src/assets/stylesheets/superset.less
  superset-frontend/src/assets/stylesheets/superset.less.hbs
  superset-frontend/src/components/CopyToClipboard/index.tsx
  superset-frontend/src/components/Datasource/DatasourceModal.tsx
  superset-frontend/src/components/Datasource/Field.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/URLShortLinkButton/index.tsx
  superset-frontend/src/explore/components/controls/ContourControl/ContourPopoverControl.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.jsx
  superset-frontend/src/explore/components/controls/MetricControl/AggregateOption.jsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(SqlLab/rows): align card with rows component
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

kill variables.less
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/ReactNVD3.jsx
  superset-frontend/src/assets/stylesheets/less/variables.less
  superset-frontend/src/assets/stylesheets/less/variables.less.hbs
  superset-frontend/src/assets/stylesheets/superset.less
  superset-frontend/src/assets/stylesheets/superset.less.hbs
Due: prettier, eslint-frontend, type-checking-frontend

fix(cards grid): centered cards inside the grid
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier, eslint-frontend, type-checking-frontend

remove compile-less
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/scripts/compileLess.ts
  superset-frontend/src/assets/stylesheets/less/fonts.less
  superset-frontend/src/assets/stylesheets/less/fonts.less.hbs
  superset-frontend/src/assets/stylesheets/less/index.less
  superset-frontend/src/assets/stylesheets/less/index.less.hbs
  superset-frontend/src/assets/stylesheets/superset.less
Due: prettier, eslint-frontend, type-checking-frontend

move font imports to Theme.tsx
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/src/theme/Theme.tsx
  superset-frontend/src/assets/stylesheets/superset.less
Due: prettier, eslint-frontend, type-checking-frontend

ALL LESS REMOVED
  superset-frontend/.eslintignore
  superset-frontend/.prettierignore
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/src/theme/GlobalStyles.tsx
  superset-frontend/src/assets/stylesheets/superset.less
  superset-frontend/src/assets/stylesheets/superset.less.hbs
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/theme.ts
  superset-frontend/webpack.config.js
Due: prettier, eslint-frontend, type-checking-frontend

remove bootstrap
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/src/theme/Theme.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix label sizes in ListView
  superset-frontend/src/components/ListView/Filters/Base.ts
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/Filters/Select.tsx
  superset-frontend/src/setup/setupApp.ts
Due: prettier, eslint-frontend, type-checking-frontend

wider Select dropdowns in quick filters for CRUD views
  superset-frontend/plugins/legacy-plugin-chart-partition/src/OptionDescription.tsx
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/ListView/Filters/Select.tsx
  superset-frontend/src/components/ListView/Filters/index.tsx
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/components/ListView/utils.ts
  superset-frontend/src/components/Select/types.ts
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AnnotationLayerList/index.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(table): table ui fixes (#33494)
  superset-frontend/packages/superset-ui-core/src/validator/validateServerPagination.ts
  superset-frontend/packages/superset-ui-core/test/validator/validateServerPagination.test.ts
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/consts.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Due: prettier, eslint-frontend, type-checking-frontend

remove bootstrap import in storybook
  superset-frontend/packages/superset-ui-demo/.storybook/preview.js
Due: prettier, eslint-frontend, type-checking-frontend

move loading spinner down
  superset-frontend/src/components/Table/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

remove more jinja html templates
  superset-frontend/src/components/Table/index.tsx
  superset/templates/appbuilder/navbar.html
  superset/templates/email/alert.txt
  superset/templates/head_custom_extra.html
  superset/templates/slack/alert.txt
  superset/templates/slack/alert_no_screenshot.txt
  superset/templates/superset/base.html
  superset/templates/superset/basic.html
Due: prettier, eslint-frontend, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
