Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix translations
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

translations added
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

fix(export): use the ZIP entry helper in the CLI exporters too
  superset/cli/importexport.py
Due: ruff-format, ruff, pylint

fix(export): drop the redundant permission stamp from the ZIP helper
  superset/utils/core.py
  tests/unit_tests/utils/create_zip_tests.py
Due: ruff-format, ruff, pylint

fix(export): forward the bundle's compression settings to ZIP entries
  superset/utils/core.py
  tests/unit_tests/utils/create_zip_tests.py
Due: ruff-format, ruff, pylint

fix(export): stamp ZIP entries with the export time
  superset/charts/api.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/importexport/api.py
  superset/queries/saved_queries/api.py
  superset/themes/api.py
  superset/utils/core.py
  tests/unit_tests/utils/create_zip_tests.py
Due: ruff-format, ruff, pylint

add translations
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

fix(calendar): position month/week cells by index within their own block
  superset-frontend/plugins/plugin-chart-calendar/src/vendor/cal-heatmap.ts
  superset-frontend/plugins/plugin-chart-calendar/test/cal-heatmap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(calendar): pass the subdomain datum to positionSubDomainY too
  superset-frontend/plugins/plugin-chart-calendar/src/vendor/cal-heatmap.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): translate Excel export refusals and point users to an admin
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset/dashboards/api.py
  superset/translations/messages.pot
  tests/integration_tests/dashboards/api_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(dashboard): skip unbounded charts instead of refusing the Excel download
  UPDATING.md
  docs/docs/using-superset/exporting-dashboard-data.mdx
  superset/dashboards/api.py
  superset/dashboards/excel_export/email.py
  superset/dashboards/excel_export/sync_budget.py
  superset/dashboards/excel_export/workbook.py
  superset/translations/messages.pot
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/dashboards/test_excel_export_email.py
  tests/unit_tests/dashboards/test_excel_export_sync_budget.py
  tests/unit_tests/dashboards/test_excel_export_workbook.py
Due: ruff-format, ruff, pylint

translations added
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

fix(translations): re-add Date range filter strings after master merge
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

fix(mcp): hide internal sanitization warnings from input schemas
  docs/developer_docs/extensions/mcp.md
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/dashboard/schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_duplicate_dashboard.py
  tests/unit_tests/mcp_service/test_sanitization_warning_inputs.py
Due: ruff-format, ruff, pylint

fix(mcp): mask validation locations by schema path
  docs/developer_docs/extensions/mcp.md
  superset/mcp_service/utils/validation.py
  tests/unit_tests/mcp_service/test_validation_contract.py
Due: ruff-format, ruff, pylint

fix(mcp): return actionable authorized column suggestions
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/utils/error_builder.py
  tests/unit_tests/mcp_service/chart/test_compile.py
  tests/unit_tests/mcp_service/chart/tool/test_column_suggestions.py
Due: ruff-format, ruff, pylint

fix(mcp): cap explicit SQL limits without increasing them
  UPDATING.md
  docs/admin_docs/configuration/mcp-server.mdx
  superset-core/src/superset_core/queries/types.py
  superset/mcp_service/sql_lab/schemas.py
  superset/sql/execution/executor.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

fix(auth): drain flash messages on the login page
  superset-frontend/src/pages/Login/Login.test.tsx
  superset-frontend/src/pages/Login/index.tsx
  superset-frontend/src/types/bootstrapTypes.ts
  superset/views/auth.py
  tests/unit_tests/views/test_auth_login.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(auth): drop stale login string from messages.pot and type toast mocks
  superset-frontend/src/pages/Login/Login.test.tsx
  superset/translations/messages.pot
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(query-context): resolve legacy charts' temporal column from granularity_sqla
  superset/common/query_context_factory.py
  tests/unit_tests/common/test_query_context_factory.py
Due: ruff-format, ruff, pylint

fix comments bito
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/EchartsCandlestick.test.tsx
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: remove extraneous `fs-extra` in generator-superset's package.json
  superset-frontend/package-lock.json
  superset-frontend/packages/generator-superset/package.json
Due: prettier-frontend

rename function and fix translations
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
  superset-frontend/src/explore/components/ControlPanelsContainer.tsx
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/HeaderGroupsControl.tsx
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/utils.test.ts
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/utils.ts
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ro/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/sr/LC_MESSAGES/messages.po
  superset/translations/sr_Latn/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(export): stamp ZIP entries with the export time (#44391)
  superset/charts/api.py
  superset/cli/importexport.py
  superset/dashboards/api.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/importexport/api.py
  superset/queries/saved_queries/api.py
  superset/themes/api.py
  superset/utils/core.py
  tests/unit_tests/utils/create_zip_tests.py
Due: ruff-format, ruff, pylint

fix(mypy): resolve dataset-scope and datasource-perm mypy errors
  superset/mcp_service/dataset_scope.py
  tests/unit_tests/charts/semantic_view_chart_filter_test.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: ruff-format, ruff, pylint

test(embedded-sdk): add a cross-document test rig for the navigation fix
  superset-embedded-sdk/testrig/README.md
  superset-embedded-sdk/testrig/drive.mjs
  superset-embedded-sdk/testrig/embedded.html
  superset-embedded-sdk/testrig/host.html
  superset-embedded-sdk/testrig/server.mjs
Due: none

fix(mypy): keep the new dataset-scope ignores from firing unused-ignore
  pyproject.toml
Due: none

fix(dashboard): refuse summary-only Excel downloads and warn on partial storage
  UPDATING.md
  docs/docs/using-superset/exporting-dashboard-data.mdx
  superset/dashboards/api.py
  superset/dashboards/excel_export/storage.py
  superset/dashboards/excel_export/sync_budget.py
  superset/translations/messages.pot
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/dashboards/test_excel_export_email.py
  tests/unit_tests/dashboards/test_excel_export_storage.py
  tests/unit_tests/dashboards/test_excel_export_sync_budget.py
  tests/unit_tests/dashboards/test_excel_export_workbook.py
Due: ruff-format, ruff, pylint

fix(i18n): clear 1,189 fuzzy translations with broken placeholders
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/ta/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
Due: none

feat(i18n): extract translator context comments from source
  docs/developer_docs/contributing/howtos.md
  scripts/translations/babel_update.sh
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/CommonParameters.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
  superset-frontend/src/utils/getChartRequiredFieldsMissingMessage.ts
  superset/translations/messages.pot
  superset/views/dashboard/mixin.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(i18n): make babel_update.sh .pot normalization actually run
  scripts/translations/babel_update.sh
Due: none

test(i18n): anchor the ordering check to command lines, not comments
  tests/unit_tests/scripts/translations/babel_update_test.py
Due: ruff-format, ruff

fix(i18n): strip only a blank trailing line from po/pot files
  scripts/translations/babel_update.sh
  tests/unit_tests/scripts/translations/babel_update_test.py
Due: ruff-format, ruff

test(i18n): pin the .pot normalization and its fail-fast guard
  tests/unit_tests/scripts/translations/babel_update_test.py
Due: ruff-format, ruff

chore(i18n): normalize messages.pot with the repaired msgcat step
  superset/translations/messages.pot
Due: none

chore(build): replace external file-related deps with native Node modules (#42939)
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/generator-superset/package.json
  superset-frontend/packages/generator-superset/test/plugin-chart.test.ts
  superset-frontend/scripts/build.js
  superset-frontend/scripts/copyAssets.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: capture stdout when oxlint exit with non-zero status code when finding error-level violations
  superset-frontend/scripts/internal/oxlint-metrics-uploader.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(d1): parse as SQLite, clean up errors and turn off file upload
  UPDATING.md
  docs/src/data/databases.json
  superset/db_engine_specs/d1.py
  superset/sql/parse.py
  tests/unit_tests/db_engine_specs/test_d1.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(database): keep dataset confirmation typing available during lookup
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/types.ts
  superset-frontend/src/pages/DatabaseList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): extract database deletion warning strings
  superset/translations/messages.pot
Due: none

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
