Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

fix: Fix prettier formatting and update permissions test
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  tests/integration_tests/dashboards/api_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

test: Move dashboard export tests to experimental
  superset-frontend/playwright/tests/experimental/dashboard/export.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(cypress): Skip world_map test with hardcoded IDs
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.world_map.test.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

fix(docker): Load examples from Parquet files instead of pre-built DuckDB
  Dockerfile
  docker-compose-light.yml
  docker-compose.yml
Due: none

feat(dashboard): Gate 'Export as Example' by user permission
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/export.spec.ts
  superset-frontend/playwright/utils/constants.ts
  superset-frontend/playwright/utils/urls.ts
  superset-frontend/src/dashboard/actions/hydrate.js
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/dashboard/components/Header/types.ts
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset/cli/export_example.py
  superset/commands/dashboard/export_example.py
  superset/dashboards/api.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/commands/dashboard/export_example_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: Fix Jest test and skip flaky Cypress tests
  superset-frontend/cypress-base/cypress/e2e/chart_list/_skip.filter.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.load.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.nativeFilters.noInitState.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.link.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.box_plot.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.bubble.test.js
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(examples): Fix mypy/ruff errors and restore test file
  superset/cli/examples.py
  superset/examples/data_loading.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
Due: ruff-format, ruff, pylint

test(cypress): Re-skip tests that need more extensive fixes
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.controls.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.key_value.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.load.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/_skip.url_params.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.AdhocMetrics.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.annotations.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/_skip.link.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

fix(cypress): Update bubble viz type and skip flaky test
  superset-frontend/cypress-base/cypress/e2e/dashboard/controls.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

test(cypress): Re-enable 8 tests that have all required dependencies
  superset-frontend/cypress-base/cypress/e2e/chart_list/filter.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/load.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.noInitState.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/link.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/box_plot.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/bubble.test.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

fix(tests): Restore example modules and skip hardcoded-ID tests
  superset-frontend/cypress-base/cypress/e2e/explore/chart.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.big_number_total.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.compare.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.download_chart.test.js
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.graph.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.pie.test.js
  superset/examples/birth_names.py
  superset/examples/world_bank.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, ruff-format, ruff, pylint

test(cypress): Skip remaining viz tests with hardcoded datasource IDs
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.table.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/visualizations/_skip.time_table.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

fix: Update import paths for moved export tests
  superset-frontend/playwright/tests/experimental/dashboard/export.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(cypress): Re-enable 11 tests using dynamic lookups
  superset-frontend/cypress-base/cypress/e2e/dashboard/controls.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/horizontalFilterBar.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/key_value.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/load.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/nativeFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/url_params.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/AdhocFilters.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/AdhocMetrics.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/advanced_analytics.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/annotations.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/link.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

style: Fix ruff-format in export_example_test.py
  tests/unit_tests/commands/dashboard/export_example_test.py
Due: ruff-format, ruff

refactor(dashboard): clean up auto-refresh code and migrate tests to flat structure
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Waterfall/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/src/dashboard/components/AutoRefreshControls/index.tsx
  superset-frontend/src/dashboard/components/AutoRefreshStatus/StatusTooltipContent.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
  superset-frontend/src/dashboard/components/RefreshButton/index.tsx
  superset-frontend/src/dashboard/contexts/AutoRefreshContext.tsx
  superset-frontend/src/dashboard/hooks/useAutoRefreshTabPause.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): centralize sanitization and add chart_name to generate_chart
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/utils/sanitization.py
Due: ruff-format, ruff, pylint

fix(mcp): normalize column names to fix time series filter prompt issue
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/pipeline.py
  tests/unit_tests/mcp_service/chart/validation/__init__.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

feat(mcp): add stacked bar/area chart support
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

fix: Correct Playwright selectors for dashboard export tests
  superset-frontend/playwright/pages/DashboardPage.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): use boolean for stack value and defensive getattr
  superset/mcp_service/chart/chart_utils.py
Due: ruff-format, ruff, pylint

fix(dashboard): resolve dropdown popup positioning
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/constants.ts
  superset-frontend/packages/superset-ui-core/src/components/Select/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(docs): add Features filter and metadata for 8 missing databases
  docs/src/components/databases/DatabaseIndex.tsx
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/mssql.py
  superset/db_engine_specs/shillelagh.py
  superset/db_engine_specs/superset.py
Due: eslint-docs, ruff-format, ruff, pylint

fix(docs): update logo references to use existing files
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/couchbase.py
  superset/db_engine_specs/dremio.py
  superset/db_engine_specs/gsheets.py
  superset/db_engine_specs/presto.py
Due: ruff-format, ruff, pylint

Line chart
  superset-frontend/plugins/plugin-chart-glyph/src/index.ts
  superset-frontend/src/visualizations/presets/MainPreset.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): push Flask app context in mcp_auth_hook for tool execution
  superset/mcp_service/auth.py
Due: ruff-format, ruff, pylint

fix(mcp): skip app context push if already in one (test compatibility)
  superset/mcp_service/auth.py
Due: ruff-format, ruff, pylint

fix(sunburst): use fill instead of color for ECharts text
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

add event based cancellation
  docs/developer_portal/extensions/tasks.md
  superset/config.py
  superset/daos/tasks.py
  superset/initialization/__init__.py
  superset/tasks/context.py
  superset/tasks/manager.py
Due: ruff-format, ruff, pylint

fix(mcp): add type annotation and noqa for pre-commit checks
  superset/mcp_service/auth.py
Due: ruff-format, ruff, pylint

feat(mcp): Add support for AG Grid Interactive Table (ag-grid-table) viz_type
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

test: add unit tests for AG Grid table viz_type support
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
Due: ruff-format, ruff

fix: resolve mypy errors in AG Grid table tests
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
Due: ruff-format, ruff

feat: add unit test for this feature
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/DateFilterLabel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: add unit test for this feature
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.test.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/DateFilterLabel.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Time range modal for out of scope filter [sc-96540]
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: add solution based on the position
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: add unit test for this functionality
  tests/unit_tests/dataframe_test.py
Due: ruff-format, ruff

NaN is not properly handled for Athena connections [sc-89372]
  superset/dataframe.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
