Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix: address copilot review feedback on totals aggregate
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  tests/integration_tests/non_additive_totals_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

test: add unit tests for getTotalsMetrics
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getTotalsMetrics.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(cache): fall back to default timeout when cache_timeout is None
  superset/utils/cache.py
  tests/unit_tests/utils/cache_test.py
Due: ruff-format, ruff, pylint

fix(mcp): expose table column formatting
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_type_schema.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve table column settings
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_type_schema.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve column config lifecycle
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/tool/update_chart.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: ruff-format, ruff, pylint

fix(mcp): normalize table formatting column keys
  superset/mcp_service/chart/plugins/table.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve partial table column formatting updates
  superset/mcp_service/chart/plugins/table.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve unset fields during chart validation
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/validation/pipeline.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

fix(sunburst): keep SQL null and literal string "null" as distinct groups
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/treeBuilder.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sunburst): canonicalize Date keys in treeBuilder groupBy
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/treeBuilder.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): preserve query time range for Jinja
  superset/charts/data/form_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff, pylint

fix(plugin-chart-table): declare DataTable hooks before the early return
  superset-frontend/plugins/plugin-chart-table/src/DataTable/DataTable.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/DataTable.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(explore): extract shared initialState const for edit-properties tests
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(dev): refresh stale processHTML comment
  superset-frontend/webpack.proxy-config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(charts): pin pivoted CSV export bytes/str crash (#32370)
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff

fix(charts): decode CSV bytes payload before the empty-data check
  superset/charts/client_processing.py
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff, pylint

fix(charts): decode CSV bytes payload before feeding pandas StringIO (#32370)
  superset/charts/client_processing.py
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff, pylint

fix(docs): sync live component demos to the docs site's dark mode toggle (#42602)
  docs/src/components/StorybookWrapper.jsx
  superset-frontend/packages/superset-core/src/theme/SupersetThemeProvider.test.tsx
  superset-frontend/packages/superset-core/src/theme/Theme.test.tsx
  superset-frontend/packages/superset-core/src/theme/Theme.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend

feat(chart): publish data-chart-status readiness beacon on Chart.tsx
  superset-frontend/src/components/Chart/Chart.test.tsx
  superset-frontend/src/components/Chart/Chart.tsx
  superset-frontend/src/utils/screenshotContract.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(screenshots): return ScreenshotCaptureResult from capture paths
  superset/commands/report/execute.py
  superset/dashboards/excel_export/screenshot.py
  superset/tasks/cache.py
  superset/utils/screenshot_utils.py
  superset/utils/screenshots.py
  superset/utils/webdriver.py
  tests/integration_tests/reports/commands/execute_dashboard_report_tests.py
  tests/integration_tests/reports/commands_tests.py
  tests/unit_tests/commands/report/execute_test.py
  tests/unit_tests/dashboards/test_excel_export_screenshot.py
  tests/unit_tests/tasks/test_cache.py
  tests/unit_tests/utils/screenshot_test.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
  tests/unit_tests/utils/webdriver_test.py
Due: ruff-format, ruff, pylint

feat(ci): publish Python unit test results as PR check annotations (#42503)
  .github/workflows/superset-python-unittest-report.yml
  .github/workflows/superset-python-unittest.yml
Due: none

fix(sqllab): make MenuDotsDropdown trigger focusable for tab rename (#43015)
  superset-frontend/packages/superset-ui-core/src/components/Dropdown/Dropdown.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Dropdown/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/SqlEditorTabHeader.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/TabbedSqlEditors.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(echarts): pin Bar chart X Axis Title flows through untouched (#42560) (#42599)
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

ci: run pre-commit checks via prek (#42500)
  .github/workflows/pre-commit.yml
Due: none

fix: drop redundant alembic merge migration (rebase cruft)
  superset/migrations/versions/2026-08-06_14-30_aaed1198e21f_merge_databend_sslmode_with_pivot_.py
Due: ruff-format, ruff

fix(embedded): honor "can view query" permission for guest users
  superset/charts/data/api.py
  tests/integration_tests/charts/data/api_tests.py
  tests/unit_tests/charts/test_chart_data_api.py
Due: ruff-format, ruff, pylint

test(drill-by): cover forced-categorical temporal axis and horizontal index swap
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql): only force a LIMIT onto query expressions (#43097)
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(dashboard): keep native filters reachable on narrow standalone views
  docs/docs/using-superset/mobile-experience.mdx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Build exact time-comparison keys instead of prefix-matching
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): give concurrent tool calls isolated db sessions (#42629)
  superset/mcp_service/app.py
  superset/mcp_service/auth.py
  superset/mcp_service/server.py
  superset/mcp_service/session_scope.py
  tests/unit_tests/mcp_service/test_auth_user_resolution.py
  tests/unit_tests/mcp_service/test_session_scope.py
Due: ruff-format, ruff, pylint

fix(charts): decode CSV bytes payload before feeding pandas StringIO (#32370) (#42735)
  superset/charts/client_processing.py
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff, pylint

fix(dev): stop the webpack dev-proxy from hanging on a mid-stream backend disconnect (#42811)
  superset-frontend/tools/webpack.proxy-config.test.js
  superset-frontend/webpack.proxy-config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sunburst): keep SQL null and literal string "null" as distinct groups (#43013)
  superset-frontend/plugins/plugin-chart-echarts/src/utils/treeBuilder.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/treeBuilder.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(playwright): dedupe GAQ helpers and split spec by theme
  superset-frontend/playwright/components/core/Select.ts
  superset-frontend/playwright/tests/dashboard/dashboard-test-helpers.ts
  superset-frontend/playwright/tests/dashboard/global-async-query-resilience.spec.ts
  superset-frontend/playwright/tests/dashboard/global-async-query.spec.ts
  superset-frontend/playwright/tests/sqllab/global-async-query-sqllab.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: Use gridstack for the layout (#43096)
  superset-frontend/jest.config.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/playwright/pages/DashboardV2Page.ts
  superset-frontend/playwright/tests/experimental/README.md
  superset-frontend/playwright/tests/experimental/dashboard-v2/empty-canvas.spec.ts
  superset-frontend/playwright/tests/experimental/dashboard-v2/layout-regressions.spec.ts
  superset-frontend/playwright/tests/experimental/dashboard-v2/reposition-and-resize.spec.ts
  superset-frontend/playwright/tests/experimental/dashboard-v2/split.spec.ts
  superset-frontend/spec/__mocks__/gridstackMock.ts
  superset-frontend/src/core/dashboard/BuildingBlockView.tsx
  superset-frontend/src/core/dashboard/DashboardProvider.test.ts
  superset-frontend/src/core/dashboard/DashboardProvider.ts
  superset-frontend/src/core/dashboard/RootGrid.test.tsx
  superset-frontend/src/core/dashboard/RootGrid.tsx
  superset-frontend/src/core/dashboard/blocks/flowContent.tsx
  superset-frontend/src/core/dashboard/gridPacking.test.ts
  superset-frontend/src/core/dashboard/gridPacking.ts
  superset-frontend/src/core/dashboard/layoutStyle.test.ts
  superset-frontend/src/core/dashboard/layoutStyle.ts
  superset-frontend/src/core/dashboard/placement.ts
  superset-frontend/src/core/dashboard/useGridStack.ts
  superset-frontend/src/pages/DashboardBuilderV2/index.test.tsx
  superset-frontend/src/pages/DashboardBuilderV2/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): expose table column formatting (#42658)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/chart/validation/pipeline.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/test_new_chart_types.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_type_schema.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

fix(dashboard): report the real error when saving a dashboard fails
  superset-frontend/src/dashboard/actions/dashboardState.test.ts
  superset-frontend/src/dashboard/actions/dashboardState.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): harden the embedded-guest chart data-read path
  superset/daos/dashboard.py
  superset/dashboards/filters.py
  superset/mcp_service/auth.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/mcp_config.py
  superset/utils/filters.py
  tests/unit_tests/mcp_service/chart/test_chart_utils.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/test_guest_token_auth.py
  tests/unit_tests/subjects/test_filters.py
  tests/unit_tests/utils/filters_test.py
Due: ruff-format, ruff, pylint
