Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

build(websocket): migrate to ESM (#41680)
  superset-websocket/eslint.config.mjs
  superset-websocket/package-lock.json
  superset-websocket/package.json
  superset-websocket/src/config.ts
  superset-websocket/src/index.ts
  superset-websocket/tsconfig.json
Due: none

chore(dependabot): unify npm Dependabot config used for multi-workspace `superset-frontend` (#41586)
  .github/dependabot.yml
Due: none

fix(mcp): bind Big Number chart to a temporal column for dashboard time filters
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/big_number.py
  tests/unit_tests/mcp_service/chart/test_big_number_chart.py
Due: ruff-format, ruff, pylint

fix(mcp): guard temporal filter against non-temporal columns, dedupe dataset lookup
  superset/mcp_service/chart/chart_utils.py
  tests/unit_tests/mcp_service/chart/test_big_number_chart.py
Due: ruff-format, ruff, pylint

fix(marshmallow): add compatibility layer for Flask-AppBuilder with marshmallow 4.x (#35920)
  superset/marshmallow_compatibility.py
  superset/models/helpers.py
  superset/themes/schemas.py
  tests/unit_tests/test_marshmallow_compatibility.py
  tests/unit_tests/themes/api_test.py
Due: ruff-format, ruff, pylint

feat(mcp): add undelete_dashboard tool and soft-delete-aware delete responses
  superset/mcp_service/app.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/__init__.py
  superset/mcp_service/dashboard/tool/delete_dashboard.py
  superset/mcp_service/dashboard/tool/undelete_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_delete_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_undelete_dashboard.py
Due: ruff-format, ruff, pylint

test(mcp): address review feedback on delete/undelete dashboard tools
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dashboard/tool/test_delete_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_undelete_dashboard.py
Due: ruff-format, ruff

feat(mcp): add delete_dashboard tool
  superset/mcp_service/app.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/__init__.py
  superset/mcp_service/dashboard/tool/delete_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_delete_dashboard.py
Due: ruff-format, ruff, pylint

fix: getTotalValuePadding refactor and description
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): avoid redundant dataset lookup in Big Number temporal filter
  superset/mcp_service/chart/chart_utils.py
  tests/unit_tests/mcp_service/chart/test_big_number_chart.py
Due: ruff-format, ruff, pylint

fix: half
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): add explicit type annotations flagged by CodeAnt review
  superset/mcp_service/constants.py
  superset/mcp_service/utils/token_utils.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/utils/test_token_utils.py
Due: ruff-format, ruff, pylint

fix pre-commit
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: pre-commit
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

replacing the state-based approach with a ref
  superset-frontend/src/dashboard/components/DashboardGrid.test.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): add AliasChoices to chart/dashboard/dataset request schemas
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dataset/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/dashboard/test_dashboard_schemas.py
  tests/unit_tests/mcp_service/dataset/test_dataset_schemas.py
Due: ruff-format, ruff, pylint

fix : pre-commit
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: correct stale pytest version-cap comment
  pyproject.toml
Due: none

fix: rectification of deficiencies
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

deduping the constant and moving it to the shared constants file
  superset-frontend/src/dashboard/components/DashboardGrid.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.tsx
  superset-frontend/src/dashboard/util/constants.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(dashboard): add vertical alignment guides and height indicator when resizing charts (#41079)
  superset-frontend/src/dashboard/components/DashboardGrid.test.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.tsx
  superset-frontend/src/dashboard/components/resizable/ResizableContainer.tsx
  superset-frontend/src/dashboard/util/constants.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

change the value name to default
  superset-frontend/src/theme/ThemeController.ts
  superset-frontend/src/theme/tests/ThemeController.test.ts
  superset/config.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

feat(subjects): add read-only Subject REST API and DAO
  superset-core/src/superset_core/common/daos.py
  superset-core/src/superset_core/common/models.py
  superset/core/api/core_api_injection.py
  superset/daos/subject.py
  superset/initialization/__init__.py
  superset/subjects/api.py
  superset/subjects/filters.py
  superset/subjects/schemas.py
  superset/subjects/sync.py
  tests/integration_tests/subjects/__init__.py
  tests/integration_tests/subjects/api_tests.py
  tests/unit_tests/dao/subject_test.py
Due: ruff-format, ruff, pylint

feat(theme): make default theme changeable through config.py (#41007)
  superset-frontend/src/theme/ThemeController.ts
  superset-frontend/src/theme/tests/ThemeController.test.ts
  superset-frontend/src/types/bootstrapTypes.ts
  superset/config.py
  superset/views/base.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(versioning): exclude editors/viewers M2M from Continuum versioning
  superset/connectors/sqla/models.py
  superset/models/dashboard.py
  superset/models/slice.py
Due: ruff-format, ruff, pylint

feat: use chart name and timestamp for CSV/Excel export filenames
  superset/charts/data/api.py
  tests/integration_tests/charts/data/api_tests.py
Due: ruff-format, ruff, pylint

name Subject admin only
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(sqllab): collapse left sidebar shows compact db selector in top bar
  superset-frontend/src/SqlLab/actions/sqlLab.test.ts
  superset-frontend/src/SqlLab/actions/sqlLab.ts
  superset-frontend/src/SqlLab/components/AppLayout/AppLayout.test.tsx
  superset-frontend/src/SqlLab/components/AppLayout/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditor/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTopBar/index.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.test.ts
  superset-frontend/src/SqlLab/reducers/sqlLab.ts
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/DatabaseSelector/types.ts
  superset-frontend/src/components/ResizableSidebar/useStoredSidebarWidth.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-data): return 403 for SupersetSecurityException in chart data API (#41865)
  superset/charts/data/api.py
Due: ruff-format, ruff, pylint

fix(snowflake): Snowflake token injection for OAuth authentication
  superset/db_engine_specs/snowflake.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

docs: add explanatory comment to superset package init
  superset/__init__.py
Due: ruff-format, ruff, pylint

fix(a11y): add aria-label to RightMenu documentation and bug-report icon links
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Address comments
  docs/developer_docs/extensions/storage.md
  superset-core/src/superset_core/extensions/context.py
  superset-core/src/superset_core/extensions/storage/ephemeral.py
  superset-core/src/superset_core/extensions/storage/models.py
  superset-core/src/superset_core/extensions/types.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset/config.py
  superset/core/api/core_api_injection.py
  superset/core/mcp/core_mcp_injection.py
  superset/extensions/context.py
  superset/extensions/storage/api.py
  superset/extensions/storage/ephemeral.py
  superset/extensions/storage/ephemeral_dao.py
  superset/extensions/storage/filters.py
  superset/extensions/storage/persistent.py
  superset/extensions/storage/persistent_dao.py
  superset/extensions/storage/persistent_model.py
  superset/extensions/storage/utils.py
  superset/migrations/versions/2026-07-07_12-00_e5f6a7b8c9d0_add_extension_storage_table.py
  superset/tasks/decorators.py
  tests/unit_tests/extensions/storage/conftest.py
  tests/unit_tests/extensions/storage/test_api.py
  tests/unit_tests/extensions/storage/test_context.py
  tests/unit_tests/extensions/storage/test_ephemeral.py
  tests/unit_tests/extensions/storage/test_ephemeral_dao.py
  tests/unit_tests/extensions/storage/test_persistent_dao.py
  tests/unit_tests/extensions/storage/test_storage_api.py
  tests/unit_tests/extensions/storage/test_utils.py
  tests/unit_tests/semantic_layers/decorators_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(chart): keep query-context updates bound to the chart's datasource
  superset/commands/chart/exceptions.py
  superset/commands/chart/update.py
  tests/unit_tests/commands/chart/update_test.py
Due: ruff-format, ruff, pylint

fix(chart): reject query-context datasource missing a type
  superset/commands/chart/update.py
  tests/unit_tests/commands/chart/update_test.py
Due: ruff-format, ruff, pylint

fix(tests): target column cells by col-id in FilterableTable sort tests
  superset-frontend/src/components/FilterableTable/FilterableTable.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(mcp): cover generic restore-failure path in undelete_dashboard
  tests/unit_tests/mcp_service/dashboard/tool/test_undelete_dashboard.py
Due: ruff-format, ruff

fix(query_object_factory): normalize deprecated query fields before constructing QueryObject (#41204)
  superset/common/query_object_factory.py
  tests/unit_tests/common/test_query_object_factory.py
Due: ruff-format, ruff, pylint

fix(explore): allow chart owners to overwrite when owners are objects
  superset-frontend/src/explore/components/SaveModal.test.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
