Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

feat(chart): enable cross-filter on temporal x-axis (bar/label click) (#42792)
  superset-frontend/packages/superset-ui-core/src/time-format/index.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: remove local spec artifacts
  specs/sc-112048-fix-date-trunc-grouping/checklists/requirements.md
  specs/sc-112048-fix-date-trunc-grouping/contracts/query-expression-normalization.md
  specs/sc-112048-fix-date-trunc-grouping/data-model.md
  specs/sc-112048-fix-date-trunc-grouping/plan.md
  specs/sc-112048-fix-date-trunc-grouping/quickstart.md
  specs/sc-112048-fix-date-trunc-grouping/research.md
  specs/sc-112048-fix-date-trunc-grouping/spec.md
  specs/sc-112048-fix-date-trunc-grouping/tasks.md
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/sql/parse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(sqla): normalize PostgreSQL date trunc metric units
  specs/sc-112048-fix-date-trunc-grouping/checklists/requirements.md
  specs/sc-112048-fix-date-trunc-grouping/contracts/query-expression-normalization.md
  specs/sc-112048-fix-date-trunc-grouping/data-model.md
  specs/sc-112048-fix-date-trunc-grouping/plan.md
  specs/sc-112048-fix-date-trunc-grouping/quickstart.md
  specs/sc-112048-fix-date-trunc-grouping/research.md
  specs/sc-112048-fix-date-trunc-grouping/spec.md
  specs/sc-112048-fix-date-trunc-grouping/tasks.md
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/models/helpers.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/db_engine_specs/test_redshift.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

refactor(sqla): isolate metric normalization
  superset/connectors/sqla/models.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/models/helpers.py
  superset/models/sql_lab.py
  superset/sql/dialects/postgres.py
  superset/sql/metric_normalization.py
  superset/sql/parse.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(sqla): gate metric source preservation on the engine spec
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  superset/db_engine_specs/snowflake.py
  superset/models/helpers.py
  superset/sql/metric_normalization.py
  tests/unit_tests/sql/metric_normalization_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test(sql): cover postgres normalization fallback
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/sql/metric_normalization_tests.py
Due: ruff-format, ruff

fix(sqla): address metric normalization reviews
  superset/models/helpers.py
  superset/sql/dialects/postgres.py
  superset/sql/metric_normalization.py
  superset/sql/parse.py
  tests/integration_tests/query_context_tests.py
  tests/integration_tests/sqla_models_tests.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/db_engine_specs/test_redshift.py
  tests/unit_tests/models/helpers_test.py
  tests/unit_tests/sql/metric_normalization_tests.py
Due: ruff-format, ruff, pylint

test(sql): cover metric normalization branches
  tests/unit_tests/db_engine_specs/test_postgres.py
  tests/unit_tests/sql/metric_normalization_tests.py
Due: ruff-format, ruff

fix(semantic-layers): clean up orphaned cache values
  superset/semantic_layers/cache_repository.py
  tests/integration_tests/semantic_layers/cache_coordination_tests.py
  tests/unit_tests/semantic_layers/cache_repository_test.py
Due: ruff-format, ruff, pylint

docs(semantic-layers): explain containment cache boundaries
  superset/semantic_layers/cache.py
Due: ruff-format, ruff, pylint

fix(semantic-layers): harden containment cache reuse
  superset-frontend/packages/superset-ui-core/src/components/CachedLabel/TooltipContent.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/CachedLabel/TooltipContent.tsx
  superset-frontend/packages/superset-ui-core/src/components/CachedLabel/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/CachedLabel/types.ts
  superset-frontend/packages/superset-ui-core/src/components/index.ts
  superset-frontend/src/explore/components/ChartPills.test.tsx
  superset-frontend/src/explore/components/ChartPills.tsx
  superset/async_events/cache_backend.py
  superset/charts/data/api.py
  superset/common/utils/query_cache_manager.py
  superset/initialization/__init__.py
  superset/semantic_layers/cache.py
  superset/semantic_layers/cache_coordination.py
  superset/semantic_layers/cache_identity.py
  superset/semantic_layers/cache_policy.py
  superset/semantic_layers/cache_repository.py
  superset/semantic_layers/cache_transform.py
  superset/semantic_layers/cache_types.py
  superset/semantic_layers/mapper.py
  tests/unit_tests/async_events/test_cache_backend.py
  tests/unit_tests/charts/test_chart_data_api.py
  tests/unit_tests/common/test_query_cache_manager.py
  tests/unit_tests/semantic_layers/cache_coordination_test.py
  tests/unit_tests/semantic_layers/cache_identity_test.py
  tests/unit_tests/semantic_layers/cache_policy_test.py
  tests/unit_tests/semantic_layers/cache_repository_test.py
  tests/unit_tests/semantic_layers/cache_test.py
  tests/unit_tests/utils/test_cache_manager.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(semantic-cache): cover the lease-renewal and eviction-delete failure paths
  tests/unit_tests/semantic_layers/cache_coordination_test.py
  tests/unit_tests/semantic_layers/cache_repository_test.py
Due: ruff-format, ruff

refactor(coordination): centralize distributed coordination in a single service (#43316)
  UPDATING.md
  docs/admin_docs/configuration/cache.mdx
  superset/async_events/async_query_manager.py
  superset/commands/distributed_lock/acquire.py
  superset/commands/distributed_lock/base.py
  superset/commands/distributed_lock/release.py
  superset/config.py
  superset/coordination/__init__.py
  superset/coordination/base.py
  superset/coordination/exceptions.py
  superset/coordination/types.py
  superset/coordination/utils.py
  superset/tasks/context.py
  superset/tasks/manager.py
  tests/integration_tests/async_events/api_tests.py
  tests/integration_tests/tasks/async_queries_tests.py
  tests/integration_tests/tasks/test_sync_join_wait.py
  tests/unit_tests/async_events/async_query_manager_tests.py
  tests/unit_tests/coordination/__init__.py
  tests/unit_tests/coordination/test_service.py
  tests/unit_tests/distributed_lock/distributed_lock_tests.py
  tests/unit_tests/tasks/test_handlers.py
  tests/unit_tests/tasks/test_manager.py
  tests/unit_tests/tasks/test_timeout.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(echarts): scroll overflowing plain legends
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(semantic-cache): address post-approval review findings
  .github/actions/change-detector/action.yml
  .github/workflows/superset-python-integrationtest.yml
  scripts/change_detector.py
  superset/semantic_layers/cache_host.py
  superset/semantic_layers/cache_transform.py
  superset/semantic_layers/mapper.py
  tests/unit_tests/semantic_layers/cache_host_test.py
  tests/unit_tests/semantic_layers/cache_integration_test.py
Due: ruff-format, ruff, pylint

fix(sqllab): default PostgreSQL port to 5432 in the dynamic connection form (#43351)
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset/db_engine_specs/base.py
  superset/db_engine_specs/postgres.py
  tests/integration_tests/databases/api_tests.py
  tests/integration_tests/databases/commands_tests.py
  tests/integration_tests/db_engine_specs/postgres_tests.py
  tests/unit_tests/db_engine_specs/test_postgres.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata

fix(semantic-cache): harden the cache boundary for replicated and evolving deployments
  superset/semantic_layers/cache.py
  tests/unit_tests/semantic_layers/cache_test.py
Due: ruff-format, ruff, pylint

feat(gtf): add task dependencies (DAG) with chain-icon Task List display
  docs/developer_docs/extensions/tasks.md
  superset-core/src/superset_core/tasks/models.py
  superset-core/src/superset_core/tasks/types.py
  superset-frontend/src/features/tasks/TaskDependenciesPopover.test.tsx
  superset-frontend/src/features/tasks/TaskDependenciesPopover.tsx
  superset-frontend/src/features/tasks/types.ts
  superset-frontend/src/pages/TaskList/TaskList.test.tsx
  superset-frontend/src/pages/TaskList/index.tsx
  superset/commands/tasks/exceptions.py
  superset/commands/tasks/submit.py
  superset/daos/tasks.py
  superset/migrations/versions/2026-08-21_12-00_7e2c9a4f1b83_create_task_dependencies_table.py
  superset/models/task_dependencies.py
  superset/models/tasks.py
  superset/tasks/decorators.py
  superset/tasks/manager.py
  superset/tasks/scheduler.py
  superset/tasks/schemas.py
  tests/integration_tests/tasks/api_tests.py
  tests/integration_tests/tasks/commands/test_submit.py
  tests/unit_tests/tasks/test_decorators.py
  tests/unit_tests/tasks/test_dependencies.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore(gtf): fix end-of-file newlines after removing __all__
  superset-core/src/superset_core/tasks/models.py
  superset-core/src/superset_core/tasks/types.py
Due: ruff-format, ruff, pylint

add options param to registerChat for registering client tools inline
  superset-frontend/packages/superset-core/src/chat/index.ts
  superset-frontend/src/core/chat/ChatProvider.test.ts
  superset-frontend/src/core/chat/ChatProvider.ts
  superset-frontend/src/extensions/ExtensionsLoader.test.ts
  superset-frontend/src/extensions/ExtensionsLoader.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(gtf): cover TaskDAO dependency methods; assert task_name in depends_on
  tests/integration_tests/tasks/api_tests.py
  tests/unit_tests/daos/test_tasks.py
Due: ruff-format, ruff

test(gtf): fold dependency assertions into existing tests, de-duplicate
  superset-frontend/src/pages/TaskList/TaskList.test.tsx
  tests/integration_tests/tasks/api_tests.py
  tests/integration_tests/tasks/commands/test_submit.py
  tests/unit_tests/daos/test_tasks.py
  tests/unit_tests/tasks/test_decorators.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

perf(gtf): skip redundant DB reads for already-terminal prerequisites
  superset/tasks/scheduler.py
  tests/unit_tests/tasks/test_dependencies.py
Due: ruff-format, ruff, pylint

perf(gtf): make dependency persistence O(1) round-trips on submit
  superset/commands/tasks/submit.py
  superset/daos/tasks.py
  tests/unit_tests/daos/test_tasks.py
  tests/unit_tests/tasks/test_dependencies.py
Due: ruff-format, ruff, pylint

feat(gtf): add task dependencies (DAG) with chain-icon Task List display (#43408)
  docs/developer_docs/extensions/tasks.md
  superset-core/src/superset_core/tasks/models.py
  superset-core/src/superset_core/tasks/types.py
  superset-frontend/src/features/tasks/TaskDependenciesPopover.test.tsx
  superset-frontend/src/features/tasks/TaskDependenciesPopover.tsx
  superset-frontend/src/features/tasks/types.ts
  superset-frontend/src/pages/TaskList/TaskList.test.tsx
  superset-frontend/src/pages/TaskList/index.tsx
  superset/commands/tasks/exceptions.py
  superset/commands/tasks/submit.py
  superset/daos/tasks.py
  superset/migrations/versions/2026-08-21_12-00_7e2c9a4f1b83_create_task_dependencies_table.py
  superset/models/task_dependencies.py
  superset/models/tasks.py
  superset/tasks/decorators.py
  superset/tasks/manager.py
  superset/tasks/scheduler.py
  superset/tasks/schemas.py
  tests/integration_tests/tasks/api_tests.py
  tests/integration_tests/tasks/commands/test_submit.py
  tests/unit_tests/daos/test_tasks.py
  tests/unit_tests/tasks/test_decorators.py
  tests/unit_tests/tasks/test_dependencies.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(coordination): add reliable stream primitives to the cache backend
  superset/async_events/cache_backend.py
Due: ruff-format, ruff, pylint

feat(coordination): reliable Streams-based await/notify; demote pub/sub to nudges
  superset/config.py
  superset/coordination/base.py
  superset/coordination/types.py
  superset/tasks/manager.py
  tests/unit_tests/coordination/test_service.py
  tests/unit_tests/tasks/test_manager.py
Due: ruff-format, ruff, pylint, feature-flags-sync

test(coordination): cover backend stream primitives; docs: streams delivery model
  docs/admin_docs/configuration/cache.mdx
  docs/developer_docs/extensions/tasks.md
  tests/unit_tests/async_events/test_cache_backend.py
Due: ruff-format, ruff

docs(coordination): drop subjective phrasing; state mechanism and why
  docs/admin_docs/configuration/cache.mdx
  docs/developer_docs/extensions/tasks.md
  superset/coordination/base.py
  superset/tasks/manager.py
Due: ruff-format, ruff, pylint

test(coordination): cover Sentinel stream helpers + stream-listen path; review nits
  superset/tasks/manager.py
  tests/unit_tests/async_events/test_cache_backend.py
  tests/unit_tests/coordination/test_service.py
Due: ruff-format, ruff, pylint

refactor(coordination): reliable Redis Streams await/notify (replace at-most-once pub/sub) (#43409)
  docs/admin_docs/configuration/cache.mdx
  docs/developer_docs/extensions/tasks.md
  superset/async_events/cache_backend.py
  superset/config.py
  superset/coordination/base.py
  superset/coordination/types.py
  superset/tasks/manager.py
  tests/unit_tests/async_events/test_cache_backend.py
  tests/unit_tests/coordination/test_service.py
  tests/unit_tests/tasks/test_manager.py
Due: ruff-format, ruff, pylint, feature-flags-sync

feat(common): canonical single-query serialization for async chart data
  superset/common/query_serialization.py
  tests/integration_tests/query_context_tests.py
  tests/unit_tests/common/test_query_serialization.py
Due: ruff-format, ruff, pylint

feat(common): canonical single-query serialization for async chart data (#43410)
  superset/common/query_serialization.py
  tests/integration_tests/query_context_tests.py
  tests/unit_tests/common/test_query_serialization.py
Due: ruff-format, ruff, pylint

fix(table): keep each metric's own aggregate in the summary row by default
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getTotalsMetrics.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getTotalsMetrics.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(gaq): fan chart-data async requests into per-QueryObject GTF tasks
  superset/charts/data/api.py
  superset/commands/chart/data/create_async_job_command.py
  superset/commands/chart/data/get_data_command.py
  superset/common/query_context.py
  superset/tasks/async_queries.py
  superset/tasks/decorators.py
Due: ruff-format, ruff, pylint

feat(gtf): add /api/v1/task/status_changes cursor-poll endpoint
  superset/daos/tasks.py
  superset/tasks/api.py
Due: ruff-format, ruff, pylint

feat(gaq): drop coordinator + qc-wrapper; poll GTF task statuses directly
  superset/charts/data/api.py
  superset/charts/data/query_context_cache_loader.py
  superset/commands/chart/data/create_async_job_command.py
  superset/daos/tasks.py
  superset/tasks/api.py
  superset/tasks/async_queries.py
Due: ruff-format, ruff, pylint
