Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

Create dnd-reorder.test.ts
  superset-frontend/src/dashboard/util/dnd-reorder.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(dashboard): migrate dashboard utility functions to TypeScript
  superset-frontend/src/dashboard/util/dnd-reorder.js
  superset-frontend/src/dashboard/util/getComponentWidthFromDrop.ts
  superset-frontend/src/dashboard/util/getDetailedComponentWidth.ts
  superset-frontend/src/dashboard/util/getDropPosition.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): compute occupiedWidth as max child width
  superset-frontend/src/dashboard/util/getDetailedComponentWidth.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): restore parentDepth logic broken during TS migration
  superset-frontend/package-lock.json
  superset-frontend/src/dashboard/util/getDropPosition.test.ts
  superset-frontend/src/dashboard/util/getDropPosition.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): restore original parentType + parentDepth behavior broken during TS migration
  superset-frontend/src/dashboard/util/getDropPosition.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): enforce occupiedWidth=0 for COLUMN_TYPE
  superset-frontend/src/dashboard/util/getDetailedComponentWidth.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): align DropResult with strict DnD positional typing
  superset-frontend/src/dashboard/util/dropOverflowsParent.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): properly handle thunk vs action in setUnsavedChangesAfterAction
  superset-frontend/src/dashboard/actions/dashboardLayout.js
  superset-frontend/src/dashboard/util/dropOverflowsParent.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): cast component in handleHover; relax EntitiesMap type to accept loose 'type' in tests
  superset-frontend/src/dashboard/components/dnd/handleHover.ts
  superset-frontend/src/dashboard/util/dnd-reorder.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ts): resolve TypeScript errors in dashboard drag-and-drop utilities
  superset-frontend/src/dashboard/components/dnd/handleHover.ts
  superset-frontend/src/dashboard/util/dnd-reorder.test.ts
  superset-frontend/src/dashboard/util/dnd-reorder.ts
  superset-frontend/src/dashboard/util/dropOverflowsParent.ts
  superset-frontend/src/dashboard/util/getDropPosition.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(ts): simplify test fixtures and import DropResult from dnd-reorder
  superset-frontend/src/dashboard/util/dnd-reorder.test.ts
  superset-frontend/src/dashboard/util/dropOverflowsParent.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(database): fix CSV upload test to use integration fixtures
  tests/integration_tests/databases/commands/upload_test.py
Due: ruff-format, ruff

test(database): fix CSV upload test fixture invocation
  tests/integration_tests/databases/commands/upload_test.py
Due: ruff-format, ruff

fix(license): add ASF license headers to new TS util files
  superset-frontend/src/dashboard/actions/dashboardLayout.js
  superset-frontend/src/dashboard/components/dnd/handleHover.ts
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/dashboard/util/dropOverflowsParent.ts
  superset-frontend/src/dashboard/util/getDropPosition.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(deps): bump fastmcp from 2.14.0 to 2.14.3 (#37410)
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  tests/integration_tests/security_tests.py
Due: ruff-format, ruff

fix(deckgl-contour): prevent WebGL freeze by clamping and auto-scaling cellSize (#37244)
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/Contour.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/getSafeCellSize.test.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/getSafeCellSize.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Contour/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: update package-lock.json
  superset-frontend/package-lock.json
Due: prettier-frontend

chore(deps): update package-lock.json
  superset-frontend/package-lock.json
Due: prettier-frontend

fix(FiltersBadge): Enhance filter status calculation and add tests for native filters with no values
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(filterBadgeTest): rollback changes to filter badge test
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(nativeFilters): add extractLabel function and tests for various filter scenarios
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(filtersBadge):updating failing tests due to new changes
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: address AI review feedback
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): initialize Māori (mi) translation support
  .gitignore
  superset/config.py
  superset/translations/mi/LC_MESSAGES/messages.po
Due: ruff-format, ruff, pylint

feat(security): remove default admin credentials, require explicit config
  docker/docker-init.sh
Due: none

feat(deploy): pass admin credentials to superset-init container
  .azuredevops/docker-compose-deploy.yml
Due: none

feat(security): read SECRET_KEY from blue-dev client config
  .azuredevops/superset-pipeline.yml
Due: none

fix(security): use VSO task.setvariable for SECRET_KEY instead of temp file
  .azuredevops/superset-pipeline.yml
Due: none

fix(security): add SUPERSET_SECRET_KEY to env section and mask debug output
  .azuredevops/superset-pipeline.yml
Due: none

chore(security): remove SUPERSET_SECRET_KEY pipeline parameter
  .azuredevops/superset-pipeline.yml
Due: none

remove logging
  superset/views/oauth.py
Due: ruff-format, ruff, pylint

fix(security): hide admin username from pipeline debug output
  .azuredevops/superset-pipeline.yml
Due: none

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
