Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

prettier:
  name: prettier
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run format -- --log-level error; else npm run prettier-check; fi'
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run lint-fix; else npm run eslint; fi'
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --ext .js,.jsx,.ts,.tsx --quiet $([ -z "$SKIP_FIX" ] && echo "--fix") $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: bash -c './scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base'
  language: system
  require_serial: true

fix type errors
  docs/src/pages/index.tsx
Due: eslint-docs

docs: add a high-level architecture diagram to the docs (#33173)
  docs/docs/contributing/resources.mdx
  docs/docusaurus.config.ts
  docs/package.json
  docs/src/pages/index.tsx
  docs/yarn.lock
Due: eslint-docs

fix:restore subheader used in bignumber with trendline
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/types.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix:restore subheader used in bignumber with trendline
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix length check
  superset-frontend/src/features/alerts/AlertReportModal.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Add directory contaninig the installation files
  docs/docs/installation/custom_docker_compose_installation_files/.env-local
  docs/docs/installation/custom_docker_compose_installation_files/Dockerfile-local.dockerfile
  docs/docs/installation/custom_docker_compose_installation_files/env_variables.sh
  docs/docs/installation/custom_docker_compose_installation_files/requirements-local.txt
  docs/docs/installation/custom_docker_compose_installation_files/superset_config_docker.py
  docs/docs/installation/custom_docker_compose_installation_files/superset_install.sh
Due: none

First draft of the docker compose docs augmentation
  docs/docs/installation/docker-compose.mdx
Due: none

Continue improving docs about custom deployment with docker compose
  docs/docs/installation/custom_docker_compose_installation_files/.env-local
  docs/docs/installation/custom_docker_compose_installation_files/superset_config_docker.py
  docs/docs/installation/custom_docker_compose_installation_files/superset_install.sh
  docs/docs/installation/docker-compose.mdx
Due: none

Fix typo
  docs/docs/installation/docker-compose.mdx
Due: none

Complete the augmentation of docker compose installation
  docs/docs/installation/custom_docker_compose_installation_files/superset_install.sh
  docs/docs/installation/docker-compose.mdx
Due: none

feat(helm-chart): Allow custom worker image
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/templates/deployment-worker.yaml
  helm/superset/values.yaml
Due: none

Add FormatQueryPayloadSchema to open-api component schemas
  superset/sqllab/api.py
Due: none

fix:restore subheader used in bignumber with trendline
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix:add test for trendline
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/transformProps.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

re add manager.py
  superset/security/manager.py
Due: none

refactor:(List): add color for the links
  superset-frontend/src/components/List/index.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/DependenciesRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/ScopeRow.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterCard/Styles.ts
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

bump to 5.0.0a8
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Due: none

added logic for custom limit in sql lab
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

linting resolved
  superset-frontend/src/SqlLab/components/QueryLimitSelect/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(Native Filters): Keep default filter values when configuring creatable behavior
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitleContainer.tsx
  superset-frontend/src/filters/components/Select/controlPanel.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: match id types, set disabled correctly
  superset-frontend/src/components/Datasource/CollectionTable.tsx
  superset-frontend/src/components/Datasource/DatasourceEditor.jsx
Due: prettier, eslint-frontend, type-checking-frontend

fix:fix explore font size
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix(Native Filters): Keep default filter values when configuring creatable behavior (#33205)
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitleContainer.tsx
  superset-frontend/src/filters/components/Select/controlPanel.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix link
  docs/docs/installation/docker-compose.mdx
Due: none

revert
  docs/docs/installation/docker-compose.mdx
Due: none

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
