Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix: forward SQL expression wide-layout class via className, not dead extraClasses prop
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): wait on the grid, not a chart, for chart-less dashboards
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/theme.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): Update Japanese translations (#42444)
  superset/translations/ja/LC_MESSAGES/messages.po
Due: none

docs(docker): clarify which parts of WEBDRIVER_BASEURL are consumed
  docker/pythonpath_dev/superset_config.py
Due: ruff-format, ruff

chore(database): remove dead extra validation exception classes
  superset/commands/database/exceptions.py
  tests/unit_tests/commands/databases/exceptions_test.py
  tests/unit_tests/databases/schema_tests.py
Due: ruff-format, ruff, pylint

fix(sqllab): add filterBySqlLab prop to decouple expose_in_sqllab filter from UI rendering mode
  superset-frontend/src/SqlLab/components/SqlEditorLeftBar/index.tsx
  superset-frontend/src/components/DatabaseSelector/DatabaseSelector.test.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/components/DatabaseSelector/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): remove __enter__ mock from get_raw_connection (uses closing())
  tests/unit_tests/commands/chart/streaming_export_command_test.py
Due: ruff-format, ruff

test(database): assert on interpolated value, not translatable wording
  tests/unit_tests/databases/schema_tests.py
Due: ruff-format, ruff

fix(chart-data): name the missing columns in select()'s validation error
  superset/utils/pandas_postprocessing/select.py
  tests/unit_tests/pandas_postprocessing/test_select.py
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): make Clear All clear filters that have default values (#42111)
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Range/RangeFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(explore): add download control to standalone charts (#42238)
  superset-frontend/src/constants.ts
  superset-frontend/src/explore/components/ExploreChartPanel/ExploreChartPanel.test.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/StandaloneDownloadControl.test.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/StandaloneDownloadControl.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/useExploreDataExport.test.ts
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/useExploreDataExport.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(lru-cache): use strict boolean assertions in the new tests
  superset-frontend/packages/superset-ui-core/test/utils/lruCache.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(pie): geometric recentering and scaling for partial arcs (#42151)
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Pie/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-data): accept a scalar column name for select()'s exclude
  superset/utils/pandas_postprocessing/select.py
  tests/unit_tests/pandas_postprocessing/test_select.py
Due: ruff-format, ruff, pylint

Improve oauth doc
  docs/admin_docs/installation/kubernetes.mdx
  docs/admin_docs/security/oauth.mdx
Due: none

Improve doc, add a real error page, fix url for keycloak 17+, fix id_token_hint and add small troubleshooting helpers
  docs/admin_docs/security/oauth.mdx
Due: none

fix: CVE-2026-14257 security vulnerability
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
Due: prettier-frontend

fix(deps): scope brace-expansion override to minimatch@>=10 only
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

fix(deps): add brace-expansion override to main frontend workspace
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

fix(deps): add brace-expansion override to main frontend workspace
  superset-frontend/package-lock.json
Due: prettier-frontend

fix(echarts): guard cross-filter mask for missing labelMap entries (#42340)
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eventHandlers.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/eventHandlers.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

change in tests
  superset-frontend/src/explore/components/DataTableControl/FilterInput.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): Add setDataMask API method
  superset-frontend/src/embedded/api.tsx
  superset-frontend/src/embedded/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): Extend SDK with setDataMask support
  superset-embedded-sdk/src/index.ts
Due: none

refactor(embedded): Optimize setDataMask with react-redux batch
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): Trigger chart queries on setDataMask update
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(embedded): Add unit tests for embedDashboard setDataMask
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.test.ts
Due: none

fix(embedded): Ignore unknown filter ids in setDataMask
  superset-embedded-sdk/src/index.test.ts
  superset-embedded-sdk/src/index.ts
  superset-frontend/src/embedded/api.test.ts
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

applying suggested fixes
  superset-frontend/src/pages/ChartCreation/ChartCreation.test.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

improvements and refactors
  superset/commands/report/execute.py
  superset/daos/report.py
  superset/reports/schemas.py
  superset/reports/types.py
  superset/tasks/scheduler.py
  tests/integration_tests/reports/commands_tests.py
Due: ruff-format, ruff, pylint

fix(dashboard): force-render virtualized charts before client-side export
  superset-frontend/src/dashboard/components/gridComponents/Row/Row.tsx
  superset-frontend/src/dashboard/constants.ts
  superset-frontend/src/utils/downloadAsImage.tsx
  superset-frontend/src/utils/downloadAsPdf.ts
  superset-frontend/src/utils/downloadUtils.test.ts
  superset-frontend/src/utils/downloadUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): sync FilterInput value with parent filter state (#42342)
  superset-frontend/src/explore/components/DataTableControl/FilterInput.test.tsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/DataTableControls.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix integration tests
  tests/integration_tests/reports/commands_tests.py
Due: ruff-format, ruff

refactor(subjects): make ASSIGN_CREATOR_GROUPS_AS_VIEWERS a feature flag
  docs/admin_docs/security/security.mdx
  docs/static/feature-flags.json
  superset/config.py
  superset/subjects/utils.py
  tests/unit_tests/commands/dataset/test_create_subjects.py
  tests/unit_tests/subjects/test_creator_group_defaults.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(explore): restore Back button undo for chart changes (#42473)
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/ExploreViewContainer.test.tsx
  superset-frontend/src/explore/components/ExploreViewContainer/index.tsx
  superset-frontend/src/explore/exploreUtils/exploreHistory.test.ts
  superset-frontend/src/explore/exploreUtils/exploreHistory.ts
  superset-frontend/src/hooks/useUnsavedChangesPrompt/index.ts
  superset-frontend/src/pages/Chart/Chart.test.tsx
  superset-frontend/src/pages/Chart/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

small fix
  superset/commands/report/execute.py
Due: ruff-format, ruff, pylint

test(versioning): assert restore left the entity untouched on 403 paths
  superset/versioning/api_helpers.py
  superset/versioning/restore.py
  tests/integration_tests/charts/version_restore_tests.py
  tests/integration_tests/dashboards/version_restore_tests.py
  tests/integration_tests/datasets/version_restore_tests.py
  tests/unit_tests/versioning/test_restore.py
Due: ruff-format, ruff, pylint

chore: add logging event for drill to detail
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.tsx
  superset-frontend/src/logger/LogUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(subjects): re-raise unrelated IntegrityError; clarify chart-data access
  docs/admin_docs/security/security.mdx
  superset/subjects/utils.py
  tests/unit_tests/subjects/test_utils.py
Due: ruff-format, ruff, pylint

fix(subjects): require ENABLE_VIEWERS for creator-group viewer defaults
  docs/admin_docs/security/security.mdx
  docs/static/feature-flags.json
  scripts/change_detector.py
  superset/config.py
  superset/subjects/utils.py
  tests/unit_tests/subjects/test_creator_group_defaults.py
  tests/unit_tests/subjects/test_utils.py
Due: ruff-format, ruff, pylint, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
