Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(a11y): WCAG 1.4.5 — explicitly set SVG renderer in echarts init
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(a11y): WCAG 1.4.3 — use theme tokens instead of hardcoded link colors
  superset-frontend/packages/superset-core/src/theme/GlobalStyles.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(a11y): WCAG 2.4.1 — translate SkipLink default label via t()
  superset-frontend/src/components/Accessibility/SkipLink.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(docs): add dashboard view and save-modal tutorial screenshots
  docs/static/img/tutorial/publish_button_dashboard.png
  docs/static/img/tutorial/tutorial_chart_resize.png
  docs/static/img/tutorial/tutorial_edit_button.png
  docs/static/img/tutorial/tutorial_first_dashboard.png
  docs/static/img/tutorial/tutorial_save_slice.png
  superset-frontend/playwright/generators/docs/docs-screenshots.spec.ts
  superset-frontend/playwright/generators/docs/screenshot-manifest.yaml
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reactify): preserve props + drop any cast
  superset-frontend/packages/superset-ui-core/src/chart/components/reactify.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(Chart): forward filterState and suppressLoadingSpinner
  superset-frontend/src/components/Chart/Chart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(DashboardBuilder): replace any types in shouldFocusTabs signature
  superset-frontend/src/dashboard/components/DashboardBuilder/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

ci(translations): isolate PR-introduced regressions from base drift
  .github/workflows/superset-translations.yml
  scripts/translations/check_translation_regression.py
Due: ruff-format, ruff

Apply suggestion from @codeant-ai-for-open-source[bot]
  scripts/translations/backfill_po.py
Due: ruff-format, ruff

Apply suggestion from @codeant-ai-for-open-source[bot]
  scripts/translations/build_translation_index.py
Due: ruff-format, ruff

fix(deckgl): complete scatterplot categorical color fix (#658)
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/buildQuery.test.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/buildQuery.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/transformProps.test.ts
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Scatter/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

revert: remove accidental hideTab guard from 6.0-release (#672)
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(ci): temporarily pin `webpackbar` to resolve docs building with `webpack` v5.106.0
  docs/package.json
  docs/yarn.lock
Due: none

docs: fix broken link and add split Get Started with audience links in hero and navbar
  docs/docusaurus.config.ts
  docs/src/components/GetStartedSplitButton.tsx
  docs/src/pages/index.tsx
  docs/src/styles/main.css
  docs/src/theme/NavbarItem/ComponentTypes.tsx
  docs/src/theme/NavbarItem/GetStartedSplitNavbarItem.tsx
  docs/src/theme/Root.js
Due: eslint-docs

chore(build): update Docusarus-related packages to v3.10.0
  docs/package.json
  docs/yarn.lock
Due: none

style: use tuple for parametrize names in test_sanitize_title
  tests/unit_tests/utils/test_file.py
Due: ruff-format, ruff

fix: add deterministic ordering to search pagination path
  superset-frontend/src/features/roles/RoleFormItems.test.tsx
  superset-frontend/src/features/roles/utils.test.ts
  superset-frontend/src/features/roles/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: assert select elements render in RoleFormItems tests
  superset-frontend/src/features/roles/RoleFormItems.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): modernize UndoRedo shortcut + cancel SliceAdder debounce
  superset-frontend/src/dashboard/components/SliceAdder.tsx
  superset-frontend/src/dashboard/components/UndoRedoKeyListeners/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reactify): bypass forwardRef static field type mismatch
  superset-frontend/packages/superset-ui-core/src/chart/components/reactify.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(DashboardBuilder/utils): use HTMLElement for shouldFocusTabs target
  superset-frontend/src/dashboard/components/DashboardBuilder/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(docs): refine tutorial screenshots per review feedback
  docs/static/img/tutorial/publish_button_dashboard.png
  docs/static/img/tutorial/tutorial_chart_resize.png
  docs/static/img/tutorial/tutorial_edit_button.png
  docs/static/img/tutorial/tutorial_first_dashboard.png
  docs/static/img/tutorial/tutorial_save_slice.png
  superset-frontend/playwright/generators/docs/docs-screenshots.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): restore clobbered code, fix plural coercion & fuzzy-as-context
  scripts/translations/backfill_po.py
  scripts/translations/build_translation_index.py
Due: ruff-format, ruff

test(bigquery): add bq_memory_limited defaults to existing mocks
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff

fix(docs): add ASF license header to screenshot manifest
  superset-frontend/playwright/generators/docs/screenshot-manifest.yaml
Due: none

docs(i18n): add docstrings to backfill() and main()
  scripts/translations/backfill_po.py
Due: ruff-format, ruff

fix(docs): show resize guides + trim first_dashboard
  docs/static/img/tutorial/tutorial_chart_resize.png
  docs/static/img/tutorial/tutorial_first_dashboard.png
  docs/static/img/tutorial/tutorial_save_slice.png
  superset-frontend/playwright/generators/docs/docs-screenshots.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: `npm audit fix`
  superset-frontend/package-lock.json
Due: prettier-frontend

chore: add ESLint rule to guard against using replaceable `jest-mock-console`
  superset-frontend/.eslintrc.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(build): replace `d3-color` usage with existing `tinycolor2`
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/plugins/legacy-plugin-chart-world-map/package.json
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/transformProps.ts
  superset-frontend/plugins/preset-chart-deckgl/package.json
  superset-frontend/plugins/preset-chart-deckgl/src/utils/colors.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Apply suggestions from code review
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Revert "fix(dashboard): resolve CI failures and maintain legacy superset_can_csv"
  superset-frontend/package-lock.json
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
  superset-frontend/plugins/plugin-chart-table/package.json
  superset-frontend/src/components/AlteredSliceTag/utils/index.ts
  superset-frontend/src/dashboard/actions/hydrate.ts
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.test.tsx
  superset/advanced_data_type/plugins/internet_address.py
  superset/advanced_data_type/plugins/internet_port.py
  superset/charts/api.py
  superset/daos/base.py
  superset/databases/api.py
  superset/datasets/api.py
  superset/datasource/api.py
  superset/db_engine_specs/lint_metadata.py
  superset/queries/api.py
  superset/reports/api.py
  superset/reports/notifications/email.py
  superset/reports/notifications/slack_mixin.py
  superset/sqllab/api.py
  superset/tags/api.py
  superset/tasks/api.py
  superset/themes/api.py
  superset/utils/excel.py
  superset/utils/mock_data.py
  superset/views/log/api.py
  tests/integration_tests/datasource_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/integration_tests/security/api_tests.py
  tests/unit_tests/commands/export_test.py
  tests/unit_tests/common/test_query_context_factory.py
  tests/unit_tests/datasets/test_datetime_format_detector.py
  tests/unit_tests/db_engine_specs/test_starrocks.py
  tests/unit_tests/importexport/api_test.py
  tests/unit_tests/security/guest_rls_test.py
  tests/unit_tests/utils/test_core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore: revamp timezone-related tests to accommodate `timezone-mock` v1.4.2+
  superset-frontend/packages/superset-ui-core/package.json
  superset-frontend/packages/superset-ui-core/test/time-comparison/getTimeOffset.test.ts
  superset-frontend/packages/superset-ui-core/test/time-comparison/parseDttmToDate.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(db-engine-specs): add allows_offset_fetch capability flag
  superset/db_engine_specs/base.py
  tests/unit_tests/db_engine_specs/test_base.py
Due: ruff-format, ruff, pylint

fix(elasticsearch): opt out of OFFSET — ES SQL does not support it
  superset/db_engine_specs/elasticsearch.py
  tests/unit_tests/db_engine_specs/test_elasticsearch.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(drill-detail): skip OFFSET when engine spec disallows it
  superset/models/helpers.py
  tests/unit_tests/models/test_helpers_offset.py
Due: ruff-format, ruff, pylint

feat(elasticsearch): paginate drill-detail samples via cursor
  UPDATING.md
  superset/databases/schemas.py
  superset/db_engine_specs/elasticsearch.py
  superset/views/datasource/utils.py
  tests/unit_tests/databases/test_schemas.py
  tests/unit_tests/db_engine_specs/test_elasticsearch.py
  tests/unit_tests/models/test_helpers_offset.py
  tests/unit_tests/views/__init__.py
  tests/unit_tests/views/datasource/test_utils.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat(auth): implement password change API for AUTH_DB authentication
  UPDATING.md
  docs/admin_docs/configuration/configuring-superset.mdx
  superset-frontend/src/components/GeneratePasswordInputSuffix.tsx
  superset-frontend/src/features/userInfo/UserInfoModal.tsx
  superset-frontend/src/features/users/UserListResetPasswordModal.tsx
  superset-frontend/src/features/users/utils.ts
  superset-frontend/src/pages/UserInfo/index.tsx
  superset-frontend/src/pages/UsersList/UsersList.test.tsx
  superset-frontend/src/pages/UsersList/index.tsx
  superset-frontend/src/utils/generateAuthDbPassword.test.ts
  superset-frontend/src/utils/generateAuthDbPassword.ts
  superset/config.py
  superset/daos/auth_audit_log.py
  superset/migrations/versions/2026-04-19_14-30_b7e4f2a891c3_add_auth_audit_log_table.py
  superset/models/__init__.py
  superset/models/auth_audit_log.py
  superset/security/manager.py
  superset/utils/auth_db_password.py
  superset/views/users/api.py
  superset/views/users/schemas.py
  tests/integration_tests/users/api_tests.py
  tests/unit_tests/daos/test_auth_audit_log_dao.py
  tests/unit_tests/utils/test_auth_db_password.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync
