Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/

feat(playwright): Add comprehensive test reporting and finalize Phase 2
  LLMS.md
  docs/docs/contributing/development.mdx
  docs/docs/contributing/howtos.mdx
  superset-frontend/package.json
  superset-frontend/playwright.config.ts
  superset-frontend/playwright/README.md
Due: prettier, eslint-frontend, type-checking-frontend

feat(playwright): Add comprehensive debugging for app/prefix CI issues
  .github/workflows/superset-e2e.yml
  superset-frontend/playwright/pages/AuthPage.ts
  superset-frontend/playwright/tests/auth/login.spec.ts
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

feat: add Phase 2 Playwright CI integration
  .github/workflows/bashlib.sh
  .github/workflows/superset-playwright.yml
  superset-frontend/playwright.config.ts
Due: eslint-frontend, type-checking-frontend

feat: enhance Playwright auth tests with improved architecture and validation
  superset-frontend/playwright/pages/AuthPage.ts
  superset-frontend/playwright/tests/auth/login.spec.ts
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

chore: update login to use admin/general
  superset-frontend/playwright/tests/auth/login.spec.ts
Due: eslint-frontend, type-checking-frontend

feat: complete Playwright E2E test architecture with working auth tests
  superset-frontend/playwright/README.md
  superset-frontend/playwright/components/core/Button.ts
  superset-frontend/playwright/components/core/Form.ts
  superset-frontend/playwright/components/core/Input.ts
  superset-frontend/playwright/components/core/index.ts
  superset-frontend/playwright/pages/AuthPage.ts
  superset-frontend/playwright/tests/auth/login.spec.ts
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

feat: enhance Playwright auth tests with comprehensive validation
  .gitignore
  superset-frontend/playwright/pages/AuthPage.ts
  superset-frontend/playwright/tests/auth/login.spec.ts
Due: eslint-frontend, type-checking-frontend

fix(playwright): Fix Flask server startup directory
  .github/workflows/bashlib.sh
Due: none

fix(playwright): Fix app/prefix URL resolution for CI compatibility
  .github/CODEOWNERS
  .github/workflows/bashlib.sh
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

fix(playwright): Use absolute URLs to match Cypress behavior
  superset-frontend/.eslintrc.js
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

test(deckgl): add comprehensive tests for CategoricalDeckGLContainer
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Dont include explore in superset for external emails
  superset/reports/notifications/email.py
  tests/unit_tests/notifications/email_tests.py
Due: none

feat(sqllab extension): core query interface api (#35077)
  superset-frontend/packages/superset-core/src/api/core.ts
  superset-frontend/packages/superset-core/src/api/sqlLab.ts
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/components/QueryAutoRefresh/index.tsx
  superset-frontend/src/core/core.ts
  superset-frontend/src/core/sqlLab.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat(mcp): Consolidate SQL Lab tools and config files
  superset/mcp_service/__main__.py
  superset/mcp_service/app.py
  superset/mcp_service/auth_config_example.py
  superset/mcp_service/chart/prompts/create_chart_guided.py
  superset/mcp_service/chart/resources/chart_configs.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_available_filters.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/config.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_available_filters.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/get_dataset_available_filters.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/server.py
  superset/mcp_service/sql_lab/tool/__init__.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tools.py
  superset/mcp_service/system/prompts/quickstart.py
  superset/mcp_service/system/resources/instance_metadata.py
  superset/mcp_service/system/tool/get_superset_instance_info.py
Due: none

fix: SQL Lab tab events (#35105)
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/SqlLab/utils/reduxStateToLocalStorageHelper.ts
  superset-frontend/src/core/sqlLab.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

Try to fix type annotation
  superset/utils/google_sheets.py
Due: none

remove debug print
  tests/unit_tests/reports/notifications/email_tests.py
Due: none

test(deckgl): add comprehensive tests for CategoricalDeckGLContainer
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.integration.test.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(DashboardEditor): CSS template selector UI in dashboard properties modal restored (#35106)
  superset-frontend/package-lock.json
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/StylingSection.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/StylingSection.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat(playwright): Add basic Playwright configuration and npm scripts
  superset-frontend/package.json
  superset-frontend/playwright.config.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat(playwright): Add test structure with ESLint configuration
  superset-frontend/.eslintrc.js
  superset-frontend/playwright/README.md
  superset-frontend/playwright/components/core/Button.ts
  superset-frontend/playwright/components/core/Form.ts
  superset-frontend/playwright/components/core/Input.ts
  superset-frontend/playwright/components/core/index.ts
  superset-frontend/playwright/pages/AuthPage.ts
  superset-frontend/playwright/tests/auth/login.spec.ts
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

docs(playwright): Add comprehensive E2E testing documentation
  docs/docs/contributing/development.mdx
  docs/docs/contributing/howtos.mdx
Due: none

move code
  superset/reports/notifications/email.py
Due: none

docs(llms): Update LLM instructions with Playwright migration info
  LLMS.md
Due: none

ci(playwright): Add GitHub Actions workflow and bash utilities
  .github/workflows/bashlib.sh
  .github/workflows/superset-playwright.yml
Due: none

fix(mcp): Fix MCP service imports and WebDriver configuration
  docker/pythonpath_dev/superset_config_docker_light.py
  superset/mcp_service/app.py
  superset/utils/webdriver.py
  tests/unit_tests/mcp_service/chart/tool/test_chart_tools.py
  tests/unit_tests/mcp_service/conftest.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_list_datasets_schema.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_execute_sql.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_sql_lab_tools.py
  tests/unit_tests/mcp_service/system/prompts/test_prompts.py
  tests/unit_tests/mcp_service/system/resources/test_resources.py
  tests/unit_tests/mcp_service/system/test_auth_integration.py
  tests/unit_tests/mcp_service/system/tool/test_system_tools.py
  tests/unit_tests/mcp_service/utils/test_error_handling.py
Due: none

fix(tests): Prevent MCP CLI tests from overwriting real superset_config.py
  tests/integration_tests/cli_mcp_tests.py
Due: none

fix: Remove duplicate controlPanel import in TimeTable component
  superset-frontend/src/visualizations/TimeTable/index.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat(playwright): Add @playwright/test devDependency for local development
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier

fix(deckgl): resolve Arc and Scatter chart legend visibility issues
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.integration.test.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.test.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/CategoricalDeckGLContainer.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utilities/Shared_DeckGL.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: Bump FAB to 5.X (#33055)
  UPDATING.md
  docs/docs/configuration/configuring-superset.mdx
  docs/versioned_docs/version-6.0.0/configuration/configuring-superset.mdx
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  superset-core/pyproject.toml
  superset/config.py
  superset/dashboards/api.py
  superset/extensions/__init__.py
  superset/initialization/__init__.py
  superset/migrations/env.py
  superset/models/dynamic_plugins.py
  superset/security/manager.py
  superset/tags/api.py
  superset/utils/core.py
  superset/views/base.py
  superset/views/base_api.py
  tests/integration_tests/base_api_tests.py
  tests/integration_tests/dashboards/dashboard_test_utils.py
  tests/integration_tests/dynamic_plugins_tests.py
  tests/integration_tests/fixtures/users.py
  tests/integration_tests/queries/api_tests.py
  tests/integration_tests/security_tests.py
  tests/unit_tests/conftest.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/security/manager_test.py
Due: none

Apply PR feedback
  superset/db_engine_specs/base.py
  superset/db_engine_specs/databricks.py
Due: none

fix(EmptyState): lighten the text color
  superset-frontend/packages/superset-ui-core/src/components/EmptyState/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

dry up
  superset-frontend/src/dashboard/components/GroupByBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/ChartCustomization/ChartCustomizationTitleContainer.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Fix CSV export button href when application root is defined.
  superset-frontend/src/SqlLab/components/ResultSet/ResultSet.test.tsx
  superset-frontend/src/SqlLab/components/ResultSet/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend
