Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

chore: revert to previous version for `toSafeHref`
  superset-frontend/src/utils/urlUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(datasets): allow fractional Hours Offset values
  superset/datasets/schemas.py
Due: ruff-format, ruff, pylint

feat(sql): add internal SQL-Lab-complete executor entry (#43931)
  superset/sql/execution/sqllab_executor.py
  tests/unit_tests/sql/execution/test_sqllab_executor.py
Due: ruff-format, ruff, pylint

feat(sql): add GTF task for async SQL Lab execution (superset.sql_lab)
  superset/config.py
  superset/sql/execution/sqllab_executor.py
  superset/tasks/sql_queries.py
  tests/unit_tests/tasks/test_sql_queries.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix: regenerate OpenAPI spec
  docs/static/resources/openapi.json
Due: none

add the modified series name by default.
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(conditional-formatting): drop the useGradient shadow state
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(conditional-formatting): drop the objectFormatting shadow state
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(conditional-formatting): drop the column shadow state
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(conditional-formatting): derive showOperatorFields from the form store
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(conditional-formatting): drop the columnFormatting shadow state
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(superset-ui-core): expose Form.useWatch
  superset-frontend/packages/superset-ui-core/src/components/Form/Form.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(conditional-formatting): pin saved rule values on open
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(conditional-formatting): seed the remaining fields from the saved config
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(conditional-formatting): pin field value preservation across remounts
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(conditional-formatting): regroup the hook section
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/FormattingPopoverContent.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(api): restore three schema fields disabled by a stray trailing comma
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

fix(api): validate a non-empty index and groupby instead of inert metadata
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

moved to the "Custom" tab.
  superset-frontend/plugins/plugin-chart-echarts/src/Candlestick/controlPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix pre commit
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix pre commit
  superset-frontend/plugins/plugin-chart-echarts/test/Candlestick/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(caching): remove obsolete timeout arg to memoized_make_cache_key
  superset/utils/cache.py
Due: ruff-format, ruff, pylint

fix(plugin-chart-table): stop clipping sticky totals row on resize
  superset-frontend/plugins/plugin-chart-table/RCA.md
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/hooks/useSticky.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): wrap raw DBAPI errors in query cost estimation
  superset/commands/sql_lab/estimate.py
  tests/unit_tests/commands/sql_lab/test_estimate.py
Due: ruff-format, ruff, pylint

fix(sqllab): preserve ClickHouse LIMIT BY when applying the row limit (#43578)
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(plugin-chart-table): match scrollbar styling on sticky header/footer
  superset-frontend/plugins/plugin-chart-table/RCA.md
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/hooks/useSticky.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(sql): cover cancel-hook + abort paths for 100% changed-line coverage
  tests/unit_tests/sql/execution/test_sqllab_executor.py
  tests/unit_tests/tasks/test_sql_queries.py
Due: ruff-format, ruff

fix(api): correct the bounds on the restored post-processing fields
  docs/static/resources/openapi.json
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

feat: add dashed line support for derived series (timeseries comparison) in MixedTimeseries chart
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style: prettier formatting and dedup import after rebase
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(MixedTimeseries): add coverage for derived-series dashed lineStyle
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(MixedTimeseries): gate derived-series dash pattern correctly
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(plugin-chart-table): verify sticky totals fix with real hit-testing, pin scrollBarStyles regression
  superset-frontend/plugins/plugin-chart-table/RCA.md
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/hooks/useSticky.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): align week-grain time comparison offsets to whole weeks
  superset/models/helpers.py
  tests/unit_tests/common/test_time_shifts.py
Due: ruff-format, ruff, pylint

fix(plugin-chart-table): clarify load-bearing vs secondary fix, remove any casts in sticky test
  superset-frontend/plugins/plugin-chart-table/RCA.md
  superset-frontend/plugins/plugin-chart-table/src/DataTable/hooks/useSticky.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/hooks/useSticky.test.tsx
  superset-frontend/plugins/plugin-chart-table/test/DataTable/utils/getScrollBarSize.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(plugin-chart-table): correct last probe-vs-gutter framing in sticky test comment
  superset-frontend/plugins/plugin-chart-table/test/DataTable/hooks/useSticky.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(plugin-chart-table): drop internal RCA notes not meant for the public repo
  superset-frontend/plugins/plugin-chart-table/RCA.md
Due: none

feat(datasets): add partition filter mapping model, migration and validation
  docs/static/feature-flags.json
  docs/static/resources/openapi.json
  superset/commands/dataset/update.py
  superset/config.py
  superset/connectors/sqla/models.py
  superset/connectors/sqla/partition_mapping.py
  superset/daos/dataset.py
  superset/dashboards/schemas.py
  superset/datasets/api.py
  superset/datasets/schemas.py
  superset/mcp_service/common/schema_discovery.py
  superset/migrations/versions/2026-09-04_00-00_a7f3c2e91d84_add_partition_filter_mapping.py
  superset/sql/parse.py
  superset/superset_typing.py
  tests/integration_tests/datasets/commands_tests.py
  tests/unit_tests/commands/dataset/update_test.py
  tests/unit_tests/connectors/sqla/partition_mapping_test.py
  tests/unit_tests/datasets/commands/export_test.py
  tests/unit_tests/datasets/partition_mapping_serialization_test.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(cache): accept extra kwargs in SupersetMetastoreCache.__init__ for flask-caching 2.5.0 compat
  superset/extensions/metastore_cache.py
  tests/unit_tests/extensions/test_metastore_cache.py
Due: ruff-format, ruff, pylint

fix: resolve Copilot review bugs, add aria-labels, and flatten test suites
  superset-frontend/src/dashboard/components/PropertiesModal/sections/LabelColorMapping.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/LabelColorMapping.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/StylingSection.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
