Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(i18n): make the chart header tooltip follow the localized name
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

perf(i18n): add a batch translation hook and per-request memo
  docs/admin_docs/configuration/asset-metadata-translation.mdx
  examples/asset_metadata_translation/hook.py
  superset/config.py
  superset/daos/log.py
  superset/models/dashboard.py
  superset/utils/i18n.py
  tests/unit_tests/utils/i18n_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

test(i18n): match recent-activity entry by URL, not list position
  tests/integration_tests/log_api_tests.py
Due: ruff-format, ruff

test(i18n): cover the asset-translation resolver and render gate
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  tests/integration_tests/log_api_tests.py
  tests/unit_tests/utils/i18n_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

test(i18n): cover i18n Jinja macro; exclude examples/ from coverage
  .codecov.yml
  tests/unit_tests/utils/i18n_test.py
Due: ruff-format, ruff

fix(i18n): prefer the batch hook and refresh localized names after edits
  examples/asset_metadata_translation/hook.py
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.testHelpers.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset/utils/i18n.py
  tests/integration_tests/log_api_tests.py
  tests/unit_tests/utils/i18n_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(i18n): match the generated OpenAPI shape for the localized list fields
  docs/static/resources/openapi.json
Due: none

fix(i18n): stop the localized name overriding per-panel chart titles
  docs/static/resources/openapi.json
  examples/asset_metadata_translation/model.py
  superset-frontend/src/dashboard/actions/hydrate.ts
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.test.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
  superset-frontend/src/dashboard/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(i18n): batch the dashboard chart payload and document the contract
  docs/admin_docs/configuration/asset-metadata-translation.mdx
  docs/static/resources/openapi.json
  examples/asset_metadata_translation/README.md
  superset/dashboards/api.py
  tests/unit_tests/utils/i18n_test.py
Due: ruff-format, ruff, pylint

fix(i18n): vary the query cache key by resolved translation
  examples/asset_metadata_translation/README.md
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

test(dashboard): cover the export storage and polling failure branches
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  tests/unit_tests/tasks/test_export_dashboard_excel.py
  tests/unit_tests/utils/gcs_tests.py
  tests/unit_tests/utils/s3_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix(security): handle cached schema/catalog names deserialized as lists (#43800)
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

feat(chart): list semantic views in the Create Chart datasource picker (#43629)
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/DatasetSelect.tsx
  superset-frontend/src/features/datasets/DatasetSelectLabel/index.tsx
  superset-frontend/src/features/datasets/fetchDatasourceList.test.ts
  superset-frontend/src/features/datasets/fetchDatasourceList.ts
  superset-frontend/src/pages/ChartCreation/ChartCreation.test.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset/daos/datasource.py
  tests/integration_tests/datasource/api_tests.py
  tests/unit_tests/datasource/dao_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(dataset): warn about dependent charts and dashboards before purging an archived dataset (#43724)
  UPDATING.md
  docs/docs/using-superset/recently-archived.mdx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/DeleteModal.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DeleteModal/types.ts
  superset-frontend/src/pages/ArchivedList/ArchivedDatasetPurgeModal.tsx
  superset-frontend/src/pages/ArchivedList/ArchivedList.test.tsx
  superset-frontend/src/pages/ArchivedList/index.tsx
  superset-frontend/src/pages/ArchivedList/types.ts
  superset/commands/deletion_retention/force_purge.py
  superset/commands/deletion_retention/purge_cascade.py
  superset/commands/deletion_retention/purge_impact.py
  superset/commands/deletion_retention/purge_policy.py
  superset/commands/purge.py
  superset/datasets/api.py
  superset/datasets/schemas.py
  superset/migrations/versions/2026-08-25_18-00_8f31c5d726ab_index_dataset_dependency_lookups.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/translations/messages.pot
  tests/integration_tests/datasets/soft_delete_tests.py
  tests/integration_tests/deletion_retention/force_purge_tests.py
  tests/unit_tests/commands/deletion_retention/test_purge_impact.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): validate Sunburst data responses exactly
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/tool/get_chart_data.py
  tests/unit_tests/mcp_service/chart/test_query_result.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

feat(dashboard): move Group By allowlist into display config section [sc-119327]
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): merge saved Sunburst form data
  superset/mcp_service/chart/tool/get_chart_data.py
Due: ruff-format, ruff, pylint

fix(gtf): loadtest publishes the realtime envelope, not retired channels
  superset-websocket/utils/README.md
  superset-websocket/utils/loadtest.js
Due: none

fix(mcp): bound chart preview responses
  superset-frontend/plugins/plugin-chart-echarts/test/Bullet/transformProps.test.ts
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/response_preflight.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_bullet_chart.py
  tests/unit_tests/mcp_service/chart/test_query_result.py
  tests/unit_tests/mcp_service/chart/test_response_preflight.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(core): normalize bare date-only strings to UTC in normalizeTimestamp
  superset-frontend/packages/superset-ui-core/src/time-format/utils/normalizeTimestamp.ts
  superset-frontend/packages/superset-ui-core/test/time-format/utils/normalizeTimestamp.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(navbar): explain sizeXS vs fontSizeXS token choice in caret CSS
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(gtf): clarify 'private' task state wording; drop redundant comments
  docs/developer_docs/extensions/tasks.md
  superset-frontend/packages/superset-ui-core/src/chart/components/StatefulChart.tsx
  superset/commands/tasks/cancel.py
  superset/tasks/context.py
  superset/tasks/decorators.py
  superset/tasks/scheduler.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(import): skip redundant has_table check when dataset import has no data URI
  superset/commands/dataset/importers/v1/utils.py
  tests/unit_tests/datasets/commands/importers/v1/import_test.py
Due: ruff-format, ruff, pylint

fix revision head
  superset/migrations/versions/2026-08-21_12-00_7e2c9a4f1b83_create_task_dependencies_table.py
Due: ruff-format, ruff

fix(reports): tighten screenshot retry safeguards
  UPDATING.md
  superset/utils/screenshot_utils.py
  tests/unit_tests/utils/test_screenshot_utils.py
Due: ruff-format, ruff, pylint

clean up tests and fix lint
  superset-frontend/src/pages/TaskList/TaskList.test.tsx
  tests/unit_tests/common/test_query_object_factory.py
  tests/unit_tests/tasks/test_async_queries.py
  tests/unit_tests/tasks/test_utils.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix(mcp): bound chart mutation responses
  superset/mcp_service/chart/response_preflight.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/utils/response_utils.py
  tests/unit_tests/mcp_service/chart/test_response_preflight.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
  tests/unit_tests/mcp_service/utils/test_response_utils.py
Due: ruff-format, ruff, pylint

fix(reports): downgrade Slack channel-fetch auth-error logging to WARNING (SC-115301) (#42484)
  superset/reports/api.py
  superset/utils/slack.py
  tests/unit_tests/reports/api_test.py
  tests/unit_tests/utils/slack_test.py
Due: ruff-format, ruff, pylint

fix(gsheets): catch JSONDecodeError in validate_parameters for malformed service_account_info (#43772)
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mcp): align Bullet number categories and empty data
  superset-frontend/plugins/plugin-chart-echarts/test/Bullet/transformProps.test.ts
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/tool/get_chart_data.py
  tests/unit_tests/mcp_service/chart/test_bullet_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(snowflake): refresh rejected OAuth tokens (#43623)
  superset/db_engine_specs/base.py
  superset/db_engine_specs/snowflake.py
  superset/sql/execution/celery_task.py
  superset/sql/execution/executor.py
  superset/utils/oauth2.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(tests): widen mock_db type annotation to satisfy mypy in load_configs tests
  tests/unit_tests/commands/importers/v1/utils_test.py
Due: ruff-format, ruff

fix(jinja): reuse get_request_json_body in get_dataset_id_from_context (#43556)
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

fix(gtf): scope test task query by task_type to avoid flaky assertion
  tests/integration_tests/tasks/api_tests.py
Due: ruff-format, ruff

fix(snowflake): quote case-sensitive lowercase column identifiers in generated SQL (#43312)
  superset/connectors/sqla/models.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/snowflake.py
  superset/models/helpers.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(echarts): highlight series on HTML legend hover
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/TimeseriesLegend.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): align Bullet wire semantics
  superset-frontend/plugins/plugin-chart-echarts/test/Bullet/transformProps.test.ts
  superset/mcp_service/chart/compile.py
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_bullet_chart.py
  tests/unit_tests/mcp_service/chart/test_response_preflight.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint
