Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

prettier:
  name: prettier
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run format -- --log-level error; else npm run prettier-check; fi'
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run lint-fix; else npm run eslint; fi'
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --ext .js,.jsx,.ts,.tsx --quiet $([ -z "$SKIP_FIX" ] && echo "--fix") $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: bash -c './scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base'
  language: system
  require_serial: true

fix(mcp): access wrapped function in dataset tool tests
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: none

Fix errors
  tests/integration_tests/dict_import_export_tests.py
  tests/integration_tests/import_export_tests.py
Due: none

fix(controlPanel): replace legacy integer validation with updated validateInteger function
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
Due: prettier, eslint-frontend, type-checking-frontend

docs: Reorganizes the extensions documentation
  .github/CODEOWNERS
  docs/developer_portal/extensions/architecture.md
  docs/developer_portal/extensions/contribution-types.md
  docs/developer_portal/extensions/deployment.md
  docs/developer_portal/extensions/development-mode.md
  docs/developer_portal/extensions/development.md
  docs/developer_portal/extensions/extension-metadata.md
  docs/developer_portal/extensions/extension-project-structure.md
  docs/developer_portal/extensions/interacting-with-host.md
  docs/developer_portal/extensions/mcp.md
  docs/developer_portal/extensions/overview.md
  docs/developer_portal/extensions/quick-start.md
  docs/developer_portal/extensions/security.md
  docs/developer_portal/sidebars.js
  docs/sidebarTutorials.js
Due: eslint-docs

fix(heatmap): preserve axis order when data combinations are missing
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Heatmap/transformProps.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

Add extension points
  docs/developer_portal/extensions/extension-points/sqllab.md
  docs/developer_portal/sidebars.js
  docs/sidebarTutorials.js
Due: eslint-docs

fix(heatmap): use axis indices and numeric sorting
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Heatmap/transformProps.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

Added initial test suite.
  superset-frontend/package-lock.json
  superset-frontend/plugins/legacy-plugin-chart-country-map/test/CountryMap.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

minor fix to pass failing test
  superset-frontend/plugins/legacy-plugin-chart-country-map/test/CountryMap.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

minor typo tweak
  docs/developer_portal/extensions/development.md
Due: none

refactor(heatmap): improve type safety and code documentation
  superset-frontend/plugins/plugin-chart-echarts/src/Heatmap/transformProps.ts
  superset.code-workspace
Due: prettier, eslint-frontend, type-checking-frontend

Address comments
  docs/developer_portal/extensions/development.md
Due: none

Add missing view field
  docs/developer_portal/extensions/extension-points/sqllab.md
Due: none

Small fixes
  superset/commands/chart/data/streaming_export_command.py
  superset/commands/dataset/export.py
  superset/common/query_actions.py
  superset/common/query_context_processor.py
  superset/connectors/sqla/models.py
  superset/explorables/base.py
  superset/models/helpers.py
  superset/thumbnails/digest.py
  superset/utils/core.py
  tests/unit_tests/utils/map_type_tests.py
Due: none

Fix links
  docs/developer_portal/extensions/extension-points/sqllab.md
Due: none

Add code snippets
  docs/developer_portal/extensions/extension-points/sqllab.md
Due: none

docs: Reorganizes the extensions documentation (#36298)
  .github/CODEOWNERS
  docs/developer_portal/extensions/architecture.md
  docs/developer_portal/extensions/contribution-types.md
  docs/developer_portal/extensions/deployment.md
  docs/developer_portal/extensions/development-mode.md
  docs/developer_portal/extensions/development.md
  docs/developer_portal/extensions/extension-metadata.md
  docs/developer_portal/extensions/extension-points/sqllab.md
  docs/developer_portal/extensions/extension-project-structure.md
  docs/developer_portal/extensions/interacting-with-host.md
  docs/developer_portal/extensions/mcp.md
  docs/developer_portal/extensions/overview.md
  docs/developer_portal/extensions/quick-start.md
  docs/developer_portal/extensions/security.md
  docs/developer_portal/sidebars.js
  docs/sidebarTutorials.js
Due: eslint-docs

fix(mcp): access wrapped function in dataset tool tests (#36295)
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
Due: none

cal-heatmap-null-month fix
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/vendor/cal-heatmap.js
  superset-frontend/plugins/legacy-plugin-chart-calendar/test/cal-heatmap.test.ts
  superset/viz.py
Due: prettier, eslint-frontend, type-checking-frontend

Migrate DraggableFilter and FilterTitleContainer in Dashboard to dnd-kit
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/DraggableFilter.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterTitleContainer.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Pushing fix to backend
  superset/models/helpers.py
  tests/integration_tests/sqla_models_tests.py
Due: none

fix(roles): Add testcase for sql_lab role permissions
  tests/integration_tests/security_tests.py
Due: none

chore: remove accidental workspace file and consolidate tests
  .gitignore
  superset-frontend/plugins/plugin-chart-echarts/test/Heatmap/transformProps.test.ts
  superset.code-workspace
Due: prettier, eslint-frontend, type-checking-frontend

tweak .code-workspace exclusion
  .gitignore
Due: none

chore(tests): remove duplicate scatter timeseries spec test
  superset-frontend/plugins/plugin-chart-echarts/spec/Timeseries/Scatter/transformProps.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

test: fix integration tests for get_dashboard
  superset/dashboards/schemas.py
  tests/integration_tests/base_tests.py
  tests/integration_tests/dashboards/api_tests.py
Due: none

fix(echarts): use scroll legend for horizontal layouts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat(tests): added tests for functionality
  superset-frontend/src/embedded/api.tsx
  superset-frontend/src/embedded/utils.test.ts
  superset-frontend/src/embedded/utils.ts
Due: prettier, eslint-frontend, type-checking-frontend

Revert "Merge branch 'fix/keep-metrics-as-undefined-for-ag-grid-raw-records' of https://github.com/apache/superset into alexandrusoare/feat/embed-chart-payload"
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix(echarts): align getLegendProps args with legend callers
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Due: prettier, eslint-frontend, type-checking-frontend

Changing approach to fix AG Grid logic instead
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

test(echarts): update series tests for legend scroll default
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

Fixing type error and removing backend changes
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/buildQuery.ts
  superset/models/helpers.py
Due: prettier, eslint-frontend, type-checking-frontend

Remove hardcoded number test
  superset-frontend/plugins/legacy-plugin-chart-country-map/test/CountryMap.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

docs: Improve the Quick Start to make it more AI-friendly
  docs/developer_portal/extensions/contribution-types.md
  docs/developer_portal/extensions/quick-start.md
Due: none

Adds more context.
  docs/developer_portal/extensions/quick-start.md
Due: none

fix(timeshift): Add a more reliable strategy for correct temporal col
  superset/models/helpers.py
Due: none

chore: Adds non-interactive mode to `superset-extensions init` command
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_init.py
Due: none

Fix CI errors
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_init.py
Due: none

add pro-component dependency
  docs/package.json
Due: none

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
