Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix: update test_extension_config_full to match updated views type signature
  superset-frontend/plugins/plugin-chart-echarts/src/utils/orderby.ts
  tests/unit_tests/extensions/test_types.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

fix: increase timeout for dataset duplicate filter persistence test
  superset-frontend/src/pages/DatasetList/DatasetList.listview.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: API for semantic views
  superset/commands/semantic_layer/__init__.py
  superset/commands/semantic_layer/exceptions.py
  superset/commands/semantic_layer/update.py
  superset/initialization/__init__.py
  superset/semantic_layers/api.py
  superset/semantic_layers/schemas.py
  tests/unit_tests/commands/semantic_layer/__init__.py
  tests/unit_tests/commands/semantic_layer/exceptions_test.py
  tests/unit_tests/commands/semantic_layer/update_test.py
  tests/unit_tests/semantic_layers/api_test.py
  tests/unit_tests/semantic_layers/schemas_test.py
Due: ruff-format, ruff, pylint

fix(viz): flatten MultiIndex columns in Time-Series Table for multiple Group By (#12066)
  superset/viz.py
  tests/integration_tests/viz_tests.py
Due: ruff-format, ruff, pylint

fix(extensions): broken test
  tests/unit_tests/extensions/test_types.py
Due: ruff-format, ruff

fix(datastore): Update the datastore icon
  superset-frontend/src/assets/images/datastore.png
  superset/db_engine_specs/datastore.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat(datastore): wire database parameter through driver and engine spec
  superset/db_engine_specs/datastore.py
  tests/unit_tests/db_engine_specs/test_datastore.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(docs): make page size selector work in database table (#37863)
  docs/src/components/databases/DatabaseIndex.tsx
Due: eslint-docs

fix(datastore): Improve test coverage from CodeCov
  superset/db_engine_specs/datastore.py
  tests/integration_tests/db_engine_specs/datastore_tests.py
  tests/unit_tests/db_engine_specs/test_datastore.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

chore: remove Applitools visual testing integration
  .github/workflows/bashlib.sh
  .github/workflows/dependency-review.yml
  .github/workflows/superset-applitool-cypress.yml
  .github/workflows/superset-applitools-storybook.yml
  docs/developer_portal/guidelines/frontend-style-guidelines.md
  docs/docusaurus.config.ts
  docs/i18n/en/docusaurus-theme-classic/footer.json
  docs/static/img/applitools.png
  superset-frontend/applitools.config.js
  superset-frontend/cypress-base/applitools.config.js
  superset-frontend/cypress-base/cypress.config.ts
  superset-frontend/cypress-base/cypress/applitools/chartlist.test.ts
  superset-frontend/cypress-base/cypress/applitools/dashboard.test.ts
  superset-frontend/cypress-base/cypress/applitools/dashboardlist.test.ts
  superset-frontend/cypress-base/cypress/applitools/explore.test.ts
  superset-frontend/cypress-base/cypress/applitools/sqllab.test.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/cypress-base/tsconfig.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend

fix(frontend): address more console warnings
  superset-frontend/packages/superset-ui-core/src/components/PageHeaderWithActions/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/components/DatabaseSelector/index.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.tsx
  superset-frontend/src/explore/components/controls/ConditionalFormattingControl/ConditionalFormattingControl.tsx
  superset-frontend/src/explore/components/controls/ContourControl/ContourPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.test.tsx
  superset-frontend/src/explore/components/controls/ControlPopover/ControlPopover.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(frontend): fix roles page console warnings
  superset-frontend/packages/superset-ui-core/src/components/Modal/Modal.tsx
  superset-frontend/packages/superset-ui-core/src/components/Modal/types.ts
  superset-frontend/src/components/ListView/ActionsBar.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(ci): complete bun/turborepo/changesets migration docs and workflows
  .cursor/rules/dev-standard.mdc
  .devcontainer/setup-dev.sh
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/tech-debt.yml
  .pre-commit-config.yaml
  AGENTS.md
  RELEASING/README.md
  docs/developer_portal/contributing/development-setup.md
  docs/developer_portal/contributing/howtos.md
  docs/developer_portal/contributing/release-process.md
  docs/developer_portal/contributing/submitting-pr.md
  docs/developer_portal/extensions/development.md
  docs/developer_portal/extensions/quick-start.md
  docs/developer_portal/testing/e2e-testing.md
  docs/developer_portal/testing/frontend-testing.md
  docs/developer_portal/testing/overview.md
  docs/developer_portal/testing/storybook.md
  scripts/eslint.sh
  superset-frontend/.changeset/config.json
  superset-frontend/cypress_build.sh
  superset-frontend/js_build.sh
  superset-frontend/package.json
  superset-frontend/scripts/build.js
  superset-frontend/scripts/lernaVersion.sh
  superset-frontend/scripts/sync-package-versions.js
  superset/static/service-worker.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(frontend): address ECharts init warning and first-child SSR warnings
  superset-frontend/plugins/plugin-chart-echarts/src/components/Echart.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/src/components/Modal/StandardModal.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardGrid.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Column/Column.tsx
  superset-frontend/src/dashboard/components/gridComponents/Row/Row.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterDivider.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.tsx
  superset-frontend/src/explore/components/controls/CurrencyControl/CurrencyControl.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/reports/ReportModal/HeaderReportDropdown/index.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(bignumber): add alignment control
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberViz.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/sharedControls.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(explore): migrate Explore Controls from react-dnd to @dnd-kit
  superset-frontend/spec/helpers/testing-library.tsx
  superset-frontend/src/explore/components/DatasourcePanel/DatasourcePanelDragOption/index.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreContainer.test.tsx
  superset-frontend/src/explore/components/ExploreContainer/ExploreDndContext.tsx
  superset-frontend/src/explore/components/ExploreContainer/index.tsx
  superset-frontend/src/explore/components/controls/ContourControl/index.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndFilterSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndSelectLabel.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/OptionWrapper.tsx
  superset-frontend/src/explore/components/controls/OptionControls/OptionControls.test.tsx
  superset-frontend/src/explore/components/controls/OptionControls/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: format cypress.config.ts with prettier
  superset-frontend/cypress-base/cypress.config.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend

perf(build): remove thread-loader from webpack config
  superset-frontend/bun.lock
  superset-frontend/package.json
  superset-frontend/webpack.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(lint): enforce stricter eslint/oxlint rules
  superset-frontend/.eslintrc.js
  superset-frontend/oxlint.json
  superset-frontend/packages/superset-ui-core/src/models/ExtensibleFunction.ts
  superset-frontend/packages/superset-ui-core/src/utils/html.test.tsx
  superset-frontend/packages/superset-ui-core/src/utils/html.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/renderers/TextCellRenderer.tsx
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(types): add missing @types packages and fix TS2742 errors for Bun
  superset-frontend/bun.lock
  superset-frontend/package.json
  superset-frontend/packages/superset-core/src/ui/testing.tsx
  superset-frontend/packages/superset-ui-core/src/components/DatePicker/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/src/components/Tabs/Tabs.tsx
  superset-frontend/packages/superset-ui-core/src/spec/index.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Heatmap/Heatmap.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/common.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utils.ts
  superset-frontend/scripts/sync-package-versions.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(lint): upgrade array creation, effect, and TypeScript rules
  superset-frontend/.eslintrc.js
  superset-frontend/oxlint.json
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-table/src/DataTable/components/Pagination.tsx
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/utils/emptyQueryResults.test.ts
  superset-frontend/src/components/FacePile/FacePile.stories.tsx
  superset-frontend/src/components/FacePile/FacePile.test.tsx
  superset-frontend/src/components/FacePile/utils.tsx
  superset-frontend/src/components/ListView/CardCollection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FilterConfigPane.test.tsx
  superset-frontend/src/pages/ExecutionLogList/ExecutionLogList.test.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset-frontend/src/pages/RolesList/RolesList.test.tsx
  superset-frontend/src/pages/SavedQueryList/SavedQueryList.test.tsx
  superset-frontend/src/pages/UserRegistrations/UserRegistrations.test.tsx
  superset-frontend/src/pages/UsersList/UsersList.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(lint): upgrade no-unused-vars rule from warn to error
  superset-frontend/.eslintrc.js
  superset-frontend/oxlint.json
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(lint): add jest/expect-expect rule for test assertions
  superset-frontend/oxlint.json
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/ModalTrigger.test.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/ChartDataProvider.test.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/SuperChart.test.tsx
  superset-frontend/src/SqlLab/reducers/sqlLab.test.ts
  superset-frontend/src/dashboard/components/gridComponents/Markdown/Markdown.test.tsx
  superset-frontend/src/features/databases/UploadDataModel/UploadDataModal.test.tsx
  superset-frontend/src/pages/AnnotationLayerList/AnnotationLayerList.test.tsx
  superset-frontend/src/pages/ChartCreation/ChartCreation.test.tsx
  superset-frontend/src/pages/CssTemplateList/CssTemplateList.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(build): resolve production build errors with Bun
  superset-frontend/bun.lock
  superset-frontend/package.json
  superset-frontend/webpack.config.js
  superset/static/service-worker.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(changesets): configure workspace protocol and private packages
  superset-frontend/.changeset/config.json
  superset-frontend/bun.lock
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/package.json
  superset-frontend/eslint-rules/eslint-plugin-icons/package.json
  superset-frontend/eslint-rules/eslint-plugin-theme-colors/package.json
  superset-frontend/package.json
  superset/static/service-worker.js
Due: prettier-frontend

fix(dashboard): adjust the droptarget position
  superset-frontend/src/dashboard/components/gridComponents/Column/Column.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): Don't show unsaved changes modal on new charts (#37714)
  superset-frontend/src/explore/components/ExploreChartHeader/ExploreChartHeader.test.tsx
  superset-frontend/src/explore/components/ExploreChartHeader/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(async-query): add regression tests for JWT sub=None bug
  tests/unit_tests/async_events/async_query_manager_tests.py
Due: ruff-format, ruff

fix(async-query): prevent JWT InvalidSubjectError for guest users
  superset/async_events/async_query_manager.py
Due: ruff-format, ruff, pylint

Update tests/unit_tests/async_events/async_query_manager_tests.py
  tests/unit_tests/async_events/async_query_manager_tests.py
Due: ruff-format, ruff

fix(extensions): broken test (#37871)
  tests/unit_tests/extensions/test_types.py
Due: ruff-format, ruff

fix(filtersBadge):updating failing tests due to new changes
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(nativeFilters): implement getAppliedColumnsWithFallback function and update tests
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(FiltersBadge): Enhance filter status calculation and add tests for native filters with no values
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(queryContext): handle cache misses for applied filter columns to ensure fresh queries
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint

chore(filterBadgeTest): rollback changes to filter badge test
  superset-frontend/spec/fixtures/mockStore.js
  superset-frontend/src/dashboard/components/FiltersBadge/FiltersBadge.test.tsx
  superset-frontend/src/dashboard/components/FiltersBadge/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(nativeFilters): add extractLabel function and tests for various filter scenarios
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/selectors.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/selectors.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(controlPanel): prettier format
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(chart): introduce StackControlOptionsWithoutStream for bar charts and update control panel accordingly
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(timeseries): remove stream style for bar charts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/constants.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/controlPanel.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
