Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(filters): clamp filter bar row while remeasuring after items change (#43966)
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): scope tab-diff report lookup to the edited dashboard (#43989)
  superset/commands/dashboard/update.py
  superset/daos/report.py
  tests/unit_tests/commands/dashboard/update_test.py
Due: ruff-format, ruff, pylint

docs: update postgresql supported versions policy
  docs/admin_docs/configuration/configuring-superset.mdx
Due: none

fix: correct docker-compose filename extension to .yml
  docs/admin_docs/configuration/configuring-superset.mdx
Due: none

fix(drillby): use rowcount in drill-by results table
  superset-frontend/src/components/Chart/DrillBy/useResultsTableView.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(big-number-yoy-mom): dedupe comparison metrics and downgrade adhoc time column
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(native-filters): clear dependent filter values when a parent filter changes (#44008)
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControl.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/state.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/state.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Horizontal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/Vertical.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/useFilterControlFactory.tsx
  superset-frontend/src/dashboard/components/nativeFilters/dependencyGraph.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/dependencyGraph.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
  superset-frontend/src/filters/components/Select/transformProps.ts
  superset-frontend/src/filters/components/Select/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: apply oxlint auto-fixes
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/state.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(big-number-yoy-mom): point-to-point time comparison for open time ranges
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/buildQuery.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/timeRange.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(dashboard): stream the Excel export inline when no storage is configured
  UPDATING.md
  docs/docs/using-superset/exporting-dashboard-data.mdx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset/config.py
  superset/dashboards/api.py
  superset/dashboards/excel_export/storage.py
  superset/dashboards/excel_export/sync_budget.py
  superset/dashboards/excel_export/workbook.py
  superset/tasks/export_dashboard_excel.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/dashboards/test_excel_export_storage.py
  tests/unit_tests/dashboards/test_excel_export_sync_budget.py
  tests/unit_tests/tasks/test_export_dashboard_excel.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint, feature-flags-sync

fix(couchbase): remove debug prints that emit the connection URI to stdout
  superset/db_engine_specs/couchbase.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix: add cascade clear callback to filter control props
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/types.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/filters/components/Select/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(reports): reduce sparse capture false positives
  superset/utils/screenshot_utils.py
  superset/utils/webdriver.py
  tests/unit_tests/utils/test_screenshot_utils.py
  tests/unit_tests/utils/webdriver_test.py
Due: ruff-format, ruff, pylint

test(security): cover query schema access permissions
  superset/models/sql_lab.py
  tests/unit_tests/models/sql_lab_test.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(big-number-yoy-mom): auto-position big number and comparison line
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberYoyMom/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): add EmbeddedChartDAO, schemas and chart embedded endpoints
  superset/charts/api.py
  superset/charts/schemas.py
  superset/daos/chart.py
Due: ruff-format, ruff, pylint

test(embedded): cover the fabricated hydrate payload
  superset-frontend/src/embedded/embeddedChart/hydrateEmbedded.test.ts
  superset-frontend/src/embedded/embeddedChart/hydrateEmbedded.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): render an embedded chart via fabricated dashboard state
  superset-frontend/src/embedded/embeddedChart/hydrateEmbedded.ts
  superset-frontend/src/embedded/embeddedChart/index.tsx
  superset-frontend/src/embedded/embeddedChart/useExploreData.ts
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/types/bootstrapTypes.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): restore fullscreen and image exports for embedded charts
  superset-frontend/src/embedded/embeddedChart/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): say 'chart' in the embed modal when embedding a chart
  superset-frontend/src/dashboard/components/EmbeddedModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): don't serve the mobile experience inside an iframe
  superset-frontend/src/hooks/useIsMobile.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): allow guest tokens scoped to a chart
  superset/security/guest_token.py
  superset/security/manager.py
Due: ruff-format, ruff, pylint

feat(embedded): expose Embed chart from the chart menu
  superset-frontend/src/dashboard/components/EmbeddedModal/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): correct import paths for the 6.x module layout
  superset-frontend/src/embedded/embeddedChart/index.tsx
  superset-frontend/src/embedded/embeddedChart/useExploreData.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): add EmbeddedChart model and migration
  superset/migrations/versions/2026-09-01_10-00_a1c7e4b62f18_add_embedded_charts_table.py
  superset/models/embedded_chart.py
  superset/models/slice.py
Due: ruff-format, ruff, pylint

fix(embedded): pad the embedded chart and size it to its container
  superset-frontend/src/embedded/embeddedChart/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): resolve a uuid as either an embedded dashboard or chart
  superset/embedded/view.py
Due: ruff-format, ruff, pylint

feat(embedded): complete the standalone chart render path
  superset-frontend/src/embedded/embeddedChart/hydrateEmbedded.ts
  superset/security/manager.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(embedded): don't 500 on a malformed Referer
  superset/embedded/view.py
Due: ruff-format, ruff, pylint

fix(embedded): resolve the guest user before the chart lookup
  superset/security/manager.py
  tests/unit_tests/security/test_embedded_guest_chart_access.py
Due: ruff-format, ruff, pylint

fix(embedded): chain the migration onto the current master head
  superset/migrations/versions/2026-09-01_10-00_a1c7e4b62f18_add_embedded_charts_table.py
Due: ruff-format, ruff

fix(embedded): document the embedded PUT and expect the new chart permission
  superset/charts/api.py
  tests/integration_tests/charts/api_tests.py
Due: ruff-format, ruff, pylint

fix(embedded): declare embedded_charts in the chart purge policy
  superset/commands/deletion_retention/purge_policy.py
Due: ruff-format, ruff, pylint

fix(embedded): register the embedded chart response schema
  superset/charts/api.py
Due: ruff-format, ruff, pylint

chore(embedded): apply lint and formatting fixes
  superset/charts/api.py
  superset/migrations/versions/2026-09-01_10-00_a1c7e4b62f18_add_embedded_charts_table.py
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(embedded): type the chart's datasource as Datasource
  superset-frontend/src/embedded/embeddedChart/hydrateEmbedded.ts
  superset-frontend/src/embedded/embeddedChart/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): dump the chart id on embedded chart responses
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

fix(embedded): honour guest token revocation for charts
  superset/security/manager.py
  tests/unit_tests/security/test_guest_token_revocation.py
Due: ruff-format, ruff, pylint

refactor(embedded): name the hook after what it fetches
  superset-frontend/src/embedded/embeddedChart/index.tsx
  superset-frontend/src/embedded/embeddedChart/useEmbeddedChartData.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

perf(embedded): load the chart stack lazily
  superset-frontend/src/embedded/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
