Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/

add extensions migration
  superset/migrations/versions/2025-03-07_08-35_d4d5115bdeb0_add_extensions_table.py
Due: none

Adds extensions code and built files
  superset-frontend/extensions/extension1/.babelrc.json
  superset-frontend/extensions/extension1/package-lock.json
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension1/src/index.tsx
  superset-frontend/extensions/extension1/tsconfig.json
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package-lock.json
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/src/index.tsx
  superset-frontend/extensions/extension2/tsconfig.json
  superset-frontend/extensions/extension2/webpack.config.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-primitives/.babelrc.json
  superset-frontend/packages/superset-primitives/package.json
  superset-frontend/packages/superset-primitives/src/Avatar/Avatar.stories.tsx
  superset-frontend/packages/superset-primitives/src/Avatar/index.tsx
  superset-frontend/packages/superset-primitives/src/index.ts
  superset-frontend/packages/superset-primitives/tsconfig.json
  superset-frontend/src/components/FacePile/index.tsx
  superset-frontend/tsconfig.json
  superset/extensions/api.py
  superset/static/extensions/extension1/900.bundle.js
  superset/static/extensions/extension1/bundle.js
  superset/static/extensions/extension1/bundle.js.LICENSE.txt
  superset/static/extensions/extension1/remoteEntry.js
  superset/static/extensions/extension1/remoteEntry.js.LICENSE.txt
  superset/static/extensions/extension2/900.bundle.js
  superset/static/extensions/extension2/bundle.js
  superset/static/extensions/extension2/bundle.js.LICENSE.txt
  superset/static/extensions/extension2/remoteEntry.js
  superset/static/extensions/extension2/remoteEntry.js.LICENSE.txt
Due: prettier, eslint-frontend, type-checking-frontend

Adds @apache-superset/types and apache-@superset/components
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-components/.babelrc.json
  superset-frontend/packages/superset-components/package.json
  superset-frontend/packages/superset-components/src/Avatar/Avatar.stories.tsx
  superset-frontend/packages/superset-components/src/Avatar/index.tsx
  superset-frontend/packages/superset-components/src/index.ts
  superset-frontend/packages/superset-components/tsconfig.json
  superset-frontend/packages/superset-extensions-sdk/TODO.txt
  superset-frontend/packages/superset-types/.babelrc.json
  superset-frontend/packages/superset-types/package.json
  superset-frontend/packages/superset-types/src/commands.d.ts
  superset-frontend/packages/superset-types/src/core.d.ts
  superset-frontend/packages/superset-types/src/environment.d.ts
  superset-frontend/packages/superset-types/src/extensions.d.ts
  superset-frontend/packages/superset-types/src/index.d.ts
  superset-frontend/packages/superset-types/src/sqlLab.d.ts
  superset-frontend/packages/superset-types/tsconfig.json
  superset-frontend/src/components/FacePile/index.tsx
  superset-frontend/src/extensions/core.ts
  superset-frontend/src/extensions/index.ts
  superset-frontend/src/views/App.tsx
  superset-frontend/tsconfig.json
  superset-frontend/webpack.config.js
Due: prettier, eslint-frontend, type-checking-frontend

remove import from webpack bundle
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/webpack.config.js
Due: eslint-frontend, type-checking-frontend

add backend model and general cleanup
  superset-frontend/extensions/extension1/package-lock.json
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package-lock.json
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/webpack.config.js
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-extensions-sdk/.nvmrc
  superset-frontend/packages/superset-extensions-sdk/package.json
  superset-frontend/packages/superset-extensions-sdk/src/index.ts
  superset-frontend/packages/superset-extensions-sdk/tsconfig.json
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/czech_republicdenmark.geojson
  superset-frontend/src/pages/SqlLabPoc/index.tsx
  superset/daos/extension.py
  superset/extensions/api.py
  superset/extensions/exceptions.py
  superset/extensions/models.py
  superset/extensions/types.py
  superset/migrations/versions/2025-03-07_08-35_d4d5115bdeb0_add_extensions_table.py
  superset/static/assets/.gitkeep
Due: prettier, eslint-frontend, type-checking-frontend

more cleanup to webpack and package configs
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/webpack.config.js
Due: eslint-frontend, type-checking-frontend

Improves doc string and adds TODOs
  superset/extensions/api.py
Due: none

fix lock files and use migration utils
  superset-frontend/extensions/extension1/package-lock.json
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package-lock.json
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/webpack.config.js
  superset-frontend/package-lock.json
  superset/migrations/versions/2025-03-07_08-35_d4d5115bdeb0_add_extensions_table.py
Due: eslint-frontend, type-checking-frontend

Clean up old files and change SDK version
  superset-frontend/extensions/extension1/package-lock.json
  superset-frontend/packages/superset-extensions-sdk/package.json
  superset-frontend/plugins/legacy-plugin-chart-country-map/src/countries/czech_republicdenmark.geojson
  superset/static/assets/.gitkeep
  superset/static/extensions/extension1/900.bundle.js
  superset/static/extensions/extension1/bundle.js
  superset/static/extensions/extension1/bundle.js.LICENSE.txt
  superset/static/extensions/extension1/remoteEntry.js
  superset/static/extensions/extension1/remoteEntry.js.LICENSE.txt
  superset/static/extensions/extension2/900.bundle.js
  superset/static/extensions/extension2/bundle.js
  superset/static/extensions/extension2/bundle.js.LICENSE.txt
  superset/static/extensions/extension2/remoteEntry.js
  superset/static/extensions/extension2/remoteEntry.js.LICENSE.txt
Due: none

add python primitives package
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  scripts/uv-pip-compile.sh
  superset-primitives/pyproject.toml
  superset-primitives/superset_primitives/__init__.py
Due: none

API definitions
  superset-frontend/packages/superset-types/src/core.d.ts
  superset-frontend/packages/superset-types/src/sqlLab.d.ts
  superset-frontend/src/extensions/commands.ts
  superset-frontend/src/extensions/core.ts
  superset-frontend/src/extensions/environment.ts
  superset-frontend/src/extensions/extensions.ts
  superset-frontend/src/extensions/sqlLab.ts
Due: prettier, eslint-frontend, type-checking-frontend

Fix primitives dependency version
  pyproject.toml
  superset-primitives/.gitignore
Due: none

Fix icons
  superset-frontend/src/pages/SqlLabPoc/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Track database changes
  superset-frontend/extensions/extension2/src/Example.tsx
  superset-frontend/packages/superset-primitives/src/extensions/sqllab.ts
  superset-frontend/packages/superset-types/src/core.d.ts
  superset-frontend/packages/superset-types/src/sqlLab.d.ts
  superset-frontend/src/extensions/sqlLab.ts
  superset-frontend/src/extensions/utils.ts
Due: prettier, eslint-frontend, type-checking-frontend

Removes SqlLabPoc page
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/pages/SqlLabPoc/index.tsx
  superset-frontend/src/views/routes.tsx
  superset/initialization/__init__.py
  superset/views/sqllab_poc.py
Due: prettier, eslint-frontend, type-checking-frontend

Implements 2 APIs and reference them from extensions
  superset-frontend/extensions/extension2/src/Example.tsx
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-types/src/sqlLab.d.ts
  superset-frontend/src/extensions/sqlLab.ts
  superset-frontend/src/extensions/utils.ts
  superset-frontend/src/views/store.ts
  superset-frontend/tsconfig.json
Due: prettier, eslint-frontend, type-checking-frontend

Moves things around
  superset-frontend/packages/superset-primitives/src/components/Avatar/Avatar.stories.tsx
  superset-frontend/packages/superset-primitives/src/components/Avatar/index.tsx
  superset-frontend/packages/superset-primitives/src/extensions/contributions.ts
  superset-frontend/packages/superset-primitives/src/extensions/core.ts
  superset-frontend/packages/superset-primitives/src/index.ts
  superset-frontend/src/extensions/index.ts
Due: prettier, eslint-frontend, type-checking-frontend

Adds contributions
  superset-frontend/extensions/extension1/package.json
  superset-frontend/packages/superset-extensions-sdk/TODO.txt
  superset-frontend/packages/superset-extensions-sdk/src/index.ts
  superset-frontend/packages/superset-primitives/src/extensions/contributions/types.ts
  superset-frontend/packages/superset-primitives/src/index.ts
Due: prettier, eslint-frontend, type-checking-frontend

Adds a placeholder
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/extensions/ExtensionPlaceholder.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Improves type checking
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-primitives/package.json
  superset-frontend/packages/superset-primitives/src/extensions/core.ts
  superset-frontend/packages/superset-primitives/tsconfig.json
  superset-frontend/packages/superset-types/package.json
  superset-frontend/packages/superset-types/src/commands.d.ts
  superset-frontend/packages/superset-types/src/core.d.ts
  superset-frontend/packages/superset-types/src/environment.d.ts
  superset-frontend/packages/superset-types/src/extensions.d.ts
  superset-frontend/packages/superset-types/src/sqlLab.d.ts
  superset-frontend/packages/superset-types/tsconfig.json
Due: prettier, eslint-frontend, type-checking-frontend

Read contributions
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/src/Example.tsx
  superset-frontend/packages/superset-types/src/sqlLab.d.ts
  superset-frontend/src/SqlLab/components/SouthPane/index.tsx
  superset-frontend/src/extensions/useExtensions.ts
  superset-frontend/src/extensions/utils.ts
  superset/extensions/api.py
Due: prettier, eslint-frontend, type-checking-frontend

Extract useExtensions
  superset-frontend/src/hooks/useExtensions.ts
  superset-frontend/src/pages/SqlLabPoc/index.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Creates setupExtensionsAPI
  superset-frontend/src/setup/setupExtensionsAPI.ts
  superset-frontend/src/views/App.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Adds activation/deactivation
  superset-frontend/extensions/extension1/package.json
  superset-frontend/extensions/extension1/src/Component.tsx
  superset-frontend/extensions/extension1/src/formatter.ts
  superset-frontend/extensions/extension1/src/index.tsx
  superset-frontend/extensions/extension1/webpack.config.js
  superset-frontend/extensions/extension2/package.json
  superset-frontend/extensions/extension2/src/Example.tsx
  superset-frontend/extensions/extension2/src/index.tsx
  superset-frontend/extensions/extension2/webpack.config.js
  superset-frontend/packages/superset-types/src/core.d.ts
  superset-frontend/packages/superset-types/src/index.d.ts
  superset-frontend/src/extensions/ExtensionsContext.tsx
  superset-frontend/src/extensions/ExtensionsContextUtils.ts
  superset-frontend/src/extensions/index.ts
  superset-frontend/src/hooks/useExtensions.ts
  superset-frontend/src/pages/SqlLabPoc/index.tsx
  superset-frontend/src/views/RootContextProviders.tsx
Due: prettier, eslint-frontend, type-checking-frontend

refactor(Upload): improve Upload story
  superset-frontend/src/components/Upload/Upload.stories.tsx
Due: prettier, eslint-frontend, type-checking-frontend

add getDataMask function, rename old one to observeDataMask
  superset-embedded-sdk/src/index.ts
  superset-frontend/src/embedded/api.tsx
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/embedded/utils.test.ts
  superset-frontend/src/embedded/utils.ts
Due: prettier, eslint-frontend, type-checking-frontend

refactor(Breadcrumb): ensure separators are correctly displayed in tests
  superset-frontend/src/components/Breadcrumb/Breadcrumb.test.tsx
Due: prettier, eslint-frontend, type-checking-frontend

Add missing license
  superset-frontend/src/embedded/utils.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat: add logging to console for cypress
  superset-frontend/cypress-base/cypress.config.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
Due: prettier, eslint-frontend

fix: try more wait
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
Due: prettier, eslint-frontend

retry with timeouts
  superset-frontend/cypress-base/cypress/e2e/dashboard/utils.ts
  superset-frontend/cypress-base/cypress/e2e/explore/utils.ts
Due: prettier, eslint-frontend

fix(frontend): add missing antd-5 icon to import (#32990)
  superset-frontend/src/components/Icons/AntdEnhanced.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: remove log and up wait
  superset-frontend/cypress-base/cypress.config.ts
  superset-frontend/cypress-base/cypress/e2e/dashboard/editmode.test.ts
  superset-frontend/cypress-base/cypress/support/e2e.ts
Due: prettier, eslint-frontend

refactor Breadcrumb story
  superset-frontend/src/components/Breadcrumb/Breadcrumb.stories.tsx
Due: prettier, eslint-frontend, type-checking-frontend

theme ImportModal
  superset-frontend/src/components/ImportModal/index.tsx
  superset-frontend/src/features/annotations/AnnotationModal.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: `show_filters` URL parameter is not working (#29422)
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/state.ts
Due: prettier, eslint-frontend, type-checking-frontend

feat: Add getDataMask function to embedded SDK (#32997)
  superset-embedded-sdk/src/index.ts
  superset-frontend/src/embedded/api.tsx
  superset-frontend/src/embedded/index.tsx
  superset-frontend/src/embedded/utils.test.ts
  superset-frontend/src/embedded/utils.ts
Due: prettier, eslint-frontend, type-checking-frontend
