Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

docs(UPDATING): add MySQL-targeted maintenance-window queries (sc-105349)
  UPDATING.md
Due: none

build(docker): add MySQL compose override for dialect-swap evaluation
  docker-compose-mysql.yml
Due: none

docs(migration): address SQLAlchemy review follow-ups
  UPDATING.md
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
Due: ruff-format, ruff

docs(UPDATING): add Postgres-targeted maintenance-window queries (sc-105349)
  UPDATING.md
Due: none

fix(migration): always run NULL-FK cleanup; correct RLS test parent name
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
  tests/unit_tests/migrations/composite_pk_association_tables_test.py
Due: ruff-format, ruff

fix(migration): explicit NOT NULL on FK columns for SQLite (sc-105349)
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
Due: ruff-format, ruff

refactor(migration): build pre-flight SQL via SQLAlchemy core (review)
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
Due: ruff-format, ruff

fix(migration): rebase down_revision onto 33d7e0e21daa (sc-105349)
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
Due: ruff-format, ruff

feat(scripts): add --dirty-duplicates-pct to seed_junction_load.py
  scripts/seed_junction_load.py
Due: ruff-format, ruff

fix(docker): MySQL examples DB + EXAMPLES_PORT override (sc-105349)
  docker-compose-mysql.yml
  docker/mysql-init/examples-init.sql
Due: none

fix(migration): drop FKs before recreate on MySQL (sc-105349)
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
Due: ruff-format, ruff

build(scripts): add stress-test data generator for migration timing
  scripts/seed_junction_load.py
Due: ruff-format, ruff

fix(migration): MySQL downgrade FK + AUTO_INCREMENT (sc-105349)
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
Due: ruff-format, ruff

refactor(db): composite PK on M2M association tables (sc-105349)
  UPDATING.md
  superset/connectors/sqla/models.py
  superset/migrations/versions/2026-05-01_23-36_2bee73611e32_composite_pk_association_tables.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/reports/models.py
  tests/integration_tests/migrations/composite_pk_association_tables__tests.py
  tests/integration_tests/migrations/composite_pk_round_trip__tests.py
  tests/unit_tests/migrations/composite_pk_association_tables_test.py
Due: ruff-format, ruff, pylint

test(soft-delete): empirically verify both bypass paths work with Query.get()
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff

refactor(soft-delete): per-entity session-scoped bypass
  superset/commands/importers/v1/utils.py
  superset/daos/base.py
  superset/daos/database.py
  superset/models/helpers.py
  superset/security/manager.py
  superset/views/filters.py
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff, pylint

fix(soft-delete): address richardfogaca review feedback
  superset/daos/base.py
  superset/daos/database.py
  superset/models/helpers.py
  superset/views/base_api.py
  superset/views/filters.py
Due: ruff-format, ruff, pylint

refactor(soft-delete): switch raise_for_ownership bypass from per-request to per-query
  superset/models/helpers.py
  superset/security/manager.py
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff, pylint

refactor(soft-delete): extract-method tidyings from clean-code review
  superset/models/helpers.py
  superset/views/filters.py
Due: ruff-format, ruff, pylint

refactor(soft-delete): clean-code review polish
  superset/models/helpers.py
  superset/views/base_api.py
  superset/views/filters.py
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff, pylint

docs(soft-delete): SQLAlchemy review follow-ups
  superset/security/manager.py
  superset/views/base_api.py
Due: ruff-format, ruff, pylint

refactor(soft-delete): address aminghadersohi review on PR #39977
  superset/daos/base.py
  superset/initialization/__init__.py
  superset/models/helpers.py
  superset/security/manager.py
  superset/views/filters.py
  tests/unit_tests/commands/importers/v1/test_find_existing_for_import.py
  tests/unit_tests/views/test_soft_delete_filter.py
Due: ruff-format, ruff, pylint

refactor(soft-delete): cache-stable iteration + hot-path allocation
  superset/models/helpers.py
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff, pylint

fix(soft-delete): narrow subclass return type + relocate type: ignore
  superset/models/helpers.py
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff, pylint

test(soft-delete): unit tests for BaseRestoreCommand + small tidyings
  superset/commands/importers/v1/utils.py
  superset/models/helpers.py
  tests/unit_tests/commands/test_base_restore_command.py
Due: ruff-format, ruff, pylint

refactor(soft-delete): address richardfogaca review on PR #39977
  superset/commands/importers/v1/utils.py
  superset/commands/restore.py
  superset/models/helpers.py
  tests/unit_tests/commands/test_base_restore_command.py
Due: ruff-format, ruff, pylint

fix(soft-delete): mypy fixes for pre-commit (current)
  superset/views/filters.py
  tests/unit_tests/commands/importers/v1/test_find_existing_for_import.py
  tests/unit_tests/views/test_soft_delete_filter.py
Due: ruff-format, ruff, pylint

fix(soft-delete): two bugs flagged in codeant review
  superset/commands/restore.py
  superset/models/helpers.py
  tests/unit_tests/commands/test_restore.py
Due: ruff-format, ruff, pylint

feat(core): SoftDeleteMixin and restore infrastructure
  superset/commands/importers/v1/utils.py
  superset/commands/restore.py
  superset/constants.py
  superset/daos/base.py
  superset/daos/database.py
  superset/initialization/__init__.py
  superset/models/helpers.py
  superset/views/base_api.py
  superset/views/filters.py
  tests/unit_tests/daos/test_base_dao_soft_delete.py
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff, pylint

fix(soft-delete): address richardfogaca second-round review
  superset/commands/importers/v1/utils.py
  superset/views/base_api.py
Due: ruff-format, ruff, pylint

refactor(soft-delete): move per-request bypass into raise_for_ownership
  superset/commands/restore.py
  superset/models/helpers.py
  superset/security/manager.py
  tests/unit_tests/commands/test_restore.py
Due: ruff-format, ruff, pylint

fix(soft-delete): release session bypass after list response augmentation
  superset/views/filters.py
  tests/unit_tests/views/test_soft_delete_filter.py
Due: ruff-format, ruff, pylint

style(soft-delete): type-annotate _add_soft_delete_filter
  superset/models/helpers.py
Due: ruff-format, ruff, pylint

docs(soft-delete): rewrap importer helper docstrings per PEP 257
  superset/commands/importers/v1/utils.py
Due: ruff-format, ruff, pylint

fix(soft-delete): adapt loader criteria to table aliases in joins
  superset/models/helpers.py
  tests/unit_tests/models/test_soft_delete_mixin.py
Due: ruff-format, ruff, pylint

fix(soft-delete): attach loader criteria on relationship loads too
  superset/models/helpers.py
Due: ruff-format, ruff, pylint

fix(ci): correct first-interaction inputs in welcome workflow. Fixes #40505
  .github/workflows/welcome-new-users.yml
Due: none

fix(roles): resolve HTTP 429 and 414 errors on role management page (#39465)
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/features/roles/RoleListEditModal.tsx
  superset-frontend/src/utils/fetchOptions.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): canonicalize json_metadata before LLM wrapping and add injection regression tests
  superset/mcp_service/annotation_layer/schemas.py
  tests/unit_tests/mcp_service/annotation_layer/tool/test_annotation_layer_tools.py
Due: ruff-format, ruff, pylint

fix(groups): display user full name in role edit user dropdown (#39942)
  superset-frontend/src/features/groups/GroupListModal.tsx
  superset-frontend/src/features/groups/utils.ts
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/features/roles/RoleListEditModal.tsx
  superset-frontend/src/features/users/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
