Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

feat: fix input synchronization with external change
  superset-frontend/src/explore/components/controls/TextControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Provisioned Redshift clusters
  superset/db_engine_specs/aws_iam.py
  tests/unit_tests/db_engine_specs/test_aws_iam.py
  tests/unit_tests/db_engine_specs/test_redshift_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Phase 2
  .pre-commit-config.yaml
  superset/db_engine_specs/aurora.py
  superset/db_engine_specs/aws_iam.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  tests/unit_tests/db_engine_specs/test_aurora.py
  tests/unit_tests/db_engine_specs/test_aws_iam.py
  tests/unit_tests/db_engine_specs/test_mysql_iam.py
  tests/unit_tests/db_engine_specs/test_redshift_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat(AWS IAM): phase 1
  docker-compose-light.yml
  superset/db_engine_specs/aurora.py
  superset/db_engine_specs/aws_iam.py
  superset/db_engine_specs/postgres.py
  tests/unit_tests/db_engine_specs/test_aurora.py
  tests/unit_tests/db_engine_specs/test_aws_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Revert docker file
  docker-compose-light.yml
Due: none

fix(charts): Table chart shows an error on row limit (#37218)
  superset-frontend/packages/superset-ui-core/src/utils/index.ts
  superset-frontend/packages/superset-ui-core/src/utils/withLabel.ts
  superset-frontend/packages/superset-ui-core/src/validator/index.ts
  superset-frontend/packages/superset-ui-core/src/validator/legacyValidateInteger.ts
  superset-frontend/packages/superset-ui-core/src/validator/legacyValidateNumber.ts
  superset-frontend/packages/superset-ui-core/src/validator/types.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateMapboxStylesUrl.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateMaxValue.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateNonEmpty.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateNumber.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateServerPagination.ts
  superset-frontend/packages/superset-ui-core/src/validator/validateTimeComparisonRangeValues.ts
  superset-frontend/packages/superset-ui-core/test/validator/validateMaxValue.test.ts
  superset-frontend/plugins/plugin-chart-ag-grid-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Histogram/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/src/explore/controlUtils/getControlState.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feature flag doc sync
  docs/static/feature-flags.json
Due: none

Fix tests
  pyproject.toml
  requirements/development.txt
  superset/db_engine_specs/aws_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Address issues
  superset/db_engine_specs/aws_iam.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  tests/unit_tests/db_engine_specs/test_aurora.py
  tests/unit_tests/db_engine_specs/test_aws_iam.py
  tests/unit_tests/db_engine_specs/test_mysql_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Add feature flag
  superset/config.py
  superset/db_engine_specs/aws_iam.py
  tests/unit_tests/db_engine_specs/test_aurora.py
  tests/unit_tests/db_engine_specs/test_aws_iam.py
  tests/unit_tests/db_engine_specs/test_mysql_iam.py
  tests/unit_tests/db_engine_specs/test_redshift_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Fix feature flag
  docs/static/feature-flags.json
Due: none

fix:Resolved flickering issues in components to ensure smoother rendering
  superset-frontend/src/explore/components/ExploreChartPanel/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/useResizeDetectorByObserver.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Skipping URL access validation for OAuth2 connections
  superset/db_engine_specs/gsheets.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix: more DB OAuth2 fixes (#37398)
  superset/db_engine_specs/base.py
  superset/db_engine_specs/gsheets.py
  superset/utils/oauth2.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/db_engine_specs/test_gsheets.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat: AWS Cross-Account IAM Authentication for Aurora (#37585)
  .pre-commit-config.yaml
  docs/static/feature-flags.json
  pyproject.toml
  requirements/development.txt
  superset/config.py
  superset/db_engine_specs/aurora.py
  superset/db_engine_specs/aws_iam.py
  superset/db_engine_specs/mysql.py
  superset/db_engine_specs/postgres.py
  superset/db_engine_specs/redshift.py
  tests/unit_tests/db_engine_specs/test_aurora.py
  tests/unit_tests/db_engine_specs/test_aws_iam.py
  tests/unit_tests/db_engine_specs/test_mysql_iam.py
  tests/unit_tests/db_engine_specs/test_redshift_iam.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

feat: support PKCE in OAuth2 flow
  superset/commands/database/oauth2.py
  superset/db_engine_specs/base.py
  superset/superset_typing.py
  superset/utils/oauth2.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint

Fix tests
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff

Move code_challenge to KV store
  superset/commands/database/oauth2.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/gsheets.py
  superset/key_value/types.py
  superset/superset_typing.py
  superset/utils/oauth2.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/sql_lab_test.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Small improvements
  superset/commands/database/oauth2.py
  superset/db_engine_specs/base.py
Due: ruff-format, ruff, pylint

Revert flush
  superset/db_engine_specs/base.py
  tests/unit_tests/sql_lab_test.py
Due: ruff-format, ruff, pylint

fix: circular import
  superset/db_engine_specs/base.py
Due: ruff-format, ruff, pylint

Fix lint
  superset/db_engine_specs/base.py
  superset/utils/oauth2.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint

Add tests
  superset-frontend/src/pages/FileHandler/index.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: file handler for CSV/XSL
  superset-frontend/src/pages/FileHandler/index.tsx
  superset-frontend/src/pwa-manifest.json
  superset-frontend/src/service-worker.ts
  superset-frontend/src/views/routes.tsx
  superset-frontend/webpack.config.js
  superset/templates/superset/spa.html
  superset/views/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Improve code
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset-frontend/src/pages/FileHandler/index.test.tsx
  superset-frontend/src/pages/FileHandler/index.tsx
  superset-frontend/src/pwa-manifest.json
  superset-frontend/webpack.config.js
  superset/templates/superset/spa.html
  superset/views/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: PWA file handler installation and routing issues
  superset-frontend/src/assets/images/pwa/icon-192.png
  superset-frontend/src/assets/images/pwa/icon-512.png
  superset-frontend/src/assets/images/pwa/screenshot-narrow.png
  superset-frontend/src/assets/images/pwa/screenshot-wide.png
  superset-frontend/src/pages/FileHandler/index.test.tsx
  superset-frontend/src/pwa-manifest.json
  superset-frontend/src/views/routes.tsx
  superset/initialization/__init__.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Fix test
  superset-frontend/src/assets/images/pwa/icon-192.png
  superset-frontend/src/assets/images/pwa/icon-512.png
  superset-frontend/src/pages/FileHandler/index.test.tsx
  superset-frontend/src/service-worker.ts
  superset-frontend/webpack.config.js
  superset/initialization/__init__.py
  superset/static/service-worker.js
  superset/templates/superset/spa.html
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix: TypeScript errors in PWA file handler
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset-frontend/src/pages/FileHandler/index.test.tsx
  superset-frontend/src/service-worker.ts
  superset/static/service-worker.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: use local types in service worker to avoid global pollution
  superset-frontend/src/service-worker.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(oauth2): add PKCE support for database OAuth2 authentication (#37067)
  superset/commands/database/oauth2.py
  superset/db_engine_specs/base.py
  superset/db_engine_specs/gsheets.py
  superset/key_value/types.py
  superset/superset_typing.py
  superset/utils/oauth2.py
  tests/unit_tests/databases/api_test.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/sql_lab_test.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Fix PostgreSQL extra installation on Python 3.12 by updating psycopg2-binary pin
  pyproject.toml
Due: none

chore: resolve lint issues
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/Multi/Multi.test.tsx
  superset-frontend/plugins/legacy-preset-chart-deckgl/src/layers/Path/Path.test.tsx
  superset-frontend/plugins/plugin-chart-ag-grid-table/test/buildQuery.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BigNumber/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/SaveDatasetModal.test.tsx
  superset-frontend/src/core/editors/AceEditorProvider.test.tsx
  superset-frontend/src/core/editors/EditorHost.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.test.tsx
  superset-frontend/src/dashboard/util/getChartIdsInFilterScope.test.ts
  superset-frontend/src/explore/components/SaveModal.test.jsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(build): Increase ForkTsCheckerWebpackPlugin memory limit to fix OOM error (#37583)
  superset-frontend/webpack.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: resolve prettier issues + fix GroupsList test with mocked route
  superset-frontend/plugins/plugin-chart-pivot-table/test/react-pivottable/tableRenders.test.tsx
  superset-frontend/src/SqlLab/components/SaveDatasetModal/SaveDatasetModal.test.tsx
  superset-frontend/src/core/editors/AceEditorProvider.test.tsx
  superset-frontend/src/dashboard/util/getChartIdsInFilterScope.test.ts
  superset-frontend/src/pages/GroupsList/GroupsList.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(deps): pin psycopg2-binary to 2.9.9
  pyproject.toml
Due: none

fix(build): eliminate PostgreSQL extra installation on Python 3.12-based Superset Docker images (#37587)
  pyproject.toml
Due: none

feat(db_engine_specs): add Apache Phoenix and Apache IoTDB engine specs
  docs/static/img/databases/apache-iotdb.svg
  docs/static/img/databases/apache-phoenix.png
  superset/db_engine_specs/iotdb.py
  superset/db_engine_specs/phoenix.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

chore: use higher-resolution Phoenix logo
  docs/static/img/databases/apache-phoenix.png
Due: none

feat: include missing undoable explorer reducer test and simplify undo/redo actions
  superset-frontend/src/explore/actions/exploreActions.ts
  superset-frontend/src/explore/reducers/undoableExploreReducer.test.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
