Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(gtf): forced async read-back keeps force_nonce; fix duplicate-tab id race
  superset-frontend/packages/superset-ui-core/src/chart/components/StatefulChart.test.tsx
  superset-frontend/packages/superset-ui-core/src/chart/components/StatefulChart.tsx
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartProps.ts
  superset-frontend/src/hooks/useTabId.test.ts
  superset-frontend/src/hooks/useTabId.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(thumbnails): expire UPDATED screenshot cache entries after a TTL
  UPDATING.md
  superset/charts/api.py
  superset/config.py
  superset/dashboards/api.py
  superset/utils/screenshots.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
Due: ruff-format, ruff, pylint, feature-flags-sync

test(playwright): split the async-token test to remove its race
  superset-frontend/playwright/tests/dashboard/global-async-query-resilience.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(handlebars): render the CSS style block as its own Markdown document
  superset-frontend/plugins/plugin-chart-handlebars/src/Handlebars.tsx
  superset-frontend/plugins/plugin-chart-handlebars/src/components/Handlebars/HandlebarsViewer.tsx
  superset-frontend/plugins/plugin-chart-handlebars/test/Handlebars.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): catch JSONDecodeError on stored query_context in query_context_modified
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

test(mcp): lock exact source string boundary
  tests/unit_tests/mcp_service/chart/test_query_result.py
Due: ruff-format, ruff

fix(gtf): forced async read-back keeps force_nonce; fix duplicate-tab id race (#43794)
  superset-frontend/packages/superset-ui-core/src/chart/components/StatefulChart.test.tsx
  superset-frontend/packages/superset-ui-core/src/chart/components/StatefulChart.tsx
  superset-frontend/packages/superset-ui-core/src/chart/models/ChartProps.ts
  superset-frontend/src/hooks/useTabId.test.ts
  superset-frontend/src/hooks/useTabId.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: fix typos in comments and docstrings (#43785)
  superset/config.py
  superset/databases/filters.py
  superset/databases/schemas.py
  superset/datasets/api.py
  superset/models/core.py
  superset/sql_lab.py
  superset/utils/oauth2.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(charts): reject non-table datasource_type instead of crashing (#43500)
  superset/commands/chart/create.py
  superset/commands/chart/update.py
  tests/integration_tests/charts/api_tests.py
  tests/unit_tests/commands/chart/create_test.py
  tests/unit_tests/commands/chart/update_test.py
Due: ruff-format, ruff, pylint

chore(lint): scope in-repo eslint plugins under @superset-ui (#43054)
  scripts/check-type.js
  superset-frontend/eslint-rules/eslint-plugin-i18n-strings/package.json
  superset-frontend/eslint-rules/eslint-plugin-icons/package.json
  superset-frontend/eslint-rules/eslint-plugin-theme-colors/package.json
  superset-frontend/eslint.config.minimal.js
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(mcp): document embedded guest-token authentication (#43637)
  docs/admin_docs/configuration/mcp-server.mdx
Due: none

fix(playwright): keep the async-token out of the pristine request jar
  superset-frontend/playwright/tests/dashboard/global-async-query-resilience.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(theming): document resultsGrid* Superset-specific tokens (#43638)
  docs/admin_docs/configuration/theming.mdx
Due: none

fix(semantic_layers): mask write-only config fields, gate flag-off endpoints (#43474)
  superset/commands/semantic_layer/update.py
  superset/semantic_layers/api.py
  tests/unit_tests/commands/semantic_layer/update_test.py
  tests/unit_tests/semantic_layers/api_test.py
Due: ruff-format, ruff, pylint

fix(gtf): publish completion on abort-to-terminal; gate guest async on Task read
  UPDATING.md
  superset/charts/data/api.py
  superset/charts/schemas.py
  superset/commands/tasks/cancel.py
  superset/tasks/api.py
  superset/tasks/async_queries.py
  superset/tasks/decorators.py
  superset/tasks/scheduler.py
  tests/integration_tests/tasks/commands/test_cancel.py
  tests/unit_tests/charts/test_chart_data_api.py
Due: ruff-format, ruff, pylint

chore(translations): updated Slovenian translations (#43735)
  superset/translations/sl/LC_MESSAGES/messages.po
Due: none

fix(native-filters): keep "Select all" count stable while searching the Value filter (#43460)
  UPDATING.md
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/types.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(export): let deployments carry extra fields through asset export/import (#43763)
  docs/admin_docs/configuration/configuring-superset.mdx
  superset/charts/schemas.py
  superset/commands/chart/export.py
  superset/commands/chart/importers/v1/utils.py
  superset/commands/dashboard/export.py
  superset/commands/dashboard/importers/v1/utils.py
  superset/commands/export/models.py
  superset/commands/importers/v1/utils.py
  superset/config.py
  superset/dashboards/schemas.py
  tests/unit_tests/commands/extra_asset_fields_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(security): handle cached schema/catalog names deserialized as lists
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(mcp): address Bullet round-nineteen findings
  .github/workflows/superset-python-unittest.yml
  superset/dataframe.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/utils/response_utils.py
  tests/unit_tests/dataframe_test.py
  tests/unit_tests/mcp_service/chart/test_query_result.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
  tests/unit_tests/mcp_service/utils/test_response_utils.py
Due: ruff-format, ruff, pylint

fix(mcp): harden shared result consumers
  superset/dataframe.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/tool/get_chart_sql.py
  superset/mcp_service/dataset/tool/query_dataset.py
  superset/mcp_service/semantic_layer/tool/get_table.py
  tests/unit_tests/dataframe_test.py
  tests/unit_tests/mcp_service/chart/test_query_result.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
Due: ruff-format, ruff, pylint

fix(gtf): publish completion on abort-to-terminal; gate guest async on Task read (#43799)
  UPDATING.md
  superset/charts/data/api.py
  superset/charts/schemas.py
  superset/commands/tasks/cancel.py
  superset/tasks/api.py
  superset/tasks/async_queries.py
  superset/tasks/decorators.py
  superset/tasks/scheduler.py
  tests/integration_tests/tasks/commands/test_cancel.py
  tests/unit_tests/charts/test_chart_data_api.py
Due: ruff-format, ruff, pylint

fix(mcp): clean merged semantic imports
  superset/mcp_service/semantic_layer/tool/get_table.py
Due: ruff-format, ruff, pylint

docs(gtf): align async API docs/schema with GTF; fix stale doc comments
  docs/developer_docs/api.mdx
  docs/developer_docs/extensions/tasks.md
  docs/scripts/fix-openapi-spec.py
  docs/scripts/generate-api-index.mjs
  docs/static/resources/openapi.json
  superset-frontend/src/middleware/asyncEvent.ts
  superset-websocket/README.md
  superset/charts/schemas.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): preflight chart SQL errors
  superset/mcp_service/chart/tool/get_chart_sql.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve decimal chart metrics and bound SQL errors
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/sunburst.py
  superset/mcp_service/chart/tool/get_chart_sql.py
  tests/unit_tests/mcp_service/chart/test_query_result.py
  tests/unit_tests/mcp_service/chart/test_sunburst_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
Due: ruff-format, ruff, pylint

docs(gtf): align async API docs/schema with GTF; fix stale doc comments (#43804)
  docs/developer_docs/api.mdx
  docs/developer_docs/extensions/tasks.md
  docs/scripts/fix-openapi-spec.py
  docs/scripts/generate-api-index.mjs
  docs/static/resources/openapi.json
  superset-frontend/src/middleware/asyncEvent.ts
  superset-websocket/README.md
  superset/charts/schemas.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(navbar): apply missing caret icon on left-nav dropdowns and restore muted sizing
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(navbar): use down-chevron icon consistently on all navbar dropdowns
  superset-frontend/src/features/home/LanguagePicker.tsx
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/hooks/useThemeMenuItems.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(security): narrow candidate-names param to AbstractSet[str] | list[str]
  superset/security/manager.py
Due: ruff-format, ruff, pylint

test(navbar): assert down-chevron icon identity on navbar dropdowns
  superset-frontend/src/features/home/LanguagePicker.test.tsx
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/hooks/useThemeMenuItems.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): fix TS2554 arg-count error in Featured badge test
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): render localized asset names in the frontend
  superset-frontend/src/dashboard/actions/hydrate.ts
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/hooks/apiResources/dashboards.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/types/Chart.ts
  superset-frontend/src/types/Dashboard.ts
  superset-frontend/src/views/CRUD/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(i18n): translate asset metadata via configurable hook (SIP-161)
  docs/static/feature-flags.json
  superset/charts/api.py
  superset/charts/schemas.py
  superset/config.py
  superset/daos/log.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/jinja_context.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/utils/i18n.py
Due: ruff-format, ruff, pylint, feature-flags-sync

docs(i18n): document TRANSLATION_HOOK with reference implementations
  docs/admin_docs/configuration/asset-metadata-translation.mdx
  examples/asset_metadata_translation/README.md
  examples/asset_metadata_translation/__init__.py
  examples/asset_metadata_translation/hook.py
  examples/asset_metadata_translation/model.py
  examples/asset_metadata_translation/seed.py
Due: ruff-format, ruff, pylint

test(i18n): fix asset-translation test fallout from the rebase
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
  tests/integration_tests/dashboards/update_tabs_test.py
  tests/integration_tests/log_api_tests.py
  tests/unit_tests/utils/i18n_test.py
Due: ruff-format, ruff

refactor(i18n): address review-bot feedback on the translation hooks
  examples/asset_metadata_translation/hook.py
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
  superset-frontend/src/pages/ChartList/ChartList.testHelpers.tsx
  superset/daos/log.py
  superset/models/dashboard.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(i18n): localize titles on the home activity list
  superset-frontend/src/features/home/ActivityTable.tsx
  superset-frontend/src/pages/ChartList/ChartList.test.tsx
  superset-frontend/src/views/CRUD/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(i18n): assert the edit-mode chart title by field value
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(i18n): update DashboardList query snapshot for localized_title
  superset-frontend/src/pages/DashboardList/DashboardList.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
