Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

Removed extensive displayLabel drilling in favor for columLabels variable.
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/explore/components/DataTableControl/index.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Added small test for the extract_display_labels function.
  tests/integration_tests/utils_tests.py
Due: ruff-format, ruff

Improved tests: using parametrize and testing edge cases.
  tests/integration_tests/utils_tests.py
Due: ruff-format, ruff

Fixed transpile issue as collabels was missing
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/Bar/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix subtile misalignment bug in collabels, coltypes and colnames logic
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useGridResultTable.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Removed unused imports and removed now unnecessary tests from #40683
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fixed type issues from rebase and added openapi update.
  docs/static/resources/openapi.json
  superset-frontend/src/explore/components/DataTablesPane/components/ResultsPaneOnDashboard.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useGridResultTable.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): base datasource error severity on what broke, not on status
  superset/mcp_service/middleware.py
  tests/unit_tests/mcp_service/test_error_classification.py
Due: ruff-format, ruff, pylint

Fixed testing issues for frontend SamplePane
  superset-frontend/src/dashboard/components/SliceHeaderControls/SliceHeaderControls.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/useResultsPane.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fixed issues with plugin charts tests not including collabels.
  superset-frontend/plugins/plugin-chart-echarts/test/MixedTimeseries/EchartsMixedTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-pivot-table/test/testData.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style: apply ruff-format line wrap to import_tag filter_by call
  superset/commands/importers/v1/utils.py
Due: ruff-format, ruff, pylint

style: apply oxfmt formatting
  superset-frontend/src/filters/components/TimeGrain/TimeGrainFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(semantic-layers): cover reference validation and table fallbacks
  tests/unit_tests/semantic_layers/import_export_test.py
Due: ruff-format, ruff

chore(deps): bump flask-appbuilder from 5.2.2 to 5.2.3
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
Due: none

docs(frontend): correct the drill-flag comment in datasets.ts
  superset-frontend/src/hooks/apiResources/datasets.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix E501 Line too long
  superset/migrations/shared/migrate_viz/processors.py
Due: ruff-format, ruff

fix pre commit
  superset/migrations/shared/migrate_viz/processors.py
Due: ruff-format, ruff

test(sqllab): assert 403 for authenticated users lacking SQL Lab access
  tests/integration_tests/sqllab_tests.py
Due: ruff-format, ruff

fix(i18n): declare display_name on both copies of the controls props
  superset-frontend/src/dashboard/components/SliceHeaderControls/index.tsx
  superset-frontend/src/dashboard/components/SliceHeaderControls/types.ts
  superset-frontend/src/pages/DashboardList/DashboardList.test.tsx
  tests/unit_tests/utils/i18n_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

Revert package.json
  superset-frontend/package.json
Due: prettier-frontend

fix(mcp): validate ordering dimension compatibility
  superset/mcp_service/semantic_layer/tool/get_table.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve cross-column grain alias hints
  superset/mcp_service/semantic_layer/tool/get_table.py
  tests/unit_tests/mcp_service/semantic_layer/tool/test_get_table.py
Due: ruff-format, ruff, pylint

chore(deps): bump flask-appbuilder from 5.2.2 to 5.2.3 (#44400)
  pyproject.toml
  requirements/base.txt
  requirements/development.txt
  tests/integration_tests/sqllab_tests.py
Due: ruff-format, ruff

test(date_parser): cover sub-day "Next <unit>" with explicit relative bounds
  tests/unit_tests/utils/date_parser_tests.py
Due: ruff-format, ruff

test(security): declare the login-token endpoints as intentionally undecorate
  superset/security/login_token.py
  tests/integration_tests/security_tests.py
Due: ruff-format, ruff, pylint

refactor(date_parser): dedupe sub-day unit alternation, refresh MCP docstrings
  superset/mcp_service/common/time_range_validation.py
  superset/utils/date_parser.py
Due: ruff-format, ruff, pylint

test(semantic-layer): cover fail-closed schema guards
  tests/unit_tests/semantic_layers/masking_test.py
Due: ruff-format, ruff

fix(dashboard): make system default/dark themes assignable to a dashboard (#44361)
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): align week-grain time comparison offsets to whole weeks (#43936)
  superset/models/helpers.py
  tests/unit_tests/common/test_time_shifts.py
Due: ruff-format, ruff, pylint

fix(mypy): narrow chart.uuid before RestoreChartVersionCommand in restore tests (#44394)
  tests/integration_tests/charts/version_restore_tests.py
Due: ruff-format, ruff

fix(cache): dedupe annotation-layer data cache keys across users
  superset/common/query_context_processor.py
  superset/datasource/api.py
  superset/sql/execution/executor.py
  superset/utils/cache.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint

refactor(playwright): reuse shared helpers in native-filters spec
  superset-frontend/playwright/components/core/Select.ts
  superset-frontend/playwright/components/dashboard/DashboardFilterBar.ts
  superset-frontend/playwright/tests/dashboard/dashboard-test-helpers.ts
  superset-frontend/playwright/tests/dashboard/native-filters.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

docs(cache): tighten annotation cache-key comments
  superset/common/query_context_processor.py
  superset/sql/execution/executor.py
  superset/utils/cache.py
Due: ruff-format, ruff, pylint

fix(sqla): guard unprotected Jinja template rendering in ExploreMixin (#44172)
  superset/connectors/sqla/models.py
  superset/models/helpers.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

fix(versioning): refuse a version restore whose child history was pruned (sc-120012) (#44251)
  superset/versioning/api_helpers.py
  superset/versioning/baseline/__init__.py
  superset/versioning/baseline/shadow.py
  superset/versioning/changes/shadow_queries.py
  superset/versioning/queries.py
  superset/versioning/restore.py
  tests/integration_tests/versioning/restore_fails_closed_tests.py
  tests/unit_tests/versioning/test_restore.py
Due: ruff-format, ruff, pylint

fix(mcp): return a structured Unsupported marker for semantic-view get_chart_sql (#44267)
  superset/mcp_service/chart/tool/get_chart_sql.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_sql.py
Due: ruff-format, ruff, pylint

fix(mcp): include semantic views in get_dashboard_datasets (#44269)
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/get_dashboard_datasets.py
  tests/unit_tests/mcp_service/dashboard/tool/test_get_dashboard_datasets.py
Due: ruff-format, ruff, pylint

fix(explore): anchor the add column/metric/filter popovers to their trigger (#44274)
  superset-frontend/src/explore/components/controls/ColorBreakpointsControl/ColorBreakpointPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/ContourControl/ContourPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/ControlPopover/PopoverTriggerAnchors.test.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/ColumnSelectPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndColumnSelect.test.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): rebuild full parent chains in dashboard layouts
  superset/mcp_service/dashboard/layout_validation.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/remove_chart_from_dashboard.py
  superset/mcp_service/dashboard/tool/update_dashboard.py
  tests/unit_tests/mcp_service/dashboard/test_layout_validation.py
  tests/unit_tests/mcp_service/dashboard/tool/test_add_chart_to_existing_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
  tests/unit_tests/mcp_service/dashboard/tool/test_remove_chart_from_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_update_dashboard.py
Due: ruff-format, ruff, pylint

fix(charts): decouple annotation cache from the shared dataframe cache
  superset/common/query_context_processor.py
  tests/unit_tests/common/test_query_context_processor.py
Due: ruff-format, ruff, pylint
