Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(sqllab): show truncated table list warning (#41617)
  superset-frontend/src/components/TableSelector/TableSelector.test.tsx
  superset-frontend/src/components/TableSelector/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(versioning): make baseline capture atomic (#41941)
  superset/versioning/baseline/insertion.py
  tests/integration_tests/versioning/conftest.py
  tests/integration_tests/versioning/versions_api_tests.py
Due: ruff-format, ruff, pylint

fix(chart): persist legend state and scroll index across re-renders (#31741)
  superset-frontend/src/components/Chart/ChartRenderer.test.tsx
  superset-frontend/src/components/Chart/ChartRenderer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(databricks): classify insufficient-permissions errors as 4xx
  superset/db_engine_specs/databricks.py
  superset/sqllab/sql_json_executer.py
  tests/unit_tests/db_engine_specs/test_databricks.py
  tests/unit_tests/sqllab/test_sql_json_executer.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(databricks): address code review findings on insufficient-permissions fix
  superset/db_engine_specs/databricks.py
  superset/sqllab/sql_json_executer.py
  tests/unit_tests/db_engine_specs/test_databricks.py
  tests/unit_tests/sqllab/test_sql_json_executer.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mcp): user/role tools demanded a permission FAB never registers (#41858)
  superset/mcp_service/auth.py
  superset/mcp_service/role/tool/get_role_info.py
  superset/mcp_service/role/tool/list_roles.py
  superset/mcp_service/user/tool/get_user_info.py
  superset/mcp_service/user/tool/list_users.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff, pylint

Potential fix for pull request finding
  .pre-commit-config.yaml
Due: none

perf(csv): avoid regex in CSV value escaping
  superset/utils/csv.py
Due: ruff-format, ruff, pylint

fix(csv): handle whitespace quoted formulas
  superset/utils/csv.py
  tests/unit_tests/utils/csv_tests.py
Due: ruff-format, ruff, pylint

fix(trino): quote nested ROW field paths per-segment when building physical column expressions
  superset/connectors/sqla/models.py
  superset/db_engine_specs/trino.py
  superset/superset_typing.py
  tests/unit_tests/connectors/sqla/models_test.py
  tests/unit_tests/db_engine_specs/test_trino.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat(databricks): add OAuth2 support for user impersonation in databricks
  superset/db_engine_specs/databricks.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

docs(databricks): update UI text to include Databricks in impersonation list
  docs/developer_docs/guidelines/design-guidelines.md
  superset-frontend/src/features/databases/DatabaseModal/ExtraOptions.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(modal): add regression test for keyboard event boundary
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/ModalTrigger.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(test): temporary removal of wrapper to verify test failure
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(modal): restore display contents keyboard event boundary
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(test): fix trailing whitespace and prettier formatting
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/ModalTrigger.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

build(deps): update `@rjsf` deps to v6
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/SqlLab/components/ScheduleQueryButton/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

build(ci): group Dependabot PRs with identical namespaces for efficient resource utilization
  .github/dependabot.yml
Due: none

chore: exclude transitiv ESM-based `@x0k/json-schema-merge` from being transformed by Jest
  superset-frontend/jest.config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor: Engine.execute() is deprecated.
  tests/integration_tests/db_engine_specs/hive_tests.py
  tests/integration_tests/db_engine_specs/presto_tests.py
  tests/unit_tests/db_engine_specs/test_datastore.py
  tests/unit_tests/db_engine_specs/test_doris.py
  tests/unit_tests/db_engine_specs/test_starrocks.py
  tests/unit_tests/db_engine_specs/test_trino.py
  tests/unit_tests/models/core_test.py
Due: ruff-format, ruff

fix(pivot-table): rename subtotal label to subvalue
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(deps): raise SQLAlchemy lower bound to >=1.4.43
  pyproject.toml
Due: none

feat(ci): optimize Storybook testing in CI by replacing `http-server` with Python3 static server
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

refactor: Replace Inspector.bind with Inspector.engine.
  superset/db_engine_specs/snowflake.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

test: Fix missing engine context in tear-down.
  tests/integration_tests/conftest.py
Due: ruff-format, ruff

refactor: Fix Connection.execute(text(...)) warnings.
  superset/db_engine_specs/doris.py
  tests/integration_tests/datasets/commands_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

refactor: Pass query parameters as dictionary.
  superset/db_engine_specs/hive.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(a11y): make CopyToClipboard keyboard-operable for custom copyNode elements
  superset-frontend/src/components/CopyToClipboard/CopyToClipboard.test.tsx
  superset-frontend/src/components/CopyToClipboard/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): annotate test locals, short-circuit missing language packs
  superset/views/core.py
  tests/unit_tests/views/test_bootstrap_auth.py
  tests/unit_tests/views/test_language_pack_script.py
Due: ruff-format, ruff, pylint

fix(trino): stop duplicating synced columns and add type annotations
  superset/connectors/sqla/models.py
  tests/unit_tests/connectors/sqla/models_test.py
Due: ruff-format, ruff, pylint

fix: register pkg_resources filter ahead of LOGGING_CONFIGURATOR dispatch
  superset/db_engine_specs/redshift.py
  superset/initialization/__init__.py
  superset/utils/logging_configurator.py
  tests/unit_tests/mcp_service/test_mcp_server.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Update superset/db_engine_specs/snowflake.py
  superset/db_engine_specs/snowflake.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(dashboard): restore arrow key navigation in modal inputs opened from dropdown (#37978)
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/ModalTrigger.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/ModalTrigger/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: correct reversed is_dst flags and tighten DST transition test tolerance
  tests/unit_tests/utils/test_date_parsing.py
Due: ruff-format, ruff

SO-164: Added validation to db credential input
  superset-frontend/packages/superset-ui-core/src/components/Form/LabeledErrorBoundInput.tsx
  superset-frontend/packages/superset-ui-core/src/components/Form/types.ts
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(databases): extract credentialTextAreaCss to ensure Istanbul coverage
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(databases): type textAreaCss as SerializedStyles, add renderAsTextArea tests
  superset-frontend/packages/superset-ui-core/src/components/Form/types.ts
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Update superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/EncryptedField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

SO-164: Lint fix
  superset-frontend/src/features/databases/DatabaseModal/styles.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): add delete_chart and delete_dashboard tools (#41472)
  superset/mcp_service/app.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/__init__.py
  superset/mcp_service/chart/tool/delete_chart.py
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/__init__.py
  superset/mcp_service/dashboard/tool/delete_dashboard.py
  tests/unit_tests/mcp_service/chart/tool/test_delete_chart.py
  tests/unit_tests/mcp_service/dashboard/tool/test_delete_dashboard.py
Due: ruff-format, ruff, pylint
