Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(mcp): update security_manager patch target in tool-search tests
  tests/unit_tests/mcp_service/test_tool_search_transform.py
Due: ruff-format, ruff

fix(mcp): remove exc_info=True from tool-visibility debug log to prevent traceback-based credential leak
  superset/mcp_service/auth.py
Due: ruff-format, ruff, pylint

fix(mcp): harden auth — PermissionError propagation, passthrough client_id guard, fail-closed on missing token
  superset/mcp_service/auth.py
  tests/unit_tests/mcp_service/test_auth_api_key.py
Due: ruff-format, ruff, pylint

fix(mcp): add type annotations to test fixtures and parameters
  tests/unit_tests/mcp_service/test_auth_api_key.py
  tests/unit_tests/mcp_service/test_composite_token_verifier.py
Due: ruff-format, ruff

fix(mcp): update security_manager patch target in RBAC tests
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff

fix(mcp): replace MCPJWTVerifier with JWTVerifier after browser-hello revert
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(mcp): use class-bound attribute in joinedload for group roles
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(security): drop redundant explicit ApiKey perm creation
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(mcp): fix MCPPermissionDeniedError handler order and visibility test patch targets
  superset/mcp_service/middleware.py
  tests/unit_tests/mcp_service/test_auth_rbac.py
Due: ruff-format, ruff, pylint

fix(mcp): remove prefixes from log to satisfy CodeQL
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(mcp): broaden _log_user_resolution_failure type hint
  superset/mcp_service/auth.py
Due: ruff-format, ruff, pylint

fix(mcp): fix stale patch target in auth tests and update stale docstring
  tests/unit_tests/mcp_service/test_auth_api_key.py
Due: ruff-format, ruff

refactor(mcp): hoist API key auth imports to module top
  superset/mcp_service/auth.py
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(mcp): validate API keys via FastMCP AccessToken and lock down ApiKey perms
  superset/mcp_service/auth.py
  superset/mcp_service/composite_token_verifier.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/server.py
  superset/security/manager.py
  tests/unit_tests/mcp_service/test_auth_api_key.py
  tests/unit_tests/mcp_service/test_composite_token_verifier.py
Due: ruff-format, ruff, pylint

refactor(mcp): extract duplicated app context + sm setup into helper
  tests/unit_tests/mcp_service/test_auth_api_key.py
Due: ruff-format, ruff

fix(mcp): validate api_key_prefixes in CompositeTokenVerifier — filter empty/non-string entries
  superset/mcp_service/composite_token_verifier.py
  tests/unit_tests/mcp_service/test_composite_token_verifier.py
Due: ruff-format, ruff, pylint

fix(mcp): use consistent filter() style for email lookup in find_user_with_relationships
  superset/security/manager.py
Due: ruff-format, ruff, pylint

fix(mcp): normalize FAB_API_KEY_PREFIXES from config before passing to CompositeTokenVerifier
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

refactor(mcp): hoist JWT verifier imports to module top
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(mcp): create ApiKey permissions on init and support API keys with JWT auth
  superset/mcp_service/composite_token_verifier.py
  tests/unit_tests/mcp_service/test_composite_token_verifier.py
Due: ruff-format, ruff, pylint

fix(mcp): handle bare string point_radius_fixed as metric in Deck.gl fallback
  superset/mcp_service/chart/chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
Due: ruff-format, ruff, pylint

fix(extensions): address PR review — rollback, import cleanup, tests, guard
  superset-frontend/src/components/ChatbotMount/ChatbotMount.test.tsx
  superset-frontend/src/components/ChatbotMount/index.tsx
  superset-frontend/src/core/chatbot/index.test.ts
  superset-frontend/src/extensions/ExtensionsList.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): complete model move — remove from core.py, fix import, ensure ORM registration
  superset/extensions/models.py
  superset/extensions/settings.py
  superset/models/core.py
Due: ruff-format, ruff, pylint

fix(extensions): address context-sharing PR review — blockers, quality, and tests
  superset-frontend/src/core/dashboard/index.test.ts
  superset-frontend/src/core/dashboard/index.ts
  superset-frontend/src/core/explore/index.test.ts
  superset-frontend/src/core/explore/index.ts
  superset-frontend/src/core/index.ts
  superset-frontend/src/core/navigation/index.test.ts
  superset-frontend/src/core/navigation/index.ts
  superset-frontend/src/extensions/ExtensionsStartup.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(ci): update GHA actions to Node.js 24-compatible versions
  .github/actions/setup-docker/action.yml
  .github/actions/setup-supersetbot/action.yml
  .github/workflows/docker.yml
Due: none

feat(mcp): add create_dataset tool to register physical tables as datasets
  superset/mcp_service/app.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/__init__.py
  superset/mcp_service/dataset/tool/create_dataset.py
  tests/unit_tests/mcp_service/dataset/tool/test_create_dataset.py
Due: ruff-format, ruff, pylint

fix(mcp): fix create_dataset CI failures
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/create_dataset.py
Due: ruff-format, ruff, pylint

test(mcp): fix patch paths in test_create_dataset — CreateDatasetCommand is a lazy import
  tests/unit_tests/mcp_service/dataset/tool/test_create_dataset.py
Due: ruff-format, ruff

style: ruff format create_dataset tool files
  superset/mcp_service/dataset/schemas.py
  tests/unit_tests/mcp_service/dataset/tool/test_create_dataset.py
Due: ruff-format, ruff, pylint

chore(issue template): bump version numbers to reflect 6.1.0 being released
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

fix(mcp): restore missing tool registrations and fix create_dataset tests
  superset/mcp_service/app.py
  superset/mcp_service/dataset/schemas.py
  superset/mcp_service/dataset/tool/__init__.py
  superset/mcp_service/dataset/tool/create_dataset.py
  tests/unit_tests/mcp_service/dataset/tool/test_create_dataset.py
Due: ruff-format, ruff, pylint

fix: avoid warning spam when default spinner SVG is missing
  superset/views/base.py
  tests/unit_tests/views/test_base_theme_helpers.py
Due: ruff-format, ruff, pylint

refactor spinner SVG loading error handling
  superset/views/base.py
  tests/unit_tests/views/test_base_theme_helpers.py
Due: ruff-format, ruff, pylint

fix(chart-echarts): drop white textBorder from Funnel segment labels (#40468)
  superset-frontend/plugins/plugin-chart-echarts/src/Funnel/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Funnel/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): fully remove dataset namespace — SDK contract and orphaned host impl
  superset-frontend/packages/superset-core/package.json
  superset-frontend/packages/superset-core/src/dataset/index.ts
  superset-frontend/packages/superset-core/src/index.ts
  superset-frontend/src/core/dataset/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): wrap default ChartErrorMessage title in t() for translation
  superset-frontend/src/components/Chart/ChartErrorMessage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor: move getUserDisplayLabel to users/utils to remove cross-feature dep
  superset-frontend/src/features/groups/GroupListModal.tsx
  superset-frontend/src/features/groups/utils.ts
  superset-frontend/src/features/roles/RoleListEditModal.test.tsx
  superset-frontend/src/features/roles/RoleListEditModal.tsx
  superset-frontend/src/features/users/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(groups): display user full name instead of username in role edit user dropdown
  superset-frontend/src/features/groups/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Apply suggestion from @hainenber
  superset-frontend/src/features/users/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

i18n: wrap N/A fallback in t() for translation
  superset-frontend/src/features/users/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
