Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(deck.gl): render points with an empty categorical color value
  superset-frontend/plugins/preset-chart-deckgl/src/CategoricalDeckGLContainer.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/components/Legend.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/components/Legend.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Arc/transformProps.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Arc/transformProps.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Path/transformProps.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Path/transformProps.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Scatter/Scatter.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Scatter/transformProps.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/layers/Scatter/transformProps.ts
  superset-frontend/plugins/preset-chart-deckgl/src/utilities/tooltipUtils.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/utilities/tooltipUtils.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql): validate Custom SQL metric has an aggregate under GROUP BY (#42199)
  superset/models/helpers.py
  superset/sql/parse.py
  tests/unit_tests/models/helpers_test.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(api): add example to export/delete/fav_star ids schemas so Swagger "Try it out" works (#28180)
  superset/annotation_layers/annotations/schemas.py
  superset/annotation_layers/schemas.py
  superset/charts/schemas.py
  superset/css_templates/schemas.py
  superset/dashboards/schemas.py
  superset/databases/schemas.py
  superset/datasets/schemas.py
  superset/queries/saved_queries/schemas.py
  superset/reports/schemas.py
  superset/row_level_security/schemas.py
  superset/tasks/schemas.py
  superset/themes/schemas.py
Due: ruff-format, ruff, pylint

fix: disable hideOverlap when showMaxLabel is active on time axes (#39899)
  superset-frontend/plugins/plugin-chart-echarts/src/MixedTimeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Timeseries/transformers.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): render stopped state when a chart query is cancelled (#42270)
  superset-frontend/src/components/Chart/Chart.test.tsx
  superset-frontend/src/components/Chart/Chart.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: clarify Y axis clamping comment covers derived bounds too
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: satisfy BinaryQueryObjectFilterClause typing in ChartContextMenu test
  superset-frontend/src/components/Chart/ChartContextMenu/ChartContextMenu.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

improve logic
  superset-frontend/src/SqlLab/actions/sqlLab.test.ts
  superset-frontend/src/SqlLab/actions/sqlLab.ts
  superset-frontend/src/SqlLab/components/PopEditorTab/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

cleaning things up
  superset-frontend/src/SqlLab/actions/sqlLab.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(logging): stop noisy LocalProxy-not-mapped warning for guest users
  superset/utils/log.py
  tests/integration_tests/event_logger_tests.py
Due: ruff-format, ruff, pylint

refactor(mcp): set dashboard editors (Subject) instead of owners
  superset/mcp_service/dashboard/schemas.py
  superset/mcp_service/dashboard/tool/update_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_update_dashboard.py
Due: ruff-format, ruff, pylint

adding regression test
  superset-frontend/src/SqlLab/components/PopEditorTab/PopEditorTab.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): respect show_filters URL param in standalone report mode
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chat): prevent main content reload when toggling chat panel (#42143)
  superset-frontend/src/views/App.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): resolve now/today anchors to local time, not UTC
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/dateParser.test.ts
  superset-frontend/src/explore/components/controls/DateFilterControl/utils/dateParser.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: update remaining OK button references to Confirm
  superset-frontend/playwright/components/modals/ConfirmDialog.ts
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(semantic layers): don't show samples tab in explore
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/SamplesPane.test.tsx
  superset-frontend/src/explore/types.ts
  superset/connectors/sqla/models.py
  superset/semantic_layers/models.py
  superset/superset_typing.py
  superset/views/datasource/views.py
  tests/unit_tests/semantic_layers/models_test.py
  tests/unit_tests/views/datasource/views_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Also disable drill-to-detail
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
  superset-frontend/src/components/Chart/useDrillDetailMenuItems/index.tsx
  superset-frontend/src/components/Chart/useDrillDetailMenuItems/useDrillDetailMenuItems.test.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/explore/types.ts
  superset/connectors/sqla/models.py
  superset/semantic_layers/models.py
  superset/superset_typing.py
  tests/unit_tests/semantic_layers/models_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

Address comments
  superset/common/query_actions.py
  tests/unit_tests/common/test_query_actions_drill_detail.py
Due: ruff-format, ruff, pylint

Address comments
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/test/DataTablesPane.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sqllab): Fall back to empty editor tab when linked query no longer exists (#42241)
  superset-frontend/src/SqlLab/actions/sqlLab.test.ts
  superset-frontend/src/SqlLab/components/PopEditorTab/PopEditorTab.test.tsx
  superset-frontend/src/SqlLab/components/PopEditorTab/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(clickhouse): use equality for boolean filters instead of IS
  superset/db_engine_specs/clickhouse.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Revert "feat(table): rebase URL link column config feature onto master"
  superset-frontend/packages/superset-ui-chart-controls/src/types.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/getUrlLinks.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/index.ts
  superset-frontend/plugins/plugin-chart-table/src/TableChart.tsx
  superset-frontend/plugins/plugin-chart-table/src/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-table/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-table/src/types.ts
  superset-frontend/plugins/plugin-chart-table/src/utils/isEqualColumns.ts
  superset-frontend/src/explore/components/controls/UrlLinkControl/UrlLinkControl.test.tsx
  superset-frontend/src/explore/components/controls/UrlLinkControl/UrlLinkControl.tsx
  superset-frontend/src/explore/components/controls/UrlLinkControl/UrlLinkPopover.tsx
  superset-frontend/src/explore/components/controls/UrlLinkControl/UrlLinkPopoverContent.test.tsx
  superset-frontend/src/explore/components/controls/UrlLinkControl/UrlLinkPopoverContent.tsx
  superset-frontend/src/explore/components/controls/UrlLinkControl/index.ts
  superset-frontend/src/explore/components/controls/UrlLinkControl/types.ts
  superset-frontend/src/explore/components/controls/index.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix lint
  superset/semantic_layers/models.py
Due: ruff-format, ruff, pylint

test(dashboard): cover query-context rebuild edge cases
  tests/unit_tests/common/test_form_data_query_context.py
  tests/unit_tests/tasks/test_export_dashboard_excel.py
Due: ruff-format, ruff

fix: pin @cypress/code-coverage to compatible major version
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
Due: prettier-frontend

fix(sql_lab): serialize dict/list cell values as valid JSON strings (#41099)
  superset/result_set.py
  tests/unit_tests/result_set_test.py
Due: ruff-format, ruff, pylint

fix(i18n:es): re-base catalog on master to recover dropped translations
  superset/translations/es/LC_MESSAGES/messages.po
Due: none

perf(filters): cache column-values endpoint to skip DB on repeat requests (#40839)
  superset/datasource/api.py
  tests/integration_tests/datasource/api_tests.py
Due: ruff-format, ruff, pylint

fix(i18n:es): fix format-string bugs and align tú/tablero/agregar terminology
  superset/translations/es/LC_MESSAGES/messages.po
Due: none

fix(i18n:es): fix English msgid strings corrupted by tú/usted word swap
  superset/translations/es/LC_MESSAGES/messages.po
Due: none

fix(i18n:es): restore dropped placeholders in reused translation templates
  superset/translations/es/LC_MESSAGES/messages.po
Due: none

fix(echarts): guard timeseries annotation + tooltip render against missing data (sc-114915)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformers.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/forecast.ts
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/forecast.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/transformers.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat: new splice RLSMethod
  superset/db_engine_specs/base.py
  superset/sql/parse.py
  superset/sql/rls_splice.py
  superset/utils/rls.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Improvements
  superset/sql/parse.py
  superset/sql/rls_splice.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Simplify
  superset/db_engine_specs/base.py
  superset/db_engine_specs/couchbase.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/solr.py
  superset/utils/rls.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Simplify function signature
  superset/sql/parse.py
  superset/utils/rls.py
  tests/unit_tests/models/test_virtual_dataset_format.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Increase parity
  superset/sql/rls_splice.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Increase coverage
  superset/sql/rls_splice.py
  tests/unit_tests/sql/rls_splice_unit_tests.py
Due: ruff-format, ruff, pylint
