Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(i18n): wrap table access error message with gettext for translation
  superset/security/manager.py
Due: ruff-format, ruff, pylint

test(security): update table access error message assertions
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff

fix(safe-markdown): do not mutate the shared sanitization schema
  superset-frontend/packages/superset-ui-core/src/components/SafeMarkdown/SafeMarkdown.tsx
  superset-frontend/packages/superset-ui-core/test/components/SafeMarkdown.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(config): refuse to start with an empty SECRET_KEY
  superset/initialization/__init__.py
  tests/unit_tests/test_check_secret_key.py
Due: ruff-format, ruff, pylint

test(native-filters): pin granularity cascade + dedup, drop any cast
  superset-frontend/src/dashboard/actions/datasources.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.timeGrain.test.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterValue.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(security): add SSO discovery and session token API endpoints
  superset/security/api.py
  tests/integration_tests/security/api_tests.py
  tests/integration_tests/security_tests.py
Due: ruff-format, ruff, pylint

docs(meta-db): warn that SUPERSET_META_DB_LIMIT truncates tables before joins
  docs/user_docs_versioned_docs/version-6.0.0/configuration/databases.mdx
Due: none

fix(logout): purge the namespaced Cache API store on logout
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): log extension-init failures via the logger, not print()
  superset/initialization/__init__.py
  tests/unit_tests/test_init_extensions_logging.py
Due: ruff-format, ruff, pylint

feat(security): record audit metadata on guest token issuance
  superset/security/api.py
  superset/security/guest_token.py
  tests/unit_tests/security/guest_token_audit_test.py
Due: ruff-format, ruff, pylint

feat(api): log rejected related/distinct field access as security events
  superset/views/base_api.py
  tests/integration_tests/base_api_tests.py
Due: ruff-format, ruff, pylint

chore(deps): bump vulnerable transitive deps across lockfiles
  docs/package.json
  docs/yarn.lock
  superset-frontend/cypress-base/package-lock.json
  superset-frontend/cypress-base/package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-websocket/package-lock.json
  superset-websocket/package.json
Due: prettier-frontend

docs(security): add a secrets register and rotation schedule
  docs/admin_docs/security/securing_superset.mdx
Due: none

address review feedback: centralize query-aware schema resolution
  superset/commands/sql_lab/estimate.py
  superset/models/core.py
  superset/models/helpers.py
  superset/sql/execution/executor.py
  tests/unit_tests/commands/sql_lab/test_estimate.py
  tests/unit_tests/models/core_test.py
  tests/unit_tests/sql/execution/test_executor.py
Due: ruff-format, ruff, pylint

fix(docker): exec gunicorn in run-server.sh so it receives SIGTERM
  docker/entrypoints/run-server.sh
  helm/superset/Chart.yaml
  helm/superset/README.md
  helm/superset/values.yaml
Due: none

fix(chart): do not allow whitespace only strings to pass through as raw values
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

address review feedback: distinct expr shapes in memo test + document search_path rejection
  UPDATING.md
  tests/unit_tests/models/helpers_test.py
Due: ruff-format, ruff

fix(security): clean up stale can_import permission on ImportExportRestApi
  superset/migrations/versions/2026-06-23_03-23_a7d3f1b9c2e4_cleanup_stale_can_import_pvm.py
  tests/integration_tests/migrations/a7d3f1b9c2e4_cleanup_stale_can_import_pvm__tests.py
Due: ruff-format, ruff

fix(sql): detect set operations and nested selects in subquery check (#38452)
  superset/sql/parse.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(i18n): wrap table access error message with gettext for translation (#38489)
  superset/security/manager.py
  tests/unit_tests/security/manager_test.py
Due: ruff-format, ruff, pylint

fix(plugin-chart-echarts): cross-filter horizontal bars on category not metric (#41104)
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.test.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/EchartsTimeseries.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(table): keep server pagination inside row limit, stable page size
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): patch _validate_update_against_dataset on the module, not the dotted string
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
Due: ruff-format, ruff

fix(chart API): Consider time grain filters with the filters_dashboard_id param (#41290)
  superset/charts/data/dashboard_filter_context.py
  tests/unit_tests/charts/test_chart_data_api.py
Due: ruff-format, ruff, pylint

fix(chart): format BigNumberTotal transformProps with Prettier
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test: add return type annotations to new test functions
  tests/unit_tests/test_init_extensions_logging.py
Due: ruff-format, ruff

fix(table): recompute first-page row_limit on filter reset; cover pagination
  superset-frontend/plugins/plugin-chart-table/src/buildQuery.ts
  superset-frontend/plugins/plugin-chart-table/test/buildQuery.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(rls): add type hints to _post_payload helper
  tests/unit_tests/row_level_security/schema_test.py
Due: ruff-format, ruff

fix(security): add docstrings, type hints, and commit error handling to migration
  superset/migrations/versions/2026-06-23_03-23_a7d3f1b9c2e4_cleanup_stale_can_import_pvm.py
  tests/integration_tests/migrations/a7d3f1b9c2e4_cleanup_stale_can_import_pvm__tests.py
Due: ruff-format, ruff

fix(api): restrict rejected-field log token to a safe character set
  superset/views/base_api.py
Due: ruff-format, ruff, pylint

test(security): annotate guest-token audit tests with -> None return types
  tests/unit_tests/security/guest_token_audit_test.py
Due: ruff-format, ruff

test(mcp): annotate types on unpinned-algorithm test
  tests/unit_tests/mcp_service/test_jwt_verifier.py
Due: ruff-format, ruff

test: add type annotations to check_secret_key test helpers
  tests/unit_tests/test_check_secret_key.py
Due: ruff-format, ruff

fix(rls): enforce datasource access on partial RLS updates omitting tables
  superset/commands/security/update.py
  tests/unit_tests/commands/security/rls_test.py
Due: ruff-format, ruff, pylint

fix(test): patch selectinload not db.session.query so failure lands in get_list
  tests/integration_tests/security/api_tests.py
Due: ruff-format, ruff

fix(sqllab): replace native prompt with modal for tab rename
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/SqlEditorTabHeader.test.tsx
  superset-frontend/src/SqlLab/components/SqlEditorTabHeader/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(time-control): Use default time formatter instead of harcoding smart_date
  superset-frontend/plugins/legacy-plugin-chart-calendar/src/controlPanel.ts
  superset-frontend/plugins/legacy-plugin-chart-partition/src/controlPanel.tsx
  superset-frontend/plugins/legacy-plugin-chart-rose/src/controlPanel.tsx
  superset-frontend/plugins/legacy-preset-chart-nvd3/src/NVD3Controls.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Pie/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Sunburst/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Area/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Bar/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Line/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/Scatter/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Regular/SmoothLine/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/Step/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/controls.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(plugin-chart-echarts): show forecast tooltip values when they equal zero
  superset-frontend/plugins/plugin-chart-echarts/src/utils/forecast.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/forecast.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Use Number.isFinite for forecast tooltip guards to exclude NaN/Infinity
  superset-frontend/plugins/plugin-chart-echarts/src/utils/forecast.ts
  superset-frontend/plugins/plugin-chart-echarts/test/utils/forecast.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(explore): pre-populate SaveModal dashboard from chart metadata (#41181)
  superset-frontend/src/explore/components/SaveModal.test.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
