Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix: drop post-processing options the operation no longer accepts
  superset/common/query_object.py
  superset/utils/pandas_postprocessing/utils.py
  tests/unit_tests/pandas_postprocessing/test_utils.py
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff, pylint

fix: only treat parameters a caller can pass by keyword as options
  superset/common/query_object.py
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff, pylint

fix: require a Slack channel id in report recipients
  superset/reports/schemas.py
Due: ruff-format, ruff, pylint

test: cover Slack channel id validation
  tests/unit_tests/reports/schemas_test.py
Due: ruff-format, ruff

test: legacy Slack v1 keeps accepting channel names
  tests/unit_tests/reports/schemas_test.py
Due: ruff-format, ruff

fix: limit channel id validation to SlackV2, leaving deprecated v1 alone
  superset/reports/schemas.py
Due: ruff-format, ruff, pylint

test: cover SlackV2 channel id validation through the API
  tests/integration_tests/reports/api_tests.py
Due: ruff-format, ruff

fix(dashboard): narrow put body type in PropertiesModal certification test
  superset-frontend/src/dashboard/components/PropertiesModal/PropertiesModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(clickhouse): add label hash suffix to both ClickHouse drivers
  UPDATING.md
  superset/db_engine_specs/clickhouse.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

feat(postprocessing): teach pivot() to compute percent-of-row/col/total
  superset/utils/pandas_postprocessing/pivot.py
  tests/unit_tests/pandas_postprocessing/test_pivot.py
Due: ruff-format, ruff, pylint

docs: correct outdated repository facts (#42989)
  .claude/projects/js-to-ts/PROJECT.md
  .github/stale.yml
  docs/developer_docs/contributing/development-setup.md
  docs/developer_docs/contributing/issue-reporting.md
  docs/developer_docs_versioned_docs/version-6.1.0/contributing/development-setup.md
  docs/developer_docs_versioned_docs/version-6.1.0/contributing/issue-reporting.md
  docs/user_docs_versioned_docs/version-6.0.0/contributing/development.mdx
Due: none

feat(embedded): Extend SDK with setDataMask support
  superset-embedded-sdk/src/index.ts
Due: none

fix(embedded): Acknowledge setDataMask and queue it until hydration
  superset-embedded-sdk/src/index.test.ts
  superset-embedded-sdk/src/index.ts
  superset-frontend/src/embedded/api.test.ts
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): Ignore unknown filter ids in setDataMask
  superset-embedded-sdk/src/index.test.ts
  superset-embedded-sdk/src/index.ts
  superset-frontend/src/embedded/api.test.ts
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(embedded): Add unit tests for embedDashboard setDataMask
  superset-embedded-sdk/package-lock.json
  superset-embedded-sdk/package.json
  superset-embedded-sdk/src/index.test.ts
Due: none

feat(embedded): Add setDataMask API method
  superset-frontend/src/embedded/api.tsx
  superset-frontend/src/embedded/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(embedded): Trigger chart queries on setDataMask update
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(embedded): Optimize setDataMask with react-redux batch
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): Replace lodash partition with plain filters in setDataMask
  superset-frontend/src/embedded/api.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Apply oxfmt formatting to destructuring in extractDataTotalValues
  superset-frontend/plugins/plugin-chart-echarts/src/utils/series.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Add unit tests for extractDataTotalValues sort-metric exclusion
  superset-frontend/plugins/plugin-chart-echarts/test/utils/series.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): return only the dashboard members the caller can access
  superset/dashboards/api.py
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff, pylint

feat(clickhouse): support file uploads via clickhouse-connect
  superset/db_engine_specs/clickhouse.py
  tests/unit_tests/db_engine_specs/test_clickhouse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

restore field-level narrowing for dashboard member serialization
  superset/dashboards/api.py
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff, pylint

keep the chart config payload intact and tighten the dataset narrowing
  superset/dashboards/api.py
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff, pylint

feat(database): identify errors from configured database engines
  superset/databases/error_provenance.py
  superset/models/core.py
  tests/integration_tests/model_tests.py
  tests/unit_tests/databases/error_provenance_test.py
  tests/unit_tests/models/core_test.py
Due: ruff-format, ruff, pylint

experiment: full SQLAlchemy 2.0 + flask-sqlalchemy 3.1.1 bump (DO NOT MERGE)
  pyproject.toml
  pytest.ini
  requirements/base.txt
  requirements/development.txt
  superset-core/pyproject.toml
  superset/migrations/versions/2018-07-26_11-10_c82ee8a39623_add_implicit_tags.py
  superset/migrations/versions/2022-04-01_14-38_a9422eeaae74_new_dataset_models_take_2.py
  superset/utils/core.py
Due: ruff-format, ruff, pylint

experiment: fix removed MetaData(bind=) and string-key Row access
  superset/migrations/versions/2020-01-08_01-17_e96dbf2cfef0_datasource_cluster_fk.py
  superset/migrations/versions/2020-04-24_10-46_e557699a813e_add_tables_relation_to_row_level_.py
  superset/migrations/versions/2020-09-15_18-22_e5ef6828ac4e_add_rls_filter_type_and_grouping_key.py
Due: ruff-format, ruff

experiment: fix load_only() string arguments in two UUID migrations
  superset/migrations/versions/2020-09-28_17-57_b56500de1855_add_uuid_column_to_import_mixin.py
  superset/migrations/versions/2021-02-18_09-13_c501b7c653a3_add_missing_uuid_column.py
Due: ruff-format, ruff

experiment: guard app_context() pushes with has_app_context()
  superset/tasks/context.py
  superset/tasks/manager.py
Due: ruff-format, ruff, pylint

experiment: restore thread-scoped db.session under FSA 3.x
  superset/extensions/__init__.py
  superset/initialization/__init__.py
Due: ruff-format, ruff, pylint

experiment: stop rendering RowLevelSecurityFilter.filter_type as a native PG enum
  superset/connectors/sqla/models.py
Due: ruff-format, ruff, pylint

experiment: add missing db.session.add() in report-schedule test fixtures
  tests/integration_tests/charts/api_tests.py
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff

experiment: stop double-encoding passwords now that URL.render_as_string() encodes them
  superset/models/core.py
  tests/integration_tests/model_tests.py
Due: ruff-format, ruff, pylint

experiment: use db.session.get_bind() instead of the now-None db.session.bind
  tests/integration_tests/dashboards/soft_delete_tests.py
  tests/integration_tests/versioning/id_reuse_tests.py
Due: ruff-format, ruff

experiment: add missing db.session.add() when Explore saves a chart to a new dashboard
  superset/views/core.py
Due: ruff-format, ruff, pylint

experiment: stop passing password="***" to real database connections and caches
  superset/db_engine_specs/base.py
  superset/db_engine_specs/clickhouse.py
  superset/db_engine_specs/couchbase.py
  superset/db_engine_specs/databend.py
  superset/db_engine_specs/databricks.py
  superset/db_engine_specs/duckdb.py
  superset/db_engine_specs/snowflake.py
  superset/models/core.py
  tests/unit_tests/db_engine_specs/test_snowflake.py
  tests/unit_tests/db_engine_specs/test_trino.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

experiment: drop removed subtransactions= kwarg from Session.begin()
  tests/integration_tests/datasource_tests.py
Due: ruff-format, ruff

experiment: flush after adding the copy in DashboardDAO.copy_dashboard
  superset/daos/dashboard.py
Due: ruff-format, ruff, pylint

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
