Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

prettier-frontend:
  name: prettier (frontend)
  entry: bash -c 'cd superset-frontend && for file in "$@"; do npx prettier --write "${file#superset-frontend/}"; done'
  language: system
  pass_filenames: true

oxlint-frontend:
  name: oxlint (frontend)
  entry: ./scripts/oxlint.sh
  language: system
  pass_filenames: true

custom-rules-frontend:
  name: custom rules (frontend)
  entry: ./scripts/check-custom-rules.sh
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --fix --quiet $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: ./scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base
  language: system
  require_serial: true

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

ruff:
  name: ruff
  entry: ruff check --fix --show-fixes
  language: system

pylint:
  name: pylint with custom Superset plugins
  entry: bash
  language: system
  args:
  - -c
  ...

db-engine-spec-metadata:
  name: database engine spec metadata validation
  entry: python superset/db_engine_specs/lint_metadata.py --strict
  language: system
  pass_filenames: false

feature-flags-sync:
  name: feature flags documentation sync
  ...

fix(docs): omit import snippet for components not in the public barrel
  docs/developer_docs/components/ui/tablecollection.mdx
  docs/scripts/generate-superset-components.mjs
Due: none

Run the pre-commit
  superset/charts/schemas.py
Due: ruff-format, ruff, pylint

fix(frontend): make Languages interface fields optional
  superset-frontend/src/features/home/LanguagePicker.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(frontend): use 'us' as fallback flag
  superset-frontend/src/features/home/LanguagePicker.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: sync lockfilie
  superset-frontend/package-lock.json
Due: prettier-frontend

Fix react-checkbox-tree
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier-frontend

docs: add complete list of Handlebars helpers to README (#39573)
  superset-frontend/plugins/plugin-chart-handlebars/README.md
Due: none

fix: restrict pageSizeOptions to PAGE_SIZE in DrillDetailPane (#36267)
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: delete Chart under "All" in home page doesn't refresh after dele… (#39471)
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/home/ChartTable.test.tsx
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/views/CRUD/utils.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(result_set): preserve JSON/JSONB data as objects instead of strings
  superset/result_set.py
  tests/unit_tests/result_set_test.py
Due: ruff-format, ruff, pylint

test(result_set): update nested type tests for JSON preservation
  tests/integration_tests/result_set_tests.py
Due: ruff-format, ruff

fix(dataframe): handle arrays in NA check for JSON data preservation
  superset/dataframe.py
Due: ruff-format, ruff, pylint

style: fix black formatting in result_set_tests.py
  tests/integration_tests/result_set_tests.py
Due: ruff-format, ruff

fix(result_set): detect nested types in ArrowInvalid except branch
  superset/result_set.py
Due: ruff-format, ruff, pylint

address review: clarify drag-drop test removal as TODO breadcrumb
  superset-frontend/src/explore/components/controls/DndColumnSelectControl/DndMetricSelect.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(DatasourceControl): await userEvent.click to deflake Edit dataset test
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(SaveModal): guard cleared dashboard selection and strip OUT_OF_TAB hash
  superset-frontend/src/explore/components/SaveModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(CopyToClipboard): guard cloneElement for non-element copyNode
  superset-frontend/src/components/CopyToClipboard/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(SaveModal): restore saveAction history state dropped in function component conversion
  superset-frontend/src/explore/components/SaveModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(SaveModal): widen onDashboardChange param to antd SelectValue
  superset-frontend/src/explore/components/SaveModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(imports): rewrite stale @apache-superset/core bare and api/core imports to correct subpaths
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/components/CopyToClipboard/index.tsx
  superset-frontend/src/components/Datasource/components/CollectionTable/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
  superset-frontend/src/components/ErrorBoundary/index.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.tsx
  superset-frontend/src/explore/components/controls/CollectionControl/index.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/SelectControl.tsx
  superset-frontend/src/explore/components/controls/SpatialControl.tsx
  superset-frontend/src/explore/components/controls/TextAreaControl.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.tsx
  superset-frontend/src/explore/components/controls/ViewportControl.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style: apply prettier formatting
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/features/home/RightMenu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(lint): convert explore controls, SqlLab, and misc components to function components
  superset-frontend/src/SqlLab/components/App/App.test.tsx
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
  superset-frontend/src/components/CopyToClipboard/index.tsx
  superset-frontend/src/components/Datasource/components/CollectionTable/CollectionTable.test.tsx
  superset-frontend/src/components/Datasource/components/CollectionTable/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditor.test.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/tests/DatasourceEditorCurrency.test.tsx
  superset-frontend/src/components/ErrorBoundary/index.tsx
  superset-frontend/src/explore/components/SaveModal.test.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.tsx
  superset-frontend/src/explore/components/controls/CheckboxControl.tsx
  superset-frontend/src/explore/components/controls/CollectionControl/index.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/DatasourceControl.test.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterPopoverTrigger/index.tsx
  superset-frontend/src/explore/components/controls/FixedOrMetricControl/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricOption.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricPopoverTrigger.tsx
  superset-frontend/src/explore/components/controls/SelectControl.tsx
  superset-frontend/src/explore/components/controls/SpatialControl.test.tsx
  superset-frontend/src/explore/components/controls/SpatialControl.tsx
  superset-frontend/src/explore/components/controls/TextAreaControl.test.tsx
  superset-frontend/src/explore/components/controls/TextAreaControl.tsx
  superset-frontend/src/explore/components/controls/TextControl/index.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.tsx
  superset-frontend/src/explore/components/controls/ViewportControl.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/ChartCreation/ChartCreation.test.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(imports): rewrite stale @apache-superset/core/ui to current subpaths
  superset-frontend/src/SqlLab/components/App/index.tsx
  superset-frontend/src/components/CopyToClipboard/index.tsx
  superset-frontend/src/components/Datasource/components/CollectionTable/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/AnnotationLayer.tsx
  superset-frontend/src/explore/components/controls/AnnotationLayerControl/index.tsx
  superset-frontend/src/explore/components/controls/CheckboxControl.tsx
  superset-frontend/src/explore/components/controls/CollectionControl/index.tsx
  superset-frontend/src/explore/components/controls/DatasourceControl/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/MetricControl/AdhocMetricEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/SelectControl.tsx
  superset-frontend/src/explore/components/controls/TextAreaControl.tsx
  superset-frontend/src/explore/components/controls/TimeSeriesColumnControl/index.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(SqlLab): retry fetchQueryResults when resultsKey changes
  superset-frontend/src/SqlLab/components/TabbedSqlEditors/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(AdhocFilterControl): reset partitionColumn on datasource change
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterControl/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: refactor `yargs` usage for v18 compat
  superset-frontend/scripts/build.js
  superset-frontend/webpack.config.js
  superset-frontend/webpack.proxy-config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: remove debug console.log and add service-worker.js to Dockerfile
  Dockerfile
  superset-frontend/src/explore/components/controls/ZoomConfigControl/ZoomConfigControl.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(security): bump authlib to 1.6.9 (#39598)
  requirements/development.txt
Due: none

feat(ci): switch to `ubuntu-slim` runner image for faster startup time when running light CI workloads
  .github/workflows/bump-python-package.yml
  .github/workflows/cancel_duplicates.yml
  .github/workflows/check_db_migration_confict.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/embedded-sdk-release.yml
  .github/workflows/embedded-sdk-test.yml
  .github/workflows/ephemeral-env-pr-close.yml
  .github/workflows/generate-FOSSA-report.yml
  .github/workflows/github-action-validator.yml
  .github/workflows/issue_creation.yml
  .github/workflows/labeler.yml
  .github/workflows/latest-release-tag.yml
  .github/workflows/license-check.yml
  .github/workflows/no-hold-label.yml
  .github/workflows/pr-lint.yml
  .github/workflows/release.yml
  .github/workflows/superset-helm-lint.yml
  .github/workflows/superset-websocket.yml
  .github/workflows/tag-release.yml
  .github/workflows/tech-debt.yml
  .github/workflows/welcome-new-users.yml
Due: none

fix: revert to `ubuntu-24.04` for heavy CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: none

fix(dev): update simple-zstd API usage in webpack proxy config
  superset-frontend/webpack.proxy-config.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: remove getPopupContainer causing double scrollbar in dropdowns (#35833)
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/plugins/plugin-chart-word-cloud/src/plugin/controls/ColorSchemeControl/index.tsx
  superset-frontend/src/dashboard/components/ColorSchemeSelect.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
  superset-frontend/src/explore/components/controls/ColorSchemeControl/index.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/DateFilterLabel.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/components/CustomFrame.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
  superset-frontend/src/features/groups/GroupListModal.tsx
  superset-frontend/src/features/roles/RoleFormItems.tsx
  superset-frontend/src/features/users/UserListModal.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: wrap OAuth2 URI placeholders in t() for i18n
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore: fix pre-commit formatting
  superset-frontend/src/features/databases/DatabaseModal/DatabaseConnectionForm/OAuth2ClientField.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: handle formatter errors gracefully in table cell rendering (#36189)
  superset-frontend/plugins/plugin-chart-table/src/utils/formatValue.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(radar): apply number formatter to tooltip
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/utils.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Radar/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style: fix lint issues
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(radar): address code review comments
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Radar/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: ci prettier error
  superset-frontend/plugins/plugin-chart-echarts/src/Radar/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/Radar/utils.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$
