Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

refactor(passwords): accept passwords via YAML file (#38059)
  superset/commands/importers/v1/utils.py
  tests/unit_tests/commands/databases/importers/v1/command_test.py
Due: ruff-format, ruff, pylint

fix(reports): PUT with empty recipients list does not persist the change (#38711)
  superset/daos/report.py
  superset/reports/schemas.py
  tests/integration_tests/reports/api_tests.py
Due: ruff-format, ruff, pylint

Fix FAQ grammar for SQL query wording
  docs/docs/faq.mdx
  docs/versioned_docs/version-6.0.0/faq.mdx
Due: none

fix(ci): resolve failed CodeCov upload for backend tests (#38885)
  .github/workflows/superset-python-integrationtest.yml
  .github/workflows/superset-python-presto-hive.yml
  .github/workflows/superset-python-unittest.yml
Due: none

chore(tests): promote Playwright experimental tests to stable and clean up superseded Cypress tests
  superset-frontend/cypress-base/cypress/e2e/chart_list/list.test.ts
  superset-frontend/cypress-base/cypress/e2e/dataset/dataset_list.test.ts
  superset-frontend/cypress-base/cypress/e2e/explore/utils.ts
  superset-frontend/cypress-base/cypress/utils/index.ts
  superset-frontend/cypress-base/cypress/utils/urls.ts
  superset-frontend/playwright/tests/chart/chart-list.spec.ts
  superset-frontend/playwright/tests/chart/chart-test-helpers.ts
  superset-frontend/playwright/tests/dashboard/dashboard-list.spec.ts
  superset-frontend/playwright/tests/dashboard/dashboard-test-helpers.ts
  superset-frontend/playwright/tests/dashboard/export.spec.ts
  superset-frontend/playwright/tests/dashboard/theme.spec.ts
  superset-frontend/playwright/tests/dataset/create-dataset.spec.ts
  superset-frontend/playwright/tests/dataset/dataset-list.spec.ts
  superset-frontend/playwright/tests/dataset/dataset-test-helpers.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(bigquery): use backslash escaping for apostrophes in filter values
  superset/db_engine_specs/bigquery.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix: strengthen BigQuery apostrophe test assertion
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff

Wire up Google Sheets export for v6: feature flag, routes, import fixes
  docker/pythonpath_dev/superset_config.py
  superset-frontend/packages/superset-ui-core/src/utils/featureFlags.ts
  superset-frontend/src/pages/ExportGoogleSheets/index.tsx
  superset-frontend/src/pages/ExportSliceToGoogleSheets/index.tsx
  superset-frontend/src/views/routes.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

Register Aven AB chart plugin and fix v6 import paths
  superset-frontend/plugins/plugin-aven-ab-chart/src/AvenABChart.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix two minor missing changes from avenmaster audit
  superset/models/helpers.py
  superset/utils/core.py
Due: ruff-format, ruff, pylint

Remove unused upstream CI workflows
  .github/workflows/dependency-review.yml
  .github/workflows/license-check.yml
  .github/workflows/pr-lint.yml
Due: none

fix(tests): stabilize flaky jest tests and remove unused vars
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CustomFrame.test.tsx
  superset-frontend/src/explore/components/controls/SelectControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): resolve lint and portal race conditions
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/Timeseries/transformProps.ts
  superset-frontend/src/components/Chart/DrillBy/DrillBySubmenu.test.tsx
  superset-frontend/src/core/sqlLab/sqlLab.test.ts
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.tsx
  superset-frontend/src/explore/components/controls/DateFilterControl/tests/CustomFrame.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: include aggregation function in Subvalue label
  superset-frontend/plugins/plugin-chart-pivot-table/src/react-pivottable/TableRenderers.tsx
  superset/charts/client_processing.py
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
  tests/unit_tests/charts/test_client_processing.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(frontend): resolve image download formatting and cleanup issues
  superset-frontend/src/utils/downloadAsImage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: correct test markdown table alignment for longer labels
  tests/unit_tests/charts/test_client_processing.py
Due: ruff-format, ruff

fix(ace-editor): fix cursor misalignment in markdown editor
  superset-frontend/packages/superset-ui-core/src/components/AsyncAceEditor/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(databases): add test for get_prequeries with email prefix and dotted local part
  tests/unit_tests/db_engine_specs/test_starrocks.py
Due: ruff-format, ruff

test(databases): add test for prequeries with email prefix when effective user differs
  tests/unit_tests/db_engine_specs/test_starrocks.py
Due: ruff-format, ruff

add "Compatible Databases" document for Apache Doris database
  docs/src/data/databases.json
  docs/static/img/databases/selectdb.svg
  docs/static/img/databases/velodb.svg
  superset/db_engine_specs/doris.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Update line 41 to change "poperator3" to "pop3"
  superset/advanced_data_type/plugins/internet_port.py
Due: ruff-format, ruff, pylint

fix(tests): update test_info_security_report to expect can_subscribe permission
  tests/integration_tests/reports/api_tests.py
Due: ruff-format, ruff

fix(reports): drop unknown fields in subscribe schema instead of raising
  superset/reports/schemas.py
  tests/unit_tests/reports/schemas_test.py
Due: ruff-format, ruff, pylint

fix(mcp): remove @parse_request decorator for cleaner tool schemas (#38918)
  superset/mcp_service/auth.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/list_charts.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dashboard/tool/list_dashboards.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/sql_lab/tool/execute_sql.py
  superset/mcp_service/sql_lab/tool/open_sql_lab_with_context.py
  superset/mcp_service/sql_lab/tool/save_sql_query.py
  superset/mcp_service/system/tool/get_instance_info.py
  superset/mcp_service/system/tool/get_schema.py
  tests/unit_tests/mcp_service/sql_lab/tool/test_save_sql_query.py
  tests/unit_tests/mcp_service/system/tool/test_get_schema.py
Due: ruff-format, ruff, pylint

fix(mcp): narrow exception catch and fix ruff PT023/PT001 lint
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

fix(drill-detail): restrict page size options to match defaultPageSize
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Fix typos in UPDATING.md
  UPDATING.md
Due: none

fix(CI): fix test
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(sql-lab): apply access check in results command validate
  superset/commands/sql_lab/results.py
Due: ruff-format, ruff, pylint

fix(mcp): prevent GRID_ID injection into ROOT_ID on tabbed dashboards (#38890)
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

fix(mcp): prevent PendingRollbackError from poisoned sessions after SSL drops
  superset/mcp_service/auth.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

fix(mcp): protect all inner db.session.rollback() calls from secondary failures
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
Due: ruff-format, ruff, pylint

fix(time-format): handle string input in stringifyTimeInput
  superset-frontend/packages/superset-ui-core/src/time-format/TimeFormatter.ts
  superset-frontend/packages/superset-ui-core/src/time-format/utils/stringifyTimeInput.ts
  superset-frontend/packages/superset-ui-core/test/time-format/TimeFormatter.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(auth): guest token takes priority over active session for embedded dashboards
  superset/security/manager.py
  tests/integration_tests/security/guest_token_security_tests.py
Due: ruff-format, ruff, pylint

test: ensure consistent year calculation across timezones
  superset-frontend/packages/superset-ui-core/test/time-format/TimeFormatter.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): validate dataset exists in generate_explore_link before generating URL
  superset/mcp_service/explore/tool/generate_explore_link.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff, pylint

fix(mcp): align test file with OSS ruff PT023/PT001 conventions
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff

fix(mcp): add try/except around DAO re-fetch to handle session errors in multi-tenant (#38859)
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/dashboard/tool/add_chart_to_existing_dashboard.py
  superset/mcp_service/dashboard/tool/generate_dashboard.py
  tests/unit_tests/mcp_service/chart/tool/test_generate_chart.py
  tests/unit_tests/mcp_service/dashboard/tool/test_dashboard_generation.py
Due: ruff-format, ruff, pylint

Update README.md
  README.md
Due: none
