Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(native-filters): address review feedback on creatable select filter
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(native-filters): use hasOption dedup and preserve value type in uniqueOptions
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(native-filters): add plugin tests for creatable select fix and AsyncSelect paste trim
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(native-filters): persist created default values in select filter
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

style(native-filters): apply prettier formatting to fix pre-commit checks
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(native-filters): restore creatable guard in options useMemo
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(bignumber): add alignment control
  UPDATING.md
  docs/docs/explore/charts.md
  docs/docs/faq.md
  docs/docs/installation/upgrade.md
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/controlPanel.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.test.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberTotal/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/BigNumberWithTrendline/controlPanel.tsx
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/sharedControls.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BigNumber/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): clear stale overflow-confirmation flag and restore test mock
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.overflow.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): resolve call_tool proxy name and capture error_type in logging (#38915)
  superset/mcp_service/middleware.py
  tests/unit_tests/mcp_service/test_middleware_logging.py
Due: ruff-format, ruff, pylint

fix(i18n): align German users list translation
  superset/translations/de/LC_MESSAGES/messages.po
Due: none

feat(mcp): add runtime chart plugin enable/disable via _PluginFilterConfig
  superset/initialization/__init__.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/validation/schema_validator.py
  superset/mcp_service/flask_singleton.py
  superset/mcp_service/mcp_config.py
  tests/unit_tests/mcp_service/chart/test_registry_filters.py
Due: ruff-format, ruff, pylint

fix(mcp): fix saved-metric name normalization across all chart plugins
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/validation/dataset_validator.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
Due: ruff-format, ruff, pylint

refactor(mcp): move all local imports to top level in chart type plugins
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
Due: ruff-format, ruff, pylint

fix(mcp): add full column validation to update_chart
  superset/mcp_service/chart/tool/update_chart.py
Due: ruff-format, ruff, pylint

feat(mcp): add display_name and native_viz_types to chart type plugins
  superset/mcp_service/app.py
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

fix(mcp): resolve ruff E501 and formatting issues to pass pre-commit
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/validation/schema_validator.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
Due: ruff-format, ruff, pylint

fix(mcp): resolve E402 and E501 in dataset_validator.py
  superset/mcp_service/chart/validation/dataset_validator.py
Due: ruff-format, ruff, pylint

refactor(mcp): complete plugin protocol — registry bootstrap, mypy fixes, test repairs
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/validation/dataset_validator.py
  tests/unit_tests/mcp_service/chart/test_big_number_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/chart/validation/test_column_name_normalization.py
  tests/unit_tests/mcp_service/chart/validation/test_runtime_validator.py
Due: ruff-format, ruff, pylint

refactor(mcp): address Codex review — fix registry bug, DRY schema hints, remove column regex
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/validation/schema_validator.py
  tests/unit_tests/mcp_service/chart/test_registry.py
Due: ruff-format, ruff, pylint

fix(mcp): fix E501 in update_chart.py and update_chart test mocks for column validation
  superset/mcp_service/chart/tool/update_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
Due: ruff-format, ruff, pylint

fix(mcp): add threading lock to registry plugin loader
  superset/mcp_service/chart/registry.py
Due: ruff-format, ruff, pylint

fix(mcp): address reviewer comments — local import rationale, x-optional corrections, cardinality suggestions
  superset/mcp_service/app.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/schema_validator.py
Due: ruff-format, ruff, pylint

refactor(mcp): eliminate dead code and complete plugin registry dispatch
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/schema_validator.py
Due: ruff-format, ruff, pylint

feat(mcp): introduce chart type plugin registry for extensible chart generation
  superset/mcp_service/app.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/plugins/__init__.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/runtime/__init__.py
  superset/mcp_service/chart/validation/schema_validator.py
Due: ruff-format, ruff, pylint

fix(mcp): address self-review findings — comments, dedup, modern types
  superset/initialization/__init__.py
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/validation/schema_validator.py
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

fix(mcp): lock register() writes and add circuit breaker to _ensure_plugins_loaded
  superset/mcp_service/chart/registry.py
  tests/unit_tests/mcp_service/chart/test_registry.py
Due: ruff-format, ruff, pylint

fix(mcp): fix CI failures — sql_expression handling, cardinality guard, test mock fixes
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/xy.py
  tests/unit_tests/mcp_service/chart/test_big_number_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
  tests/unit_tests/mcp_service/chart/validation/test_runtime_validator.py
Due: ruff-format, ruff, pylint

fix(mcp): address copilot + bito review comments
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/validation/runtime/__init__.py
  superset/mcp_service/chart/validation/schema_validator.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart.py
Due: ruff-format, ruff, pylint

fix(mcp): fix import sort order in app.py (ruff I001)
  superset/mcp_service/app.py
Due: ruff-format, ruff, pylint

fix(mcp): address Bito review — log bare exception in schemas, remove redundant annotation quotes
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

feat(mcp): warn on native_viz_types collision at plugin registration
  superset/mcp_service/chart/registry.py
  tests/unit_tests/mcp_service/chart/test_registry.py
Due: ruff-format, ruff, pylint

fix(mcp): restore master's API-key auth factory lost in rebase conflict
  superset/mcp_service/mcp_config.py
Due: ruff-format, ruff, pylint

style: ruff-format auto-format fix
  superset/databases/api.py
  superset/mcp_service/chart/schemas.py
  superset/queries/api.py
  superset/reports/api.py
  superset/tags/api.py
  superset/tasks/api.py
  superset/themes/api.py
  tests/integration_tests/datasource_tests.py
Due: ruff-format, ruff, pylint

fix(mcp): harden chart registry review fixes
  superset/initialization/__init__.py
  superset/mcp_service/chart/plugin.py
  superset/mcp_service/chart/plugins/big_number.py
  superset/mcp_service/chart/plugins/handlebars.py
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/pie.py
  superset/mcp_service/chart/plugins/pivot_table.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/schemas.py
  tests/unit_tests/mcp_service/chart/test_chart_schemas.py
  tests/unit_tests/mcp_service/chart/test_registry.py
Due: ruff-format, ruff, pylint

fix(mcp): extend pre_validate empty-list guard to xy, mixed_timeseries, table plugins
  superset/mcp_service/chart/plugins/mixed_timeseries.py
  superset/mcp_service/chart/plugins/table.py
  superset/mcp_service/chart/plugins/xy.py
Due: ruff-format, ruff, pylint

style: fix E501 in test_registry docstring (93 > 88 chars)
  tests/unit_tests/mcp_service/chart/test_registry.py
Due: ruff-format, ruff

fix(mcp): address bito review — pre_validate empty-list and chart_type=None error
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/pivot_table.py
Due: ruff-format, ruff, pylint

fix(mcp): use (saved_metric, label) dedup key in XYChartConfig
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

fix(mcp): address fitzee review — sanitize temporal_column, narrow BLE001, add _reset_for_testing(), remove exec bits
  superset/mcp_service/chart/registry.py
  superset/mcp_service/chart/schemas.py
Due: ruff-format, ruff, pylint

perf(mcp): remove redundant DatasetValidator call in update_chart
  superset/mcp_service/chart/tool/update_chart.py
Due: ruff-format, ruff, pylint
