Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

docs(select): note allowNewOptionsOnPaste is multi-select only
  superset-frontend/packages/superset-ui-core/src/components/Select/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(world-map): assert highlightOnHover is disabled in context menu
  superset-frontend/plugins/legacy-plugin-chart-world-map/test/WorldMap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(semantic layers): small fixes (#40474)
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.test.tsx
  superset-frontend/src/features/semanticLayers/SemanticLayerModal.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/pages/DatasetList/DatasetList.behavior.test.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart-controls): fix RadioButtonControl crash on empty options and false values (#41170)
  superset-frontend/packages/superset-ui-chart-controls/src/shared-controls/components/RadioButtonControl.tsx
  superset-frontend/packages/superset-ui-chart-controls/test/shared-controls/components/RadioButtonControl.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): migrate dashboard load smoke test to Playwright
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/dashboard-load.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(i18n): repair corrupted ö in Turkish "gösterim" strings
  superset/translations/tr/LC_MESSAGES/messages.po
Due: none

fix(i18n): fix Turkish plural strings hardcoding "1" alongside %s
  superset/translations/tr/LC_MESSAGES/messages.po
Due: none

fix(deck.gl): use interval notation for Polygon legend bucket labels (#41400)
  superset-frontend/plugins/preset-chart-deckgl/src/components/Legend.test.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/components/Legend.tsx
  superset-frontend/plugins/preset-chart-deckgl/src/utils.test.ts
  superset-frontend/plugins/preset-chart-deckgl/src/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(config): expose build details (git SHA/build number) to admins only
  UPDATING.md
  superset/config.py
  superset/utils/version.py
  superset/views/base.py
  tests/unit_tests/utils/version_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

fix(config): redact full_sha and add return type hints
  superset/utils/version.py
  tests/unit_tests/utils/version_test.py
Due: ruff-format, ruff, pylint

fix(select): trim whitespace around pasted comma-separated values
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): migrate dashboard force-refresh control to Playwright
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/dashboard-controls.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): migrate tabs resize E2E to Playwright
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/dashboard-tabs.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): migrate native filter URL key E2E to Playwright
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/dashboard-native-filter-url-key.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(thumbnails): move DistributedLock imports to module scope, tighten test
  superset/utils/screenshots.py
  tests/unit_tests/tasks/test_thumbnails.py
Due: ruff-format, ruff, pylint

test(thumbnails): add type annotations to fixtures and test functions
  tests/unit_tests/tasks/test_thumbnails.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
Due: ruff-format, ruff

test(version): document _metadata helper
  tests/unit_tests/utils/version_test.py
Due: ruff-format, ruff

fix(select): drop blank tokens from no-separator paste path
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(tests): fix mypy Callable type params and patch path for DistributedLock
  tests/unit_tests/tasks/test_thumbnails.py
  tests/unit_tests/utils/test_screenshot_cache_fix.py
Due: ruff-format, ruff

test(dashboard): migrate drill-to-detail E2E from Cypress to Playwright
  superset-frontend/playwright/pages/DashboardPage.ts
  superset-frontend/playwright/tests/dashboard/dashboard-drill-to-detail.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

Update superset-frontend/packages/superset-ui-core/src/components/DynamicEditableTitle/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/DynamicEditableTitle/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(mcp): add aggregation field to BigNumberChartConfig for Big Number with Trendline (#40775)
  superset/mcp_service/app.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  tests/unit_tests/mcp_service/chart/test_big_number_chart.py
Due: ruff-format, ruff, pylint

fix(bigquery): set default dataset from schema in adjust_engine_params (#40776)
  superset/db_engine_specs/bigquery.py
  tests/integration_tests/db_engine_specs/bigquery_tests.py
  tests/unit_tests/db_engine_specs/test_bigquery.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(dashboards): remove thumbnail_url from list API to reduce cache cost (#38567)
  UPDATING.md
  superset-frontend/src/features/dashboards/DashboardCard.test.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/views/CRUD/types.ts
  superset/dashboards/api.py
  tests/integration_tests/thumbnails_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test: add type annotations to explore view test method
  tests/integration_tests/core_tests.py
Due: ruff-format, ruff

fix(dashboard): normalize legacy currentState to filterState in native_filters URL param (#40929)
  superset-frontend/src/dashboard/containers/DashboardPage.test.tsx
  superset-frontend/src/dashboard/containers/DashboardPage.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dropdown):clear search input after selection in all multi-select fields
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/AccessSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset-frontend/src/features/groups/GroupListModal.tsx
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
  superset-frontend/src/features/roles/RoleFormItems.tsx
  superset-frontend/src/features/tags/BulkTagModal.tsx
  superset-frontend/src/features/tags/TagModal.tsx
  superset-frontend/src/features/users/UserListModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

add some more missing search input fields
  superset-frontend/src/chartCustomizations/components/DeckglLayerVisibility/DeckglLayerVisibilityCustomizationPlugin.tsx
  superset-frontend/src/chartCustomizations/components/DynamicGroupBy/DynamicGroupByPlugin.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

revert: restore package-lock.json to upstream state
  superset-frontend/package-lock.json
Due: prettier-frontend

test(databases): migrate database modal Cypress tests to RTL
  superset-frontend/cypress-base/cypress/e2e/database/modal.test.ts
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

reverting logic to change default to true
  superset-frontend/packages/superset-ui-core/src/components/Select/AsyncSelect.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.stories.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/src/chartCustomizations/components/DeckglLayerVisibility/DeckglLayerVisibilityCustomizationPlugin.tsx
  superset-frontend/src/chartCustomizations/components/DynamicGroupBy/DynamicGroupByPlugin.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/AccessSection.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigForm/FiltersConfigForm.tsx
  superset-frontend/src/explore/components/PropertiesModal/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopoverSimpleTabContent/index.tsx
  superset-frontend/src/features/alerts/AlertReportModal.tsx
  superset-frontend/src/features/alerts/components/NotificationMethod.tsx
  superset-frontend/src/features/databases/UploadDataModel/index.tsx
  superset-frontend/src/features/groups/GroupListModal.tsx
  superset-frontend/src/features/rls/RowLevelSecurityModal.tsx
  superset-frontend/src/features/semanticLayers/jsonFormsHelpers.tsx
  superset-frontend/src/features/semanticViews/AddSemanticViewModal.tsx
  superset-frontend/src/features/tags/BulkTagModal.tsx
  superset-frontend/src/features/tags/TagModal.tsx
  superset-frontend/src/features/users/UserListModal.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

remove unnecessary file changes
  superset-frontend/package-lock.json
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/GroupByFilterCard.tsx
  superset-frontend/src/features/roles/RoleFormItems.tsx
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(menu): highlight active nav tab in non-English locales (#41183)
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/Menu.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(world-map): rely on built-in highlightOnHover to reset hover highlight (#41158)
  superset-frontend/plugins/legacy-plugin-chart-world-map/src/WorldMap.ts
  superset-frontend/plugins/legacy-plugin-chart-world-map/test/WorldMap.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): keep pasted filter values outside the loaded page (#41136)
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/Select.tsx
  superset-frontend/packages/superset-ui-core/src/components/Select/types.ts
  superset-frontend/src/filters/components/Select/SelectFilterPlugin.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(datasource): restore owner email search, scroll chain, and effect deps
  superset-frontend/src/components/Datasource/components/CollectionTable/index.tsx
  superset-frontend/src/components/Datasource/components/DatasourceEditor/DatasourceEditor.tsx
  superset-frontend/src/explore/components/controls/FilterControl/AdhocFilterEditPopover/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): restore page scrolling
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.test.tsx
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardContainer.tsx
  superset-frontend/src/views/App.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: enhanced logic of theme direction
  superset-frontend/package-lock.json
  superset-frontend/packages/superset-core/src/theme/Theme.tsx
  superset-frontend/packages/superset-ui-core/src/components/DynamicEditableTitle/index.tsx
  superset-frontend/src/features/home/LanguagePicker.stories.tsx
  superset-frontend/src/features/home/LanguagePicker.tsx
  superset-frontend/src/theme/ThemeController.ts
  superset-frontend/src/utils/localeUtils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(dashboard): guard stale DropdownContainer confirmation frame
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.overflow.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/DropdownContainer/DropdownContainer.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(database): stop saving after validation errors
  superset-frontend/src/features/databases/DatabaseModal/index.test.tsx
  superset-frontend/src/features/databases/DatabaseModal/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend
