Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(mcp): bound PNG previews without bypassing text limits
  superset/mcp_service/README.md
  superset/mcp_service/constants.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/middleware.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
  tests/unit_tests/mcp_service/test_middleware.py
Due: ruff-format, ruff, pylint

feat: new splice RLSMethod
  superset/db_engine_specs/base.py
  superset/sql/parse.py
  superset/sql/rls_splice.py
  superset/utils/rls.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Improvements
  superset/sql/parse.py
  superset/sql/rls_splice.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Simplify
  superset/db_engine_specs/base.py
  superset/db_engine_specs/couchbase.py
  superset/db_engine_specs/pinot.py
  superset/db_engine_specs/solr.py
  superset/utils/rls.py
  tests/unit_tests/db_engine_specs/test_base.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Simplify function signature
  superset/sql/parse.py
  superset/utils/rls.py
  tests/unit_tests/models/test_virtual_dataset_format.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Increase coverage
  superset/sql/rls_splice.py
  tests/unit_tests/sql/rls_splice_unit_tests.py
Due: ruff-format, ruff, pylint

Increase parity
  superset/sql/rls_splice.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

Run ruff-format
  tests/unit_tests/sql/rls_splice_unit_tests.py
Due: ruff-format, ruff

Fix lint
  superset-frontend/src/explore/components/controls/CollectionControl/index.tsx
  tests/unit_tests/sql/rls_splice_unit_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

Add to DB without sqlglot dialect
  superset/db_engine_specs/crate.py
  superset/db_engine_specs/databend.py
  superset/db_engine_specs/denodo.py
  superset/db_engine_specs/dynamodb.py
  superset/db_engine_specs/elasticsearch.py
  superset/db_engine_specs/exasol.py
  superset/db_engine_specs/firebird.py
  superset/db_engine_specs/ibmi.py
  superset/db_engine_specs/kusto.py
  superset/db_engine_specs/kylin.py
  superset/db_engine_specs/ocient.py
  superset/db_engine_specs/solr.py
  superset/db_engine_specs/tdengine.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Add dialects for Exa/Solr
  superset/db_engine_specs/exasol.py
  superset/db_engine_specs/solr.py
  superset/sql/parse.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

Address comments
  superset/sql/rls_splice.py
  tests/unit_tests/sql/rls_splice_unit_tests.py
Due: ruff-format, ruff, pylint

Small fixes
  superset/sql/parse.py
  superset/sql/rls_splice.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix(tests): actually apply the raw-predicate fix to parse_tests.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff

Bump code coverage to 100%
  tests/unit_tests/sql/rls_splice_unit_tests.py
Due: ruff-format, ruff

fix(mcp): refuse malformed saved dashboard filters
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/dashboard_scope.py
  tests/unit_tests/mcp_service/test_dashboard_scope.py
Due: ruff-format, ruff, pylint

fix(rls): restore gaps left by a flattened rebase onto master
  superset/sql/parse.py
  tests/unit_tests/models/test_virtual_dataset_format.py
  tests/unit_tests/security/guest_rls_test.py
  tests/unit_tests/sql/parse_tests.py
Due: ruff-format, ruff, pylint

fix tests
  superset/migrations/shared/catalogs.py
  tests/unit_tests/migrations/shared/catalogs_test.py
Due: ruff-format, ruff

fix(migration): drop obsolete ssh_tunnel lazyload in catalogs migration
  superset/migrations/shared/catalogs.py
Due: ruff-format, ruff

Apply suggestion from @bito-code-review[bot]
  tests/unit_tests/migrations/shared/catalogs_test.py
Due: ruff-format, ruff

use local db model in migration
  superset/migrations/shared/catalogs.py
Due: ruff-format, ruff

Update tests/unit_tests/migrations/shared/catalogs_test.py
  tests/unit_tests/migrations/shared/catalogs_test.py
Due: ruff-format, ruff

refactor: standardize string quotes and improve code consistency across Table components
  superset-frontend/packages/superset-ui-core/src/components/Table/Table.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/Table/VirtualTable.tsx
  superset-frontend/packages/superset-ui-core/src/components/Table/header-renderers/HeaderWithRadioGroup.tsx
  superset-frontend/packages/superset-ui-core/src/components/Table/index.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailModal.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.test.tsx
  superset-frontend/src/components/Chart/DrillDetail/DrillDetailPane.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): check API keys on their own thread, apart from audit writes
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/composite_token_verifier.py
  superset/mcp_service/mcp_config.py
  superset/mcp_service/worker.py
  tests/unit_tests/mcp_service/test_composite_token_verifier.py
  tests/unit_tests/mcp_service/test_worker_metadata_pool.py
Due: ruff-format, ruff, pylint

fix(oauth2): guard connection retries and inspector sign-in
  docs/developer_docs/api.mdx
  superset/models/core.py
  superset/utils/oauth2.py
  tests/unit_tests/models/core_test.py
  tests/unit_tests/utils/oauth2_tests.py
Due: ruff-format, ruff, pylint

fix(doris): offer the connection form by matching the installed driver (#44736)
  UPDATING.md
  docs/src/data/databases.json
  superset/db_engine_specs/doris.py
  tests/unit_tests/db_engine_specs/test_doris.py
Due: ruff-format, ruff, pylint, db-engine-spec-metadata

fix(mcp): close geographic chart validation and interaction gaps
  docs/admin_docs/configuration/mcp-server.mdx
  superset-frontend/plugins/plugin-chart-country-map/src/CountryMap.ts
  superset-frontend/plugins/plugin-chart-country-map/src/transformProps.ts
  superset-frontend/plugins/plugin-chart-country-map/test/geographicRendering.test.tsx
  superset-frontend/plugins/plugin-chart-world-map/src/WorldMap.ts
  superset-frontend/plugins/plugin-chart-world-map/src/countries.ts
  superset-frontend/plugins/plugin-chart-world-map/src/transformData.ts
  superset-frontend/plugins/plugin-chart-world-map/test/WorldMap.test.ts
  superset-frontend/plugins/plugin-chart-world-map/test/transformData.test.ts
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/geographic.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  tests/unit_tests/mcp_service/chart/test_geographic_chart.py
  tests/unit_tests/mcp_service/chart/tool/test_update_chart_preview.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): size the worker pool for an app without a metadata engine
  superset/mcp_service/worker.py
  tests/unit_tests/mcp_service/test_worker_metadata_pool.py
Due: ruff-format, ruff, pylint

fix(mcp): preserve histogram and gantt time filters
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/chart_helpers.py
  tests/unit_tests/mcp_service/chart/test_chart_helpers.py
Due: ruff-format, ruff, pylint

feat(canvas): let callers choose node ids on add
  superset/canvas/definition/ops.py
  superset/canvas/definition/schemas.py
  tests/unit_tests/canvas/api_test.py
  tests/unit_tests/canvas/ops_test.py
Due: ruff-format, ruff, pylint

feat(canvas): list and view pages behind the CANVAS flag
  superset-frontend/packages/superset-core/package.json
  superset-frontend/packages/superset-core/src/canvas/index.ts
  superset-frontend/packages/superset-core/src/index.ts
  superset-frontend/src/components/ListView/types.ts
  superset-frontend/src/core/canvas/canvas.test.ts
  superset-frontend/src/core/canvas/index.ts
  superset-frontend/src/core/index.ts
  superset-frontend/src/extensions/ExtensionsStartup.tsx
  superset-frontend/src/extensions/Namespaces.ts
  superset-frontend/src/features/canvas/CanvasGrid.test.tsx
  superset-frontend/src/features/canvas/CanvasGrid.tsx
  superset-frontend/src/features/canvas/types.ts
  superset-frontend/src/features/canvas/useCanvasDefinition.ts
  superset-frontend/src/pages/Canvas/Canvas.test.tsx
  superset-frontend/src/pages/Canvas/index.tsx
  superset-frontend/src/pages/CanvasList/CanvasList.test.tsx
  superset-frontend/src/pages/CanvasList/index.tsx
  superset-frontend/src/views/routePaths.ts
  superset-frontend/src/views/routes.tsx
  superset/canvas/api.py
  superset/canvas/definition/render.py
  superset/initialization/__init__.py
  superset/views/canvas.py
  tests/unit_tests/canvas/api_test.py
  tests/unit_tests/canvas/render_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

test(playwright): await dashboard search and assert mobile navigation
  superset-frontend/playwright/tests/explore/cross-referenced-dashboards.spec.ts
  superset-frontend/playwright/tests/mobile/mobile-dashboard.spec.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor: unify string quotes to double quotes for consistency in Table component
  superset-frontend/packages/superset-ui-core/src/components/Table/index.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

feat(jinja dataset_macro): resolve a dataset by its id or name and optionally specify an alias for the returned subquery
  docs/admin_docs/configuration/sql-templating.mdx
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

feat(jinja dataset_macro): name-lookup can be refined by schema, catalog, and database.
  superset/daos/dataset.py
  superset/datasets/api.py
  superset/jinja_context.py
Due: ruff-format, ruff, pylint

refactor: address PR review comments
  docs/admin_docs/configuration/sql-templating.mdx
  superset/daos/dataset.py
  superset/datasets/api.py
  superset/jinja_context.py
  tests/unit_tests/jinja_context_test.py
Due: ruff-format, ruff, pylint

feat(canvas): upgrade stored definitions and tolerate widget rule changes
  superset/canvas/api.py
  superset/canvas/definition/ops.py
  superset/canvas/definition/render.py
  superset/canvas/definition/upgrades.py
  superset/canvas/definition/validation.py
  superset/commands/canvas/apply_ops.py
  superset/commands/canvas/create.py
  superset/daos/canvas.py
  tests/unit_tests/canvas/api_test.py
  tests/unit_tests/canvas/ops_test.py
  tests/unit_tests/canvas/upgrades_test.py
Due: ruff-format, ruff, pylint

feat(canvas): canvas-wide settings for refresh, colors and display
  superset/canvas/definition/ops.py
  superset/canvas/definition/schemas.py
  superset/canvas/definition/validation.py
  tests/unit_tests/canvas/ops_test.py
  tests/unit_tests/canvas/validation_test.py
Due: ruff-format, ruff, pylint

feat(canvas): scope cross-filters and customizations like filters
  superset-core/src/superset_core/canvas/base.py
  superset/canvas/api.py
  superset/canvas/definition/ops.py
  superset/canvas/definition/schemas.py
  superset/canvas/definition/scopes.py
  superset/canvas/definition/validation.py
  superset/commands/canvas/apply_ops.py
  tests/unit_tests/canvas/api_test.py
  tests/unit_tests/canvas/fixtures.py
  tests/unit_tests/canvas/scopes_test.py
  tests/unit_tests/canvas/validation_test.py
Due: ruff-format, ruff, pylint
