Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

docs(reactify): clarify return-type backward-compat comment
  superset-frontend/packages/superset-ui-core/src/chart/components/reactify.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(extensions): address PR review comments
  superset-frontend/src/core/menus/index.ts
  superset-frontend/src/core/views/index.ts
  superset-frontend/src/extensions/ExtensionsStartup.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

refactor(extensions): scope down to chatbot SIP — remove install/lifecycle/dep machinery
  superset-core/src/superset_core/extensions/types.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_build.py
  superset-frontend/packages/superset-core/src/common/index.ts
  superset-frontend/src/components/ChatbotMount/ChatbotMount.test.tsx
  superset-frontend/src/components/ChatbotMount/index.tsx
  superset-frontend/src/core/chatbot/index.test.ts
  superset-frontend/src/core/chatbot/index.ts
  superset-frontend/src/core/extensions/index.ts
  superset-frontend/src/extensions/ExtensionsList.test.tsx
  superset-frontend/src/extensions/ExtensionsList.tsx
  superset-frontend/src/extensions/ExtensionsLoader.test.ts
  superset-frontend/src/extensions/ExtensionsLoader.ts
  superset-frontend/src/views/routes.tsx
  superset/commands/extension/settings/exceptions.py
  superset/commands/extension/settings/update.py
  superset/daos/extension.py
  superset/extensions/api.py
  superset/extensions/models.py
  superset/extensions/schemas.py
  superset/extensions/utils.py
  superset/initialization/__init__.py
  superset/migrations/versions/2026-06-09_00-00_d1e2f3a4b5c6_drop_extension_enabled.py
  superset/models/core.py
  tests/unit_tests/extensions/test_api.py
  tests/unit_tests/extensions/test_settings.py
  tests/unit_tests/extensions/test_types.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

refactor(mcp): extract _build_dashboard_url helper in update_dashboard
  superset/mcp_service/dashboard/tool/update_dashboard.py
Due: ruff-format, ruff, pylint

refactor(extensions): remove install/lifecycle/dependency machinery (#40916)
  superset-core/src/superset_core/extensions/types.py
  superset-extensions-cli/src/superset_extensions_cli/cli.py
  superset-extensions-cli/tests/test_cli_build.py
  superset-frontend/packages/superset-core/src/common/index.ts
  superset-frontend/src/components/ChatbotMount/ChatbotMount.test.tsx
  superset-frontend/src/components/ChatbotMount/index.tsx
  superset-frontend/src/core/chatbot/index.test.ts
  superset-frontend/src/core/chatbot/index.ts
  superset-frontend/src/core/extensions/index.ts
  superset-frontend/src/extensions/ExtensionsList.test.tsx
  superset-frontend/src/extensions/ExtensionsList.tsx
  superset-frontend/src/extensions/ExtensionsLoader.test.ts
  superset-frontend/src/extensions/ExtensionsLoader.ts
  superset-frontend/src/views/routes.tsx
  superset/commands/extension/settings/exceptions.py
  superset/commands/extension/settings/update.py
  superset/daos/extension.py
  superset/extensions/api.py
  superset/extensions/models.py
  superset/extensions/schemas.py
  superset/extensions/utils.py
  superset/initialization/__init__.py
  superset/migrations/versions/2026-06-09_00-00_d1e2f3a4b5c6_drop_extension_enabled.py
  superset/models/core.py
  tests/unit_tests/extensions/test_api.py
  tests/unit_tests/extensions/test_settings.py
  tests/unit_tests/extensions/test_types.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

chore(lint): convert reactify.tsx to function component (#39458)
  superset-frontend/packages/superset-ui-core/src/chart/components/reactify.tsx
  superset-frontend/packages/superset-ui-core/test/chart/components/reactify.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(chart): add missing mock parameter in test_query_context_update_requires_chart_access
  tests/integration_tests/charts/commands_tests.py
Due: ruff-format, ruff

fix(chart): require chart access for query_context-only updates
  superset/commands/chart/update.py
  tests/integration_tests/charts/commands_tests.py
Due: ruff-format, ruff, pylint

fix(chart): reconcile tests with the query_context access check
  tests/integration_tests/charts/commands_tests.py
  tests/unit_tests/commands/chart/update_test.py
Due: ruff-format, ruff

fix(tags): apply ensureAppRoot to tag list asset links
  superset-frontend/src/features/allEntities/AllEntitiesTable.subdirectory.test.tsx
  superset-frontend/src/features/allEntities/AllEntitiesTable.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): use role-based selector for native filter delete icon
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix: replace deprecated appbuilder.app with current_app (#40876)
  superset/initialization/__init__.py
  superset/templates/superset/spa.html
  tests/unit_tests/extension_tests.py
Due: ruff-format, ruff, pylint

update translation
  superset/translations/fr/LC_MESSAGES/messages.po
Due: none

test(dashboard): RTL coverage for native filter modal and sidebar (#40778)
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/FiltersConfigModal.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FiltersConfigModal/NativeFiltersModal.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): save/restore full URL in standalone mode test
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard-filter): assert horizontal default actions render with no filters
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

chore(dashboard-filter): satisfy prettier on horizontal RTL helper
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard-filter): address review NITs on horizontal RTL helpers
  superset-frontend/spec/fixtures/mockNativeFilters.ts
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.overflow.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard-filter): RTL coverage for horizontal filter bar
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterBar.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.overflow.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard-filter): drop redundant Filter cast in horizontal RTL helper
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard-filter): address Copilot review feedback
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/FilterControls/FilterControls.overflow.test.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/HorizontalFilterBar.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(dashboard): cover combined edit+standalone URL params
  superset-frontend/src/dashboard/components/DashboardBuilder/DashboardBuilder.test.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(embedded): satisfy mypy and ruff-format in guest token revocation
  superset/security/guest_token.py
  tests/unit_tests/security/guest_token_revocation_test.py
Due: ruff-format, ruff, pylint

feat(embedded): add guest token revocation support
  UPDATING.md
  docs/sip/guest-token-revocation.md
  superset/cli/guest_token.py
  superset/config.py
  superset/key_value/shared_entries.py
  superset/key_value/types.py
  superset/security/guest_token.py
  superset/security/manager.py
  tests/unit_tests/security/guest_token_revocation_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

docs: drop guest-token-revocation SIP file
  docs/sip/guest-token-revocation.md
Due: none

test(embedded): cover CLI command, request-flow revocation, and store-error fallback
  tests/unit_tests/cli/__init__.py
  tests/unit_tests/cli/guest_token_test.py
  tests/unit_tests/security/guest_token_revocation_test.py
Due: ruff-format, ruff

test(key-value): add unit tests for upsert_shared_value
  tests/unit_tests/key_value/test_shared_entries_migration.py
Due: ruff-format, ruff

chore(deps-dev): bump @typescript-eslint/parser to 8.60.1 to satisfy peer dep
  superset-websocket/package-lock.json
Due: none

style: format URL tests
  tests/unit_tests/utils/urls_tests.py
Due: ruff-format, ruff

QA evidence: downloaded pie chart at 2x scale (2534x1606px)
  qa-evidence/downloaded-pie-chart-2x.jpg
Due: none

QA evidence: browser view of pie chart before download
  qa-evidence/browser-view-before-download.png
Due: none

fix(schemas): tighten guest dataset fields, external_url protocols, ssh creds, prophet bounds (#40640)
  superset/charts/schemas.py
  superset/config.py
  superset/dashboards/schemas.py
  superset/databases/schemas.py
  superset/translations/ar/LC_MESSAGES/messages.po
  superset/translations/ca/LC_MESSAGES/messages.po
  superset/translations/cs/LC_MESSAGES/messages.po
  superset/translations/de/LC_MESSAGES/messages.po
  superset/translations/en/LC_MESSAGES/messages.po
  superset/translations/es/LC_MESSAGES/messages.po
  superset/translations/fa/LC_MESSAGES/messages.po
  superset/translations/fi/LC_MESSAGES/messages.po
  superset/translations/fr/LC_MESSAGES/messages.po
  superset/translations/it/LC_MESSAGES/messages.po
  superset/translations/ja/LC_MESSAGES/messages.po
  superset/translations/ko/LC_MESSAGES/messages.po
  superset/translations/lv/LC_MESSAGES/messages.po
  superset/translations/messages.pot
  superset/translations/mi/LC_MESSAGES/messages.po
  superset/translations/nl/LC_MESSAGES/messages.po
  superset/translations/pl/LC_MESSAGES/messages.po
  superset/translations/pt/LC_MESSAGES/messages.po
  superset/translations/pt_BR/LC_MESSAGES/messages.po
  superset/translations/ru/LC_MESSAGES/messages.po
  superset/translations/sk/LC_MESSAGES/messages.po
  superset/translations/sl/LC_MESSAGES/messages.po
  superset/translations/th/LC_MESSAGES/messages.po
  superset/translations/tr/LC_MESSAGES/messages.po
  superset/translations/uk/LC_MESSAGES/messages.po
  superset/translations/zh/LC_MESSAGES/messages.po
  superset/translations/zh_TW/LC_MESSAGES/messages.po
  superset/utils/schema.py
  tests/unit_tests/charts/test_schemas.py
  tests/unit_tests/dashboards/schema_tests.py
  tests/unit_tests/databases/schema_tests.py
Due: ruff-format, ruff, pylint, feature-flags-sync

feat(Boxplot): allow configuration of y-axis range via a slider
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/types.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(charts): tighten chart schema input validation
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

fix(charts): add missing max:10000 to periods field metadata
  superset/charts/schemas.py
Due: ruff-format, ruff, pylint

test(chart): add positive query_context backfill test for non-owner with access
  tests/unit_tests/commands/chart/update_test.py
Due: ruff-format, ruff

test(charts): add boundary assertions and window metadata bounds
  superset/charts/schemas.py
  tests/unit_tests/charts/test_schemas.py
Due: ruff-format, ruff, pylint

test(chart): address review — deterministic access test + nits
  tests/integration_tests/charts/commands_tests.py
  tests/unit_tests/commands/chart/update_test.py
Due: ruff-format, ruff

refactor(charts): use DEFAULT_MAX_PROPHET_PERIODS constant in periods metadata
  superset/charts/schemas.py
Due: ruff-format, ruff, pylint

chore(ci): add explicit permissions to release and docs workflows
  .github/workflows/release.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-docs-verify.yml
Due: none
