Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-frontend, eslint-docs, type-checking-frontend

prettier:
  name: prettier
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run format -- --log-level error; else npm run prettier-check; fi'
  language: system
  pass_filenames: true

eslint-frontend:
  name: eslint (frontend)
  entry: bash -c 'cd superset-frontend && if [ -z "$SKIP_FIX" ]; then npm run lint-fix; else npm run eslint; fi'
  language: system
  pass_filenames: true

eslint-docs:
  name: eslint (docs)
  entry: bash -c 'cd docs && FILES=$(echo "$@" | sed "s|docs/||g") && yarn eslint --ext .js,.jsx,.ts,.tsx --quiet $([ -z "$SKIP_FIX" ] && echo "--fix") $FILES'
  language: system
  pass_filenames: true

type-checking-frontend:
  name: Type-Checking (Frontend)
  entry: bash -c './scripts/check-type.js package=superset-frontend excludeDeclarationDir=cypress-base'
  language: system
  require_serial: true

feat(logging): implement ruff G rules with lazy logging format
  tests/unit_tests/migrations/shared/utils_test.py
Due: none

fix(mcp): Fix all MCP service unit test failures and lint issues
  superset/mcp_service/auth.py
  superset/mcp_service/chart/error_handling/error_builder.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/validation/pipeline.py
  superset/mcp_service/dashboard/tool/get_dashboard_info.py
  superset/mcp_service/dataset/tool/get_dataset_info.py
  superset/mcp_service/dataset/tool/list_datasets.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  superset/mcp_service/middleware.py
  superset/mcp_service/screenshot/webdriver_pool.py
  tests/unit_tests/mcp_service/chart/tool/test_chart_tools.py
  tests/unit_tests/mcp_service/dataset/tool/test_dataset_tools.py
  tests/unit_tests/mcp_service/system/test_auth.py
Due: none

fix(templates): Restores templates files accidentally removed (#35094)
  superset/templates/head_custom_extra.html
  superset/templates/superset/spa.html
  superset/templates/tail_js_custom_extra.html
Due: none

not in pr scope
  pyproject.toml
Due: none

fix id
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix(theming): replace error color with bolt icon for local themes (#35090)
  superset-frontend/src/hooks/useThemeMenuItems.test.tsx
  superset-frontend/src/hooks/useThemeMenuItems.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(pie): fixes pie chart other click error (#35086)
  superset-frontend/plugins/plugin-chart-echarts/src/utils/eventHandlers.ts
Due: prettier, eslint-frontend, type-checking-frontend

separate chartcustomization logic
  superset-frontend/src/dashboard/actions/chartCustomizationActions.ts
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
  superset-frontend/src/dashboard/components/nativeFilters/ChartCustomization/GroupByFilterCard.tsx
  superset-frontend/src/dashboard/components/nativeFilters/ChartCustomization/useChartCustomizationModal.tsx
  superset-frontend/src/dashboard/components/nativeFilters/FilterBar/index.tsx
  superset-frontend/src/dashboard/reducers/dashboardInfo.js
Due: prettier, eslint-frontend, type-checking-frontend

separate chartcustomization logic
  superset-frontend/src/dashboard/actions/dashboardInfo.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: Cosmetic issues
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/menu/HoverMenu.tsx
  superset-frontend/src/dashboard/util/useFilterFocusHighlightStyles.ts
  superset-frontend/src/explore/components/DataTablesPane/DataTablesPane.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix: SQL Lab tab identifier
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/SqlLab/utils/reduxStateToLocalStorageHelper.ts
  superset-frontend/src/core/sqlLab.ts
Due: prettier, eslint-frontend, type-checking-frontend

CSS template field refactor
  superset-frontend/src/dashboard/components/PropertiesModal/sections/StylingSection.test.tsx
  superset-frontend/src/dashboard/components/PropertiesModal/sections/StylingSection.tsx
Due: prettier, eslint-frontend, type-checking-frontend

feat(BoxPlot): add chart data zoom (#35097)
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/controlPanel.ts
  superset-frontend/plugins/plugin-chart-echarts/src/BoxPlot/transformProps.ts
  superset-frontend/plugins/plugin-chart-echarts/test/BoxPlot/transformProps.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

Add missing property
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: page size options 'all' correct in table and remove PAGE_SIZE_OPTIONS in handlebars (#35095)
  superset-frontend/plugins/plugin-chart-handlebars/src/consts.ts
  superset-frontend/plugins/plugin-chart-table/src/consts.ts
Due: prettier, eslint-frontend, type-checking-frontend

add codeowners
  .github/CODEOWNERS
Due: none

Change immutable id in tests
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: reset values when selection method changes
  superset-frontend/src/explore/components/controls/MatrixifyDimensionControl.tsx
Due: prettier, eslint-frontend, type-checking-frontend

refactor(mcp): Move error_builder to utils and fix missing error template
  superset/mcp_service/chart/error_handling/__init__.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/validation/dataset_validator.py
  superset/mcp_service/chart/validation/pipeline.py
  superset/mcp_service/chart/validation/runtime/__init__.py
  superset/mcp_service/utils/error_builder.py
  tests/integration_tests/cli_mcp_tests.py
Due: none

fix: useEffect hook for selectionMode change
  superset-frontend/src/explore/components/controls/MatrixifyDimensionControl.tsx
Due: prettier, eslint-frontend, type-checking-frontend

fix(cypress): fix failing cypress tests
  superset-frontend/cypress-base/cypress/e2e/dashboard/drillby.test.ts
  superset-frontend/packages/superset-ui-core/src/components/TableCollection/TableCollection.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/TableCollection/index.tsx
  superset-frontend/packages/superset-ui-core/src/components/TableView/TableView.test.tsx
  superset-frontend/packages/superset-ui-core/src/components/TableView/TableView.tsx
  superset-frontend/src/components/Chart/DrillBy/DrillByModal.test.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SamplesPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/SingleQueryResultPane.tsx
  superset-frontend/src/explore/components/DataTablesPane/components/useResultsPane.tsx
  superset-frontend/src/views/CRUD/hooks.ts
Due: prettier, eslint-frontend, type-checking-frontend

fix: SQL Lab tab events (#35105)
  superset-frontend/src/SqlLab/actions/sqlLab.js
  superset-frontend/src/SqlLab/actions/sqlLab.test.js
  superset-frontend/src/SqlLab/fixtures.ts
  superset-frontend/src/SqlLab/reducers/getInitialState.ts
  superset-frontend/src/SqlLab/types.ts
  superset-frontend/src/SqlLab/utils/reduxStateToLocalStorageHelper.ts
  superset-frontend/src/core/sqlLab.ts
  superset-frontend/src/hooks/apiResources/sqlEditorTabs.test.ts
Due: prettier, eslint-frontend, type-checking-frontend

chore: add codeowners (#35107)
  .github/CODEOWNERS
Due: none

Dont include 'Explore In Superset' for reports emails sent to external parties
  superset/reports/notifications/email.py
  tests/unit_tests/notifications/email_tests.py
Due: none

feat: add Playwright dependency for E2E test migration
  superset-frontend/package-lock.json
  superset-frontend/package.json
Due: prettier

feat: configure ESLint for Playwright test files
  superset-frontend/.eslintrc.js
Due: eslint-frontend, type-checking-frontend

feat: add Playwright configuration for E2E tests
  superset-frontend/playwright.config.ts
Due: eslint-frontend, type-checking-frontend

refactor: improve Playwright test reliability and code quality
  .github/workflows/bashlib.sh
  superset-frontend/playwright.config.ts
  superset-frontend/playwright/pages/AuthPage.ts
  superset-frontend/playwright/tests/auth/login.spec.ts
Due: eslint-frontend, type-checking-frontend

fix: correct Playwright CLI option syntax in CI and add Apache license header
  .github/workflows/bashlib.sh
  superset-frontend/playwright/README.md
Due: none

fix(playwright): Separate Playwright from Cypress and fix CI failures
  .github/workflows/bashlib.sh
  .github/workflows/superset-e2e.yml
  docker/pythonpath_dev/superset_config_docker_light.py
  superset-frontend/playwright/tests/auth/login.spec.ts
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

fix: update urls to work with app/prefix
  superset-frontend/playwright/utils/urls.ts
Due: eslint-frontend, type-checking-frontend

refactor(playwright): Integrate Playwright into existing e2e workflow
  .github/workflows/superset-e2e.yml
  superset-frontend/playwright/pages/AuthPage.ts
  superset-frontend/playwright/tests/auth/login.spec.ts
Due: eslint-frontend, type-checking-frontend

Path conditions:
  prettier: any of: ^superset-frontend/(src|spec|cypress-base|plugins|packages|.storybook)/.+\.(js|jsx|ts|tsx|css|less|scss|sass)$|^superset-frontend/package\.json$
  eslint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
