Repository apache/superset: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-frontend, oxlint-frontend, custom-rules-frontend, eslint-docs, type-checking-frontend, ruff-format, ruff, pylint, db-engine-spec-metadata, feature-flags-sync

Path conditions:
  prettier-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx|css|scss|sass|json)$
  oxlint-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  custom-rules-frontend: any of: ^superset-frontend/.*\.(js|jsx|ts|tsx)$
  eslint-docs: any of: ^docs/.*\.(js|jsx|ts|tsx)$
  type-checking-frontend: any of: ^superset-frontend\/.*\.(js|jsx|ts|tsx)$, but not: ^superset-frontend/cypress-base\/
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  pylint: any of: \.py$, but not: ^(tests/|superset/migrations/|scripts/|RELEASING/|docker/)
  db-engine-spec-metadata: any of: ^superset/db_engine_specs/.*\.py$, but not: ^superset/db_engine_specs/(base|lib|lint_metadata|__init__)\.py$
  feature-flags-sync: any of: ^superset/config\.py$

fix(docker): install the frontend from the lockfile in docker-frontend.sh (#43168)
  docker-compose.yml
  docker/docker-frontend.sh
Due: none

fix(dashboard): ownership-checked lock release, iframe download, single toast
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset/dashboards/api.py
  superset/tasks/export_dashboard_excel.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/tasks/test_export_dashboard_excel.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(reports): recheck readiness at capture time (#44114)
  UPDATING.md
  docs/admin_docs/configuration/alerts-reports.mdx
  superset/utils/screenshot_utils.py
  superset/utils/webdriver.py
  tests/unit_tests/utils/test_screenshot_utils.py
  tests/unit_tests/utils/webdriver_test.py
Due: ruff-format, ruff, pylint

fix(dashboard): proactive export hardening from a full self-review
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/DownloadMenuItems.test.tsx
  superset-frontend/src/dashboard/components/menu/DownloadMenuItems/index.tsx
  superset/commands/distributed_lock/acquire.py
  superset/dashboards/api.py
  superset/dashboards/excel_export/email.py
  superset/tasks/export_dashboard_excel.py
  tests/integration_tests/dashboards/api_tests.py
  tests/unit_tests/distributed_lock/distributed_lock_tests.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

fix(mcp): honor forwarded active dashboard filters in get_chart_preview and get_chart_info (#44022)
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_info.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_info.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_preview.py
Due: ruff-format, ruff, pylint

test(dashboard): configure a backend in the status-ready test
  tests/integration_tests/dashboards/api_tests.py
Due: ruff-format, ruff

fix(ci): align geographic chart coverage runtime budget
  .github/workflows/superset-python-unittest.yml
  tests/unit_tests/mcp_service/chart/test_geographic_chart.py
Due: ruff-format, ruff

docs(mcp): note metadata permission + view access check for semantic tools
  docs/admin_docs/configuration/mcp-server.mdx
Due: none

docs(config): note AFTER_ASSET_CREATE runs pre-commit
  docs/admin_docs/configuration/configuring-superset.mdx
Due: none

fix(ci): apply PY_VER override to release and scheduled-refresh docker builds
  .github/workflows/scheduled-docker-image-refresh.yml
  .github/workflows/tag-release.yml
Due: none

fix(ci): auto-accept Chromatic baseline on master pushes
  .github/workflows/chromatic.yml
Due: none

docs: add Easypanel deployment option
  docs/admin_docs/installation/installation-methods.mdx
Due: none

fix(extensions): serve and reactively resolve /extensions/view/:viewId
  superset-frontend/src/core/views/index.ts
  superset-frontend/src/pages/ExtensionView/index.tsx
  superset/views/core.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff, pylint

feat(extensions): global toast surface + Settings-menu extension point
  superset-frontend/packages/superset-core/src/extensions/index.ts
  superset-frontend/src/core/contributions.ts
  superset-frontend/src/extensions/ExtensionContext.test.ts
  superset-frontend/src/extensions/ExtensionContext.ts
  superset-frontend/src/features/home/RightMenu.test.tsx
  superset-frontend/src/features/home/RightMenu.tsx
  superset-frontend/src/pages/ExtensionView/index.tsx
  superset-frontend/src/views/routePaths.ts
  superset-frontend/src/views/routes.tsx
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix locale column key
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/utils.test.ts
  superset-frontend/src/explore/components/controls/HeaderGroupsControl/utils.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

add test
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.test.ts
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

fix(mcp): make unknown dataset dimension errors actionable (#44106)
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/dataset/tool/query_dataset.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff, pylint

fix: address second review round on guest-token, OAuth2 endpoint, and proxy hardening
  superset/commands/database/exceptions.py
  superset/commands/database/update.py
  superset/commands/database/utils.py
  superset/security/api.py
  superset/security/manager.py
  superset/utils/network.py
  tests/unit_tests/commands/databases/utils_test.py
  tests/unit_tests/security/manager_test.py
  tests/unit_tests/utils/test_network.py
Due: ruff-format, ruff, pylint

fix(cache): key on resolved bounds when a query has no time_range
  superset/common/query_object.py
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff, pylint

fix(charts): don't auto-migrate table charts to ag-grid-table on import unless enabled
  superset/commands/chart/importers/v1/utils.py
  superset/migrations/shared/migrate_viz/base.py
  superset/migrations/shared/migrate_viz/processors.py
  tests/unit_tests/charts/commands/importers/v1/utils_test.py
Due: ruff-format, ruff, pylint

fix codecov
  superset-frontend/packages/superset-ui-chart-controls/src/utils/headerGroups.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(mcp): re-execute a rolled-over relative range instead of reusing its cache
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
Due: ruff-format, ruff

fix(sqllab): wrap raw DBAPI errors in query cost estimation (#43934)
  superset/commands/sql_lab/estimate.py
  tests/unit_tests/commands/sql_lab/test_estimate.py
Due: ruff-format, ruff, pylint

fix(cache): key on resolved bounds when a query has no time_range (#43914)
  superset/common/query_object.py
  tests/unit_tests/mcp_service/dataset/tool/test_query_dataset.py
  tests/unit_tests/queries/query_object_test.py
Due: ruff-format, ruff, pylint

feat(mcp): treemap chart type plugin (#43569)
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/plugins/__init__.py
  superset/mcp_service/chart/plugins/treemap.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/generate_chart.py
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  tests/unit_tests/mcp_service/chart/test_treemap_chart.py
Due: ruff-format, ruff, pylint

fix(mcp): complete Treemap round-trip and previews
  docs/admin_docs/configuration/mcp-server.mdx
  superset/mcp_service/chart/chart_helpers.py
  superset/mcp_service/chart/chart_utils.py
  superset/mcp_service/chart/compile.py
  superset/mcp_service/chart/plugins/treemap.py
  superset/mcp_service/chart/preview_utils.py
  superset/mcp_service/chart/query_result.py
  superset/mcp_service/chart/schemas.py
  superset/mcp_service/chart/tool/get_chart_data.py
  superset/mcp_service/chart/tool/get_chart_preview.py
  superset/mcp_service/chart/tool/get_chart_type_schema.py
  superset/mcp_service/chart/tool/update_chart.py
  superset/mcp_service/chart/tool/update_chart_preview.py
  superset/mcp_service/chart/treemap_preview.py
  superset/mcp_service/explore/tool/generate_explore_link.py
  tests/unit_tests/mcp_service/chart/test_treemap_completeness.py
  tests/unit_tests/mcp_service/chart/tool/test_get_chart_data.py
  tests/unit_tests/mcp_service/explore/tool/test_generate_explore_link.py
Due: ruff-format, ruff, pylint

test: mock feature flag explicitly in default-off table migration test
  tests/unit_tests/charts/commands/importers/v1/utils_test.py
Due: ruff-format, ruff

chore(ci): use self-repository syntax for local action references (#44131)
  .github/workflows/bump-python-package.yml
  .github/workflows/check-openapi-spec-drift.yml
  .github/workflows/check-python-deps.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/enforce-single-migration-head.yml
  .github/workflows/issue-creation.yml
  .github/workflows/pr-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/scheduled-docker-image-refresh.yml
  .github/workflows/showtime-trigger.yml
  .github/workflows/superset-app-cli.yml
  .github/workflows/superset-docs-deploy.yml
  .github/workflows/superset-e2e.yml
  .github/workflows/superset-extensions-cli.yml
  .github/workflows/superset-frontend.yml
  .github/workflows/superset-helm-lint-test.yml
  .github/workflows/testcontainers.yml
Due: none

fix(explore): surface a toast when pivot Excel export can't find the table (#44031)
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.tsx
  superset-frontend/src/utils/downloadAsPivotExcel.test.ts
  superset-frontend/src/utils/downloadAsPivotExcel.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

perf(i18n): add a batch translation hook and per-request memo
  docs/admin_docs/configuration/asset-metadata-translation.mdx
  examples/asset_metadata_translation/hook.py
  superset/config.py
  superset/daos/log.py
  superset/models/dashboard.py
  superset/utils/i18n.py
  tests/unit_tests/utils/i18n_test.py
Due: ruff-format, ruff, pylint, feature-flags-sync

test(i18n): cover the asset-translation resolver and render gate
  superset-frontend/src/dashboard/components/SliceHeader/SliceHeader.test.tsx
  tests/integration_tests/log_api_tests.py
  tests/unit_tests/utils/i18n_test.py
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend, ruff-format, ruff

feat(i18n): render localized asset names in the frontend
  superset-frontend/src/dashboard/actions/hydrate.ts
  superset-frontend/src/dashboard/components/Header/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/dashboard/components/gridComponents/Chart/Chart.tsx
  superset-frontend/src/dashboard/types.ts
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/features/dashboards/DashboardCard.tsx
  superset-frontend/src/hooks/apiResources/dashboards.ts
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/types/Chart.ts
  superset-frontend/src/types/Dashboard.ts
  superset-frontend/src/views/CRUD/types.ts
Due: prettier-frontend, oxlint-frontend, custom-rules-frontend, type-checking-frontend

test(i18n): cover i18n Jinja macro; exclude examples/ from coverage
  .codecov.yml
  tests/unit_tests/utils/i18n_test.py
Due: ruff-format, ruff

test(i18n): match recent-activity entry by URL, not list position
  tests/integration_tests/log_api_tests.py
Due: ruff-format, ruff

feat(i18n): translate asset metadata via configurable hook (SIP-161)
  docs/static/feature-flags.json
  superset/charts/api.py
  superset/charts/schemas.py
  superset/config.py
  superset/daos/log.py
  superset/dashboards/api.py
  superset/dashboards/schemas.py
  superset/jinja_context.py
  superset/models/dashboard.py
  superset/models/slice.py
  superset/utils/i18n.py
Due: ruff-format, ruff, pylint, feature-flags-sync

docs(i18n): document TRANSLATION_HOOK with reference implementations
  docs/admin_docs/configuration/asset-metadata-translation.mdx
  examples/asset_metadata_translation/README.md
  examples/asset_metadata_translation/__init__.py
  examples/asset_metadata_translation/hook.py
  examples/asset_metadata_translation/model.py
  examples/asset_metadata_translation/seed.py
Due: ruff-format, ruff, pylint
